<div class="w-full h-full overflow-hidden" [ngClass]="imgHeight">
    <button type="button"
        class="h-full w-full after:absolute after:left-0 after:top-0 after:w-full after:h-full after:bg-black after:bg-opacity-50 relative group hover:after:bg-opacity-80 transition-all after:rounded rounded"
        (click)="openModal()">
        <img [src]="video.img | imageSource" alt="" class="w-full h-full" />

        <app-svg
            class="absolute inset-0 flex items-center justify-center group-hover:scale-125 transition-all z-[1] group-hover:opacity-0"
            src="assets/svgs/play-circle.svg" customClass="" label="title_goas_here" [stretch]="false" width="50"
            height="50" fill="#fff"></app-svg>


        <div
            class="absolute text-center left-0 top-0 z-[1] px-4 overflow-hidden h-full pb-1 group-hover:lg:pb-2 w-full flex flex-col justify-end">
            <span class="font-Cairo-Bold text-white leading-[25px]" [innerHTML]="video.title[lang]"></span>
            <div class="font-Cairo-Regular text-white text-sm hidden group-hover:line-clamp-6"
                [innerHTML]="video.desc[lang]">
            </div>
        </div>

    </button>
</div>