<div
    class="border-t border-solid border-[#CCCCCC] pt-[30px] pb-[34px] flex flex-col lg:flex-row justify-end gap-5 mt-[52px]">
    <button type="button"
        class="bg-white border border-solid border-[#009933] text-[#009933] capitalize text-center rounded-[5px] font-Cairo-Regular text-base py-[7.5px] px-[42px]"
        (click)="cancelClick($event)">{{'DASHBOARD.CANCEL' | translate}}</button>
    <button
        class="bg-[#009933] rounded-[5px] text-center font-Cairo-Regular text-base text-white capitalize py-[7.5px] px-[41px]"
        type="button" (click)="saveClick($event)">{{'DASHBOARD.SAVE_CHANGES' | translate}}</button>
</div>