<aside id="logo-sidebar"
    class="fixed top-0 ltr:left-0 rtl:right-0 z-50 max-mobile-dashboard:z-40 w-[263px] h-screen max-mobile-dashboard:pt-20 transition-transform bg-white ltr:sm:translate-x-0 shadow-[0px_0px_2px_#00000026]"
    aria-label="Sidebar"
    [ngClass]="{'ltr:max-mobile-dashboard:-translate-x-full rtl:max-mobile-dashboard:translate-x-full': !isSideMenuActive}">
    <div class="h-full px-[12px] pb-4 pt-[22px] overflow-y-auto bg-white flex flex-col">
        <a [routerLink]="'/' | routeLocalization" class="ltr:ml-2 rtl:mr-2 flex justify-center max-mobile-dashboard:hidden mb-10">
            <app-svg src="assets/svgs/logo-dashboard.svg" customClass="mt-[-3px]" label="title_goas_here"
                [stretch]="false" height="36" width="141"></app-svg>
        </a>
        <div class="flex justify-between gap-1 mb-5 items-center">
            <span class="font-Poppins-Light text-xs text-[#757575] uppercase">{{ 'DASHBOARD.LANG' | translate }}</span>
            <app-language-switcher></app-language-switcher>
        </div>

        <div class="flex flex-col justify-between flex-1">
            <ul *ngFor="let menu of menus">
                <li *ngFor="let menuItem of menu">
                    <ng-container
                        *ngTemplateOutlet="menuItemContent; context: { menuItem: menuItem | translate }"></ng-container>
                </li>
            </ul>
        </div>
    </div>
</aside>

<ng-template #menuItemContent let-menuItem="menuItem">
    <a *ngIf="!menuItem.subMenu; else subMenu" [routerLink]="menuItem.linke | routeLocalization"
        class="menu-item flex items-center ltr:pl-[22px] ltr:pr-[14px] rtl:pl-[14px] rtl:pr-[22px] py-[11px] text-gray-900 rounded-lg hover:bg-gray-100 group"
        routerLinkActive="active">
        <app-svg [src]="menuItem.svg.src" [stroke]="menuItem.svg.stroke" [fill]="menuItem.svg.fill"
            customClass="mt-[-3px] transition duration-75" label="title_goas_here" width="12"></app-svg>
        <span
            class="ltr:ml-2 rtl:mr-2 font-Cairo-Semi-Bold text-sm leading-5 text-[#757575] group-hover:text-[#111827]">{{menuItem.title
            | translate}}</span>
    </a>
    <ng-template #subMenu>
        <button type="button" (click)="menuItem.subMenu.isEnabled = !menuItem.subMenu.isEnabled"
            class="menu-item flex items-center w-full ltr:pl-[22px] ltr:pr-[14px] rtl:pl-[14px] rtl:pr-[22px] py-[11px] text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100">
            <app-svg [src]="menuItem.svg.src" [stroke]="menuItem.svg.stroke" [fill]="menuItem.svg.fill"
                customClass="mt-[-3px] transition duration-75" label="title_goas_here" width="12"></app-svg>
            <span
                class="flex-1 ltr:text-left rtl:text-right whitespace-nowrap ltr:ml-2 rtl:mr-2 font-Cairo-Semi-Bold text-sm leading-5 text-[#757575] group-hover:text-[#111827]">{{menuItem.title
                | translate}}</span>
            <app-svg src="assets/svgs/arrow.svg"
                [customClass]="menuItem.subMenu.isEnabled ? 'transition-all rotate-180' : 'transition-all'"
                label="title_goas_here" [stretch]="false" width="18" stroke="#757575"></app-svg>
        </button>
        <ul class="py-[11px]" [class.hidden]="!menuItem.subMenu.isEnabled">
            <li *ngFor="let subMenuItem of menuItem.subMenu.list">
                <a [routerLink]="subMenuItem.link | routeLocalization" class="flex items-center w-full ltr:pl-11 rtl:pr-11 py-[11px] ltr:pr-[14px] rtl:pl-[14px] transition duration-75 rounded-lg hover:bg-gray-100
                
            ltr:text-left rtl:text-right whitespace-nowrap font-Cairo-Semi-Bold text-sm leading-5 text-[#757575] hover:text-[#111827]
                ">{{subMenuItem.title | translate}}</a>
            </li>
            <li *ngFor="let subMenuItem of menuItem.subMenu.customList"
                class="flex items-center justify-between ltr:pl-11 rtl:pr-11 py-[11px] ltr:pr-[14px] rtl:pl-[14px] transition duration-75 rounded-lg hover:bg-gray-100 ltr:text-left rtl:text-right whitespace-nowrap font-Cairo-Semi-Bold text-sm leading-5 text-[#757575] hover:text-[#111827] gap-2"
                style="white-space: break-spaces;">
                <span class="">{{subMenuItem.title | translate}}</span>
                <app-switch-button [data]="{value: subMenuItem.value, inputName: subMenuItem.key}"
                    (onChange)="updateFlags(subMenuItem, $event)"></app-switch-button>


            </li>
        </ul>
    </ng-template>
</ng-template>