<div class="bg-white lg:rounded-full z-0 relative">
    <ul class="hidden lg:flex flex-wrap gap-2 py-[19px] px-7 justify-center">
        <li *ngFor="let item of services; let i = index"
            class="px-7 relative after:content-[''] after:absolute after:top-0 after:bottom-0 after:right-0 after:m-auto after:w-[0.5px] after:h-[42px] after:bg-black after:last:hidden">
            <app-service-item [index]="i" [activeIndex]="activeIndex" (onClick)="onClickEvt(i)"></app-service-item>
        </li>
    </ul>

    <div
        class="lg:hidden service-details-items-swiper-container relative swiper-container overflow-hidden rounded-xl py-4">
        <div class="swiper-wrapper">
            <div class="swiper-slide relative after:content-[''] after:absolute after:top-0 after:bottom-0 after:right-0 after:m-auto after:w-[0.5px] after:h-[42px] after:bg-black after:last:hidden"
                *ngFor="let item of services;let i = index">
                <app-service-item [index]="i" [activeIndex]="activeIndex" (onClick)="onClickEvt(i)"></app-service-item>
            </div>
        </div>

    </div>

</div>