<div
    class="section !box-border lg:!box-content !px-0 relative flex lg:items-center lg:justify-end h-[198px] w-full lg:absolute lg:left-0 lg:right-0 lg:mx-auto lg:top-0 lg:pt-[84px]">
    <div class="lg:w-[439px]"></div>
    <div class="flex-1">
        <div class="w-full lg:w-[calc(100%+170px)] h-full lg:ml-[-170px]">
            <img src="assets/images/cover.webp" class="w-full h-full lg:h-[157px]" />
            <button class="bg-primary text-white px-4 py-2 absolute bottom-[25px] mb-0 lg:mb-4 rounded-lg right-4"
                type="button">Edit
                Photo</button>
        </div>
    </div>
</div>