<div class="pt-3 pb-6">
    <div class="flex justify-between items-center">
        <input
            class="border border-solid border-[#EBEEF7] text-xs leading-[20px] font-Cairo-Regular text-[#6E7687] w-[28px] text-center rounded-[4px] [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
            aria-label="min" type="number" step="100" name="min" [(ngModel)]="data.value.min">
        <input
            class="border border-solid border-[#EBEEF7] text-xs leading-[20px] font-Cairo-Regular text-[#6E7687] w-[34px] text-center rounded-[4px] [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
            type="number" step="100" aria-label="max" name="max" [(ngModel)]="data.value.max">
    </div>
    <ngx-slider [(value)]="data.value.min" [(highValue)]="data.value.max" [options]="data.setting"
        (valueChange)="minValueChange($event)" (highValueChange)="maxValueChange($event)" class="mt-5"></ngx-slider>
    <div class="flex justify-between pt-4">
        <p class="text-sm leading-[19px] font-Poppins-Light text-[#3F5AA6]">{{'RANGE.MIN_SALARY' | translate}}</p>
        <p class="text-sm leading-[19px] font-Poppins-Light text-[#3F5AA6]">{{'RANGE.MAX_SALARY' | translate}}</p>
    </div>
</div>