<div class="flex flex-col gap-4 lg:flex-row lg:justify-between pb-[24px] pt-5">
  <div class="flex flex-row gap-7 items-center">
    <button (click)="showTransactions()" [class.active]="activeView === 'transactions'"
      class="leading-[18px] font-Cairo-Semi-Bold text-[#ACACAC]">
      {{ "DASHBOARD.TRANSACTIONS" | translate }}
    </button>
    <!-- <button (click)="showTopup()" [class.active]="activeView === 'topup'"
      class="leading-[18px] font-Cairo-Semi-Bold text-[#ACACAC]">
      {{ "DASHBOARD.TOPUP" | translate }}
    </button> -->
  </div>
  <div class="flex gap-[18px] flex-col lg:flex-row items-center relative">
    <button (click)="toggleDDL()" type="button"
      class="rounded-[30px] relative py-[5px] px-[18px] font-Poppins-Light text-xs leading-[18px] bg-[#ECECEE] text-[#003399]">
      {{ "DASHBOARD.THIS_MOUNTH" | translate }}
      <app-svg src="assets/svgs/arrow.svg" customClass="" label="title_goas_here" [stretch]="false" width="24"
        height="24" stroke="#003399"></app-svg>
      <div *ngIf="isDdlEnabled"
        class="absolute animate-[fadeInUp_0.3s_ease_both] ltr:right-0 rtl:left-0 top-[40px] rounded-[5px] z-10 overflow-auto w-[282px] max-h-[200px] bg-white shadow-[0px_1px_13px_#0000001A]"
        [class.animate-close]="fireCloseAnimation">
        <ul class="flex flex-col">
          <li *ngFor="let _ of [].constructor(16); let i = index" [class.active]="i == 2"
            class="px-[15px] py-3 relative after:absolute after:border-b after:bottom-0 after:left-0 after:right-0 after:w-[90%] after:mx-auto">
            <p class="font-Poppins-Light text-xs leading-[18px]">
              {{'WIDGET.NOTIFICATIONS'}} {{ i + 1 }}
            </p>
            <p class="font-Poppins-Light text-[11px] leading-[20px] text-[#7C7C7C]">
              <!-- Lorem Ipsum is simply dummy text of the printing and typesetting
              industry -->
            </p>
          </li>
        </ul>
      </div>
    </button>
    <app-search-w-ddl [ddl]="serviceDDL" inputTitle="E_TAG.BY_NAME" (ddlChangeEmiter)="serviceChange($event)"
      [keyword]="keyword" (KeywordChange)="changeKeyword($event)"></app-search-w-ddl>
  </div>
</div>
<ng-container *ngIf="activeView === 'transactions'">
  <app-no-data *ngIf="data.data.length === 0"></app-no-data>
  <!-- <app-table></app-table> -->
  <div class="relative overflow-x-auto mb-[26px]" *ngIf="data.data.length > 0">
    <table class="w-full text-sm text-center border border-solid border-[#ECECEE] rounded-lg">
      <thead class="text-sm leading-[18px] font-Poppins-Medium bg-[white]">
        <tr class="ltr:text-left rtl:text-right">
          <th scope="col">
            <button class="">
              {{'E_TAG.NAME' | translate}}
              <app-svg src="assets/svgs/arrow.svg" customClass="" label="title_goas_here" [stretch]="false" width="24"
                height="24" stroke="#000"></app-svg>
            </button>
          </th>
          <th scope="col">
            <button>
              {{'E_TAG.INVOICE' | translate}}

              <app-svg src="assets/svgs/arrow.svg" customClass="" label="title_goas_here" [stretch]="false" width="24"
                height="24" stroke="#000"></app-svg>
            </button>
          </th>
          <th scope="col">
            <button>
              {{'E_TAG.TRACKING' | translate}}
              <app-svg src="assets/svgs/arrow.svg" customClass="" label="title_goas_here" [stretch]="false" width="24"
                height="24" stroke="#000"></app-svg>
            </button>
          </th>
          <th scope="col">
            <button>
              {{'E_TAG.SERVICE_NAME' | translate}}
              <app-svg src="assets/svgs/arrow.svg" customClass="" label="title_goas_here" [stretch]="false" width="24"
                height="24" stroke="#000"></app-svg>
            </button>
          </th>
          <th scope="col">
            <button>
              {{'SERVICE_INSPESTION.DATE_AND_TIME' | translate}}
              <app-svg src="assets/svgs/arrow.svg" customClass="" label="title_goas_here" [stretch]="false" width="24"
                height="24" stroke="#000"></app-svg>
            </button>
          </th>
          <th scope="col">
            <button>
              {{'E_TAG.STATUS' | translate}}

              <app-svg src="assets/svgs/arrow.svg" customClass="" label="title_goas_here" [stretch]="false" width="24"
                height="24" stroke="#000"></app-svg>
            </button>
          </th>
          <th scope="col">
            <button>
              {{'SERVICE_INSPESTION.AMOUNT' | translate}}
              <app-svg src="assets/svgs/arrow.svg" customClass="" label="title_goas_here" [stretch]="false" width="24"
                height="24" stroke="#000"></app-svg>
            </button>
          </th>
        </tr>
      </thead>
      <!-- <tbody class="w-[calc(100%-20px)] mx-auto"> -->
      <tbody class="w-full">
        <tr class="" *ngFor="let item of data.data">
          <td scope="row" class="normal">
            <div class="flex flex-row gap-[7px] items-center">
              <img src="assets/images/png/user-p.webp" alt="" width="32" class="h-[32px]" />
              <p class="text-xs leading-[45px] font-Poppins-Light">
                {{ item.title }}
              </p>
            </div>
          </td>
          <td class="normal">
            <button class="bg-[#D8E5FF] py-1 px-2 rounded text-[10px] leading-[18px] font-Poppins-Light">
              {{ item.invoiceNumber }}
            </button>
          </td>
          <td class="normal">
            <p class="text-[12px] leading-[18px] font-Poppins-Light">
              {{ item.tracking }}
            </p>
            <p class="text-[10px] leading-[11px] font-Poppins-Light text-[#7C7C7C]">
              {{ item.trackingAddress }}
            </p>
          </td>
          <td class="normal">
            <p class="text-[14px] leading-[18px] font-Poppins-Light">
              {{ item.serviceName }}
            </p>
          </td>
          <td class="normal">
            <p class="text-[14px] leading-[18px] font-Poppins-Light">
              {{item.date | date:'dd'}}/{{item.date | date:'MM'}}/{{item.date | date:'YYYY'}} {{item.date |
              date:'hh'}}:{{item.date | date:'mm'}} {{ ('PERIOD.' + ((item.date | date:'aa') || '').toUpperCase()) |
              translate }}
            </p>
          </td>
          <td class="normal">
            <span [class.success-item]="item.isSuccess" [class.failed-item]="!item.isSuccess"
              class="rounded-[9px] text-white text-center text-[10px] leading-[18px] px-[14px] py-[2px]">
              {{(item.isSuccess ? 'DASHBOARD.SUCCESS' : 'DASHBOARD.FAILED') | translate}}
            </span>
          </td>
          <td class="normal">
            <p class="text-[12px] leading-[18px] font-Poppins-Light">
              <span>{{'CURRENCIES.QR' |
                translate}}</span> {{ item.amount }}
            </p>
            <p class="text-[10px] leading-[11px] font-Poppins-Light text-[#7C7C7C]">
              {{ item.amountText }}
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-pagination-second-style *ngIf="data.data.length > 0" [data]="data.pagination"
    (changePage)="changePageTransactions($event)"></app-pagination-second-style>
</ng-container>

<!-- <ng-container *ngIf="activeView === 'topup'">
  <app-no-data *ngIf="topupData.data.length === 0"></app-no-data>
  <div *ngIf="topupData.data.length > 0" class="relative overflow-x-auto">
    <table class="w-full text-sm text-center border border-solid border-[#ECECEE] rounded-lg">
      <thead class="text-sm leading-[18px] font-Poppins-Medium bg-[white]">
        <tr class="ltr:text-left rtl:text-right">
          <th scope="col">
            <button class="">
              Name
              <app-svg src="assets/svgs/arrow.svg" customClass="" label="title_goas_here" [stretch]="false" width="24"
                height="24" stroke="#000"></app-svg>
            </button>
          </th>
          <th scope="col">
            <button class="">
              Date & Time
              <app-svg src="assets/svgs/arrow.svg" customClass="" label="title_goas_here" [stretch]="false" width="24"
                height="24" stroke="#000"></app-svg>
            </button>
          </th>
          <th scope="col">
            <button class="">
              Amount
              <app-svg src="assets/svgs/arrow.svg" customClass="" label="title_goas_here" [stretch]="false" width="24"
                height="24" stroke="#000"></app-svg>
            </button>
          </th>
        </tr>
      </thead>
      <tbody class="">
        <tr class="" *ngFor="let item of topupData.data">
          <td scope="row" class="normal text-xs leading-[18px] font-Poppins-Light">
            {{ item.name }}
          </td>
          <td scope="row" class="normal text-xs leading-[18px] font-Poppins-Light">
            {{item.date | date:'dd'}}/{{item.date | date:'MM'}}/{{item.date | date:'YYYY'}} {{item.date |
            date:'hh'}}:{{item.date | date:'mm'}} {{ ('PERIOD.' + ((item.date | date:'aa') || '').toUpperCase()) |
            translate }}
          </td>
          <td class="normal">
            <p class="text-[12px] leading-[18px] font-Poppins-Light">
              <span>{{'CURRENCIES.QR' |
                translate}}</span> {{ item.amount }}
            </p>
            <p class="text-[10px] leading-[11px] font-Poppins-Light text-[#7C7C7C]">
              {{ item.amountText }}
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-pagination-second-style *ngIf="topupData.data.length > 0" [data]="topupData.pagination"
    (changePage)="changePageTopUp($event)"></app-pagination-second-style>
</ng-container> -->