<section class="bg-[#ECECEE] pt-[96px] pb-[100px] lg:pb-[215px]">
    <div class="max-w-desktop mx-auto px-4 lg:px-10 flex flex-col gap-4 lg:gap-[64px]">
        <div class="flex flex-col gap-3">
            <p class="font-Poppins-Bold text-lg text-[#6B6B6B] uppercase"> {{ 'FAHES_MEDIA_CENTER.MILESTONES' |
                translate }}</p>
            <div class="flex flex-col lg:flex-row items-center justify-between">
                <p class="font-Poppins-Bold text-[40px] leading-[54px] text-[#221E20]">Our evolution since 1949 until
                    now</p>
                <div class="flex items-center gap-[18px] w-full justify-end lg:w-auto lg:justify-normal mt-4 lg:mt-0">
                    <span class="font-Poppins-Bold text-lg text-[#221E20]">{{cSlide}}
                        {{'FAHES_MEDIA_CENTER.OF' | translate}} {{slidesStore.length}}</span>
                    <div class="flex items-center gap-[17px] owl-custom-nav">

                        <!-- disabled -->
                        <button type="button" (click)="moveToSlide('prev')"
                            class="w-[50px] h-[50px] border border-solid border-[#221E20] rounded-full flex items-center justify-center">
                            <app-svg src="assets/svgs/arrow.svg" customClass="ltr:rotate-90 rtl:rotate-[270deg]"
                                label="title_goas_here" [stretch]="false" width="36" stroke="#221E20"></app-svg>
                        </button>
                        <button type="button" (click)="moveToSlide('next')"
                            class="w-[50px] h-[50px] border border-solid border-[#221E20] rounded-full flex items-center justify-center">
                            <app-svg src="assets/svgs/arrow.svg" customClass="ltr:-rotate-90 rtl:rotate-[90deg]"
                                label="title_goas_here" [stretch]="false" width="36" stroke="#221E20"></app-svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div>

            <owl-carousel-o #owlCarousel [options]="customOptions" (change)="onChange($event)">
                <ng-container *ngFor="let slide of slidesStore; let i = index">
                    <ng-template carouselSlide [id]="'milestones-' + (i + 1)" [dotContent]="slide.year">
                        <div class="flex flex-col lg:flex-row gap-y-6 gap-x-[49px] items-center">
                            <div class="lg:max-w-[359px]">
                                <p class="mb-1.5 font-Poppins-Bold  text-[40px] leading-10 text-[#00428B]">
                                    {{slide.year}}
                                </p>
                                <p class="font-Cairo-Bold text-lg text-[#221E20]">{{slide.description[lang]}}</p>
                            </div>
                            <div class="flex-1 w-full lg:w-auto">
                                <img class="h-[210px] w-[384px] rounded-[10px]"
                                    [defaultImage]="'loadingImage'| imageSource"
                                    [errorImage]="'errorImage'| imageSource" [lazyLoad]="slide.image | imageSource"
                                    alt="Card Image" />
                            </div>
                        </div>
                    </ng-template>
                </ng-container>

            </owl-carousel-o>
        </div>
    </div>
</section>