<form #form="ngForm" novalidate (ngSubmit)="onSubmit(form)">
  <div class="bg-white border border-solid border-[#F5F5F5] pt-[70px] pb-[56px] px-[30px]"
    style="box-shadow: 0px 4px 6px #00000029">
    <div class="flex flex-col lg:flex-row gap-x-[152px] gap-y-[30px] pb-[56px] flex-wrap">
      <div class="w-full lg:w-[calc(50%-76px)]">
        <div class="relative mb-4">
          <input
            class="shadow appearance-none border border-[#E0E0E0] rounded w-full p-[19px] text-[#221E20] text-sm font-Poppins-Light leading-[21px] focus:outline-none focus:border-blue-500"
            id="firstName" name="firstName" [(ngModel)]="formData.firstName" required onlyText
            [class.error]="isSubmitted && !form?.controls?.firstName?.valid" type="text"
            placeholder="{{'PLACEHOLDER.F_NAME' | translate }}" maxlength="100" />
          <label
            class="absolute -top-1 ltr:left-3 rtl:right-3 -mt-2 text-[#717171] text-[14px] leading-[29px] font-Cairo-Regular duration-300 origin-0 bg-white px-1"
            for="firstName">{{'SHOP.FIRST_NAME' | translate}} *</label>
          <span *ngIf="isSubmitted && !form?.controls?.firstName?.valid"
            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
            |translate}}</span>
        </div>
      </div>
      <div class="w-full lg:w-[calc(50%-76px)]">
        <div class="relative mb-4">
          <input
            class="shadow appearance-none border border-[#E0E0E0] rounded w-full p-[19px] text-[#221E20] text-sm font-Poppins-Light leading-[21px] focus:outline-none focus:border-blue-500"
            id="middleName" name="middleName" [class.error]="isSubmitted && !form?.controls?.middleName?.valid" required
            [(ngModel)]="formData.middleName" type="text" placeholder="{{'PLACEHOLDER.M_NAME' | translate }}"
            maxlength="100" onlyText />
          <span *ngIf="isSubmitted && !form?.controls?.middleName?.valid"
            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
            |translate}}</span>
          <label
            class="absolute -top-1 ltr:left-3 rtl:right-3 -mt-2 text-[#717171] text-[14px] leading-[29px] font-Cairo-Regular duration-300 origin-0 bg-white px-1"
            for="Middle Name">{{'SHOP.MIDDLE_NAME' | translate}} *</label>
        </div>
      </div>
      <div class="w-full lg:w-[calc(50%-76px)]">
        <div class="relative mb-4">
          <input
            class="shadow appearance-none border border-[#E0E0E0] rounded w-full p-[19px] text-[#221E20] text-sm font-Poppins-Light leading-[21px] focus:outline-none focus:border-blue-500"
            id="lastName" name="lastName" [(ngModel)]="formData.lastName" required onlyText
            [class.error]="isSubmitted && !form?.controls?.lastName?.valid" type="text"
            placeholder="{{'PLACEHOLDER.L_NAME' | translate }}" maxlength="100" />
          <label
            class="absolute -top-1 ltr:left-3 rtl:right-3 -mt-2 text-[#717171] text-[14px] leading-[29px] font-Cairo-Regular duration-300 origin-0 bg-white px-1"
            for="Last Name">{{'SHOP.LAST_NAME' | translate}} *</label>
          <span *ngIf="isSubmitted && !form?.controls?.lastName?.valid"
            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
            |translate}}</span>
        </div>
      </div>
      <div class="w-full lg:w-[calc(50%-76px)]">
        <div class="relative mb-4">
          <input
            class="shadow appearance-none border border-[#E0E0E0] rounded w-full p-[19px] text-[#221E20] text-sm font-Poppins-Light leading-[21px] focus:outline-none focus:border-blue-500"
            id="mobileNumber" name="mobileNumber" [(ngModel)]="formData.mobileNumber" required
            [class.error]="isSubmitted && !form?.controls?.mobileNumber?.valid" type="text"
            placeholder="{{'PLACEHOLDER.MOBILE' | translate }}" maxlength="50" onlyNumbers />
          <label
            class="absolute -top-1 ltr:left-3 rtl:right-3 -mt-2 text-[#717171] text-[14px] leading-[29px] font-Cairo-Regular duration-300 origin-0 bg-white px-1"
            for="Mobile Number">{{'SHOP.MOBILE_NUMBER' | translate}} *</label>
          <span *ngIf="isSubmitted && !form?.controls?.mobileNumber?.valid"
            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
            |translate}}</span>
        </div>
      </div>
      <div class="w-full lg:w-[calc(50%-76px)]">
        <div class="relative mb-4">
          <input
            class="shadow appearance-none border border-[#E0E0E0] rounded w-full p-[19px] text-[#221E20] text-sm font-Poppins-Light leading-[21px] focus:outline-none focus:border-blue-500"
            id="officeTelephoneNumber" name="officeTelephoneNumber" [(ngModel)]="formData.officeTelephoneNumber"
            required [class.error]="isSubmitted && !form?.controls?.officeTelephoneNumber?.valid" type="text"
            placeholder="{{'PLACEHOLDER.MOBILE' | translate }}" maxlength="50" onlyNumbers />
          <label
            class="absolute -top-1 ltr:left-3 rtl:right-3 -mt-2 text-[#717171] text-[14px] leading-[29px] font-Cairo-Regular duration-300 origin-0 bg-white px-1"
            for="officeTelephoneNumber">{{'SHOP.OFFICE_TELEPHONE_NUMBER' | translate}} *</label>
          <span *ngIf="isSubmitted && !form?.controls?.officeTelephoneNumber?.valid"
            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
            |translate}}</span>
        </div>
      </div>
      <div class="w-full lg:w-[calc(50%-76px)]">
        <app-date-time-picker
          [data]="{label: 'RETAIL.BEST_TIME_TO_CALL', value: formData.bestTimeToCall, isRequired: true}"
          [isErrorEnabled]="isSubmitted && !formData.bestTimeToCall" [min]="min"
          (dateChange)="formData.bestTimeToCall = $event"></app-date-time-picker>

      </div>
      <div class="w-full lg:w-[calc(50%-76px)]">
        <div class="relative mb-4">
          <input
            class="shadow appearance-none border border-[#E0E0E0] rounded w-full p-[19px] text-[#221E20] text-sm font-Poppins-Light leading-[21px] focus:outline-none focus:border-blue-500"
            id="email" name="email" [(ngModel)]="formData.email" required
            [class.error]="isSubmitted && !form?.controls?.email?.valid" type="email" email
            placeholder="{{'PLACEHOLDER.EMAIL' | translate }}" maxlength="100"
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" />
          <label
            class="absolute -top-1 ltr:left-3 rtl:right-3 -mt-2 text-[#717171] text-[14px] leading-[29px] font-Cairo-Regular duration-300 origin-0 bg-white px-1"
            for="email">{{'SHOP.EMAIL' | translate}} *</label>
            <span *ngIf="isSubmitted && !form?.controls?.email?.valid && formData.email !== '' "

            class="text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular flex justify-between">{{

            "ERRORS.Email" | translate }}</span>

            <span *ngIf="isSubmitted  && formData.email=== ''"

            class="text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular flex justify-between">{{

            "ERRORS.THIS_FIELD_IS_REQUIRED" | translate }}</span>
        </div>
      </div>
      <div *ngIf="isSubmitted" class="w-full lg:w-[calc(1/2-153px)] lg:max-w-[200px] flex items-center">
        <p class="leading-[30px] font-Cairo-Regular text-[#E42528]">
          * {{'SHOP.REQUIRED_INFORMATION' | translate}}
        </p>
      </div>
      <div class="w-full flex justify-between pt-[40px]">
        <button type="button" (click)="back()"
          class="w-full flex flex-row items-center lg:px-[10px] lg:max-w-[114px] text-center font-Cairo-Regular text-[19px] leading-[38px]">
          <app-svg src="assets/svgs/arrow.svg" customClass="ltr:rotate-90 rtl:rotate-[270deg]" label="title_goas_here"
            [stretch]="false" width="25" height="25" stroke="#000000"></app-svg>
          {{'SHOP.BACK' | translate}}
        </button>
        <button type="submit"
          class="w-full lg:max-w-[130px] text-center font-Cairo-Regular text-[16px] leading-[38px] text-[white] bg-[#008545] rounded-[5px] border border-[#008545]">
          {{'SHOP.NEXT' | translate}}
        </button>
      </div>
    </div>
  </div>
</form>