<form #form="ngForm" novalidate (ngSubmit)="onSubmit(form)">
  <div class="bg-white px-[30px] pt-[70px] pb-[120px]">
    <div class="flex flex-col lg:flex-row gap-x-[152px] gap-y-[30px] pb-[56px] flex-wrap">
      <div class="w-full lg:w-[calc(50%-76px)]">
        <div class="relative mb-4">
          <input
            class=" appearance-none border border-[#E0E0E0] rounded w-full p-[19px] text-[#221E20] text-sm font-Poppins-Light leading-[21px] focus:outline-none focus:border-blue-500"
            id="companyName" name="companyName" [(ngModel)]="formData.companyName" required onlyText="en"
            maxlength="100" [class.error]="isSubmitted && !form?.controls?.companyName?.valid" type="text"
            placeholder="{{'PLACEHOLDER.COMPANY_NAME' | translate}}" />
          <label
            class="absolute -top-1 ltr:left-3 rtl:right-3 -mt-2 text-[#717171] text-[14px] leading-[29px] font-Cairo-Regular duration-300 origin-0 bg-white px-1"
            for="Company Name">{{'SHOP.COMPANY_NAME' | translate}} *</label>
          <span *ngIf="isSubmitted && !form?.controls?.companyName?.valid"
            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
            |translate}}</span>
        </div>
      </div>
      <div class="w-full lg:w-[calc(50%-76px)]">
        <div class="relative mb-4">
          <input
            class="appearance-none border border-[#E0E0E0] rounded w-full p-[19px] text-[#221E20] text-sm font-Poppins-Light leading-[21px] focus:outline-none focus:border-blue-500"
            id="companyNameAR" name="companyNameAR" [(ngModel)]="formData.companyNameAR" required onlyText="ar"
            maxlength="100" [class.error]="isSubmitted && !form?.controls?.companyNameAR?.valid" type="text"
            placeholder="{{'PLACEHOLDER.COMPANY_NAME_AR' | translate}}" />
          <label
            class="absolute -top-1 ltr:left-3 rtl:right-3 -mt-2 text-[#717171] text-[14px] leading-[29px] font-Cairo-Regular duration-300 origin-0 bg-white px-1"
            for="Company Name">{{'SHOP.COMPANY_NAME' | translate}} (ع) *</label>
          <span *ngIf="isSubmitted && !form?.controls?.companyNameAR?.valid"
            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
            |translate}}</span>
        </div>
      </div>
      <div class="w-full lg:w-[calc(50%-76px)]">
        <app-ddl-stander [data]="categoryOfBusiness" (onOptionChange)="categoryOfBusinessChange($event)"
          [isErrorEnabled]="isSubmitted && !categoryOfBusiness.selected" [isRequired]="true"></app-ddl-stander>
      </div>
      <div class="w-full lg:w-[calc(50%-76px)]">
        <div class="relative">

          <input
            class="appearance-none border border-[#E0E0E0] rounded w-full py-[19px] ltr:pl-[19px] ltr:pr-[90px] rtl:pl-[90px] rtl:pr-[19px] text-[#221E20] text-sm font-Poppins-Light leading-[21px] focus:outline-none focus:border-blue-500"
            id="crNumber" type="text" name="crNumber" [class.disabled]="!isFormEnabled" [(ngModel)]="formData.crNumber"
            required onlyNumbers [class.error]="isSubmitted && !form?.controls?.crNumber?.valid"
            [placeholder]="'PLACEHOLDER.CR_NUMBER' | translate" />

          <label
            class="absolute -top-1 ltr:left-3 rtl:right-3 -mt-2 text-[#717171] text-[14px] leading-[29px] font-Cairo-Regular duration-300 origin-0 bg-white px-1"
            for="crNumber">{{'SHOP.CR_NUMBER' | translate}} *</label>

          <!-- <button *ngIf="!isFormEnabled" type="button" (click)="getCheckValidate(form)"
            class="absolute px-4 text-[#008545] h-full text-sm top-0 leading-[21px] font-Poppins-Light block ltr:right-0 rtl:left-0">

            {{'SHOP.VALIDATE' | translate}}

          </button> -->

        </div>
      </div>

      <div class="w-full lg:w-[calc(50%-76px)]">
        <app-date-picker-fifth-style [isFormEnabled]="!isFormEnabled"
          [data]="{label: 'SHOP.CR_START_DATE', value: formData.StartDate, isRequired: true}"
          [isErrorEnabled]="isSubmitted && !formData.StartDate" [max]="formData.EndDate"
          (dateChange)="formData.StartDate = $event"></app-date-picker-fifth-style>
      </div>
      <div class="w-full lg:w-[calc(50%-76px)]">
        <app-date-picker-fifth-style [isFormEnabled]="!isFormEnabled"
          [data]="{label: 'SHOP.CR_END_DATE', value: formData.EndDate, isRequired: true}"
          [isErrorEnabled]="isSubmitted && !formData.EndDate" [min]="formData.StartDate"
          (dateChange)="formData.EndDate = $event"></app-date-picker-fifth-style>
      </div>
      <div class="w-full lg:w-[calc(50%-76px)]">
        <div class="relative mb-4">
          <input [class.disabled]="!isFormEnabled"
            class="appearance-none border border-[#E0E0E0] rounded w-full p-[19px] text-[#221E20] text-sm font-Poppins-Light leading-[21px] focus:outline-none focus:border-blue-500"
            id="numberOfBranchesInQatar" name="numberOfBranchesInQatar" [(ngModel)]="formData.numberOfBranchesInQatar"
            onlyNumbers required [class.error]="isSubmitted && !form?.controls?.numberOfBranchesInQatar?.valid"
            type="text" placeholder="{{'PLACEHOLDER.NUMBER' | translate}}" />
          <label
            class="absolute -top-1 ltr:left-3 rtl:right-3 -mt-2 text-[#717171] text-[14px] leading-[29px] font-Cairo-Regular duration-300 origin-0 bg-white px-1"
            for="numberOfBranchesInQatar">{{'SHOP.NUMBER_OF_BRANCHES_IN_QATAR' | translate}} *</label>
          <span *ngIf="isSubmitted && !form?.controls?.numberOfBranchesInQatar?.valid"
            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
            |translate}}</span>
        </div>
      </div>
      <div class="w-full lg:w-[calc(50%-76px)]">
        <div class="relative mb-4">
          <input [class.disabled]="!isFormEnabled"
            class=" appearance-none border border-[#E0E0E0] rounded w-full p-[19px] text-[#221E20] text-sm font-Poppins-Light leading-[21px] focus:outline-none focus:border-blue-500"
            id="numberOfBranchesInGCC" name="numberOfBranchesInGCC" [(ngModel)]="formData.numberOfBranchesInGCC"
            required [class.error]="isSubmitted && !form?.controls?.numberOfBranchesInGCC?.valid" type="text"
            placeholder="{{'PLACEHOLDER.NUMBER_GCC' | translate}}" onlyNumbers />
          <label
            class="absolute -top-1 ltr:left-3 rtl:right-3 -mt-2 text-[#717171] text-[14px] leading-[29px] font-Cairo-Regular duration-300 origin-0 bg-white px-1"
            for="numberOfBranchesInGCC">{{'SHOP.NUMBER_OF_BRANCHES_IN_GSS' | translate}} *</label>
          <span *ngIf="isSubmitted && !form?.controls?.numberOfBranchesInGCC?.valid"
            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
            |translate}}</span>
        </div>
      </div>
      <div class="w-full lg:w-[calc(50%-76px)]">
        <div class="relative mb-4">
          <input [class.disabled]="!isFormEnabled"
            class=" appearance-none border border-[#E0E0E0] rounded w-full p-[19px] text-[#221E20] text-sm font-Poppins-Light leading-[21px] focus:outline-none focus:border-blue-500"
            id="numberOfEmployees" onlyNumbers name="numberOfEmployees" [(ngModel)]="formData.numberOfEmployees"
            required [class.error]="isSubmitted && !form?.controls?.numberOfEmployees?.valid" type="text"
            placeholder="{{'PLACEHOLDER.EMPLOYE_NUMBERR' | translate}}" />
          <label
            class="absolute -top-1 ltr:left-3 rtl:right-3 -mt-2 text-[#717171] text-[14px] leading-[29px] font-Cairo-Regular duration-300 origin-0 bg-white px-1"
            for="numberOfEmployees">{{'SHOP.NUMBER_OF_EMPLOYEES' | translate}} *</label>
          <span *ngIf="isSubmitted && !form?.controls?.numberOfEmployees?.valid"
            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
            |translate}}</span>
        </div>
      </div>
      <div class="w-full datePicker lg:w-[calc(50%-76px)]">
        <app-date-picker-fifth-style [isFormEnabled]="!isFormEnabled" [data]="{label: 'RETAIL.EXPECTED_DATE_TO_START_BUSINESS_OPERATIONS', value: formData.
          expectedStartDate, isRequired: true}" [isErrorEnabled]="isSubmitted && !formData.expectedStartDate"
          (dateChange)="formData.expectedStartDate = $event" [min]="DateOfToday"></app-date-picker-fifth-style>
      </div>
      <div class="w-full lg:w-[calc(50%-76px)]">
        <div class="relative mb-4">
          <textarea [class.disabled]="!isFormEnabled" maxlength="256"
            class=" h-[154px] appearance-none border border-[#E0E0E0] rounded w-full p-[19px] text-[#221E20] text-sm font-Poppins-Light leading-[21px] focus:outline-none focus:border-blue-500"
            id="locations1" name="locations1" [(ngModel)]="formData.locations1" type="text"
            placeholder="{{'PLACEHOLDER.LIST_LOCATIONS' | translate}}"></textarea>
          <!-- [class.error]="isSubmitted && !form?.controls?.locations1?.valid" required -->
          <label
            class="absolute -top-1 ltr:left-3 rtl:right-3 -mt-2 text-[#717171] text-[14px] leading-[29px] font-Cairo-Regular duration-300 origin-0 bg-white px-1"
            for="locations1">{{'SHOP.LIST_LOCATIONS_IF_ANY' | translate}} </label>
          <!-- <span *ngIf="isSubmitted && !form?.controls?.locations1?.valid"
            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
            |translate}}</span> -->
        </div>
      </div>
      <div class="w-full lg:w-[calc(50%-76px)]">
        <div class="relative mb-4">
          <textarea [class.disabled]="!isFormEnabled" maxlength="256"
            class=" h-[154px] appearance-none border border-[#E0E0E0] rounded w-full p-[19px] text-[#221E20] text-sm font-Poppins-Light leading-[21px] focus:outline-none focus:border-blue-500"
            id="locations2" name="locations2" [(ngModel)]="formData.locations2" type="text"
            placeholder="{{'PLACEHOLDER.LIST_LOCATIONS' | translate}}"></textarea>
          <!-- required [class.error]="isSubmitted && !form?.controls?.locations2?.valid"  -->
          <label
            class="absolute -top-1 ltr:left-3 rtl:right-3 -mt-2 text-[#717171] text-[14px] leading-[29px] font-Cairo-Regular duration-300 origin-0 bg-white px-1"
            for="locations2">{{'SHOP.LIST_LOCATIONS_IF_ANY' | translate}} </label>
          <!-- <span *ngIf="isSubmitted && !form?.controls?.locations2?.valid"
            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
            |translate}}</span> -->
        </div>
      </div>


      <div class="w-full lg:w-[calc(50%-76px)] flex flex-row flex-wrap gap-[13px] lg:gap-[82px]">
        <p class="text-sm leading-[29px] font-Cairo-Regular text-[#717171]">
          {{'SHOP.EXISTING_TENANT' | translate}}
        </p>
        <div class="flex flex-row gap-[82px]">
          <app-radio-button name="existingTenant" value="yes" title="yes" [selected]="existingTenant"
            (onChange)="existingTenant = $event"></app-radio-button>
          <app-radio-button name="existingTenant" value="no" title="no" [selected]="existingTenant"
            (onChange)="existingTenant = $event"></app-radio-button>
        </div>
      </div>
      <div class="w-full lg:w-[calc(50%-76px)] flex flex-row flex-wrap gap-[13px] lg:gap-[82px]">
        <p class="text-sm leading-[29px] font-Cairo-Regular text-[#717171]">
          {{'SHOP.WILL_YOU_HAVE_A_PARTNER' | translate}}
        </p>
        <div class="flex flex-row gap-[82px]">
          <app-radio-button name="willYouHaveAPartner" value="yes" title="yes" [selected]="willYouHaveAPartner"
            (onChange)="willYouHaveAPartner = $event"></app-radio-button>
          <app-radio-button name="willYouHaveAPartner" value="no" title="no" [selected]="willYouHaveAPartner"
            (onChange)="willYouHaveAPartner = $event"></app-radio-button>
        </div>
      </div>
      <div class="w-full lg:w-[calc(50%-76px)]">
        <div class="relative textarea-padding mb-4">
          <textarea [class.disabled]="!isFormEnabled" maxlength="256"
            class="h-[164px] lg:h-[154px] appearance-none border border-[#E0E0E0] rounded w-full py-6 px-[19px] text-[#221E20] text-sm font-Poppins-Light leading-[21px] focus:outline-none focus:border-blue-500"
            id="customers" name="customers" [(ngModel)]="formData.customers" required
            [class.error]="isSubmitted && !form?.controls?.customers?.valid" type="text"
            placeholder="{{'PLACEHOLDER.CUSTOMER' | translate}}"></textarea>
          <label
            class="absolute -top-1 max-w-[90%] ltr:left-3 rtl:right-3 -mt-2 text-[#717171] text-[14px] leading-4 font-Cairo-Regular duration-300 origin-0 bg-white px-1"
            for="customers"><span [innerHTML]="'SHOP.WHAT_ADDITIONAL_VALUE_PRODUCTS_SERVICES_YOUR_BUSINESS_WILL_OFFER_TO_WOQOD_CUSTOMERS'
            |
            translate"></span> *</label>
          <span *ngIf="isSubmitted && !form?.controls?.customers?.valid"
            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
            |translate}}</span>
        </div>
      </div>
      <div class="w-full lg:w-[calc(50%-76px)]">
        <div class="relative textarea-padding mb-4">
          <textarea [class.disabled]="!isFormEnabled" maxlength="256"
            class="h-[164px] lg:h-[154px] appearance-none border border-[#E0E0E0] rounded w-full p-[19px] text-[#221E20] text-sm font-Poppins-Light leading-[21px] focus:outline-none focus:border-blue-500"
            id="leasingAshop" name="leasingAshop" [(ngModel)]="formData.leasing" required
            [class.error]="isSubmitted && !form?.controls?.leasing?.valid" type="text"
            placeholder="{{'PLACEHOLDER.LEASING' | translate}}"></textarea>
          <label
            class="absolute -top-1 ltr:left-3 rtl:right-3 -mt-2 text-[#717171] text-[14px] leading-[29px] font-Cairo-Regular duration-300 origin-0 bg-white px-1"
            for="leasingAshop">{{'SHOP.WHY_WOQOD_SHOULD_CONSIDER_YOU_FOR_LEASING_A_SHOP' | translate}} *</label>
          <span *ngIf="isSubmitted && !form?.controls?.leasing?.valid"
            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
            |translate}}</span>
        </div>
      </div>
      <div class="w-full lg:w-[calc(50%-76px)]">
        <div class="relative mb-4">
          <input [class.disabled]="!isFormEnabled"
            class=" appearance-none border border-[#E0E0E0] rounded w-full p-[19px] text-[#221E20] text-sm font-Poppins-Light leading-[21px] focus:outline-none focus:border-blue-500"
            id="companyTurnoverInQatar" onlyNumbers name="companyTurnoverInQatar"
            [(ngModel)]="formData.companyTurnoverInQatar" required
            [class.error]="isSubmitted && !form?.controls?.companyTurnoverInQatar?.valid" type="text"
            placeholder="{{'PLACEHOLDER.TURNOVER' | translate}}" />
          <label
            class="absolute -top-1 ltr:left-3 rtl:right-3 -mt-2 text-[#717171] text-[14px] leading-[29px] font-Cairo-Regular duration-300 origin-0 bg-white px-1"
            for="companyTurnoverInQatar">{{'SHOP.COMPANY_TURNOVER_IN_QATAR' | translate}} *</label>
          <span *ngIf="isSubmitted && !form?.controls?.companyTurnoverInQatar?.valid"
            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
            |translate}}</span>
        </div>
      </div>
      <div *ngIf="isSubmitted" class="w-full lg:w-[calc(50%-76px)]">
        <p class="leading-[30px] font-Cairo-Regular text-[#E42528]">
          * {{'SHOP.REQUIRED_INFORMATION' | translate}}
        </p>
      </div>
      <div class="w-full flex justify-between">
        <button type="button" (click)="back()"
          class="w-full flex flex-row items-center lg:px-[10px] lg:max-w-[114px] text-center font-Cairo-Regular text-[19px] leading-[38px]">
          <app-svg src="assets/svgs/arrow.svg" customClass="ltr:rotate-90 rtl:rotate-[270deg]" label="title_goas_here"
            [stretch]="false" width="25" height="25" stroke="#000000"></app-svg>
          {{'SHOP.BACK' | translate}}
        </button>
        <button [class.disabled]="!isFormEnabled" type="submit"
          class="w-full lg:max-w-[130px] text-center font-Cairo-Regular text-[16px] leading-[38px] text-[white] bg-[#008545] rounded-[5px] border border-[#008545]">
          {{'SHOP.NEXT' | translate}}
        </button>
      </div>
    </div>
  </div>
</form>