<app-breadcrumb-section-second-style [breadCrumb]="breadCrumb" [link]="'request-e-tag'"></app-breadcrumb-section-second-style>
<div class="bg-[#F5F5F5]">
  <section class="max-w-desktop mx-auto px-4 lg:px-10 pb-[72px]">
    <div class="flex flex-col lg:flex-row gap-2 justify-between pt-11 pb-[66px]">
      <p class="font-Cairo-Semi-Bold text-[30px] leading-[56px] capitalize text-[#221E20]">
        {{'E_TAG.REQUEST_A_NEW_E_TAG' | translate}}
      </p>
      <div class="bg-[#DFF7E7] shadow-[0px_1px_2px_#0000000D] p-4 flex gap-2.5">
        <app-svg src="assets/svgs/info.svg" customClass="mt-[-3px]" label="title_goas_here" [stretch]="false" width="18"
          height="18" stroke="#00904A"></app-svg>
        <p class="text-[13px] leading-[22px] text-black font-Noto-Sans-Medium">
          {{'E_TAG.IF_YOU_HAVE_ALREADY_INSTALLED_A_TAG_AND_WANT_TO_REPLACE_IT_KINDLY' | translate}}
          <a routerLink="/" class="underline text-[#007A3F]">{{'E_TAG.CLICK_HERE' | translate}}
            <span class="absolute ltr:left-[-9999px] rtl:right-[-9999px] w-px h-px overflow-hidden">replace tag</span>
          </a>
        </p>
      </div>
    </div>
    <app-form-steps [steps]="steps" [selectedStep]="selectedStep"></app-form-steps>
    <ng-container *ngIf="selectedStep === 'generalDetails'">
      <app-general-details (nextStep)="nextStep($event)"></app-general-details>
    </ng-container>
    <ng-container *ngIf="selectedStep === 'vehicleDetails'">
      <app-vehicle-details (nextStep)="nextStep($event)" (prevStep)="prevStep()"></app-vehicle-details>
    </ng-container>
    <ng-container *ngIf="selectedStep === 'bookAppointment'">
      <app-book-appointment (nextStep)="nextStep($event)" (prevStep)="prevStep()"></app-book-appointment>
    </ng-container>
    <ng-container *ngIf="selectedStep === 'TermsConditions'">
      <app-terms-conditions-tab [lang]="lang" (nextStep)="nextStep($event)"
        (prevStep)="prevStep()"></app-terms-conditions-tab>
    </ng-container>
    <ng-container *ngIf="selectedStep === 'payment'">
      <app-payment></app-payment>
    </ng-container>
  </section>
</div>