<div class="bg-[#ebebeb] rounded-xl h-[202px] flex flex-col items-center justify-center relative cursor-pointer">
    <button type="button" class="absolute top-2.5 right-2.5 outline-0">
        <app-svg src="assets/svgs/close-circle.svg" class="" customClass="" label="title_goas_here" [stretch]="false"
            width="28" stroke="#000000"></app-svg>
    </button>
    <div>
        <app-svg src="assets/svgs/img-black.svg" class="" customClass="" label="title_goas_here" [stretch]="false"
            width="38"></app-svg>
    </div>
    <p class="font-normal mt-1">Add photo/video</p>
    <p class="text-sm">or drag and drop</p>
</div>