<app-form-steps [steps]="steps"></app-form-steps>
<ng-container *ngIf="selectedStep === 'vehicleDetails'">
  <app-add-new-car></app-add-new-car>
  <div>
    <div class="flex flex-col lg:flex-row flex-wrap gap-x-[10px] gap-y-7 pb-4 lg:gap-y-[22px]">
      <app-vehicle-details-item *ngFor="let vehicle of vehicles" [data]="vehicle" [lang]="lang"
        (changeCount)="vehicle.count = $event" (changeActive)="vehicle.isActive = $event"
        class="w-full lg:w-[calc(20%-18px)]"></app-vehicle-details-item>
    </div>
    <div class="flex justify-end pb-7">
      <app-pagination *ngIf="!isLoadingEnabled && cards.data.length > 0" [data]="cards.pagination"
        (changePage)="changePage($event)"></app-pagination>
    </div>
    <div class="w-full">
      <div class="bg-[#F5F5F5] px-7 relative">
        <div class="w-full flex justify-between pt-[30px] pb-[14px]">
          <p class="font-Poppins-Light text-lg leading-[25px]">
            {{'DASHBOARD.NUMBER' | translate}}
          </p>
          <p class="font-Poppins-Bold text-xl leading-[25px]">3</p>
        </div>
        <div class="w-full flex justify-between pb-[43px]">
          <p class="font-Poppins-Light text-lg leading-[25px]">
            {{'DASHBOARD.NUMBER_OF_TAG' | translate}}
          </p>
          <p class="font-Poppins-Bold text-xl leading-[25px]">3</p>
        </div>
        <div class="w-[calc(100%-60px)] h-[1px] bg-[#CCCCCC] absolute bottom-[64px] left-0 right-0 px-[30px] mx-auto">
        </div>
        <p class="font-Poppins-Light text-[#009933] pb-[22px]">{{'DASHBOARD.TOTAL' | translate}}</p>
      </div>
    </div>
    <div class="flex flex-col lg:flex-row justify-between gap-2 pt-16 px-10">
      <button type="button" class="flex gap-[14px]">
        <app-svg src="assets/svgs/arrow.svg" customClass="ltr:rotate-90 rtl:-rotate-90" label="title_goas_here"
          [stretch]="false" width="20" height="20" stroke="#000000"></app-svg>
        <span class="font-Cairo-Regular text-base leading-8 text-black">{{'DASHBOARD.BACK' | translate}}</span>
      </button>
      <div class="flex flex-col lg:flex-row gap-3">
        <button type="button"
          class="border py-[2.5px] px-6 border-solid border-[#009933] rounded-[5px] font-Cairo-Regular text-base leading-8 text-[#008545] capitalize">
          {{'DASHBOARD.SAVE' | translate}}
        </button>
        <button type="button"
          class="rounded-[5px] py-[2.5px] px-8 font-Cairo-Regular text-base leading-8 bg-[#00852C] text-white capitalize">
          {{'DASHBOARD.NEXT' | translate}}
        </button>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="selectedStep === 'bookAppointment'">
  <app-add-new-car></app-add-new-car>
  <div class="w-full bg-white px-[2px] flex flex-col lg:flex-row gap-2 justify-between pb-[47px]">
    <div class="flex flex-col lg:flex-row gap-2 lg:gap-[2px]">
      <div
        class="bg-white flex lg:w-[160px] justify-between items-center w-full border border-solid border-[#CCCCCC] py-[7px] px-4 rounded-t-[5px]">
        <app-checkbox-car class="w-full" [data]="checkBox1" (onChange)="checkBox1.value = $event"></app-checkbox-car>
      </div>
      <div
        class="bg-white flex lg:w-[160px] justify-between items-center w-full border border-solid border-[#CCCCCC] py-[7px] px-4 rounded-t-[5px]">
        <app-checkbox-car class="w-full" [data]="checkBox1" (onChange)="checkBox1.value = $event"></app-checkbox-car>
      </div>
      <div
        class="bg-white flex lg:w-[160px] justify-between items-center w-full border border-solid border-[#CCCCCC] py-[7px] px-4 rounded-t-[5px]">
        <app-checkbox-car class="w-full" [data]="checkBox1" (onChange)="checkBox1.value = $event"></app-checkbox-car>
      </div>
    </div>
  </div>
  <div class="w-full pb-[34px]">
    <p class="w-full text-xl leading-[50px] font-Poppins-Medium pb-[25px]">
      Book Details
    </p>
    <div class="flex flex-col lg:flex-row gap-5 w-full">
      <div class="w-full lg:w-1/2 flex flex-col gap-5">
        <div class="w-full  relative">
          <label for="location"
            class="font-Cairo-Regular text-[15px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">Location</label>

          <div class="absolute ltr:left-5 rtl:right-5 rtl:left-5 top-0 bottom-0 flex items-center">
            <app-svg src="assets/svgs/gps.svg" customClass="mt-[-3px]" label="title_goas_here" [stretch]="false"
              width="18" height="18" fill="#003399"></app-svg>
          </div>
          <input type="text" id="location"
            class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] px-[46px]"
            placeholder="eg: doha" />
          <div class="absolute ltr:right-5 rtl:left-5 top-0 bottom-0 flex items-center">
            <app-svg src="assets/svgs/search-short.svg" customClass="mt-[-3px]" label="title_goas_here"
              [stretch]="false" width="24" height="24" fill="#7C7C7C"></app-svg>
          </div>
        </div>
        <app-checkbox [data]="checkBox2" (onChange)="checkBox2.value = $event"></app-checkbox>
        <app-time-picker [data]="time1" (onChange)="time1 = $event"></app-time-picker>
        <app-checkbox [data]="checkBox2" (onChange)="checkBox2.value = $event"></app-checkbox>
        <app-time-picker [data]="time1" (onChange)="time1 = $event"></app-time-picker>
      </div>
      <div class="w-full lg:w-1/2">
        <div class="w-full h-full bg-[#f2f4f3]"></div>
      </div>
    </div>
  </div>
  <div class="w-full ">
    <div class="bg-[#F5F5F5] px-7 relative">
      <div class="w-full flex justify-between pt-[30px] pb-[14px]">
        <p class="font-Poppins-Light text-lg leading-[25px]">
          {{'DASHBOARD.NUMBER' | translate}}
        </p>
        <p class="font-Poppins-Bold text-xl leading-[25px]">3</p>
      </div>
      <div class="w-full flex justify-between pb-[43px]">
        <p class="font-Poppins-Light text-lg leading-[25px]">
          {{'DASHBOARD.NUMBER_OF_TAG' | translate}}
        </p>
        <p class="font-Poppins-Bold text-xl leading-[25px]">3</p>
      </div>
      <div class="w-[calc(100%-60px)] h-[1px] bg-[#CCCCCC] absolute bottom-[64px] left-0 right-0 px-[30px] mx-auto">
      </div>
      <p class="font-Poppins-Light text-[#009933] pb-[22px]">
        {{'DASHBOARD.TOTAL' | translate}}
      </p>
    </div>
  </div>
  <div class="flex flex-col lg:flex-row justify-between gap-2  pt-[35px]">
    <button type="button" class="flex gap-[14px]">
      <app-svg src="assets/svgs/arrow.svg" customClass="ltr:rotate-90 rtl:-rotate-90" label="title_goas_here"
        [stretch]="false" width="20" height="20" stroke="#000000"></app-svg>
      <span class="font-Cairo-Regular text-base leading-8 text-black">{{'DASHBOARD.BACK' | translate}}</span>
    </button>
    <div class="flex flex-col lg:flex-row gap-3">
      <button type="button"
        class="rounded-[5px] py-[2.5px] px-8 font-Cairo-Regular text-base leading-8 bg-[#00852C] text-white capitalize">
        {{'DASHBOARD.NEXT' | translate}}
      </button>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="selectedStep === 'TermsConditions'">
  <app-terms-conditions-tab [lang]='lang'></app-terms-conditions-tab>
</ng-container>
<ng-container *ngIf="selectedStep === 'payment'">
  <div class="flex flex-col lg:flex-row gap-4 lg:gap-[80px] px-4 lg:px-[51px]">
    <div class="w-full">
      <p class="text-lg leading-[50px] font-Poppins-Medium pb-[30px]">
        PAYMENT METHOD
      </p>
      <div>
        <ul class="flex flex-col gap-2 lg:max-w-[50%]">
          <li (click)="toggleDDL()"
            class="flex justify-between cursor-pointer gap-1 relative items-center py-2.5 px-5 rounded-md bg-white border border-solid border-[#003399] shadow-[0px_4px_6px_#0000001A]">
            <div *ngIf="isDdlEnabled"
              class="absolute animate-[fadeInUp_0.3s_ease_both] left-0 top-[76px] rounded-[5px] z-10 overflow-auto w-full max-h-[200px] bg-white shadow-[0px_1px_13px_#0000001A]"
              [class.animate-close]="fireCloseAnimation">
              <ul class="flex flex-col">
                <li *ngFor="let _ of [].constructor(16); let i = index" [class.active]="i == 2" class="px-5 py-2.5">
                  <div class="flex items-center gap-3 relative">
                    <app-radio-btn></app-radio-btn>
                    <app-svg src="assets/svgs/bank-credit.svg" customClass="mt-[-3px]" label="title_goes_here"
                      [stretch]="false" width="36" height="27" fill="#000"></app-svg>
                    <div class="flex flex-col gap-1">
                      <p class="font-Cairo-Semi-Bold text-base leading-[22px] text-[#221E20]">
                        Bank Name Credit Card
                      </p>
                      <p class="font-Cairo-Regular text-[15px] leading-7 capitalize text-[#221E20]">
                        *****8412
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="flex items-center gap-3 relative">
              <app-radio-btn></app-radio-btn>
              <app-svg src="assets/svgs/bank-credit.svg" customClass="mt-[-3px]" label="title_goes_here"
                [stretch]="false" width="36" height="27" fill="#000"></app-svg>
              <div class="flex flex-col gap-1">
                <p class="font-Cairo-Semi-Bold text-base leading-[22px] text-[#221E20]">
                  Bank Name Credit Card
                </p>
                <p class="font-Cairo-Regular text-[15px] leading-7 capitalize text-[#221E20]">
                  *****8412
                </p>
              </div>
            </div>
            <app-svg src="assets/svgs/arrow.svg" customClass="mt-[-3px]" label="title_goes_here" [stretch]="false"
              width="20" height="20" stroke="#898989"></app-svg>
          </li>

          <li
            class="flex justify-between gap-1 items-center py-4 px-5 rounded-md bg-white border border-solid border-[#E0E0E0] shadow-[0px_4px_6px_#0000001A]">
            <div class="flex items-center gap-3">
              <app-radio-btn></app-radio-btn>
              <img src="assets\images\png\kfast.webp" alt="" width="36" height="27" />
              <div class="flex flex-col gap-1">
                <p class="font-Cairo-Semi-Bold text-base leading-[22px] text-[#221E20]">
                  KFAST
                </p>
              </div>
            </div>
          </li>
          <li
            class="flex justify-between gap-1 items-center py-4 px-5 rounded-md bg-white border border-solid border-[#E0E0E0] shadow-[0px_4px_6px_#0000001A]">
            <div class="flex items-center gap-3">
              <app-radio-btn></app-radio-btn>
              <img src="assets\images\png\amex.webp" alt="" width="36" height="27" />
              <div class="flex flex-col gap-1">
                <p class="font-Cairo-Semi-Bold text-base leading-[22px] text-[#221E20]">
                  AMEX
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <p class="text-lg leading-[50px] font-Poppins-Medium py-[30px]">
        OTHER METHODS
      </p>
      <div class="w-full flex flex-col gap-2">
        <ul class="flex flex-col gap-2 lg:max-w-[50%]">
          <li
            class="flex justify-between gap-1 items-center py-[13px] px-5 rounded-md bg-white border border-solid shadow-[0px_4px_6px_#0000001A] border-[#E0E0E0]">
            <div class="flex items-center gap-3">
              <app-radio-btn></app-radio-btn>
              <app-svg src="assets/svgs/credit.svg" customClass="mt-[-3px]" label="title_goes_here" [stretch]="false"
                width="33" height="35" fill="#000"></app-svg>
              <div class="flex flex-col gap-1">
                <p class="font-Cairo-Semi-Bold text-base leading-[22px] text-[#221E20]">
                  Credit Limit
                </p>
              </div>
            </div>
          </li>
          <li
            class="flex justify-between gap-1 items-center py-[13px] px-5 rounded-md bg-white border border-solid shadow-[0px_4px_6px_#0000001A] border-[#E0E0E0]">
            <div class="flex items-center gap-3">
              <app-radio-btn></app-radio-btn>
              <app-svg src="assets/svgs/banking.svg" customClass="mt-[-3px]" label="title_goes_here" [stretch]="false"
                width="33" height="35" fill="#000"></app-svg>
              <div class="flex flex-col gap-1">
                <p class="font-Cairo-Semi-Bold text-base leading-[22px] text-[#221E20]">
                  Net Banking
                </p>
              </div>
            </div>
          </li>
          <li
            class="flex justify-between gap-1 items-center py-[13px] px-5 rounded-md bg-white border border-solid shadow-[0px_4px_6px_#0000001A] border-[#E0E0E0]">
            <div class="flex items-center gap-3">
              <app-radio-btn></app-radio-btn>
              <app-svg src="assets/svgs/e-wallet.svg" customClass="mt-[-3px]" label="title_goes_here" [stretch]="false"
                width="33" height="35" fill="#000"></app-svg>
              <div class="flex flex-col gap-1">
                <p class="font-Cairo-Semi-Bold text-base leading-[22px] text-[#221E20]">
                  E - Wallet
                </p>
              </div>
            </div>
          </li>
          <li
            class="flex justify-between gap-1 items-center py-[13px] px-5 rounded-md bg-white border border-solid border-[#E0E0E0] shadow-[0px_4px_6px_#0000001A] border-[#E0E0E0]">
            <div class="flex items-center gap-3">
              <app-radio-btn></app-radio-btn>
              <app-svg src="assets/svgs/apple-wallet.svg" customClass="mt-[-3px]" label="title_goes_here"
                [stretch]="false" width="33" height="35" fill="#000"></app-svg>
              <div class="flex flex-col gap-1">
                <p class="font-Cairo-Semi-Bold text-base leading-[22px] text-[#221E20]">
                  Apple wallet
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="mt-[30px]">
        <div class="w-full mb-[34px]">
          <app-checkbox></app-checkbox>
        </div>
        <div class="w-full">
          <div class="flex justify-end">
            <button type="button"
              class="rounded-[5px] py-[2.5px] px-8 font-Cairo-Regular text-base leading-8 bg-[#00852C] text-white capitalize">
              Next
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>