<div class="px-0 lg:px-[73px] flex flex-row gap-4 lg:gap-8 py-8 relative">
    <span
        class="absolute right-0 lg:right-8 top-0 bottom-0 my-auto text-primary opacity-10 text-[76px] lg:text-[130px] flex justify-center items-center min-w-[104px] lg:min-w-[216px] text-center z-[-1]">
        0{{index + 1}}
    </span>
    <div #imgContainer class="w-[100px] lg:w-32">
        <img src="assets/images/hero/1.webp" class="w-[100px] lg:w-32 h-[100px] lg:h-32 rounded" alt="">
        <!-- [style.height.px]="height" -->
    </div>
    <div class="flex-1">
        <div class="flex flex-col lg:gap-1 w-full lg:w-[75%]">
            <p class="font-medium text-[16px] lg:text-[22px]">Hussein Alwesi</p>
            <p class="text-primary text-sm -mt-1 lg:mt-0">Wedding Planner</p>
            <p class="line-clamp-2 text-xs lg:text-base mt-1">Lorem Ipsum is simply dummy text of the printing and
                typesetting
                industry.
                Lorem
                Ipsum
                has been the simply dummy text of the printing.</p>
            <div class="mt-auto">
                <!-- mt 33px -->
                <button type="button" class="text-primary text-[9px] lg:text-sm">read more</button>
            </div>
        </div>
    </div>
</div>