<div class="bg-white pt-[47px] pb-[56px]" style="box-shadow: 0px 3px 6px #00000029">
  <div class="mb-[68px] flex flex-col lg:flex-row">
    <div class="w-full flex flex-col">
      <p class="font-Poppins-Medium text-lg leading-[50px] px-[27px]">
        {{'E_TAG.SELECT_CAR' | translate}}(3)
      </p>
    </div>
  </div>
  <div class="flex flex-col lg:flex-row gap-4 lg:gap-[80px] px-4 lg:px-[51px]">
    <div class="w-full lg:w-[calc(50%-70px)]">
      <p class="text-lg leading-[50px] font-Poppins-Medium pb-[30px]">
        {{'E_TAG.PAYMENT_METHOD' | translate}}
      </p>
      <div>
        <ul class="flex flex-col gap-2">
          <li (click)="toggleDDL()"
            class="flex justify-between cursor-pointer gap-1 relative items-center py-2.5 px-5 rounded-md bg-white border border-solid border-[#003399] shadow-[0px_4px_6px_#0000001A]">
            <div *ngIf="isDdlEnabled"
              class="absolute animate-[fadeInUp_0.3s_ease_both] left-0 top-[76px] rounded-[5px] z-10 overflow-auto w-full max-h-[200px] bg-white shadow-[0px_1px_13px_#0000001A]"
              [class.animate-close]="fireCloseAnimation">
              <ul class="flex flex-col">
                <li *ngFor="let _ of [].constructor(16); let i = index" [class.active]="i == 2" class="px-5 py-2.5">
                  <div class="flex items-center gap-3 relative">
                    <app-radio-btn></app-radio-btn>
                    <app-svg src="assets/svgs/bank-credit.svg" customClass="mt-[-3px]" label="title_goes_here"
                      [stretch]="false" width="36" height="27" fill="#000"></app-svg>
                    <div class="flex flex-col gap-1">
                      <p class="font-Cairo-Semi-Bold text-base leading-[22px] text-[#221E20]">
                        Bank Name {{'E_TAG.CREDIT_CARD' | translate}}
                      </p>
                      <p class="font-Cairo-Regular text-[15px] leading-7 capitalize text-[#221E20]">
                        *****8412
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="flex items-center gap-3 relative">
              <app-radio-btn></app-radio-btn>
              <app-svg src="assets/svgs/bank-credit.svg" customClass="mt-[-3px]" label="title_goes_here"
                [stretch]="false" width="36" height="27" fill="#000"></app-svg>
              <div class="flex flex-col gap-1">
                <p class="font-Cairo-Semi-Bold text-base leading-[22px] text-[#221E20]">
                  Bank Name {{'E_TAG.CREDIT_CARD' | translate}}
                </p>
                <p class="font-Cairo-Regular text-[15px] leading-7 capitalize text-[#221E20]">
                  *****8412
                </p>
              </div>
            </div>
            <app-svg src="assets/svgs/arrow.svg" customClass="mt-[-3px]" label="title_goes_here" [stretch]="false"
              width="20" height="20" stroke="#898989"></app-svg>
          </li>

          <li
            class="flex justify-between gap-1 items-center py-4 px-5 rounded-md bg-white border border-solid border-[#E0E0E0] shadow-[0px_4px_6px_#0000001A]">
            <div class="flex items-center gap-3">
              <app-radio-btn></app-radio-btn>
              <img src="assets\images\png\kfast.webp" alt="" width="36" height="27" />
              <div class="flex flex-col gap-1">
                <p class="font-Cairo-Semi-Bold text-base leading-[22px] text-[#221E20]">
                  {{'E_TAG.KFAST' | translate}}
                </p>
              </div>
            </div>
          </li>
          <li
            class="flex justify-between gap-1 items-center py-4 px-5 rounded-md bg-white border border-solid border-[#E0E0E0] shadow-[0px_4px_6px_#0000001A]">
            <div class="flex items-center gap-3">
              <app-radio-btn></app-radio-btn>
              <img src="assets\images\png\amex.webp" alt="" width="36" height="27" />
              <div class="flex flex-col gap-1">
                <p class="font-Cairo-Semi-Bold text-base leading-[22px] text-[#221E20]">
                  {{'E_TAG.AMEX' | translate}}
                </p>
              </div>
            </div>
          </li>
        </ul>
        <div class="flex justify-between items-center bg-[#F8F7F7] rounded-[5px] px-6 py-[12px]">
          <p class="font-Cairo-Regular text-base leading-[30px] text-[#222222]">
            {{'E_TAG.TOTAL' | translate}}
          </p>
          <p class="font-Cairo-Bold text-lg leading-[33px] text-[#00852C]">
            20,500 IQD
          </p>
        </div>
      </div>
    </div>
    <div class="w-full lg:w-[calc(50%-70px)]">
      <p class="text-lg leading-[50px] font-Poppins-Medium pb-[30px]">
        {{'E_TAG.OTHER_METHODS' | translate}}
      </p>
      <div class="w-full flex flex-col gap-2">
        <ul class="flex flex-col gap-2">
          <li
            class="flex justify-between gap-1 items-center py-[13px] px-5 rounded-md bg-white border border-solid shadow-[0px_4px_6px_#0000001A] border-[#E0E0E0]">
            <div class="flex items-center gap-3">
              <app-radio-btn></app-radio-btn>
              <app-svg src="assets/svgs/credit.svg" customClass="mt-[-3px]" label="title_goes_here" [stretch]="false"
                width="33" height="35" fill="#000"></app-svg>
              <div class="flex flex-col gap-1">
                <p class="font-Cairo-Semi-Bold text-base leading-[22px] text-[#221E20]">
                  {{'E_TAG.CREDIT_LIMIT' | translate}}
                </p>
              </div>
            </div>
          </li>
          <li
            class="flex justify-between gap-1 items-center py-[13px] px-5 rounded-md bg-white border border-solid shadow-[0px_4px_6px_#0000001A] border-[#E0E0E0]">
            <div class="flex items-center gap-3">
              <app-radio-btn></app-radio-btn>
              <app-svg src="assets/svgs/banking.svg" customClass="mt-[-3px]" label="title_goes_here" [stretch]="false"
                width="33" height="35" fill="#000"></app-svg>
              <div class="flex flex-col gap-1">
                <p class="font-Cairo-Semi-Bold text-base leading-[22px] text-[#221E20]">
                  {{'E_TAG.NET_BANKING' | translate}}
                </p>
              </div>
            </div>
          </li>
          <li
            class="flex justify-between gap-1 items-center py-[13px] px-5 rounded-md bg-white border border-solid shadow-[0px_4px_6px_#0000001A] border-[#E0E0E0]">
            <div class="flex items-center gap-3">
              <app-radio-btn></app-radio-btn>
              <app-svg src="assets/svgs/e-wallet.svg" customClass="mt-[-3px]" label="title_goes_here" [stretch]="false"
                width="33" height="35" fill="#000"></app-svg>
              <div class="flex flex-col gap-1">
                <p class="font-Cairo-Semi-Bold text-base leading-[22px] text-[#221E20]">
                  {{'E_TAG.E_Wallet' | translate}}
                </p>
              </div>
            </div>
          </li>
          <li
            class="flex justify-between gap-1 items-center py-[13px] px-5 rounded-md bg-white border border-solid border-[#E0E0E0] shadow-[0px_4px_6px_#0000001A] border-[#E0E0E0]">
            <div class="flex items-center gap-3">
              <app-radio-btn></app-radio-btn>
              <app-svg src="assets/svgs/apple-wallet.svg" customClass="mt-[-3px]" label="title_goes_here"
                [stretch]="false" width="33" height="35" fill="#000"></app-svg>
              <div class="flex flex-col gap-1">
                <p class="font-Cairo-Semi-Bold text-base leading-[22px] text-[#221E20]">
                  {{'E_TAG.APPLE_WALLET' | translate}}
                </p>
              </div>
            </div>
          </li>
          <li
            class="flex flex-col justify-between gap-1 py-4 px-5 rounded-md bg-white border border-solid border-[#ED1C24] shadow-[0px_4px_6px_#0000001A]">
            <div class="flex items-center gap-3">
              <app-radio-btn></app-radio-btn>
              <app-svg src="assets/svgs/footer-logo.svg" customClass="mt-[-3px]" label="title_goes_here"
                [stretch]="false" width="36" height="27" fill="#000"></app-svg>
              <div class="flex flex-col gap-1">
                <p class="font-Cairo-Semi-Bold text-base leading-[22px] text-[#221E20]">
                  {{'E_TAG.NEW_CARD' | translate}}
                </p>
              </div>
            </div>
            <div class="mt-6">
              <div class="flex flex-col gap-1.5">
                <label class="text-[#221E20] text-base leading-[22px] font-Noto-Sans-Regular">
                  {{'E_TAG.NAME_ON_THE_CARD' |
                  translate}}</label>
                <input type="text" placeholder="John Doe"
                  class="px-4 border border-solid border-[#0000001F] rounded text-base leading-6 text-[#00000099] h-14 font-Roboto-Regular" />
              </div>
              <div class="flex flex-col gap-1.5 mt-2.5">
                <label class="text-[#221E20] text-base leading-[22px] font-Noto-Sans-Regular">{{'E_TAG.CARD_NUMBER' |
                  translate}}</label>
                <input type="text" placeholder="1929 9292 8174 1234"
                  class="px-4 border border-solid border-[#0000001F] rounded text-base leading-6 text-[#00000099] h-14 font-Roboto-Regular" />
              </div>
              <div class="flex flex-col lg:flex-row gap-y-1.5 gap-x-9">
                <div class="w-full lg:w-[calc(50%-18px)] flex flex-col gap-1.5 mt-2.5">
                  <label class="text-[#221E20] text-base leading-[22px] font-Noto-Sans-Regular">{{'E_TAG.VALID_TILL' |
                    translate}}</label>
                  <input type="text" placeholder="02/22"
                    class="px-4 border border-solid border-[#0000001F] rounded text-base leading-6 text-[#00000099] h-14 font-Roboto-Regular" />
                </div>
                <div class="w-full lg:w-[calc(50%-18px)] flex flex-col gap-1.5 mt-2.5">
                  <label class="text-[#221E20] flex gap-2 text-base leading-[22px] font-Noto-Sans-Regular">
                    <span>{{'E_TAG.CVV' |
                      translate}}</span>
                    <app-svg src="assets/svgs/footer-logo.svg" customClass="mt-[-3px]" label="title_goes_here"
                      [stretch]="false" width="16" height="16" fill="#000"></app-svg>
                  </label>
                  <input type="text" placeholder="***"
                    class="px-4 border border-solid border-[#0000001F] rounded text-base leading-6 text-[#00000099] h-14 font-Roboto-Regular" />
                </div>
              </div>
              <div class="mt-5">
                <app-checkbox [data]="saveCard" (onChange)="saveCard.value = $event"></app-checkbox>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mt-[30px] px-4 lg:px-[51px]">
    <div class="w-full mb-[40px]">
      <app-checkbox [data]="termsConditions" (onChange)="termsConditions.value = $event"></app-checkbox>
    </div>
    <div class="w-full">
      <div class="flex justify-end">
        <button type="button"
          class="rounded-[5px] py-[2.5px] px-8 font-Cairo-Regular text-base leading-8 bg-[#00852C] text-white capitalize">
          {{'RETAIL.NEXT' |
          translate}}
        </button>
      </div>
    </div>
  </div>
</div>