<p class="text-[#011C35] font-Cairo-Bold text-[22px] leading-[37px] pb-4">
  {{'CAREER_LISTING.JOB_INFORMATION' | translate}}
</p>
<p class="text-[#011C35] font-Cairo-Regular text-[18px] leading-[37px] pb-1">
  {{'CAREER_LISTING.JOB_CODE' | translate}}
</p>
<p class="text-[#011C35] font-Cairo-Bold text-[22px] leading-[37px] pb-4" [innerHTML]="data?.jobcode[lang]"></p>
<p class="text-[#011C35] font-Cairo-Regular text-[18px] leading-[37px] pb-1">
  {{'CAREER_LISTING.INDUSTRY' | translate}}
</p>
<p class="text-[#011C35] font-Cairo-Bold text-[22px] leading-[37px] pb-4">{{data?.industry?.[lang]}}</p>
<p class="text-[#011C35] font-Cairo-Regular text-[18px] leading-[37px] pb-1">
  {{'CAREER_LISTING.CITY' | translate}}
</p>
<p class="text-[#011C35] font-Cairo-Bold text-[22px] leading-[37px] pb-4" [innerHTML]="data?.city[lang]"></p>
<!-- <p class="text-[#011C35] font-Cairo-Regular text-[18px] leading-[37px] pb-1">
  {{'CAREER_LISTING.STATE' | translate}}
</p>
<p class="text-[#011C35] font-Cairo-Bold text-[22px] leading-[37px] pb-4" [innerHTML]="data?.state[lang]">
</p> -->
<p class="text-[#011C35] font-Cairo-Regular text-[18px] leading-[37px] pb-1">
  {{'CAREER_LISTING.COUNTRY' | translate}}
</p>
<p class="text-[#011C35] font-Cairo-Bold text-[22px] leading-[37px] pb-[56px]" [innerHTML]="data?.country[lang]"></p>
<!-- <p class="text-[#011C35] font-Cairo-Regular text-[18px] leading-[37px] pb-1">
  {{'CAREER_LISTING.ZIP' | translate}}
</p>
<p class="text-[#011C35] font-Cairo-Bold text-[22px] leading-[37px] pb-[56px]" [innerHTML]="data?.zip[lang]"></p> -->

<div class="hidden lg:block">
  <app-btn-one id="career-btn" textClass="font-Cairo-Regular text-base" text="CAREER_LISTING.INTERSTED"
  seoDesc="Text about the button" svg="assets/svgs/arrow.svg" svgClass="rotate-[270deg]"
  [link]="'/careers/career-job/' + data?.id"></app-btn-one>
</div>