<form #form="ngForm" novalidate>
    <div *ngIf="!isImageInEditMode"
        class="flex flex-col lg:flex-row items-center justify-between pt-[30px] pb-[18.5px]">
        <div class="flex flex-col lg:flex-row gap-3 w-full lg:w-auto">
            <div>
                <img [lazyLoad]="userDataView.imageID | imageSource" [defaultImage]="'loadingImage'| imageSource"
                    [errorImage]="'errorImage'| imageSource" alt="" title="" width="82" height="82"
                    class="w-[82px] h-[82px] mx-auto lg:mx-0 rounded-full bg-[#ECECEE] border-2 border-solid border-[#00852C]" />
            </div>
            <div class="self-center w-full lg:w-auto">
                <p
                    class="font-Cairo-Semi-Bold text-lg leading-5 text-black mb-1.5 text-center lg:ltr:text-left rtl:lg:text-right">
                    {{userDataView.firstName}} {{userDataView.lastName}}</p>
                <!-- <ul class="flex flex-col">
                    <li>
                        <app-svg src="assets/svgs/date.svg" customClass="" label="title_goas_here" [stretch]="false"
                            width="18" height="18" stroke="#000000"></app-svg>

                        <span class="text-[#757575] font-Poppins-Light text-xs leading-5">{{userDataView.country}},
                            {{userDataView.city}}</span>
                    </li>
                </ul> -->
            </div>
        </div>
        <div class="w-full lg:w-auto mt-4 lg:mt-0 flex flex-row self-start px-4">
            <!-- <button (click)="text()" type="button" class="font-Poppins-Medium text-[17px] leading-[50px] text-[#00904A]">
                Actions
                <app-svg src="assets/svgs/arrow.svg" customClass="" label="title_goas_here" [stretch]="false" width="25"
            height="25" stroke="#00904A"></app-svg>
            </button> -->
            <button (click)="toggleDDL()" type="button"
                class="relative font-Poppins-Medium text-[17px] leading-[50px] text-[#00904A]" appClickOutSide
                (appOutsideClick)="isDdlEnabled ? toggleDDL() : ''">
                <!-- {{ "DASHBOARD.THIS_MOUNTH" | translate }} -->
                {{ "DASHBOARD.Actions" | translate }}
                <app-svg src="assets/svgs/arrow.svg" customClass="" label="title_goas_here" [stretch]="false" width="24"
                    height="24" stroke="#00904A"></app-svg>
                <div *ngIf="isDdlEnabled"
                    class="absolute animate-[fadeInUp_0.3s_ease_both] rtl:right-0 ltr:left-0 top-[40px] rounded-[5px] z-10 overflow-auto w-[162px] max-h-[200px] bg-white shadow-[0px_1px_13px_#0000001A]"
                    [class.animate-close]="fireCloseAnimation">
                    <ul class="flex flex-col">
                        <li (click)="text()"
                            class="px-[15px] relative after:absolute after:border-b after:bottom-0 after:left-0 after:right-0 after:w-[90%] after:mx-auto ltr:text-left rtl:text-right">
                            <button type="button" class="font-Poppins-Light text-sm leading-[20px] text-[#000000]">
                                {{ "DASHBOARD.EDIT_PROFILE" | translate }}
                            </button>
                        </li>
                        <li (click)="isModalEnabled3 = true;"
                            class="px-[15px] relative after:absolute after:border-b after:bottom-0 after:left-0 after:right-0 after:w-[90%] after:mx-auto ltr:text-left rtl:text-right">
                            <button type="button" class="font-Poppins-Light text-sm leading-[20px] text-[#000000]">
                                {{ "DASHBOARD.Deactive" | translate }}
                            </button>
                        </li>
                    </ul>
                </div>
            </button>
        </div>
        <!-- <div class="w-full lg:w-auto mt-4 lg:mt-0">
            <button type="button" (click)="toggleViews('image')"
                class="flex w-full justify-center items-center gap-1.5 px-[15px] py-1.5 bg-white border border-solid border-[#00852C] rounded-[5px]">
                <app-svg src="assets/svgs/date.svg" customClass="mt-[-3px]" label="title_goas_here" [stretch]="false"
                    width="20" height="20" stroke="#00852C"></app-svg>

                <span class="font-Cairo-Regular text-base capitalize text-[#00852C]">{{'DASHBOARD.EDIT' |
                    translate}}</span>
            </button>
        </div> -->
    </div>

    <div *ngIf="isImageInEditMode">

        <app-attachment-profile [data]="profile" [accept]="profile.accept" (selectFileEmiter)="profile.file = $event">
        </app-attachment-profile>
    </div>

    <hr class="border-[#ECECEE]" />

    <div *ngIf="!isPersonalInEditMode" class="pt-5 pb-[26px]">
        <p class="pb-3 font-Cairo-Semi-Bold text-lg leading-[18px] text-black">{{'STEPS.PERSONAL_INFORMATION' |
            translate}}
        </p>
        <div class="flex flex-col lg:flex-row items-center justify-between">
            <div class="flex flex-col lg:flex-row gap-8 lg:gap-1 flex-1 w-full lg:w-auto">
                <div class="w-full lg:w-1/3 flex flex-col gap-8">
                    <div class="flex flex-col gap-[5px]">
                        <p class="font-Poppins-Light text-xs leading-5 text-[#757575]">{{'SIGN_IN.FULL_NAME' |
                            translate}}
                        </p>
                        <p class="font-Poppins-Light text-sm text-black lg:min-h-[20px]">
                            {{userDataView.firstName ||('DASHBOARD.NA' | translate) }}
                        </p>
                        <!-- <p class="font-Poppins-Light text-sm text-black lg:min-h-[20px]">{{userDataView.firstName ||
                            ('DASHBOARD.NA' |
                            translate) + ' ' + userDataView.lastName || ('DASHBOARD.NA' |
                            translate)}}
                        </p> -->
                    </div>
                    <div class="flex flex-col gap-[5px]">
                        <p class="font-Poppins-Light text-xs leading-5 text-[#757575]">{{'FEEDBACK.EMAIL' | translate}}
                        </p>
                        <p class="font-Poppins-Light text-sm text-black">{{userDataView.email || ('DASHBOARD.NA' |
                            translate)}}</p>
                    </div>
                </div>
                <div class="w-full lg:w-1/3 flex flex-col gap-8">
                    <!-- <div class="flex flex-col gap-[5px]">
                        <p class="font-Poppins-Light text-xs leading-5 text-[#757575]"> {{'SIGN_IN.LAST_NAME' |
                            translate}}
                        </p>
                        <p class="font-Poppins-Light text-sm text-black">{{userDataView.lastName || ('DASHBOARD.NA' |
                            translate)}}</p>
                    </div> -->
                    <div class="flex flex-col gap-[5px]">
                        <p class="font-Poppins-Light text-xs leading-5 text-[#757575]">{{'DASHBOARD.PHONE' | translate}}
                        </p>
                        <p class="font-Poppins-Light text-sm text-black">{{userDataView.mobile || ('DASHBOARD.NA' |
                            translate)}}</p>
                    </div>
                </div>
                <div class="w-full lg:w-1/3 flex flex-col gap-8">
                    <div class="flex flex-col gap-[5px]">
                        <p class="font-Poppins-Light text-xs leading-5 text-[#757575]">{{'SIGN_IN.DATE_OF_BIRTH' |
                            translate}}
                        </p>
                        <p class="font-Poppins-Light text-sm text-black lg:min-h-[20px]">

                            <ng-container *ngIf="userDataView.dateOfBirth">
                                {{userDataView.dateOfBirth | date:'dd'}}-{{ ( ((userDataView.dateOfBirth |
                                date:'MM') || '').toUpperCase()) |
                                translate }}-{{userDataView.dateOfBirth | date:'YYYY'}}
                            </ng-container>
                            <ng-container *ngIf="!userDataView.dateOfBirth">
                                {{ 'DASHBOARD.NA' | translate}}
                            </ng-container>

                        </p>
                    </div>
                </div>
                <div class="w-full lg:w-1/3 flex flex-col gap-8">
                    <div class="flex flex-col gap-[5px]">
                        <p class="font-Poppins-Light text-xs leading-5 text-[#757575]">{{'SIGN_IN.QID' | translate}}
                        </p>
                        <p class="font-Poppins-Light text-sm text-black">{{userDataView.qid || ('DASHBOARD.NA' |
                            translate)}}</p>
                    </div>
                </div>
                <div class="w-full lg:w-1/3 flex flex-col gap-8">
                    <div class="flex flex-col gap-[5px]">
                        <p class="font-Poppins-Light text-xs leading-5 text-[#757575]">{{'SIGN_IN.GENDER' | translate}}
                        </p>
                        <p class="font-Poppins-Light text-sm text-black">{{(userDataView.gender ? "SIGN_IN." +
                            userDataView.gender.toUpperCase() : 'DASHBOARD.NA') |
                            translate}}</p>
                    </div>
                </div>
            </div>
            <!-- <div class="w-full lg:w-auto mt-4 lg:mt-0">
                <button type="button" (click)="toggleViews('personal')"
                    class="flex w-full justify-center items-center gap-1.5 px-[15px] py-1.5 bg-white border border-solid border-[#00852C] rounded-[5px]">
                    <app-svg src="assets/svgs/date.svg" customClass="mt-[-3px]" label="title_goas_here"
                        [stretch]="false" width="20" height="20" stroke="#00852C"></app-svg>

                    <span class="font-Cairo-Regular text-base capitalize text-[#00852C]">{{'DASHBOARD.EDIT' |
                        translate}}</span>
                </button>
            </div> -->
        </div>
    </div>

    <div *ngIf="isPersonalInEditMode">
        <p class="pb-[38px] pt-5 font-Cairo-Semi-Bold text-lg leading-[18px] text-black">{{'STEPS.PERSONAL_INFORMATION'
            |
            translate}}</p>
        <div class="flex flex-col gap-11 pb-8">
            <div class="flex flex-col lg:flex-row gap-11">
                <div class="w-full lg:w-[calc(50%)] relative">
                    <label for="firstName"
                        class="font-Cairo-Regular text-[15px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">{{'SIGN_IN.FIRST_NAME'
                        | translate}}
                        <sup
                            class="font-Cairo-Regular text-[15px] text-[#E73C3E] ltr:-left-px rtl:-right-px top-0">*</sup>
                    </label>
                    <input type="text" id="firstName" name="firstName" [(ngModel)]="userDataEdit.firstName" required
                        [class.error]="isFormSubmitted && !form?.controls?.firstName?.valid"
                        class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] px-5"
                        placeholder="{{'PLACEHOLDER.F_NAME' | translate}}" />
                    <span *ngIf="isFormSubmitted && !form?.controls?.firstName?.valid"
                        class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
                        |translate}}</span>
                </div>
                <div class="w-full lg:w-[calc(50%)] relative">
                    <label for="lastName"
                        class="font-Cairo-Regular text-[15px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">{{'SIGN_IN.LAST_NAME'
                        | translate}}
                        <sup
                            class="font-Cairo-Regular text-[15px] text-[#E73C3E] ltr:-left-px rtl:-right-px top-0">*</sup>
                    </label>
                    <input type="text" id="lastName" name="lastName" [(ngModel)]="userDataEdit.lastName" required
                        [class.error]="isFormSubmitted && !form?.controls?.lastName?.valid"
                        class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] ltr:pl-4 ltr:pr-5 rtl:pr-4 rtl:pl-5"
                        placeholder="{{'PLACEHOLDER.M_NAME' | translate}}" />
                    <span *ngIf="isFormSubmitted && !form?.controls?.lastName?.valid"
                        class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
                        |translate}}</span>
                </div>
            </div>
            <div class="flex flex-col lg:flex-row gap-11">
                <div class="w-full lg:w-[calc(50%)] relative">
                    <label for="email"
                        class="font-Cairo-Regular text-[15px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">{{'FEEDBACK.EMAIL'
                        | translate}}
                        <sup
                            class="font-Cairo-Regular text-[15px] text-[#E73C3E] ltr:-left-px rtl:-right-px top-0">*</sup>
                    </label>
                    <input type="text" id="email" name="email" [(ngModel)]="userDataEdit.email" required email
                        [class.error]="isFormSubmitted && !form?.controls?.email?.valid"
                        class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] ltr:pl-5 ltr:pr-[70px] rtl:pr-5 rtl:pl-[70px]"
                        placeholder="{{'PLACEHOLDER.EMAIL' | translate}}">
                    <button type="button"
                        class="absolute ltr:right-5 rtl:left-5 top-0 bottom-0 flex items-center font-Poppins-Light text-sm text-[#009933]">
                        {{'SIGN_IN.VERIFY' | translate}}
                    </button>
                    <span *ngIf="isFormSubmitted && !form?.controls?.email?.valid"
                        class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.Email'
                        |translate}}</span>
                </div>

                <div class="w-full lg:w-[calc(50%)] relative">
                    <label for="mobile"
                        class="font-Cairo-Regular text-[15px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">{{'DASHBOARD.PHONE'
                        | translate}}
                        <sup
                            class="font-Cairo-Regular text-[15px] text-[#E73C3E] ltr:-left-px rtl:-right-px top-0">*</sup>
                    </label>
                    <input type="text" id="mobile" name="mobile" [(ngModel)]="userDataEdit.mobile" required
                        [class.error]="isFormSubmitted && !form?.controls?.mobile?.valid"
                        class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] ltr:pl-4 ltr:pr-[46px] rtl:pr-4 rtl:pl-[46px]"
                        placeholder="{{'PLACEHOLDER.MOBILE' | translate}}" />
                    <span *ngIf="isFormSubmitted && !form?.controls?.mobile?.valid"
                        class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
                        |translate}}</span>
                </div>
            </div>
            <div class="flex flex-col lg:flex-row gap-11">
                <div class="w-full lg:w-[calc(50%)] relative">
                    <app-date-picker-fifth-style
                        [data]="{label: 'SIGN_IN.DATE_OF_BIRTH', value: userDataEdit.dateOfBirthText, isRequired: true}"
                        [isErrorEnabled]="isFormSubmitted && !userDataEdit.dateOfBirthText"
                        (dateChange)="userDataEdit.dateOfBirthText = $event"
                        [max]="DateofToday"></app-date-picker-fifth-style>
                </div>
                <div class="w-full lg:w-[calc(50%)] relative">
                    <label for="qid"
                        class="font-Cairo-Regular text-[15px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">{{'SIGN_IN.QID'|
                        translate}}
                        <sup
                            class="font-Cairo-Regular text-[15px] text-[#E73C3E] ltr:-left-px rtl:-right-px top-0">*</sup>
                    </label>
                    <input type="text" id="qid" name="qid" [(ngModel)]="userDataEdit.qid" required
                        [class.error]="isFormSubmitted && !form?.controls?.qid?.valid"
                        class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] ltr:pl-4 ltr:pr-[46px] rtl:pr-4 rtl:pl-[46px]"
                        placeholder="{{'PLACEHOLDER.QID' | translate}}" />
                    <span *ngIf="isFormSubmitted && !form?.controls?.qid?.valid"
                        class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
                        |translate}}</span>
                </div>
                <div class="w-full lg:w-[calc(50%)] relative">
                    <app-ddl-stander [lang]="lang" [data]="genderDDL" (onOptionChange)="genderDDL.selected = $event"
                        [isErrorEnabled]="isFormSubmitted && !genderDDL.selected"></app-ddl-stander>
                </div>
            </div>
        </div>
    </div>

    <hr class="border-[#ECECEE]" />

    <div *ngIf="!isAddressInEditMode" class="pt-5">
        <p class="pb-3 font-Cairo-Semi-Bold text-lg leading-[18px] text-black">{{'SHARED.ADDRESS' | translate}}</p>
        <div class="flex flex-col lg:flex-row items-center justify-between">
            <div class="flex flex-col lg:flex-row gap-8 lg:gap-1 flex-1 w-full lg:w-auto">
                <div class="w-full lg:w-1/2 flex flex-col gap-8">
                    <div class="flex flex-col gap-[5px]">
                        <p class="font-Poppins-Light text-xs leading-5 text-[#757575]">{{'SIGN_IN.FULL_ADDRESS' |
                            translate}}
                        </p>
                        <p class="font-Poppins-Light text-sm text-black">{{userDataView.country || ('DASHBOARD.NA' |
                            translate)}}</p>
                    </div>
                    <!-- <div class="flex flex-col gap-[5px]">
                        <p class="font-Poppins-Light text-xs leading-5 text-[#757575]">{{'SIGN_IN.POBOX' | translate}}
                        </p>
                        <p class="font-Poppins-Light text-sm text-black">{{userDataView.poBox || 'N/A'}}</p>
                    </div> -->
                </div>
                <!-- <div class="w-full lg:w-1/2 flex flex-col gap-8">
                    <div class="flex flex-col gap-[5px]">
                        <p class="font-Poppins-Light text-xs leading-5 text-[#757575]"> {{'SIGN_IN.CITY' | translate}}
                        </p>
                        <p class="font-Poppins-Light text-sm text-black">{{userDataView.city || ('DASHBOARD.NA' |
                            translate)}}</p>
                    </div>
                    <div class="flex flex-col gap-[5px]">
                        <p class="font-Poppins-Light text-xs leading-5 text-[#757575]">{{'SIGN_IN.ADDRESS' | translate}}
                        </p>
                        <p class="font-Poppins-Light text-sm text-black">{{userDataView.address || ('DASHBOARD.NA' |
                            translate)}}</p>
                    </div>
                </div> -->
            </div>
            <!-- <div class="w-full lg:w-auto mt-4 lg:mt-0">
                <button type="button" (click)="toggleViews('address')" class=" flex w-full justify-center items-center gap-1.5 px-[15px] py-1.5 bg-white border
                    border-solid border-[#00852C] rounded-[5px]">
                    <app-svg src="assets/svgs/date.svg" customClass="mt-[-3px]" label="title_goas_here"
                        [stretch]="false" width="20" height="20" stroke="#00852C"></app-svg>

                    <span class="font-Cairo-Regular text-base capitalize text-[#00852C]">{{'DASHBOARD.EDIT' |
                        translate}}</span>
                </button>
            </div> -->
        </div>
    </div>

    <div *ngIf="isAddressInEditMode">
        <p class="pb-[38px] pt-5 font-Cairo-Semi-Bold text-lg leading-[18px] text-black">{{'SHARED.ADDRESS' |
            translate}}
        </p>
        <div class="flex flex-col gap-11 pb-8">
            <div class="flex flex-col lg:flex-row gap-11">
                <div class="w-full lg:w-[calc(50%)] relative">
                    <label for="country"
                        class="font-Cairo-Regular text-[15px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">{{'SIGN_IN.FULL_ADDRESS'
                        | translate}}
                        <sup
                            class="font-Cairo-Regular text-[15px] text-[#E73C3E] ltr:-left-px rtl:-right-px top-0">*</sup>
                    </label>
                    <input type="text" id="country" name="country" [(ngModel)]="userDataEdit.country" required
                        [class.error]="isFormSubmitted && !form?.controls?.country?.valid"
                        class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] ltr:pl-4 ltr:pr-[46px] rtl:pr-4 rtl:pl-[46px]"
                        placeholder="{{'PLACEHOLDER.COUNTRY' | translate}}" />
                    <span *ngIf="isFormSubmitted && !form?.controls?.country?.valid"
                        class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
                        |translate}}</span>
                </div>
                <!-- <div class="w-full lg:w-[calc(50%)] relative">
                    <label for="city"
                        class="font-Cairo-Regular text-[15px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">{{'SIGN_IN.CITY'
                        | translate}}
                        <sup
                            class="font-Cairo-Regular text-[15px] text-[#E73C3E] ltr:-left-px rtl:-right-px top-0">*</sup>
                    </label>
                    <input type="text" id="city" name="city" [(ngModel)]="userDataEdit.city" required
                        [class.error]="isFormSubmitted && !form?.controls?.city?.valid"
                        class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] px-5"
                        placeholder="Type city" />
                    <span *ngIf="isFormSubmitted && !form?.controls?.city?.valid"
                        class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
                        |translate}}</span>
                </div> -->
            </div>
            <!-- <div class="flex flex-col lg:flex-row gap-11">
                <div class="w-full lg:w-[calc(50%)] relative">
                    <label for="poBox"
                        class="font-Cairo-Regular text-[15px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">{{'SIGN_IN.POBOX'
                        | translate}}
                        <sup
                            class="font-Cairo-Regular text-[15px] text-[#E73C3E] ltr:-left-px rtl:-right-px top-0">*</sup>
                    </label>
                    <input type="text" id="poBox" name="poBox" [(ngModel)]="userDataEdit.poBox" required
                        [class.error]="isFormSubmitted && !form?.controls?.poBox?.valid"
                        class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] ltr:pl-4 ltr:pr-5 rtl:pr-4 rtl:pl-5"
                        placeholder="123456" />
                    <span *ngIf="isFormSubmitted && !form?.controls?.poBox?.valid"
                        class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
                        |translate}}</span>
                </div>
                <div class="w-full lg:w-[calc(50%)] relative">
                    <label for="address"
                        class="font-Cairo-Regular text-[15px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">{{'SIGN_IN.ADDRESS'
                        | translate}}
                        <sup
                            class="font-Cairo-Regular text-[15px] text-[#E73C3E] ltr:-left-px rtl:-right-px top-0">*</sup>
                    </label>
                    <input type="text" id="address" name="address" [(ngModel)]="userDataEdit.address" required
                        [class.error]="isFormSubmitted && !form?.controls?.address?.valid"
                        class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] px-4"
                        placeholder="Type Address" />
                    <span *ngIf="isFormSubmitted && !form?.controls?.address?.valid"
                        class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
                        |translate}}</span>
                </div>
            </div> -->
        </div>
    </div>
    <app-bottom-actions *ngIf="isImageInEditMode || isPersonalInEditMode || isAddressInEditMode"
        (onCancelClick)="cancelForm()" (onSaveClick)="onSubmit(form)"></app-bottom-actions>
</form>


<app-modal [template]="modalTemplatePlaceholder3" [isModalEnabled]="isModalEnabled3"
    (closeModalByKeyboard)="isModalEnabled3 = false" modalClasses="inset-0 w-[90%] max-w-[502px]">
    <ng-template #modalTemplatePlaceholder3>
        <div class="bg-white rounded-[5px]">
            <div class="modal-header px-[21px] flex justify-end pb-[3px] pt-[16px]">
                <button type="button">
                    <app-svg (click)="isModalEnabled3 = false" src="assets/svgs/close.svg" customClass=""
                        label="title_goes_here" [stretch]="false" width="16" height="16" fill="#000"></app-svg>
                </button>
            </div>
            <div class="modal-body px-[45px]">
                <p class="font-Poppins-Medium text-xl leading-[50px] pb-2">{{'DASHBOARD.DEACTIVATE' | translate}}</p>
                <p class="font-Poppins-Light text-xs leading-[20px] pb-7">{{'DASHBOARD.MODAL_SUB_TITLE' | translate}}
                </p>
                <div class="flex flex-wrap gap-4 pb-4">
                    <div class="flex flex-col gap-4 w-[calc(50%-8px)]">
                        <p class="font-Poppins-Light text-sm leading-[20px] opacity-50">{{'DASHBOARD.Email' |
                            translate}}</p>
                        <p class="font-Poppins-Light text-sm leading-[20px] opacity-50">{{userDetails2.email}}</p>
                    </div>
                    <div class="flex flex-col gap-4 w-[calc(50%-8px)]">
                        <p class="font-Poppins-Light text-sm leading-[20px] opacity-50">{{'DASHBOARD.PHONE' |
                            translate}}</p>
                        <p class="font-Poppins-Light text-sm leading-[20px] opacity-50">{{userDetails2.mobile}}</p>
                    </div>
                </div>
                <div class="w-full h-[1px] border-t border-dashed border-[#707070] pb-[34px]">
                </div>
                <div class="flex flex-col gap-[15px] max-w-[356px] pb-[34px]">

                    <app-ddl-stander [isRequired]="true" [data]="resoneForDeactivateDDL"
                        (onOptionChange)="resoneForDeactivateDDL.selected= $event"
                        [isErrorEnabled]="isSubmitted && !resoneForDeactivateDDL.selected"></app-ddl-stander>

                    <app-checkbox [data]="terms" (onChange)="terms.value = $event"
                        [isErrorEnabled]="isSubmitted && !terms.value"></app-checkbox>
                </div>
            </div>
            <div class="modal-footer flex flex-col justify-center">
                <button type="button" (click)="getOTP()"
                    class="rounded-[5px] max-h-[40px] py-[2.5px] ltr:max-w-[156px] px-8 font-Cairo-Regular text-base leading-8 bg-[#00852C] text-white capitalize pb-2 mx-auto">
                    {{'DASHBOARD.OTP_TITLE' | translate}} </button>
                <p class="text-xs leading-[20px] font-Poppins-Light text-[#7C7C7C] pb-4 text-center">
                    {{'DASHBOARD.OTP_DESC' |
                    translate}}</p>
            </div>

        </div>
    </ng-template>
</app-modal>