<div class="absolute left-0 -bottom-2.5 right-0 mx-auto w-full flex flex-col">
    <div class="bg-primary bg-blend-multiply w-[80%] mx-auto px-8 rounded-full -mb-2">
        <ul class="flex items-center justify-between pt-0.5 pb-2.5">
            <li>
                <p class="text-white font-light text-sm">8690 Likes
                </p>
            </li>
            <li>
                <p class="text-white font-light text-sm">8690
                    Comments</p>
            </li>
            <li>
                <p class="text-white font-light text-sm">8690 Share
                </p>
            </li>
        </ul>
    </div>
    <div class="bg-white w-[90%] mx-auto rounded-full">
        <ul class="flex justify-between px-6 py-1">
            <li>
                <button type="button" class="flex items-center gap-1.5 outline-0">
                    <span>
                        <app-svg src="assets/svgs/heart.svg" class="" customClass="mt-[-3px]" label="title_goas_here"
                            [stretch]="false" width="20" fill="#802d3d"></app-svg>
                    </span>
                    <span>Like</span>
                </button>
            </li>
            <li>
                <button type="button" class="flex items-center gap-1.5 outline-0">
                    <span>
                        <app-svg src="assets/svgs/comment.svg" class="" customClass="mt-[-3px]" label="title_goas_here"
                            [stretch]="false" width="15" fill="#802d3d"></app-svg>
                    </span>
                    <span>Comment</span>
                </button>
            </li>
            <li>
                <button type="button" class="flex items-center gap-1.5 outline-0">
                    <span>
                        <app-svg src="assets/svgs/share.svg" class="" customClass="mt-[-3px]" label="title_goas_here"
                            [stretch]="false" width="17" fill="#802d3d"></app-svg>
                    </span>
                    <span>Share</span>
                </button>
            </li>
        </ul>
    </div>
</div>