<div class="relative min-h-[230px] lg:min-h-[157px] flex items-end pb-5">
    <div class="striped-background bg-primary"></div>
    <div class="relative z-10 flex flex-col lg:flex-row gap-4 lg:gap-14 w-full items-center">
        <div class="w-full lg:w-1/2 text-center lg:text-right">
            <p class="text-white font-medium text-3xl px-4 lg:px-0">Blog Page</p>
        </div>
        <div class="w-full lg:w-1/2">
            <p class="text-white lg:max-w-[319px] px-4 lg:px-0">and we strive to turn your wedding dream into a stunning
                reality.
                <strong class="font-medium">Let us be
                    your</strong>
            </p>
        </div>
    </div>
</div>
<div class="section flex flex-col lg:flex-row gap-11 pt-8 pb-8">
    <div class="w-full lg:flex-1 flex flex-col lg:flex-row flex-wrap gap-8 items-center order-2 lg:order-1">
        <app-blog-item *ngFor="let item of blogs"
            class="w-full lg:w-[calc(33.333333%-22px)] relative z-10"></app-blog-item>
    </div>
    <div class="w-full lg:w-[431px] order-1 lg:order-2">
        <app-blogs-side></app-blogs-side>
    </div>
</div>