<div class="relative min-h-[300px] lg:min-h-[157px] flex items-end pb-5">
    <div class="striped-background bg-primary"></div>
    <div class="relative z-10 flex flex-col lg:flex-row gap-14 w-full items-center">
        <div class="w-1/2 text-right">
            <p class="text-white font-medium text-3xl">Blog Page</p>
        </div>
        <div class="w-1/2">
            <p class="text-white max-w-[319px]">and we strive to turn your wedding dream into a stunning
                reality.
                <strong class="font-medium">Let us be
                    your</strong>
            </p>
        </div>
    </div>
</div>
<div class="section flex flex-col lg:flex-row gap-2 pt-8 pb-8">
    <div class="w-full lg:w-3/4 flex flex-col lg:flex-row flex-wrap gap-8 items-center order-2 lg:order-1">

        <div *ngFor="let item of blogs" class="w-full lg:w-[calc(33.333333%-32px)] relative z-10">
            <img class="news-item w-full rounded-[5px]" [style.height.px]="heightNews" src="assets/images/bride.webp"
                alt="FOM">
            <p class=" font-medium mt-[10px] text-[#2e2b28]">Nude - Print Mockup Kit</p>
            <p class=" mt-[-3px] text-[#2e2b28]">related to organizing</p>
            <button type="button" (click)="navigateTo('blog-details')"
                class="text-sm font-normal text-primary mt-[9px] block">Read More</button>
        </div>

    </div>
    <div class="w-full lg:w-1/4 flex flex-col gap-8 order-1 lg:order-2">
        <div>
            <div class="relative">
                <p>Search</p>
                <hr class="border-black w-12 -ml-2" />
            </div>
            <div class="mt-6">
                <div class="relative">
                    <input type="text" class="w-full h-[47px] bg-gray-100 rounded-xl px-2"
                        placeholder="Type someting & hit enter" />
                    <app-svg src="assets/svgs/search.svg"
                        class="absolute right-2 top-0 bottom-0 my-auto flex items-center" customClass=""
                        label="title_goas_here" [stretch]="false" width="16" fill="#802d3d"></app-svg>
                </div>
            </div>
        </div>

        <div>
            <div class="relative">
                <p>Categories</p>
                <hr class="border-black w-12 -ml-2" />
            </div>
            <ul class="mt-6 flex flex-col gap-1">
                <li>
                    <a href="#" class="">
                        Wedding planner 1
                    </a>
                </li>
                <li>
                    <a href="#" class="">
                        Wedding planner 2
                    </a>
                </li>
                <li>
                    <a href="#" class="">
                        Wedding planner 3
                    </a>
                </li>
                <li>
                    <a href="#" class="">
                        Wedding planner 4
                    </a>
                </li>
            </ul>
        </div>

        <div>
            <div class="relative">
                <p>Popular Blogs</p>
                <hr class="border-black w-12 -ml-2" />
            </div>
            <ul class="mt-6 flex flex-col gap-1">
                <li>
                    <a href="#" class="">
                        Why some people almost always save money with this method
                    </a>
                </li>
                <li>
                    <a href="#" class="">
                        Why some people almost always save money with this method
                    </a>
                </li>
                <li>
                    <a href="#" class="">
                        Why some people almost always save money with this method
                    </a>
                </li>
            </ul>
        </div>

        <div>
            <div class="relative">
                <p>Tags</p>
                <hr class="border-black w-12 -ml-2" />
            </div>
            <ul class="mt-6 flex flex-wrap gap-1">
                <li>
                    <a href="#" class="bg-primary text-white rounded-md px-2 py-1">
                        #Wedding
                    </a>
                </li>
                <li>
                    <a href="#" class="bg-primary text-white rounded-md px-2 py-1">
                        #Wedding
                    </a>
                </li>
                <li>
                    <a href="#" class="bg-primary text-white rounded-md px-2 py-1">
                        #Wedding
                    </a>
                </li>
                <li>
                    <a href="#" class="bg-primary text-white rounded-md px-2 py-1">
                        #Wedding
                    </a>
                </li>
                <li>
                    <a href="#" class="bg-primary text-white rounded-md px-2 py-1">
                        #Wedding
                    </a>
                </li>
                <li>
                    <a href="#" class="bg-primary text-white rounded-md px-2 py-1">
                        #Wedding
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>