<div appClickOutSide (appOutsideClick)="isDdlEnabled ? toggleDDL() : ''" [class.disabled]="isDisabled"
    class="mb-[30px] bg-[#011D37] relative border border-solid border-[#F2F2F2] rounded-[5px] flex justify-between gap-2 ltr:pr-3 rtl:pl-3">
    <ul class="flex flex-row flex-wrap gap-3 px-5 py-[14.5px]">
        <li *ngFor="let item of data?.selected"
            class="px-2 py-1.5 flex flex-row gap-[30px] items-center bg-[#3E64FF1A] border border-solid border-[#3E64FF80] rounded-[5px]">
            <span
                class="text-white capitalize text-center font-Poppins-Light text-[11px] leading-[17px] tracking-normal">{{item?.title[lang]}}</span>
            <button type="button" class="h-3 inline-block" (click)="selectOption(item)">
                <app-svg src="assets/svgs/circle-close.svg" customClass="align-super" label="title_goas_here"
                    [stretch]="false" width="12" fill="#ffffff"></app-svg>
            </button>
        </li>

        <li *ngIf="data?.selected.length === 0"
            class="px-2 py-1.5 flex flex-row gap-[30px] items-center bg-[#3E64FF1A] rounded-[5px]">
            <span
                class="text-white capitalize text-center font-Poppins-Light text-[11px] leading-[17px] tracking-normal">{{placeholder |
                translate}}</span>
        </li>
    </ul>
    <button type="button" (click)="toggleDDL()">
        <app-svg src="assets/svgs/arrow.svg"
            [customClass]="isDdlEnabled && !fireCloseAnimation ? 'transition-all rotate-[180deg]' : 'transition-all'"
            label="title_goas_here" [stretch]="false" width="18" height="18" stroke="white"></app-svg>
    </button>
    <div *ngIf="isDdlEnabled"
        class="absolute animate-[fadeInUp_0.3s_ease_both] left-[-1px] top-0 rounded-[5px] z-10 overflow-auto w-[calc(100%+2px)] max-h-[200px] bg-white shadow-[0px_1px_13px_#0000001A]"
        [class.animate-close]="fireCloseAnimation">
        <ul class="flex flex-col">
            <li *ngFor="let option of data?.list" [class.active]="isActive(option.key)">
                <button type="button" (click)="selectOption(option)"
                    class="w-full ltr:text-left rtl:text-right break-words font-Poppins-Light text-sm leading-[26px] text-[#2B2B2B] py-3 px-5 transition-all hover:bg-slate-100">{{option.title[lang]}}</button>
            </li>
        </ul>
    </div>
</div>