<form #form="ngForm" novalidate (ngSubmit)="onSubmit(form)">
  <div class="bg-white shadow-[0px_3px_6px_#00000029] pt-[55px] px-11 pb-12">
    <p class="font-Poppins-Medium text-lg leading-[50px] text-black">
      {{'STEPS.GENERAL_DETAILS' | translate}}
    </p>
    <div class="flex flex-col gap-x-[42px] gap-y-4 pt-12">
      <div class="flex flex-col lg:flex-row gap-x-32 gap-y-4">
        <div class="w-full lg:w-1/2 relative">
          <label for="name"
            class="font-Cairo-Regular text-[15px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">
            {{'E_TAG.NAME' | translate}}<sup
              class="font-Cairo-Regular text-[15px] text-[#E73C3E] ltr:-left-px rtl:-right-px top-0"> *</sup>
          </label>
          <input type="text" id="name" name="name" [(ngModel)]="formData.name" required
            [class.error]="isSubmitted && !form?.controls?.name?.valid" onlyText="en" minlength="3" maxlength="256"
            class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] pl-4 pr-[46px]"
            placeholder="{{'PLACEHOLDER.NAME_EN' | translate }}" />
          <span *ngIf="isSubmitted && !form?.controls?.name?.valid"
            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
            |translate}}</span>
        </div>
        <div class="w-full lg:w-1/2 relative">
          <label for="nameAR"
            class="font-Cairo-Regular text-[15px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">
            {{'E_TAG.Name_AR' | translate}}<sup
              class="font-Cairo-Regular text-[15px] text-[#E73C3E] ltr:-left-px rtl:-right-px top-0"> *</sup>
          </label>
          <input type="text" id="nameAR" name="nameAR" [(ngModel)]="formData.nameAR" required
            [class.error]="isSubmitted && !form?.controls?.nameAR?.valid" onlyText="ar" minlength="3" maxlength="256"
            class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] pl-4 pr-[46px]"
            placeholder="{{'PLACEHOLDER.NAME_AR' | translate }}" />
          <span *ngIf="isSubmitted && !form?.controls?.nameAR?.valid"
            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
            |translate}}</span>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row gap-x-32 gap-y-4">
        <div class="w-full lg:w-1/2 relative">
          <label for="email"
            class="font-Cairo-Regular text-[15px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">
            {{'E_TAG.EMAIL' | translate}}<sup
              class="font-Cairo-Regular text-[15px] text-[#E73C3E] ltr:-left-px rtl:-right-px top-0"> *</sup>
          </label>
          <input type="email" id="email" name="email" [(ngModel)]="formData.email" required
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
            [class.error]="isSubmitted && !form?.controls?.email?.valid"
            class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] pl-4 pr-[46px]"
            placeholder="{{'PLACEHOLDER.EMAIL' | translate }}" />
            <span *ngIf="isSubmitted && !form?.controls?.email?.valid && formData.email !== '' "

            class="text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular flex justify-between">{{

            "ERRORS.Email" | translate }}</span>

            <span *ngIf="isSubmitted  && formData.email=== ''"

            class="text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular flex justify-between">{{

            "ERRORS.THIS_FIELD_IS_REQUIRED" | translate }}</span>
        </div>
        <div class="w-full lg:w-1/2 relative">
          <app-attachment [data]="qidFile" [isErrorEnabled]="isSubmitted && !qidFile.file" [accept]="qidFile.accept"
            (selectFileEmiter)="qidFile.file = $event">
          </app-attachment>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row gap-x-32 gap-y-4">
        <div class="w-full lg:w-1/2 relative">
          <label for="numberOfTag"
            class="font-Cairo-Regular text-[15px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">
            {{'E_TAG.NUMBER_OF_TAG' | translate}}<sup
              class="font-Cairo-Regular text-[15px] text-[#E73C3E] ltr:-left-px rtl:-right-px top-0"> *</sup>
          </label>
          <input type="text" id="numberOfTag" name="numberOfTag" [(ngModel)]="formData.numberOfTag" required
            [class.error]="isSubmitted && !form?.controls?.numberOfTag?.valid" onlyNumbers
            class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] pl-4 pr-[46px]"
            placeholder="{{'PLACEHOLDER.NUMBER_GCC' | translate }}" />
          <span *ngIf="isSubmitted && !form?.controls?.numberOfTag?.valid"
            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
            |translate}}</span>
        </div>
        <div class="w-full lg:w-1/2 relative">
          <label for="qid"
            class="font-Cairo-Regular text-[15px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">
            {{'E_TAG.QID' | translate}}<sup
              class="font-Cairo-Regular text-[15px] text-[#E73C3E] ltr:-left-px rtl:-right-px top-0"> *</sup>
          </label>
          <input type="text" id="qid" name="qid" [(ngModel)]="formData.qid" required onlyNumbers
            [class.error]="isSubmitted && !form?.controls?.qid?.valid"
            class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] pl-4 pr-[46px]"
            placeholder="{{'PLACEHOLDER.QID' | translate }}" />
          <span *ngIf="isSubmitted && !form?.controls?.qid?.valid"
            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
            |translate}}</span>
        </div>
      </div>
    </div>
    <p class="font-Poppins-Medium text-lg leading-[50px] text-black pt-[34px]">
      {{'E_TAG.NATIONAL_ADDRESS' | translate}}
    </p>
    <div class="flex flex-col gap-[42px] pt-8">
      <div class="flex flex-col lg:flex-row gap-x-32 gap-y-4">
        <div class="w-full lg:w-1/2 relative">
          <label for="zoneNumber"
            class="font-Cairo-Regular text-[15px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">
            {{'E_TAG.ZONE_NUMBER' | translate}}
            <sup class="font-Cairo-Regular text-[15px] text-[#E73C3E] ltr:-left-px rtl:-right-px top-0"> *</sup>
          </label>
          <input type="text" id="zoneNumber" name="zoneNumber" [(ngModel)]="formData.zoneNumber" required
            [class.error]="isSubmitted && !form?.controls?.zoneNumber?.valid" onlyNumbers
            class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] pl-4 pr-[46px]"
            placeholder="{{'PLACEHOLDER.ZONE' | translate }}" />
          <span *ngIf="isSubmitted && !form?.controls?.zoneNumber?.valid"
            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
            |translate}}</span>
        </div>
        <div class="w-full lg:w-1/2 relative">
          <label for="streetNumber"
            class="font-Cairo-Regular text-[15px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">
            {{'E_TAG.STREET_NUMBER' | translate}}
            <sup class="font-Cairo-Regular text-[15px] text-[#E73C3E] ltr:-left-px rtl:-right-px top-0"> *</sup>
          </label>
          <input type="text" id="streetNumber" name="streetNumber" [(ngModel)]="formData.streetNumber" required
            [class.error]="isSubmitted && !form?.controls?.streetNumber?.valid"
            class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] pl-4 pr-[46px]"
            placeholder="{{'PLACEHOLDER.ZONE' | translate }}" onlyNumbers />
          <span *ngIf="isSubmitted && !form?.controls?.streetNumber?.valid"
            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
            |translate}}</span>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row gap-x-32 gap-y-4">
        <div class="w-full lg:w-1/2 relative">
          <label for="building"
            class="font-Cairo-Regular text-[15px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">
            {{'E_TAG.BUILDING' | translate}}
            <sup class="font-Cairo-Regular text-[15px] text-[#E73C3E] ltr:-left-px rtl:-right-px top-0"> *</sup>
          </label>
          <input type="text" id="building" name="building" [(ngModel)]="formData.building" required
            [class.error]="isSubmitted && !form?.controls?.building?.valid"
            class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] pl-4 pr-[46px]"
            placeholder="{{'PLACEHOLDER.BUILDING' | translate }}" />
          <span *ngIf="isSubmitted && !form?.controls?.building?.valid"
            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
            |translate}}</span>
        </div>
        <div class="w-full lg:w-1/2 relative">
          <label for="unit"
            class="font-Cairo-Regular text-[15px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">
            {{'E_TAG.UNIT' | translate}}
            <sup class="font-Cairo-Regular text-[15px] text-[#E73C3E] ltr:-left-px rtl:-right-px top-0"> *</sup>
          </label>
          <input type="text" id="unit" name="unit" [(ngModel)]="formData.unit" required
            [class.error]="isSubmitted && !form?.controls?.unit?.valid"
            class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] pl-4 pr-[46px]"
            placeholder="{{'PLACEHOLDER.UNIT' | translate }}" />
          <span *ngIf="isSubmitted && !form?.controls?.unit?.valid"
            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
            |translate}}</span>
        </div>
      </div>
    </div>
    <div class="flex flex-col lg:flex-row justify-between gap-2 pt-16">
      <button type="button" class="flex gap-[14px]" (click)="back()">
        <app-svg src="assets/svgs/arrow.svg" customClass="ltr:rotate-90 rtl:-rotate-90" label="title_goas_here"
          [stretch]="false" width="20" height="20" stroke="#000000"></app-svg>
        <span class="font-Cairo-Regular text-base leading-8 text-black">{{'RETAIL.BACK' | translate}}</span>
      </button>
      <div class="flex flex-col lg:flex-row gap-3">
        <button type="button" (click)="onSubmit(form,true)"
          class="border py-[2.5px] px-6 border-solid border-[#009933] rounded-[5px] font-Cairo-Regular text-base leading-8 text-[#008545] capitalize">
          {{'RETAIL.SAVE_AND_CONTINUE_LATER' | translate}}
        </button>
        <button type="submit"
          class="rounded-[5px] py-[2.5px] px-8 font-Cairo-Regular text-base leading-8 bg-[#00852C] text-white capitalize">
          {{'RETAIL.NEXT' | translate}}
        </button>
      </div>
    </div>
  </div>
</form>