<div class="w-full pt-12 pb-10" *ngIf="showTenderSupplierTable">
  <div class="flex lg:flex-row justify-between pb-6">
    <p class="ltr:text-left rtl:text-right font-Cairo-Bold text-xl leading-[25px] text-black flex items-center">
      {{'TINDER.ACTIVE_TINDER' | translate}}
    </p>
    <div class="flex flex-row gap-[10px]">
      <!-- DD-MM-YYYY -->
      <app-date-picker-forth-style [data]="{placeholder: 'PLACEHOLDER.DATE', value: dateFrom}" [max]="dateTo"
        (dateChange)="dateFromChange($event)"></app-date-picker-forth-style>
      <app-date-picker-forth-style [data]="{placeholder: 'PLACEHOLDER.DATE', value: dateTo}" [min]="dateFrom"
        (dateChange)="dateToChange($event)"></app-date-picker-forth-style>
    </div>
  </div>
  <div class="relative overflow-x-auto mb-16">
    <table class="w-full text-sm ltr:text-left rtl:text-right text-white">
      <thead class="text-sm leading-6 text-white font-Cairo-Regular bg-[#011C35]">
        <tr>
          <th *ngFor="let headItem of table.thead" scope="col">{{headItem | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-b" *ngFor="let bodyItem of table.tbody">

          <ng-container *ngFor="let innerItem of bodyItem" class="w-[calc(100%/7)]">
            <td *ngIf="!innerItem.button" scope="row" [class]="innerItem.class">
              <span *ngIf="!innerItem?.link" class="line-clamp-2">
                {{innerItem?.value && (innerItem?.value?.en || innerItem?.value?.ar) ?
                innerItem?.value[lang] : innerItem?.value}}
              </span>
              <!-- <a *ngIf="innerItem?.link" [routerLink]="innerItem?.link | routeLocalization">
                {{innerItem?.value && (innerItem?.value?.en || innerItem?.value?.ar) ?
                innerItem?.value[lang] : innerItem?.value}}
              </a> -->
            </td>
            <td *ngIf="innerItem.button" scope="row" [class]="innerItem.class" class="w-auto">
              <app-btn-one class="whitespace-nowrap" textClass="font-Cairo-Regular w-auto px-4"
                [link]="innerItem.button.link" [text]="innerItem.button.text" seoDesc="Text about the button"
                svg="assets/svgs/arrow.svg" svgClass="rotate-[270deg]"></app-btn-one>
            </td>
          </ng-container>

        </tr>
      </tbody>
    </table>
  </div>
  <app-btn-one (click)="toggleTableVisibility()" textClass="font-Cairo-Regular" text="TINDER.VIEW_ALL_TINDERS"
    seoDesc="Text about the button" svg="assets/svgs/arrow.svg" svgClass="rotate-[270deg]"></app-btn-one>
</div>