<section class="relative overflow-hidden rounded-[20px]">
    <owl-carousel-o #owlCarousel [options]="customOptions" (change)="onChange($event)">
        <ng-container *ngFor="let slide of data; let i = index">
            <ng-template carouselSlide [id]="'hero-img-' + (i + 1)">


                <div *ngIf="slide.image">
                    <img [defaultImage]="'loadingImage'| imageSource" [errorImage]="'errorImage'| imageSource"
                        [lazyLoad]="slide.image | imageSource" alt="" class="h-auto w-full" />
                    <ng-container *ngTemplateOutlet="slideContent; context: { slide: slide }"></ng-container>
                </div>

                <div *ngIf="slide.video && showVideo" class="bg-no-repeat bg-cover bg-center">
                    <div class="h-[561px] relative" style="height: 561px !important;">
                        <div class="w-full h-full absolute left-0 top-0">
                            <div class="w-full h-full relative" [innerHTML]="slide.video">
                            </div>
                        </div>
                    </div>
                    <ng-container *ngTemplateOutlet="slideContent; context: { slide: slide }"></ng-container>
                </div>


            </ng-template>
        </ng-container>
    </owl-carousel-o>
</section>


<ng-template #slideContent let-slide="slide">
    <div class="h-auto">
        <hr class="border-t-[6px] border-[#011C35]" />
        <p class="h-auto text-center font-Cairo-Bold text-[#011C35] lg:text-[28px] lg:leading-[30px] pt-[18px] pb-4 px-20"
            [innerHTML]="slide.title[lang]">
        </p>
        <div class="h-auto text-center pb-6 px-20">
            <div class="inline-block" [innerHTML]="slide.description[lang]"></div>
        </div>
    </div>
</ng-template>