<div class="relative" appClickOutSide (appOutsideClick)="isDDlEnabled ? isDDlEnabled = false : ''">
    <div class="flex-1 relative mt-10">
        <label
            class="ltr:text-left rtl:text-right absolute ltr:left-4 rtl:right-4 top-[-14px] px-1 bg-white font-Cairo-Regular text-sm leading-8 text-[#717171] capitalize"
            for="">{{'TIME.CHOOSE_TIME' | translate}}
            <sup class="font-Cairo-Regular text-[15px] text-[#E73C3E] ltr:-left-px rtl:-right-px top-0">*</sup>
        </label>
        <button (click)="isDDlEnabled = !isDDlEnabled"
            class="w-full border ltr:text-left rtl:text-right border-solid border-[#E0E0E0] rounded-md h-[61px] ltr:pl-5 ltr:pr-[50px] rtl:pr-5 rtl:pl-[50px] text-[#2B2B2B] font-Poppins-Light text-sm"
            type="button">{{getSelectedSlots().length > 0 ? getSelectedSlots() : ('TIME.CHOOSE_TIME' |
            translate)}}</button>
        <div class="absolute ltr:right-0 rtl:left-0 bottom-0 h-[61px] w-[50px] flex justify-center items-center">
            <app-svg src="assets/svgs/arrow.svg" customClass="" label="title_goas_here" [stretch]="false" width="28"
                stroke="#000000"></app-svg>
        </div>
    </div>
    <div *ngIf="isDDlEnabled"
        class="bg-white shadow-[0px_1px_13px_#0000001A] absolute ltr:left-0 rtl:right-0 top-[61px] py-4 px-[14px] w-full z-10">
        <ul class="flex flex-wrap gap-2">
            <li *ngFor="let time of data" [class.disabled]="time.isDisabled" [class.selected]="time.isSelected">
                <button type="button" (click)="toggleSelection(time)"
                    class="bg-white border border-solid border-[#ECECEE] rounded-sm py-0.5 px-1 text-[#221E20] font-Poppins-Light text-xs leading-[18px]">{{time.slot}}</button>
            </li>
        </ul>
    </div>
</div>