<div class="mt-[55px] pb-8">
    <div class="max-w-desktop mx-auto px-4 lg:px-11 pb-[30px]">
        <ng-container *ngIf="galleries.data.length > 0">
            <ul *ngIf="galleries.data.length > 0" class="w-full flex flex-row flex-wrap gap-y-5">
                <li *ngFor="let gallery of galleries.data;let i = index" class="w-full lg:w-1/4 lg:px-1.5">
                    <button type="button" #card [ngStyle]="{height: height + 'px'}"
                        class="h-[310px] w-full relative after:absolute after:left-0 after:top-0 after:w-full after:h-full after:bg-black after:bg-opacity-50 group hover:after:bg-opacity-80 transition-all after:rounded rounded"
                        (click)="openModal(gallery,i)">
                        <img class="w-full h-full" [defaultImage]="'loadingImage'| imageSource"
                            [errorImage]="'errorImage'| imageSource" [lazyLoad]="gallery.img | imageSource" alt="" />
                        <div
                            class="absolute text-center left-0 top-0 z-[1] px-4 overflow-hidden h-full pb-1 group-hover:lg:pb-2 w-full flex flex-col justify-end">
                            <span class="font-Cairo-Bold text-white leading-[25px]"
                                [innerHTML]="gallery.title[lang]"></span>
                            <div class="font-Cairo-Regular text-white text-sm hidden group-hover:line-clamp-6"
                                [innerHTML]="gallery.desc[lang]">
                            </div>
                        </div>
                    </button>
                </li>
            </ul>
            <!-- <app-btn-one *ngIf="!isInfiniteScrollEnabled && isThereMoreData" textClass="font-Cairo-Regular text-lg"
                (onClick)="loadMore()" text="SHARED.VIEW_ALL" seoDesc="SHARED.VIEW_ALL" svg="assets/svgs/arrow.svg"
                svgClass="rotate-[270deg]"></app-btn-one> -->
        </ng-container>
        <app-no-data *ngIf="galleries.data.length === 0"></app-no-data>
    </div>
    <div *ngIf="isLoadingEnabled && galleries.data.length > 0" class="h-[171px] bg-white flex items-center justify-center">
        <app-component-loader></app-component-loader>
    </div>
    <app-pagination *ngIf="!isLoadingEnabled && galleries.data.length > 0" [data]="galleries.pagination" class="mt-4"
        (changePage)="changePage($event)"></app-pagination>
</div>


<app-modal [template]="modalTemplatePlaceholder" [isModalEnabled]="isModalEnabled"
    (closeModalByKeyboard)="isModalEnabled = false" modalClasses="w-[90%] max-w-[1261px]">
    <ng-template #modalTemplatePlaceholder>
        <div class="bg-[#C4C4C4] relative rounded-[20px]">
            <app-galleries-modal *ngIf="isModalEnabled && data.length > 0" [data]="data"></app-galleries-modal>
            <div class="absolute z-10 ltr:left-[38px] rtl:right-[38px] top-[36px] flex gap-2">
                <span class="text-[#009933] text-xs leading-[30px] pt-5 lg:pt-0">{{'SHARE_BREADCRUMB.SHARE_THIS' |
                    translate}}:</span><app-socail-media-icons-news [metaData]="{}"
                    link="media-center/multimedia/galleries"></app-socail-media-icons-news>
            </div>
            <button
                class="absolute ltr:right-0 rtl:left-0 top-0 bg-white z-10 p-[14px] rounded-[20px] h-[49px] w-[49px] flex justify-center items-center"
                (click)="isModalEnabled = false">
                <span class="font-Futura-Bk-BT-Medium text-[#011C35] text-[20px] leading-8">X</span>
            </button>
        </div>
    </ng-template>
</app-modal>