.error{
    @apply border-[#e83d3d];
    & ~ label{
        @apply text-[#e83d3d];
    }
}
input:disabled {
    opacity: 0.6;
    cursor: not-allowed; 
    background-color: #ffffff;
  }
.isFormEnabled {

    cursor: not-allowed; 
} 