<div class="text-white relative">
    <br><br><br><br><br><br>
    <div class="striped-background bg-dark"></div>

    <div class="relative z-10 section pb-6">
        <h1 class="text-4xl mb-4">Template</h1>


        <div>
            <h1 class="text-white mb-4 text-2xl">Button:</h1>
            <div class="flex gap-4">
                <button type="button"
                    class="text-primary bg-white hover:text-white hover:bg-primary transition-all focus:ring-4 focus:outline-none focus:ring-blue-300  font-normal rounded-lg text-sm px-4 py-2 text-center">Button
                    1</button>

                <button type="button"
                    class="text-white bg-primary hover:text-primary hover:bg-white transition-all focus:ring-4 focus:outline-none focus:ring-blue-300  font-normal rounded-lg text-sm px-4 py-2 text-center">Button
                    2</button>

                <button type="button"
                    class="text-primary border border-solid border-transparent hover:text-primary hover:border-primary transition-all focus:ring-4 focus:outline-none focus:ring-blue-300  font-normal rounded-lg text-sm px-4 py-2 text-center">Link</button>

                <button type="button"
                    class="text-primary border border-solid border-primary hover:border-white hover:text-white transition-all focus:ring-4 focus:outline-none focus:ring-blue-300  font-normal rounded-lg text-sm px-4 py-2 text-center">Link</button>

            </div>
        </div>

        <div>
            <h1 class="text-white mb-4 text-2xl">Disabled Button:</h1>
            <div class="flex gap-4">
                <button type="button"
                    class="text-primary bg-white hover:text-white hover:bg-primary transition-all focus:ring-4 focus:outline-none focus:ring-blue-300  font-normal rounded-lg text-sm px-4 py-2 text-center disable-ele">Button
                    1</button>

                <button type="button"
                    class="text-white bg-primary hover:text-primary hover:bg-white transition-all focus:ring-4 focus:outline-none focus:ring-blue-300  font-normal rounded-lg text-sm px-4 py-2 text-center disable-ele">Button
                    2</button>

                <button type="button"
                    class="text-primary border border-solid border-transparent hover:text-primary hover:border-primary transition-all focus:ring-4 focus:outline-none focus:ring-blue-300  font-normal rounded-lg text-sm px-4 py-2 text-center disable-ele">Link</button>

                <button type="button"
                    class="text-primary border border-solid border-primary hover:border-white hover:text-white transition-all focus:ring-4 focus:outline-none focus:ring-blue-300  font-normal rounded-lg text-sm px-4 py-2 text-center disable-ele">Link</button>

            </div>
        </div>

        <div class="mt-10">
            <h1 class="text-white mb-4 text-2xl">Text Size heading:</h1>
            <div class="flex flex-col gap-4">

                <h1 class="text-[28px]  font-thin">h1 | 28px | Lorem Ipsum is simply dummy text of the
                    printing and
                    typesetting industry.</h1>

                <h2 class="text-[26px]  font-thin">h2 | 26px | Lorem Ipsum is simply dummy text of the
                    printing and
                    typesetting industry.</h2>

                <h3 class="text-[24px]  font-thin">h3 | 24px | Lorem Ipsum is simply dummy text of the
                    printing and
                    typesetting industry.</h3>

                <h4 class="text-[22px]  font-thin">h4 | 22px | Lorem Ipsum is simply dummy text of the
                    printing and
                    typesetting industry.</h4>

                <h5 class="text-[20px]  font-thin">h5 | 20px | Lorem Ipsum is simply dummy text of the
                    printing and
                    typesetting industry.</h5>

                <h6 class="text-[18px]  font-thin">h6 | 18px | Lorem Ipsum is simply dummy text of the
                    printing and
                    typesetting industry.</h6>

            </div>
        </div>

        <div class="mt-10">
            <h1 class="text-white mb-4 text-2xl">Text Size paragraph:</h1>
            <div class="flex flex-col gap-4">

                <p class="text-[16px]  font-thin">p | 16px | Lorem Ipsum is simply dummy text of the
                    printing and
                    typesetting industry.</p>

            </div>
        </div>

        <div class="mt-10">
            <h1 class="text-white mb-4 text-2xl">Fonts:</h1>
            <div class="flex flex-col gap-4">

                <h1 class="text-[28px]  font-black"> font-black 900</h1>
                <h1 class="text-[28px]  font-extrabold italic"> font-extrabold italic 800</h1>
                <h1 class="text-[28px]  font-bold"> font-bold 700</h1>
                <h1 class="text-[28px]  font-bold italic"> font-bold italic 700</h1>

                <h1 class="text-[28px]  font-medium"> font-medium 500</h1>
                <h1 class="text-[28px]  font-normal"> font-normal 400</h1>


                <h1 class="text-[28px]  font-light"> font-light 300</h1>
                <h1 class="text-[28px]  font-light italic"> font-light italic 300</h1>


                <h1 class="text-[28px]  font-extralight"> font-extralight 200</h1>
                <h1 class="text-[28px]  font-extralight italic"> font-extralight italic 200</h1>

                <h1 class="text-[28px]  font-thin"> font-thin 100</h1>
                <h1 class="text-[28px]  font-thin italic"> font-thin italic 100</h1>

            </div>
        </div>

        <div class="mt-10">
            <h1 class="text-white mb-4 text-2xl">Logo:</h1>
            <div class="flex flex-col gap-8">

                <div>
                    <div class="bg-white p-4 w-max border border-solid border-white">
                        <img class="w-80" src="assets/svgs/logo.svg" />
                    </div>
                </div>

                <div>
                    <div class="bg-[rgb(128,45,61)] p-4 w-max border border-solid border-white">
                        <img class="w-80" src="assets/svgs/logo-sticky.svg" />
                    </div>
                </div>

                <div>
                    <div class="bg-transparent p-4 w-max border border-solid border-white">
                        <img class="w-80" src="assets/images/mobile-section/logo.png" />
                    </div>
                </div>

            </div>
        </div>

        <div class="mt-10">
            <h1 class="text-white mb-4 text-2xl">Dummy Text:</h1>
            <div class="flex flex-col gap-8">

                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                    with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    <br><br>
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed to using 'Content here, content here', making it look like
                    readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                    default model text, and a search for 'lorem ipsum' will uncover many web sites still in their
                    infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose
                    (injected humour and the like).
                    <br><br>
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                    classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin
                    professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words,
                    consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical
                    literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33
                    of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This
                    book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of
                    Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                    <br><br>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form, by injected humour, or randomised words which don't look even slightly
                    believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet
                    tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                    It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures,
                    to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free
                    from repetition, injected humour, or non-characteristic words etc.
                </p>
                <br><br>
                <p class="text-right" dir="rtl">
                    هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض
                    النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً
                    أن ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. بينما تعمل جميع مولّدات نصوص
                    لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع من نص لوريم إيبسوم نفسه عدة مرات بما تتطلبه الحاجة،
                    يقوم مولّدنا هذا باستخدام كلمات من قاموس يحوي على أكثر من 200 كلمة لا تينية، مضاف إليها مجموعة من
                    الجمل النموذجية، لتكوين نص لوريم إيبسوم ذو شكل منطقي قريب إلى النص الحقيقي. وبالتالي يكون النص
                    الناتح خالي من التكرار، أو أي كلمات أو عبارات غير لائقة أو ما شابه. وهذا ما يجعله أول مولّد نص لوريم
                    إيبسوم حقيقي على الإنترنت.
                    <br><br>
                    هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل
                    الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها
                    تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي"
                    فتجعلها تبدو (أي الأحرف) وكأنها نص مقروء. العديد من برامح النشر المكتبي وبرامح تحرير صفحات الويب
                    تستخدم لوريم إيبسوم بشكل إفتراضي كنموذج عن النص، وإذا قمت بإدخال "lorem ipsum" في أي محرك بحث ستظهر
                    العديد من المواقع الحديثة العهد في نتائج البحث. على مدى السنين ظهرت نسخ جديدة ومختلفة من نص لوريم
                    إيبسوم، أحياناً عن طريق الصدفة، وأحياناً عن عمد كإدخال بعض العبارات الفكاهية إليها.
                    <br><br>
                    لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في
                    صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر عندما
                    قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائي أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع
                    شكلي لهذه الأحرف. خمسة قرون من الزمن لم تقضي على هذا النص، بل انه حتى صار مستخدماً وبشكله الأصلي في
                    الطباعة والتنضيد الإلكتروني. انتشر بشكل كبير في ستينيّات هذا القرن مع إصدار رقائق "ليتراسيت"
                    (Letraset) البلاستيكية تحوي مقاطع من هذا النص، وعاد لينتشر مرة أخرى مؤخراَ مع ظهور برامج النشر
                    الإلكتروني مثل "ألدوس بايج مايكر" (Aldus PageMaker) والتي حوت أيضاً على نسخ من نص لوريم إيبسوم.
                    <br><br>
                    خلافاَ للإعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن له جذور في الأدب اللاتيني الكلاسيكي
                    منذ العام 45 قبل الميلاد، مما يجعله أكثر من 2000 عام في القدم. قام البروفيسور "ريتشارد ماك لينتوك"
                    (Richard McClintock) وهو بروفيسور اللغة اللاتينية في جامعة هامبدن-سيدني في فيرجينيا بالبحث عن أصول
                    كلمة لاتينية غامضة في نص لوريم إيبسوم وهي "consectetur"، وخلال تتبعه لهذه الكلمة في الأدب اللاتيني
                    اكتشف المصدر الغير قابل للشك. فلقد اتضح أن كلمات نص لوريم إيبسوم تأتي من الأقسام 1.10.32 و 1.10.33
                    من كتاب "حول أقاصي الخير والشر" (de Finibus Bonorum et Malorum) للمفكر شيشيرون (Cicero) والذي كتبه
                    في عام 45 قبل الميلاد. هذا الكتاب هو بمثابة مقالة علمية مطولة في نظرية الأخلاق، وكان له شعبية كبيرة
                    في عصر النهضة. السطر الأول من لوريم إيبسوم "Lorem ipsum dolor sit amet.." يأتي من سطر في القسم
                    1.20.32 من هذا الكتاب.
                </p>

            </div>
        </div>

        <div class="mt-10">
            <h1 class="text-white mb-4 text-2xl">Icons:</h1>
            <div class="flex flex-wrap gap-4">

                <div *ngFor="let icon of icons"
                    class="bg-black border border-solid border-white w-1/6 h-32 rounded-md flex items-center justify-center">
                    <app-svg [src]="'assets/svgs/' + icon.name + '.svg'" customClass="" label="title_goas_here"
                        [stretch]="false" width="32" [stroke]="icon.stroke" [fill]="icon.fill"></app-svg>
                </div>

            </div>
        </div>

        <div class="mt-10">
            <h1 class="text-white mb-4 text-2xl">Colors:</h1>
            <div class="flex flex-wrap gap-4">

                <div
                    class="bg-dark border border-solid border-white w-1/6 h-32 rounded-md flex items-center justify-center">
                    dark | #2e2b28
                </div>

                <div class="bg-primary w-1/6 h-32 rounded-md flex items-center justify-center">
                    primary | #802d3d
                </div>

                <div class="bg-secondary w-1/6 h-32 rounded-md flex items-center justify-center text-black">
                    secondary | #e0bdba
                </div>

            </div>
        </div>

    </div>
</div>