<!-- links file  -->
<!-- <section class="bg-white" *ngIf="linksType == 'links'">
    <div class="max-w-desktop mx-auto px-4 py-8 lg:px-10">
        <ul>
            <li class="mb-6" *ngFor="let item of data">
                <p class="text-[24px] mb-8 font-Cairo-Bold" [innerText]=" lang=='en' ? item.titleEN : item.titleAR"></p>
                <ul>
                    <li class="flex align-center mb-4" *ngFor="let link of item?.filesList">
                        <img src="assets/images/arrow-right.png" class="object-contain rtl:rotate-180" width="20"
                            height="10" alt="">
                        <a class="px-6 text-[20px]" [innerText]="lang == 'en' ? link.titleEN : link.titleAR"
                            target="_blank" [href]="link?.filesID | file"></a>
                    </li>
                </ul>
            </li>
        </ul>
        <hr>
    </div>
</section> -->

<!-- pdf files  -->
<section class="bg-white" *ngIf="linksType == 'pdf'">
    <div class="max-w-desktop mx-auto px-4 py-2 lg:px-10">
        <ul>
            <li *ngFor="let item of data">
                <p class="text-[24px] my-6 font-Cairo-Bold" [innerText]=" lang=='en' ? item.titleEN : item.titleAR">
                </p>
                <div class="bg-[#F7F7F7] p-4">
                    <ul>
                        <li class="flex align-center p-4 even:bg-white odd:bg-[#ECECEC]"
                            *ngFor="let link of item?.filesList">
                            <img src="assets/images/arrow-right.webp" class="object-contain rtl:rotate-180" width="20"
                                height="10" alt="">
                            <!-- <img src="assets/images/pdf.png" class="object-contain" width="20" height="10" alt=""> -->
                            <a class="px-6 text-[20px] font-Cairo-Bold" [innerText]=" lang=='en' ? link.titleEN :
                        link.titleAR" target="_blank" [href]="link?.filesID | file"></a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>