
<app-hero-half *ngIf="carousel.length > 0" [data]="carousel"
    [isLoadingEnabled]="isSliderLoadingEnabled"></app-hero-half>
    <app-breadcrumb-section-second-style [breadCrumb]="breadCrumb" [link]="'investor-relations'"></app-breadcrumb-section-second-style>
<app-our-story *ngIf="carousel.length === 0" [title]="data?.title[lang]"
    [text]="data?.description[lang]"></app-our-story>

<!-- marqueeIfram  -->
<section class="bg-white relative pt-4">
    <app-detailed-body class="without-padding" [data]="data?.marqueeIframe[lang]" [fullWIdth]="true"></app-detailed-body>
</section>


<!-- pressReleaseIframe  -->
<section class="max-w-desktop mx-auto">
    <app-detailed-body [data]="data?.pressReleaseIframe[lang]"></app-detailed-body>
</section>

<!-- investor-relations-dertail'sstory  -->
<app-our-story textAlign="text-center" [text]="data?.contentBox[lang]"></app-our-story>

<!-- stockShareIframe -->
<section class="bg-[#003399] py-4 overflow-hidden">
    <app-detailed-body class="without-padding" [data]="data?.stockShareIframe[lang]"></app-detailed-body>
</section>

<!-- content gallery pages  -->
<app-galleries-pages [data]="data" [lang]="lang" pagesLayout="gallery"></app-galleries-pages>

<!-- content row pages -->
<app-galleries-pages [data]="data" [lang]="lang" pagesLayout="row"></app-galleries-pages>

<app-become-supplier [data]="contactBox" [lang]="lang"></app-become-supplier>