<section class="bg-white">
    <div class="max-w-desktop mx-auto px-4 lg:px-10 flex flex-col lg:flex-row justify-between pt-[85px] pb-14"
        [class.lg:flex-row-reverse]="rtl">

        <div class="w-full lg:w-3/5 self-center order-2 lg:order-1" [class.ms-12]="rtl">
            <p *ngIf="data?.title"
                class="mb-2 ltr:text-left rtl:text-right font-Cairo-Bold text-[26px] leading-[56px] text-[#221E20] capitalize"
                [innerHTML]="data?.title[lang]">
            </p>

            <div *ngIf="data?.desc?.[lang]" class="lg:max-w-[627px] px-4">
                <app-detailed-body [data]="data?.desc?.[lang]"></app-detailed-body>
            </div>
            <!-- <p *ngIf="data?.desc"
                class="mb-7 max-w-[627px] ltr:text-left rtl:text-right font-Poppins-Light text-sm leading-6 text-[#011C35]"
                [innerHTML]="data?.desc[lang]">
            </p> -->
            <app-btn-one *ngIf="data?.btn?.link && data?.btn.text" textClass="font-Poppins-Light text-lg" [link]="data?.btn.link"
                [text]="data?.btn.text" seoDesc="Text about the button" svg="assets/svgs/search.svg"></app-btn-one>
        </div>
        <div class="w-full bg-[#ccc] lg:w-2/5 order-1 lg:order-2 pb-4 lg:pb-0 h-fit">
            <img *ngIf="data?.imgType == 'image'" [defaultImage]="'loadingImage'| imageSource"
                [errorImage]="'errorImage'| imageSource" [lazyLoad]="data?.img | imageSource" alt="" title=""
                width="544" height="307" class="h-[307px] w-full" />
            <video *ngIf="data?.imgType == 'video'" [muted]="true" controls width="544" height="307">
                <source [src]="data?.img | imageSource">
                <track kind="captions">
                {{'ERRORS.YOUR_BROWSER_DOES_NOT_SUPPORT_HTML5_VIDEO' | translate}}
            </video>
        </div>
    </div>
</section>