<section class="bg-white">
    <div class="max-w-desktop mx-auto px-4 lg:px-10 flex flex-col lg:flex-row gap-8 justify-center pt-[79px] pb-16">
        <button *ngFor="let item of data.list" class="w-full lg:w-1/5" type="button" (click)="onClick(item)"
            [class.active]="isSelected(item.key)">
            <div
                class="flex flex-col gap-1 w-full h-full bg-[#CBCBCB5E] group hover:bg-[#009933] transition-all rounded-[5px] pb-5 pt-10">

                <div class="flex flex-col gap-3 w-full">
                    <img [src]="item.icon | imageSource" alt="" width="87" height="58"
                        class="w-[87px] h-[58px] mx-auto">

                    <p
                        class="text-center font-Cairo-Regular text-base group-hover:text-white text-[#011C35] transition-all capitalize px-2">
                        {{'PROMOTIONS.PROMOTIONS' | translate}}</p>
                </div>
                <p
                    class="text-center font-Cairo-Regular text-sm group-hover:text-white text-[#011C35] transition-all px-2 w-full">
                    {{item.title[lang]}}</p>
            </div>
        </button>
    </div>
</section>