<section>
    <!-- h-[544px] -->
    <div class="relative pt-8 bg-no-repeat bg-cover bg-center w-full after:absolute after:left-0 after:top-0 after:w-full after:h-full after:bg-black after:bg-opacity-50"
        [class.fullView]="fullView" [ngStyle]="{'background-image': getImage(), height: height + 'px'}">
        <!-- [class.height.px]="height" -->
        <div *ngIf="data?.video">
            <video [muted]="true" [loop]="true" [autoplay]="true" [ngStyle]="{height: height + 'px'}">
                <source [src]="data?.video | imageSource" type="video/mp4">
                <track kind="captions">
                Your browser does not support HTML5 video.
            </video>
        </div>

        <div class="absolute w-full h-full left-0 right-0 px-4 lg:px-10 top-0 max-w-desktop mx-auto flex flex-col justify-end"
            [ngClass]="data?.paddingBottom || 'pb-[61px]'">

            <h1 *ngIf="!data?.link"
                class="ltr:text-left rtl:text-right font-Cairo-Regular text-white uppercase mb-[22px] z-[1]"
                [class]="data?.titleSize ? 'text-[' + data?.titleSize +']' : 'text-[26px]'"
                [innerHTML]="data?.title[lang]">
            </h1>

            <h1 *ngIf="data?.link"
                class="ltr:text-left rtl:text-right font-Cairo-Regular text-white uppercase line-clamp-1 mb-[22px] z-[1]"
                [class]="data?.titleSize ? 'text-[' + data?.titleSize +']' : 'text-[26px]'">
                <a *ngIf="isExternalMethod(data?.link)" [href]="data?.link | routeLocalization" target="_blank"
                    [innerHTML]="data?.title[lang]"></a>
                <a *ngIf="!isExternalMethod(data?.link)" [routerLink]="data?.link | routeLocalization"
                    [innerHTML]="data?.title[lang]"></a>
            </h1>

            <p class="font-Cairo-Regular ltr:text-left rtl:text-right line-clamp-1 text-white z-[1]"
                [class]="data?.descSize ? 'text-[' + data?.descSize +']' : 'text-base'"
                [innerHTML]="data?.description[lang]">
            </p>
        </div>
    </div>
</section>