<app-hero-half [data]="carousel" [isLoadingEnabled]="isSliderLoadingEnabled"></app-hero-half>
<app-breadcrumb-section-second-style [breadCrumb]="breadCrumb" [link]="'product-and-service/product/' +id"
    [metaData]="data"></app-breadcrumb-section-second-style>
<app-detailed-body [data]="data?.details[lang]"></app-detailed-body>
<section class="bg-[#F5F5F5]">
    <app-our-values [lang]="lang" [detailes]="bullets" [title]="area7Title[lang]"></app-our-values>
</section>
<section class="bg-[#003399]" *ngIf="fahesStroy">
    <div class="max-w-desktop mx-auto px-4 lg:px-10 w-full flex flex-col lg:flex-row gap-2 justify-between py-14">
        <p class="text-[25px] leading-[42px] font-Poppins-Medium text-white max-w-[903px]"
            [innerHTML]="fahesStroy?.title?.[lang]"></p>
        <!-- text-2xl -->
        <div class="self-center gap-4 flex items-center">
            <app-btn-one *ngIf="fahesStroy?.href" textClass="font-Poppins-Light text-lg"
                [text]="fahesStroy?.btnText?.[lang]" seoDesc="SHARED.FILTER"
                [link]="fahesStroy?.href | routeLocalization" svg="assets/svgs/arrow.svg"
                svgClass="rotate-[270deg]"></app-btn-one>
        </div>
    </div>
</section>