<app-breadcrumb-section-second-style [breadCrumb]="breadCrumb" [metaData]="{}" ></app-breadcrumb-section-second-style>
<section class="bg-[#F5F5F5]">
    <div class="max-w-desktop mx-auto px-4 lg:px-10 py-28 flex flex-col gap-5">
        <h1 class="text-[#009933] text-center font-Cairo-Bold text-[60px] leading-[70px] capitalize"
            [innerHTML]="data.title[lang]"></h1>
        <p class="text-center font-Cairo-Regular text-[32px] leading-[50px] capitalize text-[#011C35]"
            [innerHTML]="data.desc[lang]"></p>
    </div>
</section>