<section class="bg-[#F5F5F5] pt-[63px] lg:pt-[137px] pb-[63px]">
    <div class="max-w-desktop mx-auto w-full px-4 lg:px-10 gap-x-32 gap-y-4 flex flex-col lg:flex-row">
        <div class="w-full lg:w-[calc(50%-128px)]">
            <!-- <div class="ltr:text-left rtl:text-right font-Cairo-Bold text-[25px] leading-[38px] text-[#011C35] max-w-[432px] mx-auto"
                [innerHTML]="data.body1[lang]">
            </div> -->
            <div *ngIf="data?.body1?.[lang]">
                <app-detailed-body [data]="data?.body1?.[lang]"></app-detailed-body>
            </div>
        </div>
        <div class="w-full lg:w-[calc(50%-128px)]">
            <!-- <div class="ltr:text-left rtl:text-right font-Poppins-Light text-sm leading-[26px] text-[#011C35]"
                [innerHTML]="data.body2[lang]">
            </div> -->
            <div *ngIf="data?.body2?.[lang]">
                <app-detailed-body [data]="data?.body2?.[lang]"></app-detailed-body>
            </div>
        </div>
    </div>
</section>