<section class="bg-[#F5F5F5] relative h-full pt-[100px] lg:pt-0" *ngIf="news.length > 0">
  <div class="max-w-desktop mx-auto px-4 pb-[60px]">
    <div class="bg-white rounded-b-[5px] shadow-[0px_3px_6px_#0000001A] mx-auto px-4 lg:px-10 pt-[96px] pb-[65px]">
      <div class="flex flex-col lg:flex-row justify-between pb-[41px]">
        <p class="ltr:text-left rtl:text-right font-Poppins-Bold text-xl leading-[30px] text-[#221E20]">
          {{ "FAHES_MEDIA_CENTER.OUR_LASTEST_NEWS" | translate }}
        </p>
        <!-- <button type="button" class="flex flex-row gap-2 self-end">
          <p class="ltr:text-left rtl:text-right font-Cairo-Regular font-bold text-sm leading-[26px] text-[#E7131A]">
            {{ "FAHES_MEDIA_CENTER.VIEW" | translate }}
          </p>
          <app-svg src="assets/svgs/long-arrow.svg" customClass="mt-[-3px] ltr:rotate-[0deg] rtl:rotate-[180deg]"
            label="title_goas_here" [stretch]="false" width="16" fill="#E7131A"></app-svg>
        </button> -->
      </div>
      <div class="flex flex-col lg:flex-row gap-[23px]">
        <app-large-view class="flex-1" [data]="news[0]" [lang]="lang"></app-large-view>
        <app-small-view *ngIf="news.length > 1" [data]="news.slice(1,5)"></app-small-view>
      </div>
    </div>
  </div>
</section>
<app-milestones *ngIf="slidesStore.length > 0" [slidesStore]="slidesStore" [lang]="lang"></app-milestones>