<div class="w-full h-[140px] pb-2 px-4 rounded-xl bg-center bg-cover relative group overflow-hidden"
    style="background-image: url('assets/images/listing-1.webp');">
    <div
        class="absolute left-0 top-0 w-full h-full bg-black opacity-50 rounded-xl group-hover:opacity-70 transition-all">
    </div>
    <div class="relative z-10 flex gap-4 items-end h-full">
        <div class="flex-1 translate-y-[44px] group-hover:translate-y-0 transition-all">
            <p class="text-white font-normal text-xl">Husin Alwesi DJ</p>
            <p class="text-white">is simply dummy text of the</p>

            <app-stars class="block mb-1.5" containerClasses="gap-1.5" [fill]="starFill" size="14" colorFill="#802d3d"
                colorEmpty="#ffffff" [isClickable]="false" (onUpdate)="starFill = $event"></app-stars>


            <button type="button" (click)="goToDetails()"
                class="text-white text-sm opacity-0 group-hover:opacity-100 transition-all">Read More</button>
        </div>

        <div class="w-auto translate-x-20 opacity-0 group-hover:opacity-100 group-hover:translate-x-0 transition-all">
            <!-- w 51
        h 66 -->
            <img src="assets/images/listing-item-logo.webp" class="w-auto h-[66px] ml-auto" alt="listing" />
        </div>
    </div>
</div>