<section class="bg-[#F5F5F5] relative h-full">
  <div class="max-w-desktop mx-auto px-4 pb-[60px]">
    <div
      class="bg-white rounded-b-[5px] shadow-[0px_3px_6px_#0000001A] px-4 lg:px-11  pb-[55px] block pt-[120px] lg:pt-[96px]">
      <p class="ltr:text-left rtl:text-right text-[18px] leading-[30px] font-Poppins-Bold text-[#221E20] pb-[30px]">{{
        "FAHES_MEDIA_CENTER.OUR_LASTEST_MULTIMEDIA" | translate }}</p>
      <div
        class="bg-white border border-solid mb-[49px] max-w-[481px] border-[#E0E0E0] rounded relative min-w-[180px] flex justify-between ltr:pl-1.5 ltr:pr-4 rtl:pr-1.5 rtl:pl-4 items-center gap-[14px] h-[50px]">
        <app-ddl-style-second [data]="filterDDL" (onOptionChange)="filterChange($event)"></app-ddl-style-second>
        <input class="font-Poppins-Light text-sm leading-[26px] text-[#2B2B2B] outline-0"
          [placeholder]="'FAHES_MEDIA_CENTER.SEARCH' | translate" name="search" [(ngModel)]="search" />
        <button type="button" (click)="filter()">
          <app-svg src="assets/svgs/search-short.svg" customClass="" label="title_goas_here" [stretch]="false"
            width="24" height="24" fill="#000000"></app-svg>
        </button>
      </div>


      <div class="flex flex-col lg:flex-row flex-wrap gap-[18px] px-0 lg:px-[14px]" *ngIf="multimedia.data.length > 0">
        <ng-container *ngFor="let innerMultimedia of multimedia.data; let outerIndex = index">
          <div class="w-full lg:w-[calc(33.333%-18px)]">
            <img class="w-full h-[483px] cursor-pointer" (click)="fireModal(innerMultimedia, outerIndex)"
              [defaultImage]="'loadingImage'| imageSource" [errorImage]="'errorImage'| imageSource"
              [lazyLoad]="innerMultimedia.img | imageSource" alt="Multimedia" alt="Multimedia" />
          </div>
        </ng-container>
        <!-- 
        <div class="w-full lg:w-[calc(33.333%-18px)] " [routerLink]="'/fahes/details-page' | routeLocalization">
          <img class="w-full h-[483px]" src="assets/images/default-img.webp" alt="">
        </div>
        <div class="w-full lg:w-[calc(33.333%-18px)] " [routerLink]="'/fahes/details-page' | routeLocalization">
          <img class="w-full h-[483px]" src="assets/images/default-img.webp" alt="">
        </div>
        <div class="w-full lg:w-[calc(33.333%-18px)] " [routerLink]="'/fahes/details-page' | routeLocalization">
          <img class="w-full h-[483px]" src="assets/images/default-img.webp" alt="">
        </div>
        <div class="w-full lg:w-[calc(50%-18px)]" [routerLink]="'/fahes/details-page' | routeLocalization">
          <img class="w-full h-[483px]" src="assets/images/default-img.webp" alt="">
        </div>
        <div class="w-full lg:w-[calc(50%-18px)]" [routerLink]="'/fahes/details-page' | routeLocalization">
          <img class="w-full h-[483px]" src="assets/images/default-img.webp" alt="">
        </div>
        <div class="w-full lg:w-[calc(30%-18px)]" [routerLink]="'/fahes/details-page' | routeLocalization">
          <img class="w-full h-[483px]" src="assets/images/default-img.webp" alt="">
        </div>
        <div class="w-full lg:w-[calc(70%-18px)]" [routerLink]="'/fahes/details-page' | routeLocalization">
          <img class="w-full h-[483px]" src="assets/images/default-img.webp" alt="">
        </div> -->
      </div>

      <app-btn-one *ngIf="!isInfiniteScrollEnabled && isThereMoreData" textClass="font-Cairo-Regular text-lg"
        (onClick)="loadMore()" text="FAHES_MEDIA_CENTER.LOAD_MORE" seoDesc="FAHES_MEDIA_CENTER.LOAD_MORE"
        svg="assets/svgs/search.svg" svgClass="rotate-[270deg]" textClass="font-Cairo-Regular text-base"></app-btn-one>

    </div>
    <app-no-data *ngIf="!isLoadingEnabled && multimedia.data.length === 0"></app-no-data>
  </div>
  <div *ngIf="isLoadingEnabled" class="h-[171px] bg-white flex items-center justify-center">
    <app-component-loader></app-component-loader>
  </div>
</section>








<app-modal [template]="modalTemplatePlaceholder" [isModalEnabled]="isModalEnabled"
  (closeModalByKeyboard)="isModalEnabled = false" modalClasses="w-[90%] max-w-[1261px]">
  <ng-template #modalTemplatePlaceholder>
    <div *ngIf="selectedImage" class="bg-[#C4C4C4] relative rounded-[20px]">
      <div class="absolute z-10 ltr:left-[38px] rtl:right-[38px] top-[36px] flex gap-2">
        <span class="text-[#009933] text-xs leading-[30px] pt-5 lg:pt-0">{{'SHARE_BREADCRUMB.SHARE_THIS' |
          translate}}:</span><app-socail-media-icons-news link="media-center/multimedia/images"
          [metaData]="{}"></app-socail-media-icons-news>
      </div>
      <button
        class="absolute ltr:right-0 rtl:left-0 top-0 bg-white z-10 p-[14px] rounded-[20px] h-[49px] w-[49px] flex justify-center items-center"
        (click)="isModalEnabled = false">
        <span class="font-Futura-Bk-BT-Medium text-[#011C35] text-[20px] leading-8">X</span>
        <!-- <app-svg src="assets/svgs/circle-close.svg" customClass="" label="title_goas_here" [stretch]="false"
          width="14" height="22" fill="black" stroke="white"></app-svg> -->
      </button>
      <img class="w-full h-[561px] rounded-t-[20px]" [defaultImage]="'loadingImage'| imageSource"
        [errorImage]="'errorImage'| imageSource" [lazyLoad]="selectedImage.img | imageSource" alt="" title="">
      <div>
        <div class="text-center border-b-[6px] border-[#011C35]">
        </div>
        <div class="text-center font-Cairo-Bold text-[#011C35] lg:text-[28px] lg:leading-[30px] pt-[18px] pb-4"
          [innerHTML]="selectedImage.title[lang]">
        </div>
        <div class="text-center pb-6">
          <!-- <span class="font-Cairo-Bold text-[#011C35] leading-[25px]">{{selectedImage.title[lang]}}</span> -->
          <div [innerHTML]="selectedImage.desc[lang]"></div>
          <!-- {{selectedImage.desc}} {{selectedImage.date}} -->
        </div>
      </div>
    </div>
  </ng-template>
</app-modal>








<app-modal [template]="modalTemplatePlaceholder2" [isModalEnabled]="isModalEnabled2"
  (closeModalByKeyboard)="isModalEnabled2 = false" modalClasses="w-[90%] max-w-[1261px]">
  <ng-template #modalTemplatePlaceholder2>
    <div *ngIf="selectedVideo" class="bg-[#C4C4C4] relative rounded-[20px]">
      <div class="absolute z-10 ltr:left-[38px] rtl:right-[38px] top-[36px] flex gap-2">
        <span class="text-[#009933] text-xs leading-[30px] pt-5 lg:pt-0">{{'SHARE_BREADCRUMB.SHARE_THIS' |
          translate}}:</span><app-socail-media-icons-news [metaData]="{}"
          link="media-center/multimedia/videos"></app-socail-media-icons-news>
      </div>
      <button
        class="absolute ltr:right-0 rtl:left-0 top-0 bg-white z-10 p-[14px] rounded-[20px] h-[49px] w-[49px] flex justify-center items-center"
        (click)="isModalEnabled2 = false">
        <span class="font-Futura-Bk-BT-Medium text-[#011C35] text-[20px] leading-8">X</span>
      </button>
      <div class="pt-[56.25%] h-0 relative">
        <div class="w-full h-full absolute left-0 top-0">
          <div class="w-full h-full relative group">
            <video class="w-full h-full rounded-t-[20px]" controls>
              <source [src]="selectedVideo.video | videoSource" type="video/mp4">
              Your browser does not support the video player.
            </video>
          </div>
        </div>
      </div>
      <div>
        <div class="text-center border-b-[6px] border-[#011C35]">
        </div>
        <div class="px-10 font-Cairo-Bold text-[#011C35] lg:text-[28px] lg:leading-[30px] pt-[18px] pb-4"
          [innerHTML]="selectedVideo.title[lang]">
        </div>
        <div class="pb-6 px-10">
          <!-- <span class="font-Cairo-Bold text-[#011C35] leading-[25px]">{{selectedVideo.title[lang]}}</span>,  -->
          <div class="inline-block" [innerHTML]="selectedVideo.desc[lang]"></div>
          <!-- {{selectedVideo.date}} -->
        </div>
      </div>
    </div>
  </ng-template>
</app-modal>




<app-modal [template]="modalTemplatePlaceholder3" [isModalEnabled]="isModalEnabled3"
  (closeModalByKeyboard)="isModalEnabled3 = false" modalClasses="w-[90%] max-w-[1261px]">
  <ng-template #modalTemplatePlaceholder3>
    <div class="bg-[#C4C4C4] relative rounded-[20px]">
      <app-galleries-modal *ngIf="data.length > 0" [data]="data"></app-galleries-modal>
      <div class="absolute z-10 ltr:left-[38px] rtl:right-[38px] top-[36px] flex gap-2">
        <span class="text-[#009933] text-xs leading-[30px] pt-5 lg:pt-0">{{'SHARE_BREADCRUMB.SHARE_THIS' |
          translate}}:</span><app-socail-media-icons-news [metaData]="{}"
          link="media-center/multimedia/galleries"></app-socail-media-icons-news>
      </div>
      <button
        class="absolute ltr:right-0 rtl:left-0 top-0 bg-white z-10 p-[14px] rounded-[20px] h-[49px] w-[49px] flex justify-center items-center"
        (click)="isModalEnabled3 = false">
        <span class="font-Futura-Bk-BT-Medium text-[#011C35] text-[20px] leading-8">X</span>
      </button>
    </div>
  </ng-template>
</app-modal>