<app-modal [template]="cropModalTemplate" [isModalEnabled]="isModalEnabled"
    (closeModalByKeyboard)="isModalEnabled = false;" modalClasses="inset-0 w-[90%] max-w-[616px]">
    <ng-template #cropModalTemplate>
        <div class="bg-white rounded-xl">
            <div class="modal-header px-[21px] flex justify-end py-4 bg-[#ebebeb] rounded-t-xl relative">
                <p class="w-full text-center font-normal">Crop Image</p>
                <button type="button" (click)="isModalEnabled = false;"
                    class="absolute right-5 top-0 bottom-0 my-auto outline-0">
                    <app-svg src="assets/svgs/close-circle.svg" class="" customClass="" label="title_goas_here"
                        [stretch]="false" width="30" stroke="#802d3d"></app-svg>
                </button>
            </div>
            <div class="modal-body py-7">
                <!--  -->
                <input #fileUploader id="fileUploader" type="file" class="hidden" [accept]="acceptTemp.str"
                    (change)="fileChangeEvent($event)" />

                <!-- [cropperMinHeight]="198" [cropperMinWidth]="198" [resizeToWidth]="198" [resizeToHeight]="198" -->

                <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                    [aspectRatio]="1 / 1" format="webp" [imageQuality]="100" [roundCropper]="true"
                    (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded($event)"
                    (cropperReady)="cropperReady()" [(transform)]="transform" [alignImage]="'center'"
                    [hideResizeSquares]="true" (loadImageFailed)="loadImageFailed()"></image-cropper>



                <div>
                    <div class="flex items-center justify-between gap-1">
                        <button type="button" class="w-5 text-3xl" (click)="zoomOut()">-</button>

                        <div class="slidecontainer">
                            <input type="range" min="1" max="3" step="0.1" [(ngModel)]="scale" class="slider"
                                (input)="rangeInput($event)" />
                        </div>


                        <button type="button" class="w-5 text-3xl" (click)="zoomIn()">+</button>
                    </div>

                    <hr class="border-primary my-4" />

                    <div class="flex justify-end gap-2 px-4">
                        <button class="text-primary px-6 py-2" type="button">Cancel</button>
                        <button class="text-white bg-primary px-6 py-2 rounded-md" type="button">Save</button>
                    </div>
                </div>

                <!-- <img [src]="croppedImage" /> -->
                <!--  -->

            </div>
        </div>
    </ng-template>
</app-modal>