<div class="w-full bg-white shadow-2xl rounded-xl relative">
    <p class="flex justify-between gap-2 px-6 pt-6">
        <span class="text-primary font-medium">Title Title Title
            Title</span>
        <button type="button">
            <app-svg src="assets/svgs/dots.svg" class="" customClass="" label="title_goas_here" [stretch]="false"
                width="15" fill="#802d3d"></app-svg>
        </button>
    </p>
    <p class="text-gray-400 mb-2 px-6 text-xs">Today</p>
    <p class="px-6 mt-0.5 text-[14px] leading-[17px]">Lorem Ipsum is
        simply
        dummy text of the printing
        and
        typesetting
        industry.
        Lorem
        Ipsum has
        been the
        industry's standard dummy text ever since the 1500s</p>
    <div class="mt-2 mb-5">
        <button class="text-primary px-6 text-xs outline-0" type="button">Read
            More</button>
    </div>
    <img class="w-full h-[400px] rounded-b-xl" src="assets/images/post.webp" alt="FOM" />
    <app-post-action></app-post-action>
</div>