<div class="relative bg-cover bg-center h-[80vh]" style="background-image: url('assets/images/blog-details.webp');">
    <div class="relative z-[2] w-full h-full flex items-end justify-center pb-4">
        <h1 class="font-medium text-4xl text-center">Nude - Print Mockup Kit</h1>
    </div>
    <div class="absolute w-full h-full bg-white bg-opacity-50 z-[1] top-0 left-0"></div>

    <div class="absolute w-full h-[80px] bg-white z-[1] -bottom-10 left-0" style="background: linear-gradient(180deg, rgba(131,58,180,0) 0%, rgba(255,255,255,1) 50%, rgba(252,176,69,0) 100%);
"></div>



</div>
<div class="section pt-10 !max-w-[800px]">
    <div class="pt-4">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a
        type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of
        Lorem Ipsum.
        <br><br>
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at
        its
        layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
        to
        using 'Content here, content here', making it look like readable English. Many desktop publishing packages and
        web
        page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many
        web
        sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
        purpose (injected humour and the like).
        <br><br>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
        literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
        College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and
        going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum
        comes
        from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero,
        written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The
        first
        line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
        <br><br>
        <img src="assets/images/blog-details.webp" alt="" class="w-full h-auto" />
        <br><br>
        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
        some
        form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use
        a
        passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All
        the
        Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true
        generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model
        sentence
        structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free
        from
        repetition, injected humour, or non-characteristic words etc.
        <br><br><br>
        <hr class="border-black border-[0.5px] opacity-20" />
        <br>
        <br>
        <div class="flex flex-col gap-8">
            <div class="flex gap-8 items-center">
                <div class="relative">
                    <p class="font-medium text-primary">Share</p>
                    <hr class="border-black w-12 -ml-2" />
                </div>
                <ul class="flex flex-row gap-5">
                    <li>
                        <a href="https://www.google.com/"
                            class="bg-black rounded-full w-8 h-8 flex items-center justify-center">
                            <app-svg src="assets/svgs/x.svg" class="mt-[-3px]" customClass="" label="title_goas_here"
                                [stretch]="false" width="16" fill="white"></app-svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.google.com/"
                            class="bg-black rounded-full w-8 h-8 flex items-center justify-center">
                            <app-svg src="assets/svgs/x.svg" class="mt-[-3px]" customClass="" label="title_goas_here"
                                [stretch]="false" width="16" fill="white"></app-svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.google.com/"
                            class="bg-black rounded-full w-8 h-8 flex items-center justify-center">
                            <app-svg src="assets/svgs/x.svg" class="mt-[-3px]" customClass="" label="title_goas_here"
                                [stretch]="false" width="16" fill="white"></app-svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="w-full">
                <div class="relative">
                    <p class="font-medium text-primary">Related Blogs</p>
                    <hr class="border-black w-12 -ml-2" />
                </div>
                <ul class="flex flex-wrap gap-6 w-full mt-4">
                    <li class="w-full lg:w-[calc(50%-24px)]">
                        <a href="#" class="">
                            Why some people almost always save money with this method
                        </a>
                    </li>
                    <li class="w-full lg:w-[calc(50%-24px)]">
                        <a href="#" class="">
                            Why some people almost always save money with this method
                        </a>
                    </li>
                    <li class="w-full lg:w-[calc(50%-24px)]">
                        <a href="#" class="">
                            Why some people almost always save money with this method
                        </a>
                    </li>
                    <li class="w-full lg:w-[calc(50%-24px)]">
                        <a href="#" class="">
                            Why some people almost always save money with this method
                        </a>
                    </li>
                </ul>
            </div>
            <div class="flex gap-8 items-center pb-12">
                <div class="relative">
                    <p class="font-medium text-primary">Tags</p>
                    <hr class="border-black w-12 -ml-2" />
                </div>
                <ul class="flex flex-wrap gap-1">
                    <li>
                        <a href="#" class="bg-primary text-white rounded-3xl px-2 py-1">
                            #Wedding
                        </a>
                    </li>
                    <li>
                        <a href="#" class="bg-primary text-white rounded-3xl px-2 py-1">
                            #Wedding
                        </a>
                    </li>
                    <li>
                        <a href="#" class="bg-primary text-white rounded-3xl px-2 py-1">
                            #Wedding
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>