<section class="bg-[#f5f5f5]">
  <div class="max-w-desktop px-4 lg:px-10 mx-auto py-[72px]">
    <div class="bg-white pt-[47px] pb-[56px]" style="box-shadow: 0px 3px 6px #00000029">
      <div class="mb-[34px] flex flex-col lg:flex-row">
        <div class="w-full flex flex-col px-[51px]">
          <p class="font-Cairo-Bold text-xl leading-[37px] text-[#003399] ">
            {{'STEPS.PAYMENT' | translate}}
          </p>
          <p class="font-Poppins-Light text-sm leading-[21px]">{{'RETAIL.PAYMENT' | translate}}</p>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row gap-4 lg:gap-[80px] px-4 lg:px-[51px]">
        <div class="w-full max-w-[515px]">
          <div>
            <ul class="flex flex-col gap-2">

              <li
                class="flex justify-between gap-1 items-center py-[13px] px-5 rounded-md bg-white border border-solid shadow-[0px_4px_6px_#0000001A] border-[#E0E0E0] cursor-pointer"
                [class.active]="paymentType === 'CyberSource'" (click)="paymentType = 'CyberSource'">
                <div class="flex items-center gap-3">
                  <app-radio-btn-blue name="paymentType" value="CyberSource" title="" [selected]="paymentType"
                    (onChange)="paymentType = $event"></app-radio-btn-blue>

                  <app-svg src="assets/svgs/credit.svg" customClass="mt-[-3px]" label="title_goes_here"
                    [stretch]="false" width="33" height="35" fill="#000"></app-svg>
                  <div class="flex flex-col gap-1">
                    <p class="font-Cairo-Semi-Bold text-base leading-[22px] text-[#221E20]">
                      CyberSource
                    </p>
                  </div>
                </div>
              </li>

              <li
                class="flex justify-between gap-1 items-center py-[13px] px-5 rounded-md bg-white border border-solid shadow-[0px_4px_6px_#0000001A] border-[#E0E0E0] cursor-pointer"
                [class.active]="paymentType === 'QPay'" (click)="paymentType = 'QPay'">
                <div class="flex items-center gap-3">
                  <app-radio-btn-blue name="paymentType" value="QPay" title="" [selected]="paymentType"
                    (onChange)="paymentType = $event"></app-radio-btn-blue>

                  <app-svg src="assets/svgs/credit.svg" customClass="mt-[-3px]" label="title_goes_here"
                    [stretch]="false" width="33" height="35" fill="#000"></app-svg>
                  <div class="flex flex-col gap-1">
                    <p class="font-Cairo-Semi-Bold text-base leading-[22px] text-[#221E20]">
                      QPay
                    </p>
                  </div>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="mt-[79px] px-4 lg:px-[51px]">
        <div class="w-full mb-[40px]">
          <app-checkbox [data]="termsConditions" [isErrorEnabled]="isSubmitted && !termsConditions.value" [lang]="lang"
            (onChange)="termsConditions.value = $event"></app-checkbox>
        </div>
        <div class="w-full">
          <div class="flex justify-end">
            <app-btn-one textClass="font-Cairo-Regular text-base" (onClick)="toPayment()" text="Proceed"
              seoDesc="RETAIL.NEXT" svg="assets/svgs/arrow.svg" svgClass="rotate-[270deg]"></app-btn-one>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<app-cyber-source-form *ngIf="cyberSourceResponse" [data]="cyberSourceResponse" class="hidden"
  action='https://testsecureacceptance.cybersource.com/pay'></app-cyber-source-form>

<app-payment-form-two *ngIf="qpResponse" [data]="qpResponse" class="hidden"></app-payment-form-two>