<app-breadcrumb-section-second-style [breadCrumb]="breadCrumb" [metaData]="data" [link]="'media-center/news-details/' + id"></app-breadcrumb-section-second-style>
<!-- [link]="'media-center/news-details/' + id" -->
<section class="bg-[#F5F5F5]">
  <div class="max-w-desktop font-Cairo-Regular mx-auto px-4 lg:px-10 pt-8 pb-[26px] lg:pb-6 lg:pt-[72px]">
    <!-- [link]="'media-center/news-details/' + id" -->
    <!-- <app-socail-media-icons-news [metaData]="data"></app-socail-media-icons-news> -->
    <p class="ltr:text-left rtl:text-right text-[#011C35] lg:mb-0 text-[26px] leading-[30px] capitalize font-Cairo-Bold font-bold lg:h-[52px]"
      [innerHTML]="data?.title[lang]"></p>
    <div class="text-[#011C35] text-[16px] leading-[25px] lg:h-[33px] mb-4 lg:mb-0">
      <span class="font-Cairo-Bold font-bold">{{'SHARED.LAST_UPDATE' | translate}}, </span>
      {{data?.date | date:'dd-MM-YYYY'}}
      <!-- {{ ('MONTHS.' + ((data?.date | date:'MMM') || '').toUpperCase()) | translate }}
      {{data?.date | date:'dd'}},
      {{data?.date | date:'YYYY'}} -->
    </div>

    <div *ngIf="!isZoomed" class="pb-12 pt-[33px] lg:min-h-[339px]">
      <img *ngIf="data?.img" #card [ngStyle]="{height: heightMain + 'px'}" (click)="viewImage()"
        class="cursor-pointer ltr:lg:float-right rtl:lg:float-left ltr:lg:ml-[47px] rtl:lg:mr-[47px] mb-8 lg:mb-[87px] w-full lg:w-[422px] lg:max-h-[239px] rounded-[5px]"
        [lazyLoad]="data?.img | imageSource" [defaultImage]="'loadingImage'| imageSource"
        [errorImage]="'errorImage'| imageSource" alt="" />
      <app-detailed-body [data]="data?.body[lang]"></app-detailed-body>
    </div>

    <div *ngIf="isZoomed" class="mb-12 mt-[33px]" [class.image-exist]="data?.img">
      <img *ngIf="data?.img" #card [ngStyle]="{height: heightMain + 'px'}" (click)="viewImage()"
        class="ltr:lg:float-left rtl:lg:float-right ltr:lg:mr-[26px] rtl:lg:ml-[26px] mb-8 lg:mb-[19px] w-full lg:max-w-[720px] lg:max-h-[407px] rounded-[5px] cursor-pointer"
        [lazyLoad]="data?.img | imageSource" [defaultImage]="'loadingImage'| imageSource"
        [errorImage]="'errorImage'| imageSource" alt="" />
      <app-detailed-body [data]="data?.body[lang]"></app-detailed-body>
    </div>


  </div>
</section>
<section class="bg-[#F5F5F5]">
  <app-related-news *ngIf="relatedNews.data.length > 0" [title]="relatedTitle" [cards]="relatedNews"
    [lang]="lang"></app-related-news>
</section>






<app-modal [template]="modalTemplatePlaceholder" [isModalEnabled]="isModalEnabled"
  (closeModalByKeyboard)="isModalEnabled = false" modalClasses="w-max">
  <ng-template #modalTemplatePlaceholder>
    <div *ngIf="selectedImage" class="bg-[#C4C4C4] relative rounded-[20px]">
      <!-- <div class="absolute z-10 ltr:left-[38px] rtl:right-[38px] top-[36px] flex gap-2">
        <span class="text-[#009933] text-xs leading-[30px] pt-5 lg:pt-0">{{'SHARE_BREADCRUMB.SHARE_THIS' |
          translate}}:</span><app-socail-media-icons-news link="media-center/multimedia/images"
          [metaData]="{}"></app-socail-media-icons-news>
      </div> -->
      <button
        class="absolute ltr:right-0 rtl:left-0 top-0 bg-white z-10 p-[14px] rounded-[20px] h-[49px] w-[49px] flex justify-center items-center"
        (click)="isModalEnabled = false">
        <span class="font-Futura-Bk-BT-Medium text-[#011C35] text-[20px] leading-8">X</span>
      </button>

      <!-- [ngStyle]="{height: height + 'px'}" -->
      <img class="w-auto max-w-full rounded-t-[20px] h-auto" [defaultImage]="'loadingImage'| imageSource"
        [errorImage]="'errorImage'| imageSource" [lazyLoad]="selectedImage | imageSource" alt="" title="" />

      <!-- <img class="w-full h-[561px] rounded-t-[20px]" [defaultImage]="'loadingImage'| imageSource"
        [errorImage]="'errorImage'| imageSource" [lazyLoad]="selectedImage.imgMobile | imageSource" alt="" title="" /> -->
    </div>
  </ng-template>
</app-modal>