<div class="partner-swiper-container swiper-container overflow-hidden max-w-[852px] px-5 lg:px-0">
    <div class="swiper-wrapper">
        <div class="swiper-slide !w-full !max-w-[204px]" *ngFor="let ethic of carousel;let i = index">
            <app-partner-item></app-partner-item>
        </div>
    </div>

    <div class="swiper-button-next swiper-partner-button-next"></div>
    <div class="swiper-button-prev swiper-partner-button-prev"></div>
    <div class="swiper-pagination swiper-partner-pagination"></div>
</div>