<div class="flex flex-col w-full px-14 py-16 gap-[69px]">
    <div class="flex gap-6">
        <p class="flex-1 text-lg font-thin">Lorem Ipsum is simply dummy text of
            the printing and
            typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s,
        </p>
    </div>
    <div class="flex flex-col gap-[69px]">
        <button type="button" class="flex justify-between items-center gap-4 w-full">
            <p class="text-primary font-normal">Bussiness Info</p>
            <app-svg src="assets/svgs/arrow.svg" class="mt-[-3px]" customClass="" label="title_goas_here"
                [stretch]="false" width="16" fill="#802d3d"></app-svg>
        </button>
        <div class="flex flex-col items-center gap-8">
            <div class="flex flex-col gap-2 w-full">
                <label for="" class="font-normal">Bussiness name</label>
                <input type="text" placeholder="Bussiness name" class="w-full h-[47px] rounded-xl bg-gray-100 px-4" />
            </div>
            <div class="flex flex-col gap-2 w-full">
                <label for="" class="font-normal">Intro</label>
                <textarea name="" id="" placeholder="descripe who you are"
                    class="w-full rounded-xl bg-gray-100 px-4 py-2 h-28"></textarea>
                <p class="text-right font-thin">101 charachters remaining</p>
            </div>
        </div>
        <div class="flex justify-center items-center gap-8">
            <button type="button" class="text-primary px-2 py-1.5 font-medium">Cancel</button>
            <button type="button" class="bg-primary text-white px-14 py-1.5 rounded-xl font-normal">Save</button>
        </div>
        <div>
            <hr class="border-primary w-[400px] mx-auto" />
        </div>
    </div>

    <div class="flex flex-col gap-[69px]">
        <button type="button" class="flex justify-between items-center gap-4 w-full">
            <p class="text-primary font-normal">Contact Information</p>
            <app-svg src="assets/svgs/arrow.svg" class="mt-[-3px]" customClass="" label="title_goas_here"
                [stretch]="false" width="16" fill="#802d3d"></app-svg>
        </button>
        <div class="flex flex-col items-center gap-8">
            <div class="flex flex-col gap-2 w-full">
                <label for="" class="font-normal">Phone Number</label>
                <input type="text" placeholder="Phone Number" class="w-full h-[47px] rounded-xl bg-gray-100 px-4" />
            </div>
            <div class="flex flex-col gap-2 w-full">
                <label for="" class="font-normal">Website</label>
                <input type="text" placeholder="Website" class="w-full h-[47px] rounded-xl bg-gray-100 px-4" />
            </div>
            <div class="flex flex-col gap-2 w-full">
                <label for="" class="font-normal">Bussiness Address</label>
                <input type="text" placeholder="Bussiness Address"
                    class="w-full h-[47px] rounded-xl bg-gray-100 px-4" />
            </div>
            <div class="flex flex-col gap-2 w-full">
                <label for="" class="font-normal">Bussiness Email</label>
                <input type="text" placeholder="Bussiness Email" class="w-full h-[47px] rounded-xl bg-gray-100 px-4" />
            </div>
        </div>
        <div class="flex justify-center items-center gap-8">
            <button type="button" class="text-primary px-2 py-1.5 font-medium">Cancel</button>
            <button type="button" class="bg-primary text-white px-14 py-1.5 rounded-xl font-normal">Save</button>
        </div>
        <div>
            <hr class="border-primary w-[400px] mx-auto" />
        </div>
    </div>

    <div class="flex flex-col gap-[69px]">
        <button type="button" class="flex justify-between items-center gap-4 w-full">
            <p class="text-primary font-normal">Working hours</p>
            <app-svg src="assets/svgs/arrow.svg" class="mt-[-3px]" customClass="" label="title_goas_here"
                [stretch]="false" width="16" fill="#802d3d"></app-svg>
        </button>
        <div class="flex flex-col gap-8">
            <div class="flex gap-2 justify-between items-center">
                <p class="min-w-[100px]">Monday</p>
                <div class="flex gap-8">
                    <div>
                        <p
                            class="rounded-xl border border-solid border-primary min-w-[150px] min-h-[40px] cursor-pointer flex items-center justify-center">
                            9:00 - 00:00</p>
                    </div>
                    <div>
                        <p
                            class="rounded-xl border border-solid border-primary min-w-[150px] min-h-[40px] cursor-pointer flex items-center justify-center">
                            9:00 - 00:00</p>
                    </div>
                </div>
                <div>
                    <button type="button"
                        class="w-10 h-10 rounded-xl border border-solid border-primary text-primary font-medium">X</button>
                </div>
            </div>
            <div class="flex gap-2 justify-between items-center">
                <p class="min-w-[100px]">Tuesday</p>
                <div class="flex gap-8">
                    <div>
                        <p
                            class="rounded-xl border border-solid border-primary min-w-[150px] min-h-[40px] cursor-pointer flex items-center justify-center">
                            9:00 - 00:00</p>
                    </div>
                    <div>
                        <p
                            class="rounded-xl border border-solid border-primary min-w-[150px] min-h-[40px] cursor-pointer flex items-center justify-center">
                            9:00 - 00:00</p>
                    </div>
                </div>
                <div>
                    <button type="button"
                        class="w-10 h-10 rounded-xl border border-solid border-primary text-primary font-medium">X</button>
                </div>
            </div>
            <div class="flex gap-2 justify-between items-center">
                <p class="min-w-[100px]">Wednesday</p>
                <div class="flex gap-8">
                    <div>
                        <p
                            class="rounded-xl border border-solid border-primary min-w-[150px] min-h-[40px] cursor-pointer flex items-center justify-center">
                            9:00 - 00:00</p>
                    </div>
                    <div>
                        <p
                            class="rounded-xl border border-solid border-primary min-w-[150px] min-h-[40px] cursor-pointer flex items-center justify-center">
                            9:00 - 00:00</p>
                    </div>
                </div>
                <div>
                    <button type="button"
                        class="w-10 h-10 rounded-xl border border-solid border-primary text-primary font-medium">X</button>
                </div>
            </div>
            <div class="flex gap-2 justify-between items-center">
                <p class="min-w-[100px]">Thursday</p>
                <div class="flex gap-8">
                    <div>
                        <p
                            class="rounded-xl border border-solid border-primary min-w-[150px] min-h-[40px] cursor-pointer flex items-center justify-center">
                            9:00 - 00:00</p>
                    </div>
                    <div>
                        <p
                            class="rounded-xl border border-solid border-primary min-w-[150px] min-h-[40px] cursor-pointer flex items-center justify-center">
                            9:00 - 00:00</p>
                    </div>
                </div>
                <div>
                    <button type="button"
                        class="w-10 h-10 rounded-xl border border-solid border-primary text-primary font-medium">X</button>
                </div>
            </div>
            <div class="flex gap-2 justify-between items-center">
                <p class="font-medium min-w-[100px]">Friday</p>
                <div class="flex gap-8">
                    <div>
                        <p
                            class="rounded-xl border border-solid border-primary min-w-[150px] min-h-[40px] cursor-pointer flex items-center justify-center font-medium">
                            9:00 - 00:00</p>
                    </div>
                    <div>
                        <p
                            class="rounded-xl border border-solid border-primary min-w-[150px] min-h-[40px] cursor-pointer flex items-center justify-center font-medium">
                            9:00 - 00:00</p>
                    </div>
                </div>
                <div>
                    <button type="button"
                        class="w-10 h-10 rounded-xl border border-solid border-primary text-primary font-medium">X</button>
                </div>
            </div>
            <div class="flex gap-2 justify-between items-center">
                <p class="min-w-[100px]">Saturday</p>
                <div class="flex gap-8">
                    <div>
                        <p
                            class="rounded-xl border border-solid border-primary min-w-[150px] min-h-[40px] cursor-pointer flex items-center justify-center">
                            9:00 - 00:00</p>
                    </div>
                    <div>
                        <p
                            class="rounded-xl border border-solid border-primary min-w-[150px] min-h-[40px] cursor-pointer flex items-center justify-center">
                            9:00 - 00:00</p>
                    </div>
                </div>
                <div>
                    <button type="button"
                        class="w-10 h-10 rounded-xl border border-solid border-primary text-primary font-medium">X</button>
                </div>
            </div>
            <div class="flex gap-2 justify-between items-center">
                <p class="min-w-[100px]">Sunday</p>
                <div class="flex gap-8">
                    <div>
                        <p
                            class="rounded-xl border border-solid border-primary min-w-[150px] min-h-[40px] cursor-pointer flex items-center justify-center">
                            9:00 - 00:00</p>
                    </div>
                    <div>
                        <p
                            class="rounded-xl border border-solid border-primary min-w-[150px] min-h-[40px] cursor-pointer flex items-center justify-center">
                            9:00 - 00:00</p>
                    </div>
                </div>
                <div>
                    <button type="button"
                        class="w-10 h-10 rounded-xl border border-solid border-primary text-primary font-medium">X</button>
                </div>
            </div>
        </div>
        <div class="flex justify-center items-center gap-8">
            <button type="button" class="text-primary px-2 py-1.5 font-medium">Cancel</button>
            <button type="button" class="bg-primary text-white px-14 py-1.5 rounded-xl font-normal">Save</button>
        </div>
        <div>
            <hr class="border-primary w-[400px] mx-auto" />
        </div>
    </div>

    <div class="flex flex-col gap-[69px]">
        <button type="button" class="flex justify-between items-center gap-4 w-full">
            <p class="text-primary font-normal">Social media accounts</p>
            <app-svg src="assets/svgs/arrow.svg" class="mt-[-3px]" customClass="" label="title_goas_here"
                [stretch]="false" width="16" fill="#802d3d"></app-svg>
        </button>
        <div class="flex flex-col items-center gap-8">
            <div class="flex flex-col gap-2 w-full">
                <label for="" class="font-normal">Facebook</label>
                <input type="text" placeholder="Facebook url" class="w-full h-[47px] rounded-xl bg-gray-100 px-4" />
            </div>
            <div class="flex flex-col gap-2 w-full">
                <label for="" class="font-normal">Instagram</label>
                <input type="text" placeholder="Instagram url" class="w-full h-[47px] rounded-xl bg-gray-100 px-4" />
            </div>
        </div>
        <div class="flex justify-center items-center gap-8">
            <button type="button" class="text-primary px-2 py-1.5 font-medium">Cancel</button>
            <button type="button" class="bg-primary text-white px-14 py-1.5 rounded-xl font-normal">Save</button>
        </div>
    </div>

</div>