<div class="w-full relative bg-[#f5f5f5] rounded-[10px] flex flex-col pt-7 pb-[22px] px-5 border-2 border-solid border-transparent transition-all"
    [class.selected]="data.isSelected" [ngClass]="{'disabled': isDateExpired(data.deadline)}">
    <div class="select-icon absolute ltr:right-[18px] rtl:left-[18px] top-4 opacity-0 transition-all">
        <app-svg src="assets/svgs/correct.svg" customClass="" label="title_goas_here" [stretch]="false" width="20"
            height="20" fill="#009933"></app-svg>
    </div>
    <div class="flex gap-3">
        <!-- <p>{{data?.locationUrl}}</p> -->
        <a [href]="'http://maps.google.com/maps?z=12&t=m&q=loc:' + data.locationUrl.split(',')[0] + '+' + data.locationUrl.split(',')[1]" target="_blank" class="rounded-full w-[36px] h-[36px] bg-[#003399] flex items-center justify-center">
            <app-svg src="assets/svgs/map-marker.svg" customClass="mt-[-3px]" label="title_goas_here" [stretch]="false"
                width="15" stroke="#ffffff"></app-svg>
        </a>
        <div class="flex flex-col gap-[14px] mt-1.5">
            <span class="text-[#003399] font-Cairo-Bold text-sm leading-6">{{data.location[lang]}}</span>
            <div class="flex flex-col">
                <p class="font-Poppins-Medium text-sm leading-[27px] text-[#656565]">{{'KENAR.DEADLINE' | translate}}:
                </p>
                <p class="text-black font-Poppins-Medium text-base">
                    {{data?.deadline | date:'dd-MM-YYYY'}}
                    <!-- {{ ('DAYS.' + ((data.deadline | date:'ccc') || '').toUpperCase()) | translate }}
                    {{ ('MONTHS.' + ((data.deadline | date:'MMM') || '').toUpperCase()) | translate }}
                    {{data.deadline | date:'dd'}}
                    {{data.deadline | date:'YYYY'}} -->
                </p>
            </div>
        </div>
    </div>
    <div class="mt-5 flex gap-[5px]">
        <button type="button" (click)="toggleSelection()"
            class="bg-[#00852C] rounded-[5px] font-Cairo-Regular text-sm leading-8 tracking-[1.21px] text-white w-full h-10">
            {{'KENAR.RENT_SHOP' | translate}}
        </button>
        <button type="button" (click)="showImages()" class="bg-[#003399] rounded-[5px] w-[55px] h-10">
            <app-svg src="assets/svgs/camera.svg" customClass="mt-[-3px]" label="title_goas_here" [stretch]="false"
                width="20" stroke="#ffffff"></app-svg>
        </button>
    </div>
</div>





<app-modal [template]="modalTemplatePlaceholder3" [isModalEnabled]="isModalEnabled3"
    (closeModalByKeyboard)="isModalEnabled3 = false" modalClasses="w-[90%] max-w-[1261px]">
    <ng-template #modalTemplatePlaceholder3>
        <div class="bg-[#C4C4C4] relative rounded-[20px]">
            <app-galleries-modal *ngIf="images.length > 0" [data]="images"></app-galleries-modal>
            <div class="absolute z-10 ltr:left-[38px] rtl:right-[38px] top-[36px] flex gap-2">
                <span class="text-[#009933] text-xs leading-[30px] pt-5 lg:pt-0">{{'SHARE_BREADCRUMB.SHARE_THIS' |
                    translate}}:</span><app-socail-media-icons-news [metaData]="{}"
                    link="media-center/multimedia/galleries"></app-socail-media-icons-news>
            </div>
            <button
                class="absolute ltr:right-0 rtl:left-0 top-0 bg-white z-10 p-[14px] rounded-[20px] h-[49px] w-[49px] flex justify-center items-center"
                (click)="isModalEnabled3 = false">
                <span class="font-Futura-Bk-BT-Medium text-[#011C35] text-[20px] leading-8">X</span>
            </button>
        </div>
    </ng-template>
</app-modal>