<div class="relative" [class.error]="isErrorEnabled">
    <label
        class="ltr:text-left rtl:text-right absolute ltr:left-4 rtl:right-4 top-[-14px] px-1 bg-white font-Cairo-Regular text-sm leading-8 text-[#717171] capitalize"
        for="datepicker">{{data.label | translate}} <span *ngIf="isRequired"> *</span>
        <!-- <sup class="font-Cairo-Regular text-[15px] text-[#E73C3E] ltr:-left-px rtl:-right-px top-0">*</sup> -->
    </label>
    <input id="datepicker" class="bg-white w-full border border-solid border-[#] h-[61px] rounded-[5px] px-5"
        [(ngModel)]="data.value" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" [placeholder]="data.placeholder"
        (ngModelChange)="onChange($event)" />
    <owl-date-time #dt1 [pickerType]="'calendar'" [scrollStrategy]="scrollStrategy" [firstDayOfWeek]="1"
        [pickerMode]="pickerMode" (afterPickerOpen)="afterPickerOpen($event)"></owl-date-time>
    <div class="absolute ltr:right-0 rtl:left-0 bottom-0 h-[61px] w-[50px] flex justify-center items-center">
        <app-svg [src]="icon.src" customClass="" label="title_goas_here" [stretch]="false" width="28" height="28"
            [stroke]="icon.stroke" [fill]="icon.fill"></app-svg>
    </div>
</div>
<span *ngIf="isErrorEnabled"
    class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
    |translate}}</span>