.cdk-overlay-container {
    @apply z-0;
    & owl-date-time-container {
        box-shadow: 0px 1px 13px #0000001a !important;
        border-radius: 5px !important;
    }
    & .owl-dt-calendar-header > tr:nth-child(2) {
        @apply hidden;
    }
    & .owl-dt-inline-container .owl-dt-calendar,
    & .owl-dt-popup-container .owl-dt-calendar {
        @apply h-auto;
    }
    & owl-date-time-calendar {
        & .owl-dt-calendar-control {
            @apply pb-4 pt-3 px-3;
            & .owl-dt-calendar-control-content > button > span {
                @apply font-Poppins-Medium text-sm;
                & > span {
                    @apply hidden;
                }
            }
        }
        & .owl-dt-control-arrow-button {
            @apply rtl:rotate-180;
        }
    }

    & owl-date-time-year-view {
        & td {
            & span {
                @apply font-Poppins-Medium;
            }
            &.owl-dt-calendar-cell-active span {
                @apply border-none text-white;
                background-color: #003399 !important;
            }
        }
        & .owl-dt-calendar-table-divider:after {
            left: 0 !important;
            right: 0 !important;
        }
    }
    & owl-date-time-multi-year-view {
        & th {
            @apply font-Poppins-Medium text-sm;
        }
        & td.owl-dt-calendar-cell-active span {
            @apply border-none text-white;
            background-color: #003399 !important;
        }
    }
    & .owl-dt-calendar-main {
        @apply p-0;
        & owl-date-time-month-view {
            @apply px-3 pb-1;
            & th {
                & span {
                    @apply font-Poppins-Light;
                    color: #5c5c5c !important;
                }
            }
            & tbody {
                & tr {
                    &:last-child {
                        @apply hidden;
                    }
                    & td {
                        & span {
                            @apply font-Poppins-Light;
                            color: #5c5c5c !important;
                        }
                        &.owl-dt-calendar-cell-active {
                            &:hover span,
                            & span {
                                border-color: transparent !important;
                                background-color: #003399 !important;
                                color: white !important;
                                border-radius: 0 !important;
                            }
                        }
                    }
                }
            }
        }
    }
    .owl-dt-container-buttons {
        @apply opacity-0 transition-all;
    }
}
.error {
    & input {
        @apply border-[#e83d3d];
    }
    & label {
        @apply text-[#e83d3d];
    }
}
