<section class="our-story bg-[#ECECEE]" [class]="size">
    <div class="max-w-desktop w-full px-4 lg:px-10 mx-auto py-10 flex flex-col gap-4">
        <p *ngIf="title" class="font-Cairo-Bold text-xl leading-[30px] capitalize text-[#011C35]" [class]="textAlign"
            [innerHtml]="title | translate">
        </p>

        <div *ngIf="text">
            <app-detailed-body [data]="text" [class]="textAlign"></app-detailed-body>
        </div>

        <!-- <div *ngIf="text" class="text-description font-Cairo-Regular text-[#011C35]" [class]="textAlign"
            [innerHtml]="text"></div> -->

        <app-btn-one *ngIf="linkBtn && buttonText" [link]="linkBtn" [text]="buttonText" seoDesc="Text about the button"
            svg="assets/svgs/arrow.svg" svgClass="rotate-[270deg]" textClass="font-Cairo-Regular text-sm"></app-btn-one>
        <ul class="flex flex-col gap-[14px]" *ngIf="isListEnalbed">
            <li>
                <a *ngIf="isExternalMethod(link)" [href]="link | routeLocalization" target="_blank"
                    class="ltr:text-left rtl:text-right font-Cairo-Regular link text-sm leading-[25px] text-[#011C35] flex gap-3">
                    <img class="w-5 h-5" [defaultImage]="'loadingImage'| imageSource"
                        [errorImage]="'errorImage'| imageSource" [lazyLoad]="img | imageSource" alt="" width="20"
                        height="20">
                    <span class="underline" [innerHTML]="btnText"></span>
                </a>
                <a *ngIf="!isExternalMethod(link)" [routerLink]="link | routeLocalization" 
                    class="ltr:text-left rtl:text-right font-Cairo-Regular link text-sm leading-[25px] text-[#011C35] flex gap-3">
                    <img class="w-5 h-5" [defaultImage]="'loadingImage'| imageSource"
                        [errorImage]="'errorImage'| imageSource" [lazyLoad]="img | imageSource" alt="" width="20"
                        height="20">
                    <span class="underline" [innerHTML]="btnText"></span>
                </a>
            </li>
        </ul>
    </div>
</section>