<section class="bg-[#F5F5F5] pt-[34px] pb-[50px] lg:pb-[100px]">
    <div class="max-w-desktop mx-auto px-4 lg:px-10 flex flex-col gap-4 lg:gap-[64px]">
        <div class="flex flex-col gap-3">
            <div class="flex flex-col lg:flex-row items-center justify-between">
                <p class="font-Poppins-Bold text-[20px] leading-[30px] text-[#221E20]">
                    {{'FAHES_MEDIA_CENTER.OUR_LASTEST_NEWS' | translate}}
                </p>
                <div class="flex items-center gap-[18px] w-full justify-end lg:w-auto lg:justify-normal mt-4 lg:mt-0">
                    <span class="font-Poppins-Bold text-lg text-[#221E20]">{{ cSlide }} of {{ relatedNews.data.length
                        }}</span>
                    <div class="flex items-center gap-[17px] owl-custom-nav">
                        <!-- disabled -->
                        <button type="button" (click)="moveToSlide('prev')"
                            class="w-[50px] h-[50px] border border-solid border-[#221E20] rounded-full flex items-center justify-center">
                            <app-svg src="assets/svgs/arrow.svg" customClass="ltr:rotate-90 rtl:rotate-[270deg]"
                                label="title_goas_here" [stretch]="false" width="36" stroke="#221E20"></app-svg>
                        </button>
                        <button type="button" (click)="moveToSlide('next')"
                            class="w-[50px] h-[50px] border border-solid border-[#221E20] rounded-full flex items-center justify-center">
                            <app-svg src="assets/svgs/arrow.svg" customClass="ltr:-rotate-90 rtl:rotate-[90deg]"
                                label="title_goas_here" [stretch]="false" width="36" stroke="#221E20"></app-svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <owl-carousel-o #owlCarousel [options]="customOptions" (change)="onChange($event)">
                <ng-container *ngFor="let event of relatedNews.data; let i = index">
                    <ng-template carouselSlide [id]="'milestones-' + (i + 1)">
                        <app-fahes-event-card class="w-full" [data]="event" [lang]="lang"></app-fahes-event-card>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
</section>