<section class="bg-[#F5F5F5]">
    <div class="max-w-desktop mx-auto px-4 lg:px-10 py-[100px] flex flex-col lg:flex-row gap-24">
        <div class="w-full lg:w-[calc(50%-96px)]">
            <div
                class="w-full h-full bg-[#003399] ltr:rounded-br-[50px] rtl:rounded-bl-[50px] ltr:drop-shadow-offer rtl:drop-shadow-offer-RTL">
                <a *ngIf="!isExternalMethod(data.link)" [routerLink]="data?.link | routeLocalization">

                    <img #card [ngStyle]="{height: heightMain + 'px'}"
                        class="w-full ltr:rounded-br-[50px] rtl:rounded-bl-[50px] opacity-50"
                        [defaultImage]="'loadingImage'| imageSource" [errorImage]="'errorImage'| imageSource"
                        [lazyLoad]="data?.image | imageSource" alt="Card Image" />
                </a>
                <a *ngIf="isExternalMethod(data.link)" [href]="data?.link | routeLocalization" target="_blank">

                    <img #card [ngStyle]="{height: heightMain + 'px'}"
                        class="w-full ltr:rounded-br-[50px] rtl:rounded-bl-[50px] opacity-50"
                        [defaultImage]="'loadingImage'| imageSource" [errorImage]="'errorImage'| imageSource"
                        [lazyLoad]="data?.image | imageSource" alt="Card Image" />
                </a>
            </div>
        </div>
        <div class="w-full lg:w-[calc(50%-96px)] self-center">
            <p class="font-Cairo-Bold text-[30px] leading-[35px] text-[#011C35]">{{data?.title?.[lang]}}</p>
            <div [innerHTML]="data?.desc?.[lang]">

            </div>
        </div>
    </div>
</section>