<div id="circle-img-container" class="relative z-[1] w-[198px] h-[198px] mx-auto">
    <img src="assets/images/profile.webp" (click)="viewImageModalEnabled = true;"
        class="p-[5px] rounded-full border border-solid border-primary w-full h-full cursor-pointer" alt="FOM" />
    <button type="button" (click)="enableCropModal()"
        class="w-12 h-12 rounded-full bg-primary absolute bottom-2.5 right-2.5">
        <app-svg src="assets/svgs/img-white.svg" class="" customClass="mt-[-3px]" label="title_goas_here"
            [stretch]="false" width="26"></app-svg>
    </button>
</div>


<app-crop-img #fileUploaderContainer [isModalEnabled]="cropModalEnabled"></app-crop-img>
<app-view-img [isModalEnabled]="viewImageModalEnabled"></app-view-img>