<app-modal [template]="writePostModalTemplate" [isModalEnabled]="isModalEnabled"
    (closeModalByKeyboard)="isModalEnabled = false;" modalClasses="inset-0 w-[90%] max-w-[616px]">
    <ng-template #writePostModalTemplate>
        <div class="bg-white rounded-xl">
            <div class="modal-header px-[21px] flex justify-end py-4 bg-[#ebebeb] rounded-t-xl relative">
                <p class="w-full text-center font-normal">create your caseshow</p>
                <button type="button" (click)="isModalEnabled = false;"
                    class="absolute right-5 top-0 bottom-0 my-auto outline-0">
                    <app-svg src="assets/svgs/close-circle.svg" class="" customClass="" label="title_goas_here"
                        [stretch]="false" width="30" stroke="#802d3d"></app-svg>
                </button>
            </div>
            <div class="modal-body px-3 pb-3">
                <section class="">
                    <textarea class="w-full outline-0 min-h-[239px] py-[30px] px-7"
                        placeholder="Lorem Ipsum is simply dummy text of the printing and typesetting industry"></textarea>

                    <div class="flex items-center bg-[#ebebeb] rounded-xl -mt-1.5" *ngIf="!isInnerPhotoClicked">
                        <button type="button" (click)="isInnerPhotoClicked = true;"
                            class="w-1/2 flex items-center justify-center gap-2 py-4 relative after:content-[''] after:absolute after:top-0 after:bottom-0 after:my-auto after:right-0 after:w-[0.5px] after:h-[68%] after:bg-black after:opacity-30 outline-0">
                            <span>
                                <app-svg src="assets/svgs/img-pink.svg" class="" customClass="" label="title_goas_here"
                                    [stretch]="false" width="24"></app-svg>
                            </span>
                            <span>Photo/video</span>
                        </button>
                        <button type="button" class="w-1/2 flex items-center justify-center gap-2 py-4 outline-0">
                            <span>
                                <app-svg src="assets/svgs/map-marker.svg" class="" customClass=""
                                    label="title_goas_here" [stretch]="false" width="24" fill="#D3A19E"></app-svg>
                            </span>
                            <span>Check in</span>
                        </button>
                    </div>

                    <app-drag-ndrop *ngIf="isInnerPhotoClicked"></app-drag-ndrop>
                    <button
                        class="text-white bg-primary hover:text-primary hover:bg-white transition-all focus:ring-4 focus:outline-none focus:ring-blue-300  font-normal rounded-xl px-4 py-2 text-center w-full mt-2.5 outline-0"
                        type="button">Publish Now</button>
                </section>
            </div>
        </div>
    </ng-template>
</app-modal>