<main class="bg-[#f7f4f0]">
    <section class="section">
        <div class="flex flex-col lg:flex-row pt-[84px] lg:pt-0">
            <app-cover></app-cover>
            <div class="h-full w-full lg:w-[439px]">
                <div class="bg-white shadow-2xl pb-5 px-6 lg:pt-[84px] lg:min-h-screen flex flex-col">

                    <app-profile-img></app-profile-img>

                    <h1 class="flex items-center justify-center gap-2 mt-3">
                        <span class="text-primary font-medium text-[22px]">Hussein Alwesi</span>
                        <span>
                            <app-svg src="assets/svgs/verify.svg" class="" customClass="mt-[-3px]"
                                label="title_goas_here" [stretch]="false" width="18" fill="#802d3d"></app-svg>
                        </span>
                    </h1>
                    <ng-container *ngIf="settingPage">

                        <button type="button" class="flex items-center gap-1.5 mx-auto">
                            <app-svg src="assets/svgs/eye.svg" class="" customClass="mt-[-3px]" label="title_goas_here"
                                [stretch]="false" width="18" fill="#802d3d"></app-svg>
                            <span class="font-normal">View as guest</span>
                        </button>

                        <ul class="flex flex-col gap-2 list-pages mt-9 flex-1">
                            <li *ngFor="let item of list; let i = index" [class.active]="i === itemSelected"
                                (click)="itemSelected = i"
                                class="border-b border-solid border-gray-200 last:!border-transparent border-opacity-15">
                                <button type="button" class="w-full flex items-center gap-[18px] py-[14px]">
                                    <app-svg src="assets/svgs/verify.svg" class="" customClass="mt-[-3px]"
                                        label="title_goas_here" [stretch]="false" width="18" fill="#802d3d"></app-svg>
                                    <span class="font-normal">{{item.title}}</span>
                                </button>
                            </li>
                        </ul>
                    </ng-container>
                    <ng-container *ngIf="!settingPage">
                        <p class="text-black opacity-50 text-center mt-px font-light">8690 Views</p>
                        <p class="mt-2 font-light">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem
                            Ipsum has been
                            the
                            industry's standard dummy text ever since the 1500s</p>
                        <div class="flex flex-col gap-4 max-w-[279px] mx-auto mt-5">
                            <div class="flex flex-row gap-4 justify-center">
                                <button type="button"
                                    class="text-primary border border-solid border-primary hover:text-primary hover:border-primary transition-all focus:ring-4 focus:outline-none focus:ring-blue-300  font-normal rounded-xl text-sm px-4 py-[5px] text-center flex items-center gap-2 w-1/2 justify-center outline-0">
                                    <span>
                                        <app-svg src="assets/svgs/plus.svg" class="" customClass="mt-[-3px]"
                                            label="title_goas_here" [stretch]="false" width="12"
                                            fill="#802d3d"></app-svg>
                                    </span>
                                    <span>Follow</span>
                                </button>
                                <a href="tel:0962791573132"
                                    class="text-white bg-primary hover:text-primary hover:bg-white transition-all focus:ring-4 focus:outline-none focus:ring-blue-300  font-normal rounded-xl text-sm px-4 py-[5px] text-center flex items-center gap-2 w-1/2 justify-center outline-0">
                                    <span>
                                        <app-svg src="assets/svgs/phone.svg" class="" customClass="mt-[-3px]"
                                            label="title_goas_here" [stretch]="false" width="12"
                                            fill="#ffffff"></app-svg>
                                    </span>
                                    <span>Call Now</span>
                                </a>
                            </div>
                            <button type="button"
                                class="text-white bg-primary hover:text-primary hover:bg-white transition-all focus:ring-4 focus:outline-none focus:ring-blue-300  font-normal rounded-xl text-sm px-4 py-1.5 text-center flex items-center gap-2 justify-center outline-0">
                                <span>
                                    <app-svg src="assets/svgs/chat.svg" class="" customClass="mt-[-3px]"
                                        label="title_goas_here" [stretch]="false" width="16" stroke="#ffffff"></app-svg>
                                </span>
                                <span>Chat Now</span>
                            </button>
                        </div>
                        <app-info-list></app-info-list>
                        <app-social-icons innerClassess="gap-1 justify-center mt-5"
                            btnClassess="bg-primary w-[22px] h-[22px]" [data]="socialIcons"></app-social-icons>

                        <hr class="mt-[14px] mb-5 border-primary opacity-30">
                        <!-- 406 w -->
                        <app-review-short (onViewReview)="isReview = true;"
                            (onWriteReview)="isReview = true; reviewModalEnabled = true"></app-review-short>
                    </ng-container>
                </div>
            </div>
            <!-- <div>
                header
            </div> -->


            <div id="profile-content" class="h-full lg:flex-1 w-full lg:w-auto lg:pt-[84px]">
                <div class="lg:pt-[198px]">
                    <div class="flex flex-col lg:flex-row flex-wrap gap-8 lg:gap-0 ltr:lg:pl-8 rtl:lg:pr-8 pb-8">
                        <div id="side-content" class="w-full mt-2 flex flex-col gap-4">
                            <ng-container *ngIf="settingPage">
                                <div class="w-full shadow-2xl bg-white rounded-xl">
                                    <ng-container *ngIf="list[itemSelected].key === 'home'">
                                        home
                                    </ng-container>
                                    <ng-container *ngIf="list[itemSelected].key === 'profile_info'">
                                        <app-profile-info></app-profile-info>
                                    </ng-container>
                                    <ng-container *ngIf="list[itemSelected].key === 'password_security'">
                                        <app-password></app-password>
                                    </ng-container>
                                    <ng-container *ngIf="list[itemSelected].key === 'personal_details'">
                                        <app-personal></app-personal>
                                    </ng-container>
                                    <ng-container *ngIf="list[itemSelected].key === 'notifications'">
                                        <app-notification></app-notification>
                                    </ng-container>
                                    <ng-container *ngIf="list[itemSelected].key === 'statistics'">
                                        statistics
                                    </ng-container>
                                    <ng-container *ngIf="list[itemSelected].key === 'upgrade_account'">
                                        <app-upgrade></app-upgrade>
                                    </ng-container>
                                    <ng-container *ngIf="list[itemSelected].key === 'sign_out'">
                                        sign_out
                                    </ng-container>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="!settingPage">
                                <ng-container>
                                    <ng-container *ngIf="isReview">
                                        <div>
                                            <button type="button" class="outline-0" (click)="isReview = false;">
                                                <span class="font-light">Back To Home page</span>
                                            </button>
                                        </div>
                                    </ng-container>
                                    <app-add-post *ngIf="writePermission"></app-add-post>
                                    <ng-container *ngIf="!isReview">
                                        <app-no-post *ngIf="posts.length === 0"></app-no-post>
                                        <ng-container>
                                            <div class="w-full flex flex-wrap flex-col lg:flex-row gap-x-4 gap-y-8">
                                                <app-post *ngFor="let item of posts"
                                                    class="w-full lg:w-[calc(50%-8px)]"></app-post>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="isReview">
                                    <ul>
                                        <li>
                                            <app-review-card></app-review-card>
                                        </li>
                                    </ul>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

<app-add-review [isModalEnabled]="reviewModalEnabled"></app-add-review>