<section class="section">
    <div class="bg-white flex">
        <div class="h-full w-[30%]">
            <!-- pt-[84px] -->
            <div class="bg-white shadow-2xl pt-[100px] pb-4 px-5">

                <div id="circle-img-container" class="relative z-[1] w-[200px] h-[200px] mx-auto">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMUqPsWz_dcHK1R8XTP-IX6NHYUW4GYQ_cYw&s"
                        class="p-1 rounded-full border border-solid border-primary w-full h-full" />

                    <!-- <img src="https://www.solopress.com/thumbnails/0/205395/12/vinyl-banner-category-page-banner.jpeg"
                        class=" absolute h-full w-[90vw] right-0 top-0 bottom-0 my-auto" /> -->
                </div>

                <h1 class="flex items-center justify-center gap-2">
                    <span class="text-primary font-bold">Hussein Alwesi</span>
                    <span>
                        <app-svg src="assets/svgs/verify.svg" class="" customClass="" label="title_goas_here"
                            [stretch]="false" width="12" fill="#802d3d"></app-svg>
                    </span>
                </h1>
                <p class="text-gray-400 text-center">8690 Views</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s</p>
                <div class="flex flex-col gap-2 max-w-[300px] mx-auto">
                    <div class="flex flex-row gap-2 justify-center">
                        <button type="button"
                            class="text-primary border border-solid border-transparent hover:text-primary hover:border-primary transition-all focus:ring-4 focus:outline-none focus:ring-blue-300  font-normal rounded-lg text-sm px-4 py-2 text-center flex items-center gap-3 w-1/2 justify-center">
                            <span>
                                <app-svg src="assets/svgs/plus.svg" class="" customClass="" label="title_goas_here"
                                    [stretch]="false" width="12" fill="#802d3d"></app-svg>
                            </span>
                            <span>Follow</span>
                        </button>
                        <button type="button"
                            class="text-white bg-primary hover:text-primary hover:bg-white transition-all focus:ring-4 focus:outline-none focus:ring-blue-300  font-normal rounded-lg text-sm px-4 py-2 text-center flex items-center gap-3 w-1/2 justify-center">
                            <span>
                                <app-svg src="assets/svgs/phone.svg" class="" customClass="" label="title_goas_here"
                                    [stretch]="false" width="12" fill="#ffffff"></app-svg>
                            </span>
                            <span>Call Now</span>
                        </button>
                    </div>
                    <button type="button"
                        class="text-white bg-primary hover:text-primary hover:bg-white transition-all focus:ring-4 focus:outline-none focus:ring-blue-300  font-normal rounded-lg text-sm px-4 py-2 text-center flex items-center gap-3 justify-center">
                        <span>
                            <app-svg src="assets/svgs/chat.svg" class="" customClass="" label="title_goas_here"
                                [stretch]="false" width="12" stroke="#ffffff"></app-svg>
                        </span>
                        <span>Chat Now</span>
                    </button>
                </div>
                <ul class="flex flex-col gap-3">
                    <li class="flex flex-row gap-2">
                        <span>
                            <app-svg src="assets/svgs/info.svg" class="" customClass="" label="title_goas_here"
                                [stretch]="false" width="12" fill="#802d3d"></app-svg>
                        </span>
                        <span>
                            Dance - DJ
                            <span class="text-primary text-xs">View more DJ</span>
                        </span>
                    </li>
                    <li class="flex flex-row gap-2">
                        <span>
                            <app-svg src="assets/svgs/map-marker.svg" class="" customClass="" label="title_goas_here"
                                [stretch]="false" width="12" fill="#802d3d"></app-svg>
                        </span>
                        <span>Amman, Jordan</span>
                    </li>
                    <li class="flex flex-row gap-2">
                        <span>
                            <app-svg src="assets/svgs/phone-circle.svg" class="" customClass="" label="title_goas_here"
                                [stretch]="false" width="32" stroke="white" fill="#802d3d"></app-svg>
                        </span>
                        <span>00962 78 120 88 20</span>
                    </li>
                    <li class="flex flex-row gap-2">
                        <span>
                            <app-svg src="assets/svgs/website.svg" class="" customClass="" label="title_goas_here"
                                [stretch]="false" width="12" fill="#802d3d"></app-svg>
                        </span>
                        <span>www.farhet-omery.com</span>
                    </li>
                    <li class="flex flex-row gap-2">
                        <span>
                            <app-svg src="assets/svgs/time.svg" class="" customClass="" label="title_goas_here"
                                [stretch]="false" width="12" fill="#802d3d"></app-svg>
                        </span>
                        <span>
                            <span class="font-bold ltr:mr-2 rtl:ml-2">Opened Now</span>
                            <span>
                                <app-svg src="assets/svgs/arrow.svg" class="" customClass="" label="title_goas_here"
                                    [stretch]="false" width="8" fill="#802d3d"></app-svg>
                            </span>
                        </span>
                    </li>
                </ul>
                <ul class="flex flex-row gap-1 justify-center">
                    <li>
                        <a href="https://www.google.com/"
                            class="bg-white rounded-full w-[22px] h-[22px] flex items-center justify-center">
                            <app-svg src="assets/svgs/x-temp.svg" class="mt-[-3px]" customClass=""
                                label="title_goas_here" [stretch]="false" width="12" fill="#802d3d"></app-svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.google.com/"
                            class="bg-white rounded-full w-[22px] h-[22px] flex items-center justify-center">
                            <app-svg src="assets/svgs/x-temp.svg" class="mt-[-3px]" customClass=""
                                label="title_goas_here" [stretch]="false" width="12" fill="#802d3d"></app-svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.google.com/"
                            class="bg-white rounded-full w-[22px] h-[22px] flex items-center justify-center">
                            <app-svg src="assets/svgs/x-temp.svg" class="mt-[-3px]" customClass=""
                                label="title_goas_here" [stretch]="false" width="12" fill="#802d3d"></app-svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.google.com/"
                            class="bg-white rounded-full w-[22px] h-[22px] flex items-center justify-center">
                            <app-svg src="assets/svgs/x-temp.svg" class="mt-[-3px]" customClass=""
                                label="title_goas_here" [stretch]="false" width="12" fill="#802d3d"></app-svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.google.com/"
                            class="bg-white rounded-full w-[22px] h-[22px] flex items-center justify-center">
                            <app-svg src="assets/svgs/x-temp.svg" class="mt-[-3px]" customClass=""
                                label="title_goas_here" [stretch]="false" width="12" fill="#802d3d"></app-svg>
                        </a>
                    </li>
                </ul>
                <hr>

                <div class="flex flex-row gap-2 justify-center">
                    <div>
                        <p class="text-2xl">4.0</p>
                    </div>
                    <div class="flex flex-col gap-2">
                        <div>
                            <div class="flex gap-1.5 items-center">
                                <app-svg src="assets/svgs/star.svg" class="h-[13px] flex items-center"
                                    label="title_goas_here" [stretch]="false" height="13" width="14"
                                    fill="#802d3d"></app-svg>
                                <app-svg src="assets/svgs/star.svg" class="h-[13px] flex items-center"
                                    label="title_goas_here" [stretch]="false" height="13" width="14"
                                    fill="#802d3d"></app-svg>
                                <app-svg src="assets/svgs/star.svg" class="h-[13px] flex items-center"
                                    label="title_goas_here" [stretch]="false" height="13" width="14"
                                    fill="#802d3d"></app-svg>
                                <app-svg src="assets/svgs/star.svg" class="h-[13px] flex items-center"
                                    label="title_goas_here" [stretch]="false" height="13" width="14"
                                    fill="#802d3d"></app-svg>
                                <app-svg src="assets/svgs/star.svg" class="h-[13px] flex items-center"
                                    label="title_goas_here" [stretch]="false" height="13" width="14"
                                    fill="green"></app-svg>
                            </div>
                        </div>
                        <div>
                            <p>105 reviews</p>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row gap-2 justify-center">
                    <button type="button"
                        class="text-primary bg-white hover:text-white hover:bg-primary transition-all focus:ring-4 focus:outline-none focus:ring-blue-300  font-normal rounded-lg text-sm px-4 py-2 text-center">view
                        reviews</button>
                    <button type="button"
                        class="text-primary bg-white hover:text-white hover:bg-primary transition-all focus:ring-4 focus:outline-none focus:ring-blue-300  font-normal rounded-lg text-sm px-4 py-2 text-center">write
                        review</button>
                </div>

            </div>
        </div>
        <!-- <div>
            header
        </div> -->
        <div class="h-full flex-1">
            <div class="pt-[100px]">
                <div class="flex flex-row flex-wrap gap-4 pl-8">
                    <div class="relative pt-4 h-[200px] w-full" id="img-container">
                        <img src="https://www.solopress.com/thumbnails/0/205395/12/vinyl-banner-category-page-banner.jpeg"
                            class="h-[160px] top-0 bottom-0 my-auto absolute max-w-[unset] w-full"
                            [style.left.px]="-(differenceSize)"
                            [style.width]="'calc(100% + ' + (differenceSize) + 'px)'" />
                    </div>
                    <div *ngFor="let item of posts" class="w-[calc(50%-8px)] bg-white shadow-2xl rounded-md relative">
                        <p class="flex justify-between gap-2 px-2 pt-2">
                            <span class="text-primary font-bold">Title Title Title Title</span>
                            <span>
                                <app-svg src="assets/svgs/dots.svg" class="" customClass="" label="title_goas_here"
                                    [stretch]="false" width="12" fill="#802d3d"></app-svg>
                            </span>
                        </p>
                        <p class="text-gray-400 mb-2 px-2 text-xs">Today</p>
                        <p class="px-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has
                            been the
                            industry's standard dummy text ever since the 1500s</p>
                        <button class="text-primary my-2 px-2 text-xs" type="button">Read More</button>
                        <img class="w-full h-[400px] rounded-b-md"
                            src="https://cms.imgworlds.com/assets/a5366382-0c26-4726-9873-45d69d24f819.jpg?key=home-gallery" />
                        <div class="absolute left-0 -bottom-4 right-0 mx-auto w-full flex flex-col">
                            <div class="bg-primary bg-blend-multiply w-[80%] mx-auto px-8 rounded-full -mb-1">
                                <ul class="flex items-center justify-between">
                                    <li>
                                        <p class="text-white">8690 Likes</p>
                                    </li>
                                    <li>
                                        <p class="text-white">8690 Comments</p>
                                    </li>
                                    <li>
                                        <p class="text-white">8690 Share</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="bg-white w-[90%] mx-auto rounded-full">
                                <ul class="flex justify-between px-6">
                                    <li>
                                        <button type="button" class="flex items-center gap-2">
                                            <span>
                                                <app-svg src="assets/svgs/heart.svg" class="" customClass=""
                                                    label="title_goas_here" [stretch]="false" width="12"
                                                    fill="#802d3d"></app-svg>
                                            </span>
                                            <span>Like</span>
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" class="flex items-center gap-2">
                                            <span>
                                                <app-svg src="assets/svgs/comment.svg" class="" customClass=""
                                                    label="title_goas_here" [stretch]="false" width="12"
                                                    fill="#802d3d"></app-svg>
                                            </span>
                                            <span>Comment</span>
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" class="flex items-center gap-2">
                                            <span>
                                                <app-svg src="assets/svgs/share.svg" class="" customClass=""
                                                    label="title_goas_here" [stretch]="false" width="12"
                                                    fill="#802d3d"></app-svg>
                                            </span>
                                            <span>Share</span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>