<main class="bg-[#f7f4f0]">
    <section class="section ">
        <div class="flex flex-col lg:flex-row">
            <div class="h-full w-full lg:w-[439px]">
                <div class="bg-white shadow-2xl lg:pt-[100px] pb-5 px-[22px]">

                    <div id="circle-img-container" class="relative z-[1] w-[198px] h-[198px] mx-auto">
                        <img src="assets/images/profile.webp"
                            class="p-[5px] rounded-full border border-solid border-primary w-full h-full cursor-pointer"
                            alt="FOM" />
                        <button type="button" (click)="enableCropModal()"
                            class="w-12 h-12 rounded-full bg-black text-white absolute bottom-2.5 right-2.5">
                            I
                        </button>
                    </div>

                    <h1 class="flex items-center justify-center gap-2 mt-3">
                        <span class="text-primary font-medium text-[22px]">Hussein Alwesi</span>
                        <span>
                            <app-svg src="assets/svgs/verify.svg" class="" customClass="mt-[-3px]"
                                label="title_goas_here" [stretch]="false" width="18" fill="#802d3d"></app-svg>
                        </span>
                    </h1>
                    <p class="text-black opacity-50 text-center mt-px font-light">8690 Views</p>
                    <p class="mt-2 font-light">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem
                        Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s</p>
                    <div class="flex flex-col gap-4 max-w-[279px] mx-auto mt-5">
                        <div class="flex flex-row gap-4 justify-center">
                            <button type="button"
                                class="text-primary border border-solid border-primary hover:text-primary hover:border-primary transition-all focus:ring-4 focus:outline-none focus:ring-blue-300  font-normal rounded-xl text-sm px-4 py-[5px] text-center flex items-center gap-2 w-1/2 justify-center outline-0">
                                <span>
                                    <app-svg src="assets/svgs/plus.svg" class="" customClass="mt-[-3px]"
                                        label="title_goas_here" [stretch]="false" width="12" fill="#802d3d"></app-svg>
                                </span>
                                <span>Follow</span>
                            </button>
                            <a href="tel:0962791573132"
                                class="text-white bg-primary hover:text-primary hover:bg-white transition-all focus:ring-4 focus:outline-none focus:ring-blue-300  font-normal rounded-xl text-sm px-4 py-[5px] text-center flex items-center gap-2 w-1/2 justify-center outline-0">
                                <span>
                                    <app-svg src="assets/svgs/phone.svg" class="" customClass="mt-[-3px]"
                                        label="title_goas_here" [stretch]="false" width="12" fill="#ffffff"></app-svg>
                                </span>
                                <span>Call Now</span>
                            </a>
                        </div>
                        <button type="button"
                            class="text-white bg-primary hover:text-primary hover:bg-white transition-all focus:ring-4 focus:outline-none focus:ring-blue-300  font-normal rounded-xl text-sm px-4 py-1.5 text-center flex items-center gap-2 justify-center outline-0">
                            <span>
                                <app-svg src="assets/svgs/chat.svg" class="" customClass="mt-[-3px]"
                                    label="title_goas_here" [stretch]="false" width="16" stroke="#ffffff"></app-svg>
                            </span>
                            <span>Chat Now</span>
                        </button>
                    </div>
                    <ul class="flex flex-col gap-2 mt-5">
                        <li class="flex flex-row gap-5" (click)="navigateTo('listing')">
                            <span class="w-[22px] relative">
                                <app-svg src="assets/svgs/info.svg" class="absolute inset-0 m-auto ml-[-1px]"
                                    customClass="mt-[-3px]" label="title_goas_here" [stretch]="false" width="24"
                                    fill="#802d3d"></app-svg>
                            </span>
                            <span class="flex items-center gap-3 group cursor-pointer">
                                <span class="font-light group-hover:underline">Dance - DJ</span>
                                <span class="text-primary text-xs">View more DJ</span>
                            </span>
                        </li>
                        <li class="flex flex-row gap-5" (click)="mapModalEnabled = true;">
                            <span class="w-[22px] relative">
                                <app-svg src="assets/svgs/map-marker.svg" class="absolute inset-0 m-auto ml-[-0.5px]"
                                    customClass="mt-[-3px]" label="title_goas_here" [stretch]="false" width="22"
                                    fill="#802d3d"></app-svg>
                            </span>
                            <span class="font-light hover:underline cursor-pointer">Amman, Jordan</span>
                        </li>
                        <li class="flex flex-row gap-5">
                            <span class="w-[22px] relative">
                                <app-svg src="assets/svgs/phone-circle.svg" class="absolute inset-0 m-auto ml-[-7px]"
                                    customClass="mt-[-6px]" label="title_goas_here" [stretch]="false" width="36"
                                    stroke="white" fill="#802d3d"></app-svg>
                            </span>
                            <span class="font-light hover:underline cursor-pointer">00962 78 120 88 20</span>
                        </li>
                        <li class="flex flex-row gap-5">
                            <span class="w-[22px] relative">
                                <app-svg src="assets/svgs/website.svg" class="absolute inset-0 m-auto"
                                    customClass="mt-[-3.5px]" label="title_goas_here" [stretch]="false" width="22"
                                    fill="#802d3d"></app-svg>
                            </span>
                            <span class="font-light hover:underline cursor-pointer">www.farhet-omery.com</span>
                        </li>
                        <li class="flex flex-row gap-5">
                            <span class="w-[22px] relative">
                                <app-svg src="assets/svgs/time.svg" class="absolute inset-0 m-auto ml-[-3.5px]"
                                    customClass="mt-[-2px]" label="title_goas_here" [stretch]="false" width="29.34"
                                    fill="#802d3d"></app-svg>
                            </span>
                            <span (click)="hoursModalEnabled = true;" class="group cursor-pointer">
                                <span class="font-medium ltr:mr-1.5 rtl:ml-1.5">Opened Now</span>
                                <span>
                                    <app-svg src="assets/svgs/arrow.svg" class=""
                                        [customClass]="hoursModalEnabled ? 'rotate-180' : ''" label="title_goas_here"
                                        [stretch]="false" width="8" fill="#802d3d"></app-svg>
                                </span>
                            </span>
                        </li>
                    </ul>
                    <ul class="flex flex-row gap-1 justify-center mt-5">
                        <li>
                            <a href="https://www.google.com/"
                                class="bg-white rounded-full w-[22px] h-[22px] flex items-center justify-center">
                                <app-svg src="assets/svgs/x.svg" class="mt-[-3px]" customClass=""
                                    label="title_goas_here" [stretch]="false" width="12" fill="#802d3d"></app-svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.google.com/"
                                class="bg-white rounded-full w-[22px] h-[22px] flex items-center justify-center">
                                <app-svg src="assets/svgs/x.svg" class="mt-[-3px]" customClass=""
                                    label="title_goas_here" [stretch]="false" width="12" fill="#802d3d"></app-svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.google.com/"
                                class="bg-white rounded-full w-[22px] h-[22px] flex items-center justify-center">
                                <app-svg src="assets/svgs/x.svg" class="mt-[-3px]" customClass=""
                                    label="title_goas_here" [stretch]="false" width="12" fill="#802d3d"></app-svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.google.com/"
                                class="bg-white rounded-full w-[22px] h-[22px] flex items-center justify-center">
                                <app-svg src="assets/svgs/x.svg" class="mt-[-3px]" customClass=""
                                    label="title_goas_here" [stretch]="false" width="12" fill="#802d3d"></app-svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.google.com/"
                                class="bg-white rounded-full w-[22px] h-[22px] flex items-center justify-center">
                                <app-svg src="assets/svgs/x.svg" class="mt-[-3px]" customClass=""
                                    label="title_goas_here" [stretch]="false" width="12" fill="#802d3d"></app-svg>
                            </a>
                        </li>
                    </ul>
                    <hr class="mt-[14px] mb-5 border-primary opacity-30">
                    <!-- 406 w -->
                    <div class="flex flex-row gap-1 justify-center">
                        <div>
                            <p class="text-2xl font-light text-[59px]">4.0</p>
                        </div>
                        <div class="flex flex-col gap-1.5">
                            <div>
                                <div class="flex gap-2 items-center">
                                    <app-svg src="assets/svgs/star.svg" class="h-[13px] flex items-center"
                                        label="title_goas_here" [stretch]="false" height="17" width="18"
                                        fill="#802d3d"></app-svg>
                                    <app-svg src="assets/svgs/star.svg" class="h-[13px] flex items-center"
                                        label="title_goas_here" [stretch]="false" height="17" width="18"
                                        fill="#802d3d"></app-svg>
                                    <app-svg src="assets/svgs/star.svg" class="h-[13px] flex items-center"
                                        label="title_goas_here" [stretch]="false" height="17" width="18"
                                        fill="#802d3d"></app-svg>
                                    <app-svg src="assets/svgs/star.svg" class="h-[13px] flex items-center"
                                        label="title_goas_here" [stretch]="false" height="17" width="18"
                                        fill="#802d3d"></app-svg>
                                    <app-svg src="assets/svgs/star.svg" class="h-[13px] flex items-center"
                                        label="title_goas_here" [stretch]="false" height="17" width="18"
                                        fill="#d3a19e"></app-svg>
                                </div>
                            </div>
                            <div>
                                <p class="font-light text-[19px]">105 reviews</p>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-row gap-3 justify-center mt-px">
                        <button type="button" class="text-primary text-center font-light text-xs outline-0"
                            (click)="isReview = true;">view
                            reviews</button>
                        <button type="button" class="text-primary text-center font-light text-xs outline-0"
                            (click)="isReview = true; reviewModalEnabled = true;">write
                            review</button>
                    </div>

                </div>
            </div>
            <!-- <div>
                header
            </div> -->
            <div class="h-full lg:flex-1 w-full lg:w-auto">
                <div class="lg:pt-[100px]">
                    <div class="flex flex-col lg:flex-row flex-wrap gap-8 lg:gap-0 ltr:lg:pl-8 rtl:lg:pr-8 pb-8">
                        <div class="relative pt-4 h-[198px] w-full" id="img-container">
                            <img src="assets/images/cover.webp"
                                class="h-[157px] top-0 bottom-0 my-auto max-w-[unset] relative lg:absolute w-full"
                                [style.left.px]="isMobile ? 0 : -(differenceSize)"
                                [style.width]="'calc(100% + ' + (isMobile ? 0 : differenceSize) + 'px)'" alt="FOM" />
                        </div>

                        <div class="w-full mt-2 flex flex-col gap-4">
                            <ng-container>
                                <ng-container *ngIf="isReview">
                                    <div>
                                        <button type="button" class="outline-0" (click)="isReview = false;">
                                            <span class="font-light">Back To Home page</span>
                                        </button>
                                    </div>
                                </ng-container>
                                <div *ngIf="writePermission" class="w-full shadow-2xl bg-white rounded-xl">
                                    <div class="w-full flex flex-col gap-4">
                                        <div class="py-8 px-4">
                                            <p class="bg-[#ebebeb] rounded-xl px-4 py-4 cursor-text text-[#a6a5a5]"
                                                (click)="writePostModalEnabled = true;">Start showing your unique
                                                services
                                                now!
                                            </p>
                                        </div>
                                        <div class="flex items-center bg-[#ebebeb] rounded-b-xl">
                                            <button type="button"
                                                (click)="writePostModalEnabled = true;isInnerPhotoClicked = true;"
                                                class="w-1/2 flex items-center justify-center gap-2 py-4 relative after:content-[''] after:absolute after:top-0 after:bottom-0 after:my-auto after:right-0 after:w-[0.5px] after:h-[68%] after:bg-black after:opacity-30 outline-0">
                                                <span>
                                                    <app-svg src="assets/svgs/img.svg" class="" customClass=""
                                                        label="title_goas_here" [stretch]="false" width="24"></app-svg>
                                                </span>
                                                <span>Photo/video</span>
                                            </button>
                                            <button type="button" (click)="writePostModalEnabled = true;"
                                                class="w-1/2 flex items-center justify-center gap-2 py-4 outline-0">
                                                <span>
                                                    <app-svg src="assets/svgs/map-marker.svg" class="" customClass=""
                                                        label="title_goas_here" [stretch]="false" width="24"
                                                        fill="#802d3d"></app-svg>
                                                </span>
                                                <span>Check in</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <ng-container *ngIf="!isReview">
                                    <div *ngIf="posts.length === 0" class="flex flex-col gap-4 w-full">
                                        <div class="flex flex-col lg:flex-row justify-between items-center">
                                            <div class="flex-1">
                                                <p class="font-normal">Simple steps to get started:</p>
                                                <ul class="mt-4">
                                                    <li>
                                                        <p>1- Lorem Ipsum is simply dummy text of the
                                                            printing.</p>
                                                    </li>
                                                    <li>
                                                        <p>2- Lorem Ipsum is simply dummy text of the
                                                            printing and.</p>
                                                    </li>
                                                    <li>
                                                        <p>3- Lorem Ipsum is simply dummy text of the
                                                            printing and
                                                            typesetting.
                                                        </p>
                                                    </li>
                                                </ul>
                                                <p class="mt-4">Lorem Ipsum <strong class="font-normal">is simply
                                                        dummy text of the
                                                        printing
                                                        and
                                                        typesetting.</strong>
                                                </p>
                                            </div>
                                            <div class="w-[263px]">
                                                <img class="w-full h-full" src="assets/images/no-post.webp" alt="FOM" />
                                            </div>
                                        </div>
                                        <div class="mt-16">
                                            <p class="text-center text-primary font-bold">No Showcase available</p>
                                        </div>
                                    </div>
                                    <ng-container>
                                        <div class="w-full flex flex-col lg:flex-row gap-4">
                                            <div *ngFor="let item of posts"
                                                class="w-full lg:w-[calc(50%-8px)] bg-white shadow-2xl rounded-xl relative">
                                                <p class="flex justify-between gap-2 px-6 pt-6">
                                                    <span class="text-primary font-medium">Title Title Title
                                                        Title</span>
                                                    <button type="button" (click)="posts = [];">
                                                        <app-svg src="assets/svgs/dots.svg" class="" customClass=""
                                                            label="title_goas_here" [stretch]="false" width="15"
                                                            fill="#802d3d"></app-svg>
                                                    </button>
                                                </p>
                                                <p class="text-gray-400 mb-2 px-6 text-xs">Today</p>
                                                <p class="px-6 mt-0.5 text-[14px] leading-[17px]">Lorem Ipsum is simply
                                                    dummy text of the printing
                                                    and
                                                    typesetting
                                                    industry.
                                                    Lorem
                                                    Ipsum has
                                                    been the
                                                    industry's standard dummy text ever since the 1500s</p>
                                                <div class="mt-2 mb-5">
                                                    <button class="text-primary px-6 text-xs outline-0"
                                                        type="button">Read
                                                        More</button>
                                                </div>
                                                <img class="w-full h-[400px] rounded-b-xl" src="assets/images/post.webp"
                                                    alt="FOM" />
                                                <div
                                                    class="absolute left-0 -bottom-2.5 right-0 mx-auto w-full flex flex-col">
                                                    <div
                                                        class="bg-primary bg-blend-multiply w-[80%] mx-auto px-8 rounded-full -mb-2">
                                                        <ul class="flex items-center justify-between pt-0.5 pb-2.5">
                                                            <li>
                                                                <p class="text-white font-light text-sm">8690 Likes
                                                                </p>
                                                            </li>
                                                            <li>
                                                                <p class="text-white font-light text-sm">8690
                                                                    Comments</p>
                                                            </li>
                                                            <li>
                                                                <p class="text-white font-light text-sm">8690 Share
                                                                </p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="bg-white w-[90%] mx-auto rounded-full">
                                                        <ul class="flex justify-between px-6 py-1">
                                                            <li>
                                                                <button type="button"
                                                                    class="flex items-center gap-1.5 outline-0">
                                                                    <span>
                                                                        <app-svg src="assets/svgs/heart.svg" class=""
                                                                            customClass="mt-[-3px]"
                                                                            label="title_goas_here" [stretch]="false"
                                                                            width="20" fill="#802d3d"></app-svg>
                                                                    </span>
                                                                    <span>Like</span>
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button type="button"
                                                                    class="flex items-center gap-1.5 outline-0">
                                                                    <span>
                                                                        <app-svg src="assets/svgs/comment.svg" class=""
                                                                            customClass="mt-[-3px]"
                                                                            label="title_goas_here" [stretch]="false"
                                                                            width="15" fill="#802d3d"></app-svg>
                                                                    </span>
                                                                    <span>Comment</span>
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button type="button"
                                                                    class="flex items-center gap-1.5 outline-0">
                                                                    <span>
                                                                        <app-svg src="assets/svgs/share.svg" class=""
                                                                            customClass="mt-[-3px]"
                                                                            label="title_goas_here" [stretch]="false"
                                                                            width="17" fill="#802d3d"></app-svg>
                                                                    </span>
                                                                    <span>Share</span>
                                                                </button>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="isReview">
                                <ul>
                                    <li>
                                        <div class="bg-white shadow-2xl rounded-xl py-7 px-6">
                                            <p class="flex items-center gap-2">
                                                <span class="font-light">Rami Duies</span>
                                                <span>
                                                    <app-svg src="assets/svgs/star.svg"
                                                        class="h-[13px] flex items-center" label="title_goas_here"
                                                        [stretch]="false" height="13" width="14"
                                                        fill="#802d3d"></app-svg>
                                                </span>
                                                <span class="text-[#c0c0c0]">recommends</span>
                                            </p>
                                            <p class="mt-[14px] leading-5">Lorem Ipsum is simply dummy text of the
                                                printing
                                                and
                                                typesetting
                                                industry.
                                                Lorem
                                                Ipsum has been the industry's standard dummy text ever since the 1500s,
                                                when
                                                an
                                                unknown printer took a galley of type and scrambled it to make a type
                                                specimen
                                                book.
                                                It has survived not only five centuries, but also the leap into
                                                electronic
                                                typesetting, remaining essentially unchanged.</p>
                                            <div class="mt-3">
                                                <button class="text-primary text-xs outline-0" type="button">Read
                                                    more</button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>









<!--  -->
<app-modal [template]="mapModalTemplate" [isModalEnabled]="mapModalEnabled"
    (closeModalByKeyboard)="mapModalEnabled = false;" modalClasses="inset-0 w-[90%] max-w-[616px]">
    <ng-template #mapModalTemplate>
        <div class="bg-white rounded-xl">
            <div class="modal-header px-[21px] flex justify-end py-4 bg-[#ebebeb] rounded-t-xl relative">
                <p class="w-full text-center font-normal">create your caseshow</p>
                <button type="button" (click)="mapModalEnabled = false;"
                    class="absolute right-5 top-0 bottom-0 my-auto outline-0">
                    <app-svg src="assets/svgs/close-circle.svg" class="" customClass="" label="title_goas_here"
                        [stretch]="false" width="30" stroke="#802d3d"></app-svg>
                </button>
            </div>
            <div class="modal-body pt-7 px-3 pb-3">
                <section class="">
                    <p class="text-black opacity-50 mb-6">Lorem Ipsum is simply dummy text of the printing and
                        typesetting
                        industry</p>

                    <div>
                        <div style="overflow:hidden;max-width:100%;width:500px;height:500px;"
                            class="!w-full !h-[300px]">
                            <div id="embedded-map-display" style="height:100%; width:100%;max-width:100%;">
                                <iframe style="height:100%;width:100%;border:0;" frameborder="0" class="rounded-xl"
                                    src="https://www.google.com/maps/embed/v1/place?q=amman&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe>
                            </div>
                        </div>
                    </div>
                    <button
                        class="text-white bg-primary hover:text-primary hover:bg-white transition-all focus:ring-4 focus:outline-none focus:ring-blue-300  font-normal rounded-xl px-4 py-2 text-center w-full mt-2.5 outline-0"
                        type="button">Publish Now</button>
                </section>
            </div>
        </div>
    </ng-template>
</app-modal>

<!--  -->
<app-modal [template]="reviewModalTemplate" [isModalEnabled]="reviewModalEnabled"
    (closeModalByKeyboard)="reviewModalEnabled = false;" modalClasses="inset-0 w-[90%] max-w-[616px]">
    <ng-template #reviewModalTemplate>
        <div class="bg-white rounded-xl">
            <div class="modal-header px-[21px] flex justify-end py-4 bg-[#ebebeb] rounded-t-xl relative">
                <p class="w-full text-center font-normal">review / recommendation</p>
                <button type="button" (click)="reviewModalEnabled = false;"
                    class="absolute right-5 top-0 bottom-0 my-auto outline-0">
                    <app-svg src="assets/svgs/close-circle.svg" class="" customClass="" label="title_goas_here"
                        [stretch]="false" width="30" stroke="#802d3d"></app-svg>
                </button>
            </div>
            <div class="modal-body pt-[22px] px-3 pb-3">
                <section class="">
                    <div>
                        <div class="flex gap-2.5 items-center justify-center">
                            <app-svg src="assets/svgs/star.svg" class="h-[22px] flex items-center"
                                label="title_goas_here" [stretch]="false" height="22" width="22"
                                fill="#802d3d"></app-svg>
                            <app-svg src="assets/svgs/star.svg" class="h-[22px] flex items-center"
                                label="title_goas_here" [stretch]="false" height="22" width="22"
                                fill="#802d3d"></app-svg>
                            <app-svg src="assets/svgs/star.svg" class="h-[22px] flex items-center"
                                label="title_goas_here" [stretch]="false" height="22" width="22"
                                fill="#802d3d"></app-svg>
                            <app-svg src="assets/svgs/star.svg" class="h-[22px] flex items-center"
                                label="title_goas_here" [stretch]="false" height="22" width="22"
                                fill="#802d3d"></app-svg>
                            <app-svg src="assets/svgs/star.svg" class="h-[22px] flex items-center"
                                label="title_goas_here" [stretch]="false" height="22" width="22"
                                fill="#D3A19E"></app-svg>
                        </div>
                    </div>
                    <p class="pt-5 pb-4 text-primary text-center text-xs font-light">Lorem Ipsum is simply dummy?</p>
                    <hr class="border-primary border-[0.5px] w-[406px] opacity-30 mx-auto" />
                    <div class="mt-4">
                        <textarea class="w-full h-[156px] p-4 bg-[#ebebeb] rounded-xl"
                            placeholder="Create your review!"></textarea>
                    </div>
                    <button
                        class="text-white bg-primary hover:text-primary hover:bg-white transition-all focus:ring-4 focus:outline-none focus:ring-blue-300  font-normal rounded-xl px-4 py-2 text-center w-full mt-2.5 outline-0"
                        type="button">Publish Now</button>
                </section>
            </div>
        </div>
    </ng-template>
</app-modal>

<!--  -->
<app-modal [template]="writePostModalTemplate" [isModalEnabled]="writePostModalEnabled"
    (closeModalByKeyboard)="writePostModalEnabled = false;" modalClasses="inset-0 w-[90%] max-w-[616px]">
    <ng-template #writePostModalTemplate>
        <div class="bg-white rounded-xl">
            <div class="modal-header px-[21px] flex justify-end py-4 bg-[#ebebeb] rounded-t-xl relative">
                <p class="w-full text-center font-normal">create your caseshow</p>
                <button type="button" (click)="writePostModalEnabled = false;"
                    class="absolute right-5 top-0 bottom-0 my-auto outline-0">
                    <app-svg src="assets/svgs/close-circle.svg" class="" customClass="" label="title_goas_here"
                        [stretch]="false" width="30" stroke="#802d3d"></app-svg>
                </button>
            </div>
            <div class="modal-body px-3 pb-3">
                <section class="">
                    <textarea class="w-full outline-0 min-h-[239px] py-[30px] px-7"
                        placeholder="Lorem Ipsum is simply dummy text of the printing and typesetting industry"></textarea>

                    <div class="flex items-center bg-[#ebebeb] rounded-xl -mt-1.5" *ngIf="!isInnerPhotoClicked">
                        <button type="button" (click)="isInnerPhotoClicked = true;"
                            class="w-1/2 flex items-center justify-center gap-2 py-4 relative after:content-[''] after:absolute after:top-0 after:bottom-0 after:my-auto after:right-0 after:w-[0.5px] after:h-[68%] after:bg-black after:opacity-30 outline-0">
                            <span>
                                <app-svg src="assets/svgs/img-pink.svg" class="" customClass="" label="title_goas_here"
                                    [stretch]="false" width="24"></app-svg>
                            </span>
                            <span>Photo/video</span>
                        </button>
                        <button type="button" class="w-1/2 flex items-center justify-center gap-2 py-4 outline-0">
                            <span>
                                <app-svg src="assets/svgs/map-marker.svg" class="" customClass=""
                                    label="title_goas_here" [stretch]="false" width="24" fill="#D3A19E"></app-svg>
                            </span>
                            <span>Check in</span>
                        </button>
                    </div>



                    <div *ngIf="isInnerPhotoClicked"
                        class="bg-[#ebebeb] rounded-xl h-[202px] flex flex-col items-center justify-center relative cursor-pointer">
                        <button type="button" (click)="isInnerPhotoClicked = false;"
                            class="absolute top-2.5 right-2.5 outline-0">
                            <app-svg src="assets/svgs/close-circle.svg" class="" customClass="" label="title_goas_here"
                                [stretch]="false" width="28" stroke="#000000"></app-svg>
                        </button>
                        <div>
                            <app-svg src="assets/svgs/img-black.svg" class="" customClass="" label="title_goas_here"
                                [stretch]="false" width="38"></app-svg>
                        </div>
                        <p class="font-normal mt-1">Add photo/video</p>
                        <p class="text-sm">or drag and drop</p>
                    </div>
                    <button
                        class="text-white bg-primary hover:text-primary hover:bg-white transition-all focus:ring-4 focus:outline-none focus:ring-blue-300  font-normal rounded-xl px-4 py-2 text-center w-full mt-2.5 outline-0"
                        type="button">Publish Now</button>
                </section>
            </div>
        </div>
    </ng-template>
</app-modal>

<!--  -->
<app-modal [template]="hoursModalTemplate" [isModalEnabled]="hoursModalEnabled"
    (closeModalByKeyboard)="hoursModalEnabled = false;" modalClasses="inset-0 w-[90%] max-w-[616px]">
    <ng-template #hoursModalTemplate>
        <div class="bg-white rounded-xl">
            <div class="modal-header px-[21px] flex justify-end py-4 bg-[#ebebeb] rounded-t-xl relative">
                <p class="w-full text-center font-normal">Hours</p>
                <button type="button" (click)="hoursModalEnabled = false;"
                    class="absolute right-5 top-0 bottom-0 my-auto outline-0">
                    <app-svg src="assets/svgs/close-circle.svg" class="" customClass="" label="title_goas_here"
                        [stretch]="false" width="30" stroke="#802d3d"></app-svg>
                </button>
            </div>
            <div class="modal-body py-7">
                <section class="w-[348px] mx-auto">
                    <ul class="flex flex-col gap-5">
                        <li class="flex justify-between">
                            <div class="flex gap-3">
                                <span class="w-[18px] relative">
                                    <app-svg src="assets/svgs/time.svg" class="absolute left-[-3px] top-0"
                                        customClass="" label="title_goas_here" [stretch]="false" width="24"
                                        fill="#802d3d"></app-svg>
                                </span>
                                <span class="flex flex-col gap-2">
                                    <span>
                                        <strong class="font-medium text-lg">Hours</strong>
                                    </span>
                                    <span class="text-[#31A73B] font-light text-[13px] -mt-3.5">Open Now</span>
                                </span>
                            </div>
                            <div>

                            </div>
                        </li>
                        <li class="flex justify-between mt-1">
                            <div class="flex gap-2">
                                <span class="flex flex-col gap-2 ltr:pl-[31px] rtl:pr-[31px]">
                                    <span class="text-[13px]">
                                        Monday
                                    </span>
                                </span>
                            </div>
                            <div>
                                <p class="text-[13px]">9:00 - 00:00</p>
                            </div>
                        </li>
                        <li class="flex justify-between">
                            <div class="flex gap-2">
                                <span class="flex flex-col gap-2 ltr:pl-[31px] rtl:pr-[31px]">
                                    <span class="text-[13px]">
                                        Monday
                                    </span>
                                </span>
                            </div>
                            <div>
                                <p class="text-[13px]">9:00 - 00:00</p>
                            </div>
                        </li>
                        <li class="flex justify-between">
                            <div class="flex gap-2">
                                <span class="flex flex-col gap-2 ltr:pl-[31px] rtl:pr-[31px]">
                                    <span class="text-[13px]">
                                        Monday
                                    </span>
                                </span>
                            </div>
                            <div>
                                <p class="text-[13px]">9:00 - 00:00</p>
                            </div>
                        </li>
                        <li class="flex justify-between">
                            <div class="flex gap-2">
                                <span class="flex flex-col gap-2 ltr:pl-[31px] rtl:pr-[31px]">
                                    <span class="text-[13px]">
                                        Monday
                                    </span>
                                </span>
                            </div>
                            <div>
                                <p class="text-[13px]">9:00 - 00:00</p>
                            </div>
                        </li>
                        <li class="flex justify-between">
                            <div class="flex gap-2">
                                <span class="flex flex-col gap-2 ltr:pl-[31px] rtl:pr-[31px]">
                                    <span>
                                        <strong class="text-[13px] font-medium">Monday</strong>
                                    </span>
                                </span>
                            </div>
                            <div>
                                <p>
                                    <strong class="text-[13px] font-medium">9:00 - 00:00</strong>
                                </p>
                            </div>
                        </li>
                        <li class="flex justify-between">
                            <div class="flex gap-2">
                                <span class="flex flex-col gap-2 ltr:pl-[31px] rtl:pr-[31px]">
                                    <span class="text-[13px]">
                                        Monday
                                    </span>
                                </span>
                            </div>
                            <div>
                                <p class="text-[13px]">9:00 - 00:00</p>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </ng-template>
</app-modal>


<app-modal [template]="cropModalTemplate" [isModalEnabled]="cropModalEnabled"
    (closeModalByKeyboard)="cropModalEnabled = false;" modalClasses="inset-0 w-[90%] max-w-[616px]">
    <ng-template #cropModalTemplate>
        <div class="bg-white rounded-xl">
            <div class="modal-header px-[21px] flex justify-end py-4 bg-[#ebebeb] rounded-t-xl relative">
                <p class="w-full text-center font-normal">Crop Image</p>
                <button type="button" (click)="cropModalEnabled = false;"
                    class="absolute right-5 top-0 bottom-0 my-auto outline-0">
                    <app-svg src="assets/svgs/close-circle.svg" class="" customClass="" label="title_goas_here"
                        [stretch]="false" width="30" stroke="#802d3d"></app-svg>
                </button>
            </div>
            <div class="modal-body py-7">
                <!--  -->
                <input #fileUploader type="file" class="hidden" (change)="fileChangeEvent($event)" />

                <!-- [cropperMinHeight]="198" [cropperMinWidth]="198" [resizeToWidth]="198" [resizeToHeight]="198" -->

                <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                    [aspectRatio]="1 / 1" format="webp" [imageQuality]="100" [roundCropper]="true"
                    (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded($event)"
                    (cropperReady)="cropperReady()" [(transform)]="transform" [alignImage]="'center'"
                    [hideResizeSquares]="true" (loadImageFailed)="loadImageFailed()"></image-cropper>



                <div class="flex items-center justify-between gap-1">
                    <button type="button" class="w-5 text-3xl" (click)="zoomOut()">-</button>

                    <div class="slidecontainer">
                        <input type="range" min="1" max="3" step="0.1" [(ngModel)]="scale" class="slider"
                            (change)="rangeInput($event)" />
                    </div>


                    <button type="button" class="w-5 text-3xl" (click)="zoomIn()">+</button>
                </div>

                <hr class="border-primary my-4" />

                <div class="flex justify-end gap-2 px-4">
                    <button class="text-primary px-6 py-2" type="button">Cancel</button>
                    <button class="text-white bg-primary px-6 py-2 rounded-md" type="button">Save</button>
                </div>

                <!-- <img [src]="croppedImage" /> -->
                <!--  -->

            </div>
        </div>
    </ng-template>
</app-modal>