<div class="uploader-container relative mb-4 shadow appearance-none border border-[#E0E0E0] rounded w-full p-[19px] h-[61px] flex"
    [class.error]="isErrorEnabled" [class.isFormEnabled]="isFormEnabled">
    <label
        class="absolute -top-1 ltr:left-3 rtl:right-3 -mt-2 text-[#717171] text-[14px] leading-[29px] font-Cairo-Regular duration-300 origin-0 bg-white px-1"
        for="Vehicle">{{data.label | translate}} <span *ngIf="data.isRequired"> *</span></label>

    <div class="flex items-center gap-4 justify-end -mt-1 z-[1] relative w-full">
        <div class="flex flex-1 overflow-hidden" *ngIf="fileName">
            <div
                class="flex items-center gap-2 justify-between h-7 bg-[#ECECEE] rounded-[14px] p-2 whitespace-nowrap overflow-hidden">
                <p class="font-Poppins-Light text-sm text-[#221E20] whitespace-nowrap overflow-hidden text-ellipsis">
                    {{fileName}}</p>
                <button (click)="onCancel()">
                    <app-svg class="cursor-pointer" src="assets/svgs/circle-close-2.svg" customClass="mt-[-3px]"
                        label="title_goas_here" [stretch]="false" width="12" height="12" fill="#00904A"></app-svg>
                </button>
            </div>
        </div>

        <div class="flex flex-row gap-[13px] min-w-[118px]">
            <app-svg (click)="onButtonClick()" class="cursor-pointer" src="assets/svgs/attach.svg"
                customClass="rotate-[360deg]" label="title_goas_here" [stretch]="false" width="19" height="19"
                [fill]="isErrorEnabled ? '#e83d3da1' : '#7C7C7C'"></app-svg>
            <button (click)="onButtonClick()" type="button"
                class="text-[white] text-center text-xs leading-[18px] font-Cairo-Regular uppercase bg-[#008545] rounded-[14px] py-[6px] px-[18px]">
                {{'UPLOADER.ATTACH' | translate}}
            </button>
        </div>
    </div>
    <input #Uploader [disabled]="isFormEnabled" type="file" class="hidden" [accept]="acceptTemp.str" (change)="selectFile($event)" />
</div>