<div class="max-w-desktop w-full px-4 lg:px-10 mx-auto pb-10">
    <p *ngIf="title"
        class="ltr:text-left rtl:text-right font-Cairo-Bold text-xl leading-7 text-[#011C35] uppercase mb-[18px]"
        [innerHTML]="title | translate">

    </p>
    <ul class="hidden lg:flex flex-col lg:flex-row flex-wrap gap-10">
        <li *ngFor="let item of detailes" class="w-full lg:w-[calc((100%/5)-32px)] self-start"
            [class.cursor-pointer]="isClickable">
            <div class="flex flex-col gap-2.5 py-8 bg-[#CBCBCB5E] rounded-[5px] px-4 h-full transition-all hover:opacity-80"
                (click)="toggle(item)" [class.active]="item.isSelected">

                <img class="mx-auto h-[37px] w-[29px]" [src]="item?.svg | imageSource" alt="" width="29" height="37">
                <p *ngIf="item?.subTitle"
                    class="text-center font-Cairo-Regular text-base leading-7 text-[#011C35] capitalize pt-1.5 lg:min-h-[62px]"
                    [innerHTML]="item?.subTitle[lang]">
                </p>
                <div *ngIf="item?.description[lang]" class="lg:min-h-[130px]">
                    <p *ngIf="item.isReadMoreEnabled"
                        class="text-center font-Cairo-Regular text-sm leading-6 text-black"
                        [innerHTML]="item?.description[lang]"></p>
                    <p *ngIf="!item.isReadMoreEnabled"
                        class="text-center font-Cairo-Regular text-sm leading-6 text-black"
                        [innerHTML]="item?.description[lang]?.slice(0, 90)"></p>
                    <button *ngIf="item?.description[lang].length > 90"
                        (click)="item.isReadMoreEnabled = !item.isReadMoreEnabled"
                        class="text-[#009933] font-Cairo-Semi-Bold flex mx-auto pt-2">
                        {{ (item.isReadMoreEnabled ? 'FAHES_MEDIA_CENTER.READ_LESS' : 'FAHES_MEDIA_CENTER.READ_MORE') |
                        translate }}
                    </button>
                </div>
            </div>
        </li>
    </ul>

    <ul class="flex lg:hidden flex-col lg:flex-row flex-wrap gap-10 our-values">
        <owl-carousel-o #owlCarousel [options]="customOptions" class="w-full">
            <ng-container *ngFor="let item of detailes;let i = index">
                <ng-template carouselSlide [id]="i.toString()">
                    <li class="w-full self-start" [class.cursor-pointer]="isClickable">
                        <div class="our-value-item flex flex-col gap-2.5 py-8 bg-[#CBCBCB5E] rounded-[5px] px-10 h-full transition-all hover:opacity-80"
                            (click)="toggle(item)" [class.active]="item.isSelected">

                            <img class="mx-auto h-[37px] w-[29px]" [src]="item?.svg | imageSource" alt="" width="29"
                                height="37">
                            <p *ngIf="item?.subTitle"
                                class="text-center font-Cairo-Regular text-base leading-7 text-[#011C35] capitalize pt-1.5 min-h-[62px]"
                                [innerHTML]="item?.subTitle[lang]">
                            </p>
                            <div *ngIf="item?.description[lang]" class="min-h-[130px]">
                                <p *ngIf="item.isReadMoreEnabled"
                                    class="text-center font-Cairo-Regular text-sm leading-6 text-black"
                                    [innerHTML]="item?.description[lang]"></p>
                                <p *ngIf="!item.isReadMoreEnabled"
                                    class="text-center font-Cairo-Regular text-sm leading-6 text-black"
                                    [innerHTML]="item?.description[lang]?.slice(0, 90)"></p>
                                <button *ngIf="item?.description[lang].length > 90"
                                    (click)="item.isReadMoreEnabled = !item.isReadMoreEnabled"
                                    class="text-[#009933] font-Cairo-Semi-Bold flex mx-auto pt-2">
                                    {{ (item.isReadMoreEnabled ? 'FAHES_MEDIA_CENTER.READ_LESS' :
                                    'FAHES_MEDIA_CENTER.READ_MORE') |
                                    translate }}
                                </button>
                            </div>
                        </div>
                    </li>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </ul>
</div>