<div class="w-full flex flex-col gap-8">
    <div>
        <div class="relative">
            <p class="font-normal">Search</p>
            <hr class="border-black w-[42px] -ml-1.5" />
        </div>
        <div class="mt-8">
            <div class="relative">
                <input type="text" class="w-full h-[47px] bg-gray-100 rounded-xl px-11"
                    placeholder="Type someting & hit enter" />
                <app-svg src="assets/svgs/search.svg" class="absolute right-11 top-0 bottom-0 my-auto flex items-center"
                    customClass="" label="title_goas_here" [stretch]="false" width="20" fill="#802d3d"></app-svg>
            </div>
        </div>
    </div>

    <div>
        <div class="relative">
            <p class="font-normal">Categories</p>
            <hr class="border-black w-[42px] -ml-1.5" />
        </div>
        <ul class="mt-8 flex flex-col gap-2">
            <li>
                <a href="#" class="font-light">
                    Wedding planner 1
                </a>
            </li>
            <li>
                <a href="#" class="font-light">
                    Wedding planner 2
                </a>
            </li>
            <li>
                <a href="#" class="font-light">
                    Wedding planner 3
                </a>
            </li>
            <li>
                <a href="#" class="font-light">
                    Wedding planner 4
                </a>
            </li>
        </ul>
    </div>

    <div>
        <div class="relative">
            <p class="font-normal">Popular Blogs</p>
            <hr class="border-black w-[42px] -ml-1.5" />
        </div>
        <ul class="mt-8 flex flex-col gap-2">
            <li>
                <a href="#" class="font-light">
                    Why some people almost always save money with this method
                </a>
            </li>
            <li>
                <a href="#" class="font-light">
                    Why some people almost always save money with this method
                </a>
            </li>
            <li>
                <a href="#" class="font-light">
                    Why some people almost always save money with this method
                </a>
            </li>
        </ul>
    </div>

    <div>
        <div class="relative">
            <p class="font-normal">Tags</p>
            <hr class="border-black w-[42px] -ml-1.5" />
        </div>
        <app-tags class="block mt-8"></app-tags>
    </div>
</div>