<ul class="flex flex-col gap-2 mt-5">
    <li class="flex flex-row gap-5" [routerLink]="'/en/listing'">
        <span class="w-[22px] relative">
            <app-svg src="assets/svgs/info.svg" class="absolute inset-0 m-auto ml-[-1px]" customClass="mt-[-3px]"
                label="title_goas_here" [stretch]="false" width="24" fill="#802d3d"></app-svg>
        </span>
        <span class="flex items-center gap-3 group cursor-pointer">
            <span class="font-light group-hover:underline">Dance - DJ</span>
            <span class="text-primary text-xs">View more DJ</span>
        </span>
    </li>
    <li class="flex flex-row gap-5" (click)="mapModalEnabled = true;">
        <span class="w-[22px] relative">
            <app-svg src="assets/svgs/map-marker.svg" class="absolute inset-0 m-auto ml-[-0.5px]"
                customClass="mt-[-3px]" label="title_goas_here" [stretch]="false" width="22" fill="#802d3d"></app-svg>
        </span>
        <span class="font-light hover:underline cursor-pointer">Amman, Jordan</span>
    </li>
    <li class="flex flex-row gap-5">
        <span class="w-[22px] relative">
            <app-svg src="assets/svgs/phone-circle.svg" class="absolute inset-0 m-auto ml-[-7px]"
                customClass="mt-[-6px]" label="title_goas_here" [stretch]="false" width="36" stroke="white"
                fill="#802d3d"></app-svg>
        </span>
        <span class="font-light hover:underline cursor-pointer">00962 78 120 88 20</span>
    </li>
    <li class="flex flex-row gap-5">
        <span class="w-[22px] relative">
            <app-svg src="assets/svgs/website.svg" class="absolute inset-0 m-auto" customClass="mt-[-3.5px]"
                label="title_goas_here" [stretch]="false" width="22" fill="#802d3d"></app-svg>
        </span>
        <span class="font-light hover:underline cursor-pointer">www.farhet-omery.com</span>
    </li>
    <li class="flex flex-row gap-5">
        <span class="w-[22px] relative">
            <app-svg src="assets/svgs/time.svg" class="absolute inset-0 m-auto ml-[-3.5px]" customClass="mt-[-2px]"
                label="title_goas_here" [stretch]="false" width="29.34" fill="#802d3d"></app-svg>
        </span>
        <span (click)="hoursModalEnabled = true;" class="group cursor-pointer">
            <span class="font-medium ltr:mr-1.5 rtl:ml-1.5">Opened Now</span>
            <span>
                <app-svg src="assets/svgs/arrow.svg" class="" [customClass]="hoursModalEnabled ? 'rotate-180' : ''"
                    label="title_goas_here" [stretch]="false" width="8" fill="#802d3d"></app-svg>
            </span>
        </span>
    </li>
</ul>



<app-modal [template]="mapModalTemplate" [isModalEnabled]="mapModalEnabled"
    (closeModalByKeyboard)="mapModalEnabled = false;" modalClasses="inset-0 w-[90%] max-w-[616px]">
    <ng-template #mapModalTemplate>
        <div class="bg-white rounded-xl">
            <div class="modal-header px-[21px] flex justify-end py-4 bg-[#ebebeb] rounded-t-xl relative">
                <p class="w-full text-center font-normal">create your caseshow</p>
                <button type="button" (click)="mapModalEnabled = false;"
                    class="absolute right-5 top-0 bottom-0 my-auto outline-0">
                    <app-svg src="assets/svgs/close-circle.svg" class="" customClass="" label="title_goas_here"
                        [stretch]="false" width="30" stroke="#802d3d"></app-svg>
                </button>
            </div>
            <div class="modal-body pt-7 px-3 pb-3">
                <section class="">
                    <p class="text-black opacity-50 mb-6">Lorem Ipsum is simply dummy text of the printing and
                        typesetting
                        industry</p>

                    <div>
                        <div style="overflow:hidden;max-width:100%;width:500px;height:500px;"
                            class="!w-full !h-[300px]">
                            <div id="embedded-map-display" style="height:100%; width:100%;max-width:100%;">
                                <iframe style="height:100%;width:100%;border:0;" frameborder="0" class="rounded-xl"
                                    src="https://www.google.com/maps/embed/v1/place?q=amman&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe>
                            </div>
                        </div>
                    </div>
                    <button
                        class="text-white bg-primary hover:text-primary hover:bg-white transition-all focus:ring-4 focus:outline-none focus:ring-blue-300  font-normal rounded-xl px-4 py-2 text-center w-full mt-2.5 outline-0"
                        type="button">Publish Now</button>
                </section>
            </div>
        </div>
    </ng-template>
</app-modal>






<app-modal [template]="hoursModalTemplate" [isModalEnabled]="hoursModalEnabled"
    (closeModalByKeyboard)="hoursModalEnabled = false;" modalClasses="inset-0 w-[90%] max-w-[616px]">
    <ng-template #hoursModalTemplate>
        <div class="bg-white rounded-xl">
            <div class="modal-header px-[21px] flex justify-end py-4 bg-[#ebebeb] rounded-t-xl relative">
                <p class="w-full text-center font-normal">Hours</p>
                <button type="button" (click)="hoursModalEnabled = false;"
                    class="absolute right-5 top-0 bottom-0 my-auto outline-0">
                    <app-svg src="assets/svgs/close-circle.svg" class="" customClass="" label="title_goas_here"
                        [stretch]="false" width="30" stroke="#802d3d"></app-svg>
                </button>
            </div>
            <div class="modal-body py-7">
                <section class="w-[348px] mx-auto">
                    <ul class="flex flex-col gap-5">
                        <li class="flex justify-between">
                            <div class="flex gap-3">
                                <span class="w-[18px] relative">
                                    <app-svg src="assets/svgs/time.svg" class="absolute left-[-3px] top-0"
                                        customClass="" label="title_goas_here" [stretch]="false" width="24"
                                        fill="#802d3d"></app-svg>
                                </span>
                                <span class="flex flex-col gap-2">
                                    <span>
                                        <strong class="font-medium text-lg">Hours</strong>
                                    </span>
                                    <span class="text-[#31A73B] font-light text-[13px] -mt-3.5">Open Now</span>
                                </span>
                            </div>
                            <div>

                            </div>
                        </li>
                        <li class="flex justify-between mt-1">
                            <div class="flex gap-2">
                                <span class="flex flex-col gap-2 ltr:pl-[31px] rtl:pr-[31px]">
                                    <span class="text-[13px]">
                                        Monday
                                    </span>
                                </span>
                            </div>
                            <div>
                                <p class="text-[13px]">9:00 - 00:00</p>
                            </div>
                        </li>
                        <li class="flex justify-between">
                            <div class="flex gap-2">
                                <span class="flex flex-col gap-2 ltr:pl-[31px] rtl:pr-[31px]">
                                    <span class="text-[13px]">
                                        Monday
                                    </span>
                                </span>
                            </div>
                            <div>
                                <p class="text-[13px]">9:00 - 00:00</p>
                            </div>
                        </li>
                        <li class="flex justify-between">
                            <div class="flex gap-2">
                                <span class="flex flex-col gap-2 ltr:pl-[31px] rtl:pr-[31px]">
                                    <span class="text-[13px]">
                                        Monday
                                    </span>
                                </span>
                            </div>
                            <div>
                                <p class="text-[13px]">9:00 - 00:00</p>
                            </div>
                        </li>
                        <li class="flex justify-between">
                            <div class="flex gap-2">
                                <span class="flex flex-col gap-2 ltr:pl-[31px] rtl:pr-[31px]">
                                    <span class="text-[13px]">
                                        Monday
                                    </span>
                                </span>
                            </div>
                            <div>
                                <p class="text-[13px]">9:00 - 00:00</p>
                            </div>
                        </li>
                        <li class="flex justify-between">
                            <div class="flex gap-2">
                                <span class="flex flex-col gap-2 ltr:pl-[31px] rtl:pr-[31px]">
                                    <span>
                                        <strong class="text-[13px] font-medium">Monday</strong>
                                    </span>
                                </span>
                            </div>
                            <div>
                                <p>
                                    <strong class="text-[13px] font-medium">9:00 - 00:00</strong>
                                </p>
                            </div>
                        </li>
                        <li class="flex justify-between">
                            <div class="flex gap-2">
                                <span class="flex flex-col gap-2 ltr:pl-[31px] rtl:pr-[31px]">
                                    <span class="text-[13px]">
                                        Monday
                                    </span>
                                </span>
                            </div>
                            <div>
                                <p class="text-[13px]">9:00 - 00:00</p>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </ng-template>
</app-modal>