<ul class="flex flex-col gap-2 mt-5">
    <li class="flex flex-row gap-5" [routerLink]="'/en/listing'">
        <span class="w-[22px] relative">
            <app-svg src="assets/svgs/info.svg" class="absolute inset-0 m-auto ml-[-1px]" customClass="mt-[-3px]"
                label="title_goas_here" [stretch]="false" width="24" fill="#802d3d"></app-svg>
        </span>
        <span class="flex items-center gap-3 group cursor-pointer">
            <span class="font-light group-hover:underline">Dance - DJ</span>
            <span class="text-primary text-xs">View more DJ</span>
        </span>
    </li>
    <li class="flex flex-row gap-5" (click)="mapModalEnabled = true;">
        <span class="w-[22px] relative">
            <app-svg src="assets/svgs/map-marker.svg" class="absolute inset-0 m-auto ml-[-0.5px]"
                customClass="mt-[-3px]" label="title_goas_here" [stretch]="false" width="22" fill="#802d3d"></app-svg>
        </span>
        <span class="font-light hover:underline cursor-pointer">Amman, Jordan</span>
    </li>
    <li class="flex flex-row gap-5">
        <span class="w-[22px] relative">
            <app-svg src="assets/svgs/phone-circle.svg" class="absolute inset-0 m-auto ml-[-7px]"
                customClass="mt-[-6px]" label="title_goas_here" [stretch]="false" width="36" stroke="white"
                fill="#802d3d"></app-svg>
        </span>
        <span class="font-light hover:underline cursor-pointer">00962 78 120 88 20</span>
    </li>
    <li class="flex flex-row gap-5">
        <span class="w-[22px] relative">
            <app-svg src="assets/svgs/website.svg" class="absolute inset-0 m-auto" customClass="mt-[-3.5px]"
                label="title_goas_here" [stretch]="false" width="22" fill="#802d3d"></app-svg>
        </span>
        <span class="font-light hover:underline cursor-pointer">www.farhet-omery.com</span>
    </li>
    <li class="flex flex-row gap-5">
        <span class="w-[22px] relative">
            <app-svg src="assets/svgs/time.svg" class="absolute inset-0 m-auto ml-[-3.5px]" customClass="mt-[-2px]"
                label="title_goas_here" [stretch]="false" width="29.34" fill="#802d3d"></app-svg>
        </span>
        <span (click)="hoursModalEnabled = true;" class="group cursor-pointer">
            <span class="font-medium ltr:mr-1.5 rtl:ml-1.5">Opened Now</span>
            <span>
                <app-svg src="assets/svgs/arrow.svg" class="" [customClass]="hoursModalEnabled ? 'rotate-180' : ''"
                    label="title_goas_here" [stretch]="false" width="8" fill="#802d3d"></app-svg>
            </span>
        </span>
    </li>
</ul>



<app-map [isModalEnabled]="mapModalEnabled"></app-map>

<app-hours [isModalEnabled]="hoursModalEnabled"></app-hours>