<div class="relative min-h-[157px] flex items-end pb-5">
    <div class="striped-background bg-primary"></div>
    <div class="relative z-10 flex gap-14 w-full items-center">
        <div class="w-1/2 text-right">
            <p class="text-white font-medium text-3xl">Dance Team</p>
        </div>
        <div class="w-1/2">
            <p class="text-white max-w-[319px]">and we strive to turn your wedding dream into a stunning
                reality.
                <strong class="font-medium">Let us be
                    your</strong>
            </p>
        </div>
    </div>
</div>
<div class="section flex flex-col pt-[21px] mbx-3">
    <div class="flex items-center justify-between gap-4">


        <div class="flex gap-[38px]">
            <div class="flex gap-4 items-center">
                <label for="">Search By Price</label>
                <div class="relative w-[130px]">
                    <input type="text" placeholder="Low to High"
                        class="px-2 border-b border-solid border-primary text-[15px] w-full" />
                    <app-svg src="assets/svgs/arrow.svg" class="absolute right-2 top-0 bottom-0 my-auto" customClass=""
                        label="title_goas_here" [stretch]="false" width="8" fill="#802d3d"></app-svg>
                </div>
            </div>

            <div class="flex gap-4 items-center">
                <label for="">Search By name</label>
                <div class="relative w-[130px]">
                    <input type="text" placeholder="e.g. Farhet omry"
                        class="px-2 border-b border-solid border-primary text-[15px] w-full" />
                </div>
            </div>

        </div>

        <div class="flex items-center gap-[22px]">

            <!-- w 92
            h 26 -->

            <button type="button"
                class="text-white bg-primary hover:text-primary hover:bg-white transition-all focus:ring-4 focus:outline-none focus:ring-blue-300  font-normal rounded-lg text-sm px-4 py-2 text-center">Submit</button>

            <button type="button"
                class="text-primary bg-white transition-all focus:ring-4 focus:outline-none focus:ring-blue-300  font-normal rounded-lg text-sm py-2 text-center flex items-center gap-1.5">
                <app-svg src="assets/svgs/filter.svg" class="mt-[-3px]" customClass="" label="title_goas_here"
                    [stretch]="false" width="16" fill="#802d3d"></app-svg>
                <span class="font-light">More Filter</span>
            </button>
        </div>

        <!-- <p>Search By Price</p>
        Low to High

        <p>Search By name</p>
        e.g. Farhet omry

        

        




        <app-svg src="assets/svgs/arrow.svg" class="mt-[-3px]" customClass="" label="title_goas_here" [stretch]="false"
            width="12" fill="#802d3d"></app-svg>
 -->


    </div>
    <div class="flex flex-col gap-4 mt-[17px] mb-4">
        <div class="w-full h-[140px] pb-2 px-4 rounded-xl bg-center bg-cover relative group overflow-hidden"
            style="background-image: url('assets/images/listing-1.jpg');">
            <div
                class="absolute left-0 top-0 w-full h-full bg-black opacity-50 rounded-xl group-hover:opacity-70 transition-all">
            </div>
            <div class="relative z-10 flex gap-4 items-end h-full">
                <div class="flex-1 translate-y-[44px] group-hover:translate-y-0 transition-all">
                    <p class="text-white font-normal text-xl">Husin Alwesi DJ</p>
                    <p class="text-white">is simply dummy text of the</p>
                    <div class="flex gap-1.5 items-center mb-1.5 opacity-0 group-hover:opacity-100 transition-all">
                        <app-svg src="assets/svgs/star.svg" class="h-[13px] flex items-center" label="title_goas_here"
                            [stretch]="false" height="13" width="14" fill="#802d3d"></app-svg>
                        <app-svg src="assets/svgs/star.svg" class="h-[13px] flex items-center" label="title_goas_here"
                            [stretch]="false" height="13" width="14" fill="#802d3d"></app-svg>
                        <app-svg src="assets/svgs/star.svg" class="h-[13px] flex items-center" label="title_goas_here"
                            [stretch]="false" height="13" width="14" fill="#802d3d"></app-svg>
                        <app-svg src="assets/svgs/star.svg" class="h-[13px] flex items-center" label="title_goas_here"
                            [stretch]="false" height="13" width="14" fill="#802d3d"></app-svg>
                        <app-svg src="assets/svgs/star.svg" class="h-[13px] flex items-center" label="title_goas_here"
                            [stretch]="false" height="13" width="14" fill="#ffffff"></app-svg>
                    </div>
                    <button type="button"
                        class="text-white text-sm opacity-0 group-hover:opacity-100 transition-all">Read More</button>
                </div>

                <div
                    class="w-auto translate-x-20 opacity-0 group-hover:opacity-100 group-hover:translate-x-0 transition-all">
                    <!-- w 51
                    h 66 -->
                    <img src="assets/images/listing-item-logo.png" class="w-auto h-[66px] ml-auto" />
                </div>
            </div>
        </div>
        <div class="w-full h-[140px] pb-2 px-4 rounded-xl bg-center bg-cover relative group overflow-hidden"
            style="background-image: url('assets/images/listing-2.jpg');">
            <div
                class="absolute left-0 top-0 w-full h-full bg-black opacity-50 rounded-xl group-hover:opacity-70 transition-all">
            </div>
            <div class="relative z-10 flex gap-4 items-end h-full">
                <div class="flex-1 translate-y-[44px] group-hover:translate-y-0 transition-all">
                    <p class="text-white font-normal text-xl">Husin Alwesi DJ</p>
                    <p class="text-white">is simply dummy text of the</p>
                    <div class="flex gap-1.5 items-center mb-1.5 opacity-0 group-hover:opacity-100 transition-all">
                        <app-svg src="assets/svgs/star.svg" class="h-[13px] flex items-center" label="title_goas_here"
                            [stretch]="false" height="13" width="14" fill="#802d3d"></app-svg>
                        <app-svg src="assets/svgs/star.svg" class="h-[13px] flex items-center" label="title_goas_here"
                            [stretch]="false" height="13" width="14" fill="#802d3d"></app-svg>
                        <app-svg src="assets/svgs/star.svg" class="h-[13px] flex items-center" label="title_goas_here"
                            [stretch]="false" height="13" width="14" fill="#802d3d"></app-svg>
                        <app-svg src="assets/svgs/star.svg" class="h-[13px] flex items-center" label="title_goas_here"
                            [stretch]="false" height="13" width="14" fill="#802d3d"></app-svg>
                        <app-svg src="assets/svgs/star.svg" class="h-[13px] flex items-center" label="title_goas_here"
                            [stretch]="false" height="13" width="14" fill="#ffffff"></app-svg>
                    </div>
                    <button type="button"
                        class="text-white text-sm opacity-0 group-hover:opacity-100 transition-all">Read More</button>
                </div>

                <div
                    class="w-auto translate-x-20 opacity-0 group-hover:opacity-100 group-hover:translate-x-0 transition-all">
                    <!-- w 51
                h 66 -->
                    <img src="assets/images/listing-item-logo.png" class="w-auto h-[66px] ml-auto" />
                </div>
            </div>
        </div>
        <div class="w-full h-[140px] pb-2 px-4 rounded-xl bg-center bg-cover relative group overflow-hidden"
            style="background-image: url('assets/images/listing-1.jpg');">
            <div
                class="absolute left-0 top-0 w-full h-full bg-black opacity-50 rounded-xl group-hover:opacity-70 transition-all">
            </div>
            <div class="relative z-10 flex gap-4 items-end h-full">
                <div class="flex-1 translate-y-[44px] group-hover:translate-y-0 transition-all">
                    <p class="text-white font-normal text-xl">Husin Alwesi DJ</p>
                    <p class="text-white">is simply dummy text of the</p>
                    <div class="flex gap-1.5 items-center mb-1.5 opacity-0 group-hover:opacity-100 transition-all">
                        <app-svg src="assets/svgs/star.svg" class="h-[13px] flex items-center" label="title_goas_here"
                            [stretch]="false" height="13" width="14" fill="#802d3d"></app-svg>
                        <app-svg src="assets/svgs/star.svg" class="h-[13px] flex items-center" label="title_goas_here"
                            [stretch]="false" height="13" width="14" fill="#802d3d"></app-svg>
                        <app-svg src="assets/svgs/star.svg" class="h-[13px] flex items-center" label="title_goas_here"
                            [stretch]="false" height="13" width="14" fill="#802d3d"></app-svg>
                        <app-svg src="assets/svgs/star.svg" class="h-[13px] flex items-center" label="title_goas_here"
                            [stretch]="false" height="13" width="14" fill="#802d3d"></app-svg>
                        <app-svg src="assets/svgs/star.svg" class="h-[13px] flex items-center" label="title_goas_here"
                            [stretch]="false" height="13" width="14" fill="#ffffff"></app-svg>
                    </div>
                    <button type="button"
                        class="text-white text-sm opacity-0 group-hover:opacity-100 transition-all">Read More</button>
                </div>

                <div
                    class="w-auto translate-x-20 opacity-0 group-hover:opacity-100 group-hover:translate-x-0 transition-all">
                    <!-- w 51
            h 66 -->
                    <img src="assets/images/listing-item-logo.png" class="w-auto h-[66px] ml-auto" />
                </div>
            </div>
        </div>
        <div class="w-full h-[140px] pb-2 px-4 rounded-xl bg-center bg-cover relative group overflow-hidden"
            style="background-image: url('assets/images/listing-2.jpg');">
            <div
                class="absolute left-0 top-0 w-full h-full bg-black opacity-50 rounded-xl group-hover:opacity-70 transition-all">
            </div>
            <div class="relative z-10 flex gap-4 items-end h-full">
                <div class="flex-1 translate-y-[44px] group-hover:translate-y-0 transition-all">
                    <p class="text-white font-normal text-xl">Husin Alwesi DJ</p>
                    <p class="text-white">is simply dummy text of the</p>
                    <div class="flex gap-1.5 items-center mb-1.5 opacity-0 group-hover:opacity-100 transition-all">
                        <app-svg src="assets/svgs/star.svg" class="h-[13px] flex items-center" label="title_goas_here"
                            [stretch]="false" height="13" width="14" fill="#802d3d"></app-svg>
                        <app-svg src="assets/svgs/star.svg" class="h-[13px] flex items-center" label="title_goas_here"
                            [stretch]="false" height="13" width="14" fill="#802d3d"></app-svg>
                        <app-svg src="assets/svgs/star.svg" class="h-[13px] flex items-center" label="title_goas_here"
                            [stretch]="false" height="13" width="14" fill="#802d3d"></app-svg>
                        <app-svg src="assets/svgs/star.svg" class="h-[13px] flex items-center" label="title_goas_here"
                            [stretch]="false" height="13" width="14" fill="#802d3d"></app-svg>
                        <app-svg src="assets/svgs/star.svg" class="h-[13px] flex items-center" label="title_goas_here"
                            [stretch]="false" height="13" width="14" fill="#ffffff"></app-svg>
                    </div>
                    <button type="button"
                        class="text-white text-sm opacity-0 group-hover:opacity-100 transition-all">Read More</button>
                </div>

                <div
                    class="w-auto translate-x-20 opacity-0 group-hover:opacity-100 group-hover:translate-x-0 transition-all">
                    <!-- w 51
        h 66 -->
                    <img src="assets/images/listing-item-logo.png" class="w-auto h-[66px] ml-auto" />
                </div>
            </div>
        </div>
    </div>
    <!-- pagination py-4 -->
    <!-- gap 17px -->
    <!-- 27 active paddog -->


    <!-- circle 24 -->
    <!-- <div class="flex gap-4">
        <ul>

            <li>
                <button type="button">
                    <app-svg src="assets/svgs/arrow.svg" class="mt-[-3px]" customClass="rotate-90"
                        label="title_goas_here" [stretch]="false" width="6" fill="#802d3d"></app-svg>
                </button>
                <button type="button" class="text-sm">1</button>
                <button type="button" class="text-sm">2</button>
                <button type="button" class="text-sm font-medium">3</button>
                <button type="button" class="text-sm">4</button>
                <span>...</span>
                <button type="button" class="text-sm">60</button>
                <button type="button">
                    <app-svg src="assets/svgs/arrow.svg" class="mt-[-3px]" customClass="-rotate-90"
                        label="title_goas_here" [stretch]="false" width="6" fill="#802d3d"></app-svg>
                </button>
            </li>
        </ul>
        <div>
            <p class="text-sm">Total of <strong class="font-medium">240</strong> Dance Team</p>
        </div>
    </div> -->
    <div class="pb-1">
        <div class="pagination-container">
            <div class="pagination">
                <button type="button" class="flex items-center justify-center mt-[-3px]">
                    <app-svg src="assets/svgs/arrow.svg" class="" customClass="rotate-90" label="title_goas_here"
                        [stretch]="false" width="12" fill="#802d3d"></app-svg>
                </button>
                <button type="button" class="">1</button>
                <button type="button" class="">2</button>
                <button type="button" class="active">3</button>
                <button type="button" class="">4</button>
                <span>...</span>
                <button type="button" class="">60</button>
                <button type="button" class="flex items-center justify-center mt-[-3px]">
                    <app-svg src="assets/svgs/arrow.svg" class="" customClass="-rotate-90" label="title_goas_here"
                        [stretch]="false" width="12" fill="#802d3d"></app-svg>
                </button>
            </div>
            <div class="right-text">
                <p class="">Total of <strong class="font-medium text-primary">240</strong> Dance Team</p>
            </div>
        </div>

    </div>
</div>