<app-page-head title="Dance Team"></app-page-head>
<div class="section relative flex flex-col pt-[21px] mb-3">
    <div class="flex flex-col gap-4 mt-[17px] mb-4">
        <app-listing-item></app-listing-item>
        <app-listing-item></app-listing-item>
        <app-listing-item></app-listing-item>
        <app-listing-item></app-listing-item>
        <app-listing-item></app-listing-item>
    </div>
    <div class="pb-1">
        <app-pagination></app-pagination>
    </div>
</div>

<app-listing-filter></app-listing-filter>