.error {
  @apply border-[#e83d3d] text-[#e83d3d];
  & ~ label {
    @apply text-[#e83d3d];
  }
}
app-attachment-second-style ::ng-deep {
  div {
    // @apply w-full h-full;
    button {
      @apply py-[41px];
    }
  }
}
app-ddl-style-two ::ng-deep {
  button {
    @apply h-[40px];
  }
}
input:disabled {
  background-color: #fafafabd;
  cursor: not-allowed;
}
