<app-breadcrumb-section-second-style [link]="'careers/career-job/' + id " [breadCrumb]="breadCrumb"></app-breadcrumb-section-second-style>
<section class="bg-[#F5F5F5]">
  <div class="max-w-desktop mx-auto px-4 lg:px-10 pb-[79px] pt-[38px]">
    <p class="text-[#011C35] font-Cairo-Bold text-[25px] leading-[47px] pb-3">
      {{formData?.jobTitle}} - {{data?.jobCode[lang]}}
    </p>
    <form #form="ngForm" novalidate (ngSubmit)="onSubmit(form)"
      class="bg-[#ECECEC] rounded-[5px] w-full pt-5 px-11 pb-8">
      <div class="flex flex-col lg:flex-row gap-5 lg:gap-[107px]">
        <div class="w-full lg:w-[50%-107px] flex flex-col gap-5">
          <!-- <div class="flex flex-col gap-1">
            <label for="jobTitle"
              class="flex flex-col lg:flex-row justify-between items-start lg:items-center flex-wrap gap-x-3 gap-y-1 font-Cairo-Regular text-sm leading-[30px] text-black">
              {{"CAREER_LISTING.CAREER_JOB" | translate }}
            </label>
            <input id="jobTitle" name="jobTitle" [(ngModel)]="formData.jobTitle" required onlyText="en" minlength="3"
              [disabled]="true" maxlength="256" type="text" placeholder="software"
              class="h-10 bg-white border border-solid border-[#D0D0D0] rounded-[4px] font-Cairo-Regular text-[13px] px-4" />
          </div> -->
          <div class="flex flex-row">
            <div class="flex flex-col w-[40%] lg:w-1/5 gap-1">
              <!-- <label for="gender" [class.error]="isSubmitted.gender && !genderDDL.selected"
                class="flex flex-col lg:flex-row justify-between items-start lg:items-center flex-wrap gap-x-3 gap-y-1 font-Cairo-Regular text-sm leading-[30px] text-black">
                {{"PLACEHOLDER.TITLE" | translate }}
                <span *ngIf="isSubmitted.gender && !genderDDL.selected"
                  class="text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular flex justify-between">
                  {{"FEEDBACK.FEILD_CANT" | translate }}
                </span>
              </label> -->
              <label for="firstname" [class.error]="isSubmitted.firstname && !form?.controls?.firstname?.valid"
                class="flex flex-col lg:flex-row justify-between items-start lg:items-center flex-wrap gap-x-3 gap-y-1 font-Cairo-Regular text-sm leading-[30px] text-black">
                {{"SIGN_IN.FIRST_NAME" | translate }}

              </label>
              <app-ddl-style-two [data]="genderDDL" class="w-max lg:w-auto"
                (onOptionChange)="genderDDL.selected = $event; isSubmitted.gender = true"
                [isErrorEnabled]="isSubmitted.gender && !genderDDL.selected"
                [isErrorTextEnabled]="false"></app-ddl-style-two>
            </div>
            <div class="flex self-end flex-col w-[60%] lg:w-4/5 gap-1">
              <span *ngIf="isSubmitted.firstname && !form?.controls?.firstname?.valid"
                class="text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular flex justify-end">
                {{"FEEDBACK.FEILD_CANT" | translate }}
              </span>
              <input id="firstname" name="firstname" [(ngModel)]="formData.firstname" required onlyText minlength="3"
                (input)="isSubmitted.firstname = true" maxlength="256"
                [class.error]="isSubmitted.firstname && !form?.controls?.firstname?.valid" type="text"
                placeholder="{{'PLACEHOLDER.F_NAME' | translate }}"
                class="h-10 bg-white border border-solid border-[#D0D0D0] rounded-[4px] font-Cairo-Regular text-[13px] px-4" />
            </div>
          </div>
          <div class="flex flex-col gap-1">
            <label for="secondname" [class.error]="isSubmitted.secondname && !form?.controls?.secondname?.valid"
              class="flex flex-col lg:flex-row justify-between items-start lg:items-center flex-wrap gap-x-3 gap-y-1 font-Cairo-Regular text-sm leading-[30px] text-black">
              {{"CAREER_LISTING.SECOND_NAME" | translate }}
              <span *ngIf="isSubmitted.secondname && !form?.controls?.secondname?.valid"
                class="text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular flex justify-between">
                {{"FEEDBACK.FEILD_CANT" | translate }}
              </span>
            </label>
            <input id="secondname" name="secondname" [(ngModel)]="formData.secondname" required onlyText maxlength="256"
              (input)="isSubmitted.secondname = true"
              [class.error]="isSubmitted.secondname && !form?.controls?.secondname?.valid" type="text"
              placeholder="{{'PLACEHOLDER.M_NAME' | translate }}"
              class="h-10 bg-white border border-solid border-[#D0D0D0] rounded-[4px] font-Cairo-Regular text-[13px] px-4" />
          </div>
          <div class="flex flex-col gap-1">
            <label for="lastname" [class.error]="isSubmitted.lastname && !form?.controls?.lastname?.valid"
              class="flex flex-col lg:flex-row justify-between items-start lg:items-center flex-wrap gap-x-3 gap-y-1 font-Cairo-Regular text-sm leading-[30px] text-black">
              {{"SIGN_IN.LAST_NAME" | translate }}
              <span *ngIf="isSubmitted.lastname && !form?.controls?.lastname?.valid"
                class="text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular flex justify-between">
                {{"FEEDBACK.FEILD_CANT" | translate }}
              </span>
            </label>
            <input id="lastname" name="lastname" [(ngModel)]="formData.lastname" required onlyText minlength="3"
              (input)="isSubmitted.lastname = true" maxlength="256"
              [class.error]="isSubmitted.lastname && !form?.controls?.lastname?.valid" type="text"
              placeholder="{{'PLACEHOLDER.L_NAME' | translate }}"
              class="h-10 bg-white border border-solid border-[#D0D0D0] rounded-[4px] font-Cairo-Regular text-[13px] px-4" />
          </div>
          <div class="flex flex-col gap-1">
            <label for="nationality" [class.error]="isSubmitted.nationality && !nationaltyDDL.selected"
              class="flex flex-col lg:flex-row justify-between items-start lg:items-center flex-wrap gap-x-3 gap-y-1 font-Cairo-Regular text-sm leading-[30px] text-black">
              {{"CAREER_LISTING.NATIONALITY" | translate}}
              <span *ngIf="isSubmitted.nationality && !nationaltyDDL.selected"
                class="text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular flex justify-between">
                {{"FEEDBACK.FEILD_CANT" | translate }}
              </span>
            </label>
            <app-ddl-style-two [data]="nationaltyDDL"
              (onOptionChange)="nationaltyDDL.selected = $event ; isSubmitted.nationality =true"
              [isErrorEnabled]="isSubmitted.nationality && !nationaltyDDL.selected"
              [isErrorTextEnabled]="false"></app-ddl-style-two>
          </div>
          <div class="flex flex-col gap-1">
            <label for="qid"
              class="flex flex-col lg:flex-row justify-between items-start lg:items-center flex-wrap gap-x-3 gap-y-1 font-Cairo-Regular text-sm leading-[30px] text-black">
              {{"SIGN_IN.QID_PASSPORT" | translate }}
              <!-- <span *ngIf="isSubmitted.qid && !form?.controls?.qid?.valid"
                class="text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular flex justify-between">
                {{"FEEDBACK.FEILD_CANT" | translate }}
              </span> -->
            </label>
            <input id="qid" name="qid" [(ngModel)]="formData.qid" minlength="11" maxlength="256" type="text"
              placeholder="{{'PLACEHOLDER.QID' | translate }}"
              class="h-10 bg-white border border-solid border-[#D0D0D0] rounded-[4px] font-Cairo-Regular text-[13px] px-4" />
          </div>
          <div class="flex flex-col gap-1">
            <label for="email" [class.error]="isSubmitted.email && !form?.controls?.email?.valid"
              class="flex flex-col lg:flex-row justify-between items-start lg:items-center flex-wrap gap-x-3 gap-y-1 font-Cairo-Regular text-sm leading-[30px] text-black">
              {{"FEEDBACK.EMAIL" | translate }}
              <span *ngIf="isSubmitted.email && !form?.controls?.email?.valid && formData.email !== '' "
                class="text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular flex justify-between">
                {{"ERRORS.Email" | translate }}
              </span>
              <span *ngIf="isSubmitted.email  && formData.email=== ''"
                class="text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular flex justify-between">
                {{"ERRORS.THIS_FIELD_IS_REQUIRED" | translate }}
              </span>
            </label>
            <input id="email" name="email" [(ngModel)]="formData.email" email required
              [class.error]="isSubmitted.email && !form?.controls?.email?.valid" type="email"
              (input)="isSubmitted.email = true" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
              placeholder="{{'PLACEHOLDER.EMAIL' | translate }}"
              class="h-10 bg-white border border-solid border-[#D0D0D0] rounded-[4px] font-Cairo-Regular text-[13px] px-4" />
          </div>
          <div class="flex flex-col gap-1">
            <label for="cv" [class.error]="isSubmitted.cv && !cv.file"
              class="flex flex-col lg:flex-row justify-between items-start lg:items-center flex-wrap gap-x-3 gap-y-1 font-Cairo-Regular text-sm leading-[30px] text-black">
              {{"CAREER_LISTING.CV_FILE" | translate }}
              <span *ngIf="isSubmitted.cv && !cv.file"
                class="text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular flex justify-between">
                {{"FEEDBACK.FEILD_CANT" | translate }}
              </span>
            </label>
            <app-attachment-second-style [data]="cv" [isErrorEnabled]="isSubmitted.cv && !cv.file" [accept]="cv.accept"
              [maximumFileUpload]="2" (selectFileEmiter)="cv.file = $event; isSubmitted.cv = true">
            </app-attachment-second-style>
          </div>
        </div>
        <div class="w-full lg:w-[50%-107px] flex flex-col gap-5">
          <div class="flex flex-col gap-1">
            <label for="phone" [class.error]="isSubmitted.phone && !form?.controls?.phone?.valid"
              class="flex flex-col lg:flex-row justify-between items-start lg:items-center flex-wrap gap-x-3 gap-y-1 font-Cairo-Regular text-sm leading-[30px] text-black">
              {{"FEEDBACK.MOBILE_NUMBER" | translate }}
              <span *ngIf="isSubmitted.phone && !form?.controls?.phone?.valid"
                class="text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular flex justify-between">
                {{"FEEDBACK.FEILD_CANT" | translate }}
              </span>
            </label>
            <input id="phone" name="phone" [(ngModel)]="formData.phone" required onlyNumbers minlength="3"
              maxlength="20" [class.error]="isSubmitted.phone && !form?.controls?.phone?.valid" type="text"
              placeholder="{{'PLACEHOLDER.MOBILE' | translate }}" (input)="isSubmitted.phone =true"
              class="h-10 bg-white border border-solid border-[#D0D0D0] rounded-[4px] font-Cairo-Regular text-[13px] px-4" />
          </div>
          <div class="flex flex-col gap-1">
            <!-- <label for="educationalDegree" [class.error]="isSubmitted && !form?.controls?.educationalDegree?.valid"
              class="flex flex-col lg:flex-row justify-between items-start lg:items-center flex-wrap gap-x-3 gap-y-1 font-Cairo-Regular text-sm leading-[30px] text-black">{{
              "CAREER_LISTING.EDUCATION_DEGREE" | translate }}
              <span *ngIf="isSubmitted && !form?.controls?.educationalDegree?.valid"
                class="text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular flex justify-between">{{
                "FEEDBACK.FEILD_CANT" | translate }}</span></label>
            <input id="educationalDegree" name="educationalDegree" [(ngModel)]="formData.educationalDegree" required
              [class.error]="isSubmitted && !form?.controls?.educationalDegree?.valid" type="text"
              placeholder="{{'PLACEHOLDER.EDUCATION' | translate }}" onlyText maxlength="256"
              class="h-10 bg-white border border-solid border-[#D0D0D0] rounded-[4px] font-Cairo-Regular text-[13px] px-4" /> -->
            <label for="educational" [class.error]="isSubmitted.eduDeg && !educationalDegreeDDL.selected"
              class="flex flex-col lg:flex-row justify-between items-start lg:items-center flex-wrap gap-x-3 gap-y-1 font-Cairo-Regular text-sm leading-[30px] text-black">
              {{"CAREER_LISTING.EDUCATION_DEGREE" | translate}}
              <span *ngIf="isSubmitted.eduDeg && !educationalDegreeDDL.selected"
                class="text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular flex justify-between">
                {{"FEEDBACK.FEILD_CANT" | translate }}
              </span>
            </label>
            <app-ddl-style-two [data]="educationalDegreeDDL"
              (onOptionChange)="educationalDegreeDDL.selected = $event; isSubmitted.eduDeg = true"
              [isErrorEnabled]="isSubmitted.eduDeg && !educationalDegreeDDL.selected"
              [isErrorTextEnabled]="false"></app-ddl-style-two>
          </div>
          <div class="flex flex-col gap-1">
            <label for="sector" [class.error]="isSubmitted.fieldStudy && !fieldOfStudyDDL.selected"
              class="flex flex-col lg:flex-row justify-between items-start lg:items-center flex-wrap gap-x-3 gap-y-1 font-Cairo-Regular text-sm leading-[30px] text-black">
              {{"CAREER_LISTING.FIELD" | translate}}
              <span *ngIf="isSubmitted.fieldStudy && !fieldOfStudyDDL.selected"
                class="text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular flex justify-between">
                {{"FEEDBACK.FEILD_CANT" | translate }}
              </span>
            </label>
            <app-ddl-style-two [data]="fieldOfStudyDDL"
              (onOptionChange)="fieldOfStudyDDL.selected = $event; isSubmitted.fieldStudy = true"
              [isErrorEnabled]="isSubmitted.fieldStudy && !fieldOfStudyDDL.selected"
              [isErrorTextEnabled]="false"></app-ddl-style-two>
          </div>
          <!-- <div class="flex flex-col gap-1">
            <label for="fieldofStudy" [class.error]="isSubmitted && !form?.controls?.fieldofStudy?.valid"
              class="flex flex-col lg:flex-row justify-between items-start lg:items-center flex-wrap gap-x-3 gap-y-1 font-Cairo-Regular text-sm leading-[30px] text-black">
              {{"CAREER_LISTING.FIELD" | translate }}
              <span *ngIf="isSubmitted && !form?.controls?.fieldofStudy?.valid"
                class="text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular flex justify-between">
                {{"FEEDBACK.FEILD_CANT" | translate }}
              </span>
            </label>
            <input id="fieldofStudy" name="fieldofStudy" [(ngModel)]="formData.fieldofStudy" required
              [class.error]="isSubmitted && !form?.controls?.fieldofStudy?.valid" type="text" onlyText maxlength="256"
              placeholder="{{'PLACEHOLDER.FIELD' | translate }}"
              class="h-10 bg-white border border-solid border-[#D0D0D0] rounded-[4px] font-Cairo-Regular text-[13px] px-4" />
          </div> -->
          <div class="flex flex-col gap-1">
            <label for="currentEmp" [class.error]="isSubmitted.currentEmp && !currentEmploymentStatusDDL.selected"
              class="flex flex-col lg:flex-row justify-between items-start lg:items-center flex-wrap gap-x-3 gap-y-1 font-Cairo-Regular text-sm leading-[30px] text-black">
              {{"CAREER_LISTING.CURRENT" | translate}}
              <span *ngIf="isSubmitted.currentEmp && !currentEmploymentStatusDDL.selected"
                class="text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular flex justify-between">
                {{"FEEDBACK.FEILD_CANT" | translate }}
              </span>
            </label>
            <app-ddl-style-two [data]="currentEmploymentStatusDDL"
              (onOptionChange)="currentEmploymentStatusDDL.selected = $event; isSubmitted.currentEmp = true"
              [isErrorEnabled]="isSubmitted.currentEmp && !currentEmploymentStatusDDL.selected"
              [isErrorTextEnabled]="false"></app-ddl-style-two>
          </div>
          <div class="flex flex-col gap-1">
            <label for="yearsExperince" [class.error]="isSubmitted.yearsExperince && !yearsOfExpDDL.selected"
              class="flex flex-col lg:flex-row justify-between items-start lg:items-center flex-wrap gap-x-3 gap-y-1 font-Cairo-Regular text-sm leading-[30px] text-black">
              {{"CAREER_LISTING.YEARS" | translate }}
              <span *ngIf="isSubmitted.yearsExperince && !yearsOfExpDDL.selected"
                class="text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular flex justify-between">
                {{"FEEDBACK.FEILD_CANT" | translate }}
              </span>
            </label>
            <app-ddl-style-two [data]="yearsOfExpDDL"
              (onOptionChange)="yearsOfExpDDL.selected = $event; isSubmitted.yearsExperince = true"
              [isErrorEnabled]="isSubmitted.yearsExperince && !yearsOfExpDDL.selected"
              [isErrorTextEnabled]="false"></app-ddl-style-two>
          </div>
          <div class="flex flex-col gap-1" *ngIf="yearsOfExpDDL?.list[0]?.key !== yearsOfExpDDL?.selected?.key">

            <label for="workIndustry" [class.error]="isSubmitted.workIndustry && !form?.controls?.workIndustry?.valid"
              class="flex flex-col lg:flex-row justify-between items-start lg:items-center flex-wrap gap-x-3 gap-y-1 font-Cairo-Regular text-sm leading-[30px] text-black">
              {{"CAREER_LISTING.WORK" | translate }}
              <span *ngIf="isSubmitted.workIndustry && !form?.controls?.workIndustry?.valid"
                class="text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular flex justify-between">
                {{"FEEDBACK.FEILD_CANT" | translate }}
              </span>
            </label>
            <input id="workIndustry" name="workIndustry" [(ngModel)]="formData.workIndustry" required
              [class.error]="isSubmitted.workIndustry && !form?.controls?.workIndustry?.valid" type="text"
              (input)="isSubmitted.workIndustry = true" placeholder="{{'PLACEHOLDER.INDUSTRY' | translate }}" onlyText
              class="h-10 bg-white border border-solid border-[#D0D0D0] rounded-[4px] font-Cairo-Regular text-[13px] px-4" />
          </div>

          <!-- <div class="flex flex-col gap-1">
            <label for="previousEmp" [class.error]="isSubmitted.previouswork && !previousEmpDDL.selected"
              class="flex flex-col lg:flex-row justify-between items-start lg:items-center flex-wrap gap-x-3 gap-y-1 font-Cairo-Regular text-sm leading-[30px] text-black">
              {{"CAREER_LISTING.EMPLOYER" | translate}}
              <span *ngIf="isSubmitted.previouswork && !previousEmpDDL.selected"
                class="text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular flex justify-between">
                {{"FEEDBACK.FEILD_CANT" | translate }}
              </span>
            </label>
            <app-ddl-style-two [data]="previousEmpDDL"
              (onOptionChange)="previousEmpDDL.selected = $event; isSubmitted.previousEmployer = true"
              [isErrorEnabled]="isSubmitted.previouswork && !previousEmpDDL.selected"
              [isErrorTextEnabled]="false"></app-ddl-style-two>
          </div> -->
          <div class="flex flex-col gap-1">
            <label for="universityDegree" [class.error]="isSubmitted.universityDegree && !universityDegree.file"
              class="flex flex-col lg:flex-row justify-between items-start lg:items-center flex-wrap gap-x-3 gap-y-1 font-Cairo-Regular text-sm leading-[30px] text-black">
              {{"CAREER_LISTING.UNVIERSITY" | translate }}
              <span *ngIf="isSubmitted.universityDegree && !universityDegree.file"
                class="text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular flex justify-between">
                {{"FEEDBACK.FEILD_CANT" | translate }}
              </span>
            </label>

            <app-attachment-second-style [data]="universityDegree"
              [isErrorEnabled]="isSubmitted.universityDegree && !universityDegree.file"
              [accept]="universityDegree.accept" [maximumFileUpload]="5" [multiple]="true"
              (selectFileEmiter)="universityDegree.file = $event ; isSubmitted.universityDegree = true">
            </app-attachment-second-style>

          </div>
        </div>
      </div>
      <div class="mt-[30px]">
        <button type="submit"
          class="w-full lg:w-[calc(50%-76px)] lg:max-w-[170px] text-center font-Cairo-Regular text-[16px] leading-[38px] bg-[#00904A] text-[white] rounded-[5px]">
          {{ "SHARED.SUBMIT" | translate }}
        </button>
      </div>
    </form>
  </div>
</section>

<app-modal *ngIf="isModalEnabled" [template]="modalSuccess" [isModalEnabled]="isModalEnabled"
  (closeModalByKeyboard)="isModalEnabled = false" modalClasses="inset-0 w-[90%] max-w-[1024px] ">
  <ng-template #modalSuccess>
    <div class="bg-white rounded-[5px]">
      <div class="modal-header px-[21px] flex justify-end pb-[3px] pt-[16px]">
        <button type="button">
          <app-svg (click)="isModalEnabled = false" src="assets/svgs/close.svg" customClass="" label="title_goes_here"
            [stretch]="false" width="16" height="16" fill="#000"></app-svg>
        </button>
      </div>
      <div class="modal-body px-[45px]">
        <section class="">
          <div class="max-w-desktop mx-auto px-4 lg:px-10 py-28 flex flex-col gap-5">
            <h1 class="text-[#009933] text-center font-Cairo-Bold text-[60px] leading-[70px] capitalize"
              [innerHTML]="modalMessage?.title[lang]"></h1>
            <p class="text-center font-Cairo-Regular text-[32px] leading-[50px] capitalize text-[#011C35]"
              [innerHTML]="modalMessage?.desc[lang]"></p>
          </div>
        </section>
      </div>
    </div>
  </ng-template>
</app-modal>