<div class="pagination-container">
    <div class="pagination">
        <button type="button" class="flex items-center justify-center mt-[-3px]">
            <app-svg src="assets/svgs/arrow.svg" class="" customClass="rotate-90" label="title_goas_here"
                [stretch]="false" width="12" fill="#802d3d"></app-svg>
        </button>
        <button type="button" class="">1</button>
        <button type="button" class="">2</button>
        <button type="button" class="active">3</button>
        <button type="button" class="">4</button>
        <span>...</span>
        <button type="button" class="">60</button>
        <button type="button" class="flex items-center justify-center mt-[-3px]">
            <app-svg src="assets/svgs/arrow.svg" class="" customClass="-rotate-90" label="title_goas_here"
                [stretch]="false" width="12" fill="#802d3d"></app-svg>
        </button>
    </div>
    <div class="right-text">
        <p class="">Total of <strong class="font-medium text-primary">240</strong> Dance Team</p>
    </div>
</div>