<form #form2="ngForm" novalidate (ngSubmit)="onSubmitForm2(form2)">
    <div class="bg-white pt-[24px] pb-[41px] pr-[22px] pl-[41.5px] rounded-[5px]">
        <div class="modal-header flex justify-end pb-[23px]">
            <button type="button">
                <app-svg (click)="closeModalFire()" src="assets/svgs/close.svg" customClass="" label="title_goes_here"
                    [stretch]="false" width="16" height="16" fill="#000"></app-svg>
            </button>
        </div>
        <div class="modal-body">
            <p class="ltr:text-left rtl:text-right font-Poppins-Medium text-xl leading-[50px] pb-[42px]">
                {{'SUPPLIER.COMPANY_INFORMATION' | translate}}
            </p>

            <div class="flex flex-col lg:flex-row gap-4 flex-wrap">
                <div class="w-full lg:w-[calc(50%-16px)]">
                    <div class="relative mb-4">
                        <input
                            class="shadow appearance-none border rounded w-full p-[19px] text-[#221E20] text-sm font-Poppins-Light leading-[21px] focus:outline-none focus:border-blue-500"
                            id="vendorName" type="text" placeholder="{{'PLACEHOLDER.FULL_NAME' | translate}}"
                            name="vendorName" [(ngModel)]="form2Data.vendorName" required
                            [class.error]="isForm2Submitted && !form2.controls.vendorName.valid" />
                        <label
                            class="absolute -top-1 ltr:left-3 rtl:right-3 -mt-2 text-[#717171] text-[13px] leading-[29px] font-Cairo-Regular duration-300 origin-0 bg-white px-1"
                            for="vendorName"> {{'SUPPLIER.VENDOR_NAME' | translate}} *</label>
                        <span *ngIf="isForm2Submitted && !form2.controls.vendorName.valid"
                            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
                            |translate}}</span>
                    </div>
                </div>
                <div class="w-full lg:w-[calc(50%-16px)]">
                    <div class="relative mb-4">
                        <input
                            class="shadow appearance-none border rounded w-full p-[19px] text-[#221E20] text-sm font-Poppins-Light leading-[21px] focus:outline-none focus:border-blue-500"
                            id="vendorNumber" name="vendorNumber" [(ngModel)]="form2Data.vendorNumber" required
                            [class.error]="isForm2Submitted && !form2.controls.vendorNumber.valid" type="text"
                            placeholder="{{'PLACEHOLDER.MOBILE' | translate}}" />
                        <label
                            class="absolute -top-1 ltr:left-3 rtl:right-3 -mt-2 text-[#717171] text-[13px] leading-[29px] font-Cairo-Regular duration-300 origin-0 bg-white px-1"
                            for="vendorNumber">{{'SUPPLIER.VENDOR_NUMBER' | translate}}*</label>
                        <span *ngIf="isForm2Submitted && !form2.controls.vendorNumber.valid"
                            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
                            |translate}}</span>
                    </div>
                </div>
                <div class="w-full lg:w-[calc(50%-16px)]">
                    <div class="relative mb-4">
                        <input
                            class="shadow appearance-none border rounded w-full p-[19px] text-[#221E20] text-sm font-Poppins-Light leading-[21px] focus:outline-none focus:border-blue-500"
                            id="companyRegistration" name="companyRegistration"
                            [(ngModel)]="form2Data.companyRegistration" required
                            [class.error]="isForm2Submitted && !form2.controls.companyRegistration.valid" type="text"
                            placeholder="{{'PLACEHOLDER.CORORATE_ID' | translate}}" />
                        <label
                            class="absolute -top-1 ltr:left-3 rtl:right-3 -mt-2 text-[#717171] text-[13px] leading-[29px] font-Cairo-Regular duration-300 origin-0 bg-white px-1"
                            for="companyRegistration">{{'SUPPLIER.COMPANY_REGISTRATION_NUMBER_INTERNATIONAL_CORPORATE_ID'
                            |
                            translate}}
                            *</label>
                        <span *ngIf="isForm2Submitted && !form2.controls.companyRegistration.valid"
                            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
                            |translate}}</span>
                    </div>
                </div>
                <div class="w-full lg:w-[calc(50%-16px)] mb-4">
                    <app-date-picker-fifth-style
                        [data]="{label: 'SUPPLIER.COMPANY_REGISTRATION_EXPIRY', value: form2Data.registrationExpiry, isRequired: true}"
                        [isErrorEnabled]="isForm2Submitted && !form2Data.registrationExpiry"
                        (dateChange)="form2Data.registrationExpiry = $event"></app-date-picker-fifth-style>
                </div>
                <div class="w-full lg:w-[calc(50%-16px)] mb-4">
                    <app-ddl-stander [isRequired]="true" [data]="productCategoryDDL"
                        (onOptionChange)="productCategoryDDL.selected = $event"
                        [isErrorEnabled]="isForm2Submitted && !productCategoryDDL.selected"></app-ddl-stander>
                </div>
                <div class="w-full lg:w-[calc(50%-16px)] mb-4">
                    <app-ddl-stander [isRequired]="true" [data]="productSubCategoryDDL"
                        (onOptionChange)="productSubCategoryDDL.selected = $event"
                        [isErrorEnabled]="isForm2Submitted && !productSubCategoryDDL.selected"></app-ddl-stander>
                </div>
                <div class="w-full lg:w-[calc(50%-16px)]">
                    <div class="relative mb-4">
                        <input
                            class="shadow appearance-none border rounded w-full p-[19px] text-[#221E20] text-sm font-Poppins-Light leading-[21px] focus:outline-none focus:border-blue-500"
                            id="dareeba" name="dareeba" [(ngModel)]="form2Data.dareeba" required
                            [class.error]="isForm2Submitted && !form2.controls.dareeba.valid" type="text"
                            placeholder="{{'PLACEHOLDER.QID' | translate}}" />
                        <label
                            class="absolute -top-1 ltr:left-3 rtl:right-3 -mt-2 text-[#717171] text-[13px] leading-[29px] font-Cairo-Regular duration-300 origin-0 bg-white px-1"
                            for="dareeba">{{'SUPPLIER.DAREEBA_TIN' | translate}} *</label>
                        <span *ngIf="isForm2Submitted && !form2.controls.dareeba.valid"
                            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
                            |translate}}</span>
                    </div>
                </div>
                <div class="w-full lg:w-[calc(50%-16px)]">
                    <div class="relative mb-4">
                        <input
                            class="shadow appearance-none border rounded w-full p-[19px] text-[#221E20] text-sm font-Poppins-Light leading-[21px] focus:outline-none focus:border-blue-500"
                            id="icvCertificateNumber" name="icvCertificateNumber"
                            [(ngModel)]="form2Data.icvCertificateNumber" required
                            [class.error]="isForm2Submitted && !form2.controls.icvCertificateNumber.valid" type="text"
                            placeholder="{{'PLACEHOLDER.CERTEFICATE_NUMBER' | translate}}" />
                        <label
                            class="absolute -top-1 ltr:left-3 rtl:right-3 -mt-2 text-[#717171] text-[13px] leading-[29px] font-Cairo-Regular duration-300 origin-0 bg-white px-1"
                            for="icvCertificateNumber">{{'SUPPLIER.ICV_CERTIFICATE_NUMBER' | translate}}*</label>
                        <span *ngIf="isForm2Submitted && !form2.controls.icvCertificateNumber.valid"
                            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
                            |translate}}</span>
                    </div>
                </div>
                <div class="w-full lg:w-[calc(50%-16px)] mb-4">
                    <app-date-picker-fifth-style
                        [data]="{label: 'SUPPLIER.ICV_CERTIFICATE_EXPIRY', value: form2Data.icvCertificateExpiry, isRequired: true}"
                        [isErrorEnabled]="isForm2Submitted && !form2Data.icvCertificateExpiry"
                        (dateChange)="form2Data.icvCertificateExpiry = $event"></app-date-picker-fifth-style>
                </div>
                <div class="w-full lg:w-[calc(50%-16px)]">
                    <div class="relative mb-4">
                        <input
                            class="shadow appearance-none border rounded w-full p-[19px] text-[#221E20] text-sm font-Poppins-Light leading-[21px] focus:outline-none focus:border-blue-500"
                            id="icvScore" name="icvScore" [(ngModel)]="form2Data.icvScore" required
                            [class.error]="isForm2Submitted && !form2.controls.icvScore.valid" type="text"
                            placeholder="{{'PLACEHOLDER.ICV_SCORE' | translate}}" />
                        <label
                            class="absolute -top-1 ltr:left-3 rtl:right-3 -mt-2 text-[#717171] text-[13px] leading-[29px] font-Cairo-Regular duration-300 origin-0 bg-white px-1"
                            for="icvScore">{{'SUPPLIER.ICV_SCORE' | translate}}</label>
                        <span *ngIf="isForm2Submitted && !form2.controls.icvScore.valid"
                            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
                            |translate}}</span>
                    </div>
                </div>
                <div class="w-full lg:w-[calc(50%-16px)]">
                    <div class="relative mb-4">
                        <input
                            class="shadow appearance-none border rounded w-full p-[19px] text-[#221E20] text-sm font-Poppins-Light leading-[21px] focus:outline-none focus:border-blue-500"
                            id="primaryContactNumber" name="primaryContactNumber"
                            [(ngModel)]="form2Data.primaryContactNumber" required
                            [class.error]="isForm2Submitted && !form2.controls.primaryContactNumber.valid" type="text"
                            placeholder="{{'PLACEHOLDER.MOBILE' | translate}}" />
                        <label
                            class="absolute -top-1 ltr:left-3 rtl:right-3 -mt-2 text-[#717171] text-[13px] leading-[29px] font-Cairo-Regular duration-300 origin-0 bg-white px-1"
                            for="primaryContactNumber">{{'SUPPLIER.PRIMARY_CONTACT_NUMBER' | translate}} *</label>
                        <span *ngIf="isForm2Submitted && !form2.controls.primaryContactNumber.valid"
                            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
                            |translate}}</span>
                    </div>
                </div>
                <div class="w-full lg:w-[calc(50%-16px)]">
                    <div class="relative mb-4">
                        <input
                            class="shadow appearance-none border rounded w-full p-[19px] text-[#221E20] text-sm font-Poppins-Light leading-[21px] focus:outline-none focus:border-blue-500"
                            id="secondaryContactNumber" name="secondaryContactNumber"
                            [(ngModel)]="form2Data.secondaryContactNumber" required
                            [class.error]="isForm2Submitted && !form2.controls.secondaryContactNumber.valid" type="text"
                            placeholder="{{'PLACEHOLDER.MOBILE' | translate}}" />
                        <label
                            class="absolute -top-1 ltr:left-3 rtl:right-3 -mt-2 text-[#717171] text-[13px] leading-[29px] font-Cairo-Regular duration-300 origin-0 bg-white px-1"
                            for="secondaryContactNumber">{{'SUPPLIER.SECONDARY_CONTACT_NUMBER' | translate}} *</label>
                        <span *ngIf="isForm2Submitted && !form2.controls.secondaryContactNumber.valid"
                            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
                            |translate}}</span>
                    </div>
                </div>
                <div class="w-full lg:w-[calc(50%-16px)] ">
                    <div class="relative mb-4">
                        <input
                            class="shadow appearance-none border rounded w-full p-[19px] text-[#221E20] text-sm font-Poppins-Light leading-[21px] focus:outline-none focus:border-blue-500"
                            id="email" name="email" [(ngModel)]="form2Data.email" required
                            [class.error]="isForm2Submitted && !form2.controls.email.valid" type="email" email
                            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                            placeholder="{{'PLACEHOLDER.EMAIL' | translate}}" />
                        <label
                            class="absolute -top-1 ltr:left-3 rtl:right-3 -mt-2 text-[#717171] text-[13px] leading-[29px] font-Cairo-Regular duration-300 origin-0 bg-white px-1"
                            for="email">{{'SIGN_IN.EMAIL' | translate}}*</label>
                        <span *ngIf="isForm2Submitted && !form2.controls.email.valid"
                            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
                            |translate}}</span>
                    </div>
                </div>
                <div class="w-full lg:w-[calc(50%-16px)]">
                    <div class="relative mb-4">
                        <input
                            class="shadow appearance-none border rounded w-full p-[19px] text-[#221E20] text-sm font-Poppins-Light leading-[21px] focus:outline-none focus:border-blue-500"
                            id="confirmEmail" name="confirmEmail" [(ngModel)]="form2Data.confirmEmail" required
                            [class.error]="isForm2Submitted && !form2.controls.confirmEmail.valid" type="email" email
                            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                            placeholder="{{'PLACEHOLDER.EMAIL' | translate}}" />
                        <label
                            class="absolute -top-1 ltr:left-3 rtl:right-3 -mt-2 text-[#717171] text-[13px] leading-[29px] font-Cairo-Regular duration-300 origin-0 bg-white px-1"
                            for="confirmEmail">{{'SUPPLIER.CONFIRM_EMAIL' | translate}}*</label>
                        <span *ngIf="isForm2Submitted && !form2.controls.confirmEmail.valid"
                            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
                            |translate}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer flex justify-end">
            <app-btn-one (click)="onSubmitForm2(form2)" text="SHARED.SUBMIT" seoDesc="Text about the button"
                svg="assets/svgs/arrow.svg" svgClass="rotate-[270deg]"></app-btn-one>
        </div>
    </div>
</form>