<app-hero-half *ngIf="carousel.length > 0" [data]="carousel"
    [isLoadingEnabled]="isSliderLoadingEnabled"></app-hero-half>
<app-breadcrumb-section-second-style [breadCrumb]="breadCrumb" [link]="'investor-relations/' + url"></app-breadcrumb-section-second-style>
<app-our-story *ngIf="carousel.length === 0" [title]="data?.title[lang]"
    [text]="data?.description[lang]"></app-our-story>

<section class="bg-white">
    <app-detailed-body [data]="data?.details[lang]"></app-detailed-body>
</section>

<!-- links files  -->
<app-links-files [data]="data?.fileGroupsList" [lang]="lang" linksType="links"></app-links-files>

<!-- pdf files  -->
<app-links-files [data]="data?.fileGroupsList" [lang]="lang" linksType="pdf"></app-links-files>

<!-- Executive Management -->
<section class="bg-white" *ngIf="data?.executiveManagement.length > 0">
    <div class="max-w-desktop mx-auto px-4 py-8 lg:px-10">
        <p class="font-Cairo-Bold text-[24px] my-4">{{'INVESTOR.EXECUTIVE_MANAGEMENT' | translate}}</p>
        <div class="flex flex-col md:flex-row flex-wrap justify-center lg:justify-start gap-8">
            <div class="w-full max-w-[400px] h-[390px] p-4 relative cursor-pointer group/item"
                *ngFor="let item of data?.executiveManagement" (click)="execModal(item)">
                <img class="absolute top-0 left-0 w-full h-full" [lazyLoad]="item?.image | imageSource"
                    [defaultImage]="'loadingImage'| imageSource" alt="">
                <div class="group/edit invisible group-hover/item:visible absolute top-0 left-0 w-full h-full">
                    <img src="assets/images/overlay.webp" class="w-full h-full">
                    <div class="text-center text-white p-4 absolute bottom-0 w-full">
                        <p class="font-Cairo-Bold uppercase" [innerHTML]="item?.name[lang]"></p>
                        <p *ngIf="item?.position[lang]" class="capitalize" [innerHTML]="item?.position[lang]"></p>
                        <!-- <p class="capitalize line-clamp-2" [innerHTML]="item?.description[lang]">
                        </p> -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<app-modal [template]="modalTemplatePlaceholder" [isModalEnabled]="isModalEnabled"
    (closeModalByKeyboard)="isModalEnabled = false"
    modalClasses="top-10 bottom-[unset] w-[90%] max-w-[1024px] lg:max-h-[500px]">
    <ng-template #modalTemplatePlaceholder>
        <div class="bg-white rounded-[5px]">
            <div class="modal-header relative flex justify-end pb-[3px]">
                <button type="button">
                    <app-svg (click)="isModalEnabled = false" src="assets/svgs/close.svg"
                        customClass="top-4 absolute ltr:right-4 rtl:left-4" label="title_goes_here" [stretch]="false"
                        width="16" height="16" fill="#000"></app-svg>
                </button>
            </div>
            <div class="modal-body flex flex-col md:flex-row p-[40px]">
                <img [lazyLoad]="personData?.image | imageSource"
                    class="bg-[#F4F4F4] w-[248px] h-[242px] p-4 me-4 self-start" width="248" height="242"
                    [defaultImage]="'loadingImage'| imageSource" alt="">
                <div class="w-full h-full overflow-auto">
                    <p class="w-full mb-1 font-Cairo-Bold" [innerHTML]="personData?.name[lang]"></p>
                    <!-- <p class="w-full mb-4 font-Cairo-Bold" [innerHTML]="personData?.position[lang]"></p> -->

                    <p class="w-full max-h-[375px] overflow-auto" [innerHTML]="personData?.description[lang]"></p>
                </div>
            </div>

        </div>
    </ng-template>
</app-modal>