<!-- https://xd.adobe.com/view/23950c3a-0630-463c-ada1-8211f4d9319f-76c6/screen/0d9c3272-6ee0-4b3c-954b-2de7d67b9343/ -->
<form #form="ngForm" novalidate (ngSubmit)="onSubmit(form)">
  <div class="bg-white py-[42px]" style="box-shadow: 0px 3px 6px #00000029">
    <app-add-new-car [selectedCarCount]="getSelectedCars()" [isNewCarEnabled]="isNewCarEnabled"
      (toggleNewCarEmiter)="toggleNewCar()"></app-add-new-car>

    <div
      class="flex flex-col gap-x-[125px] gap-y-[42px] pt-12 px-[50px] pb-[38px] w-[calc(100%-54px)] mx-auto mb-[30px]"
      [class.hidden]="!isNewCarEnabled" [class.green-background-color]="!isNewCarValid">
      <p class="text-xl leading-[50px] font-Poppins-Medium">{{'E_TAG.VEHICLE_DETAILS' | translate}}</p>
      <div class="flex flex-col lg:flex-row gap-x-32 gap-y-4">
        <div class="w-full lg:w-[calc(50%-64px)] relative">
          <app-ddl-stander [data]="plateTypeDDL" (onOptionChange)="plateTypeChange($event)"
            [isErrorEnabled]="isNewCarSubmitted && !plateTypeDDL.selected"
            [isDisabled]="isNewCarValid"></app-ddl-stander>
        </div>
        <div class="w-full lg:w-[calc(50%-64px)] relative">
          <label for="plateNumber"
            class="font-Cairo-Regular text-[15px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1 z-10">
            {{'E_TAG.PLATE_NUMBER' | translate}} *
          </label>
          <input type="text" id="plateNumber" name="plateNumber" [(ngModel)]="formDataShort.plateNumber" required
            [class.error]="isNewCarSubmitted && !form?.controls?.plateNumber?.valid"
            class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] pl-4 pr-[46px]"
            [class.disabled]="isNewCarValid" placeholder="12345" />
          <span *ngIf="isNewCarSubmitted && !form?.controls?.plateNumber?.valid"
            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
            |translate}}</span>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row gap-x-32 gap-y-4">
        <div class="w-full lg:w-[calc(50%-64px)] relative">
          <label for="qidCr"
            class="font-Cairo-Regular text-[15px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1 z-10">
            {{'E_TAG.QID_CR' | translate}} *
          </label>
          <input type="text" id="QID/CR" name="qidCr" [(ngModel)]="formDataShort.qidCr" required
            [class.error]="isNewCarSubmitted && !form?.controls?.qidCr?.valid"
            class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] pl-4 pr-[46px]"
            [class.disabled]="isNewCarValid" placeholder="9812345674" />
          <app-svg *ngIf="isNewCarValid" src="assets/svgs/correct-circle.svg"
            customClass="absolute top-4 ltr:right-6 rtl:left-6" label="title_goas_here" [stretch]="false" width="30"
            height="30" [fill]="'#00904A'"></app-svg>
          <span *ngIf="isNewCarSubmitted && !form?.controls?.qidCr?.valid"
            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
            |translate}}</span>
        </div>
        <div class="w-full lg:w-[calc(50%-64px)] relative">
          <button *ngIf="!isNewCarValid" type="button" (click)="submitAddNewCar(form)"
            class="rounded-[5px] py-[2.5px] px-8 font-Cairo-Regular text-base leading-8 bg-[#00852C] text-white capitalize">
            {{'RETAIL.VAIDATE' | translate}}
          </button>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-x-[125px] gap-y-[42px] pt-12 px-[50px]" [class.hidden]="!isNewCarValid">
      <p class="text-xl leading-[50px] font-Poppins-Medium">{{'E_TAG.VEHICLE_INFORMATION' | translate}}</p>
      <div class="flex flex-col lg:flex-row gap-x-32 gap-y-4">
        <div class="w-full lg:w-[calc(50%-64px)] relative">
          <label for="vehicleStatus"
            class="font-Cairo-Regular text-[15px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">
            {{'E_TAG.VEHICLE_STATUS' | translate}}
          </label>
          <input type="text" id="vehicleStatus" name="vehicleStatus" [(ngModel)]="formData.vehicleStatus" required
            [class.error]="isSubmitted && !form?.controls?.vehicleStatus?.valid"
            class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] pl-4 pr-[46px]"
            placeholder="Valid" />
          <span *ngIf="isSubmitted && !form?.controls?.vehicleStatus?.valid"
            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
            |translate}}</span>
        </div>
        <div class="w-full lg:w-[calc(50%-64px)] relative">
          <label for="model"
            class="font-Cairo-Regular text-[15px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">
            {{'E_TAG.MODEL' | translate}}
          </label>
          <input type="text" id="model" name="model" [(ngModel)]="formData.model" required
            [class.error]="isSubmitted && !form?.controls?.model?.valid"
            class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] pl-4 pr-[46px]"
            placeholder="Raptor F-150" />
          <span *ngIf="isSubmitted && !form?.controls?.model?.valid"
            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
            |translate}}</span>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row gap-x-32 gap-y-4">
        <div class="w-full lg:w-[calc(50%-64px)] relative">
          <label for="modelYear"
            class="font-Cairo-Regular text-[15px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">
            {{'E_TAG.MODEL_YEAR' | translate}}
          </label>
          <input type="text" id="modelYear" name="modelYear" [(ngModel)]="formData.modelYear" required
            [class.error]="isSubmitted && !form?.controls?.modelYear?.valid"
            class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] pl-4 pr-[46px]"
            placeholder="2010" />
          <span *ngIf="isSubmitted && !form?.controls?.modelYear?.valid"
            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
            |translate}}</span>
        </div>
        <div class="w-full lg:w-[calc(50%-64px)] relative">
          <label for="majorColor"
            class="font-Cairo-Regular text-[15px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">
            {{'E_TAG.MAJOR' | translate}}
          </label>
          <input type="text" id="majorColor" name="majorColor" [(ngModel)]="formData.majorColor" required
            [class.error]="isSubmitted && !form?.controls?.majorColor?.valid"
            class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] pl-4 pr-[46px]"
            placeholder="Red" />
          <span *ngIf="isSubmitted && !form?.controls?.majorColor?.valid"
            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
            |translate}}</span>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row gap-x-32 gap-y-4">
        <div class="w-full lg:w-[calc(50%-64px)] relative">
          <label for="manufactureToBeBrand"
            class="font-Cairo-Regular text-[15px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">
            {{'E_TAG.MANUFACTURE_TO_BE_BRAND' | translate}}
          </label>
          <input type="text" id="manufactureToBeBrand" name="manufactureToBeBrand"
            [(ngModel)]="formData.manufactureToBeBrand" required
            [class.error]="isSubmitted && !form?.controls?.manufactureToBeBrand?.valid"
            class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] pl-4 pr-[46px]"
            placeholder="Toyota" />
          <span *ngIf="isSubmitted && !form?.controls?.manufactureToBeBrand?.valid"
            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
            |translate}}</span>
        </div>
        <div class="w-full lg:w-[calc(50%-64px)] relative">
          <app-date-picker-second-style [isRequired]="true" class="w-full flex-1"
            [data]="{value: expiryDate, placeholder: '', label: 'E_TAG.EXPIRY_DATE'}"
            [icon]="{src: 'assets/svgs/date-2.svg',fill:'', stroke: ''}" (dateChange)="expiryDate = $event"
            [isErrorEnabled]="isSubmitted && !expiryDate"></app-date-picker-second-style>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-x-[125px] gap-y-[42px] pt-12 pb-[60px] px-[50px]" [class.hidden]="!isNewCarValid">
      <div class="flex flex-col lg:flex-row gap-x-32 gap-y-4">
        <div class="w-full lg:w-[calc(50%-64px)] relative">
          <p class="text-xl leading-[50px] font-Poppins-Medium">
            {{'E_TAG.VEHICLE_DETAILS' | translate}}
          </p>
        </div>
        <div class="w-full lg:w-[calc(50%-64px)] relative">
          <p class="text-xl leading-[50px] font-Poppins-Medium">
            {{'E_TAG.VEHICLE_INSURANCE' | translate}}
          </p>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row gap-x-32 gap-y-4">
        <div class="w-full lg:w-[calc(50%-64px)] relative">
          <label for="sequenceNumber"
            class="font-Cairo-Regular text-[15px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">
            {{'E_TAG.SEQUENCE_NUMBER' | translate}}
          </label>
          <input type="text" id="sequenceNumber" name="sequenceNumber" [(ngModel)]="formData.sequenceNumber" required
            [class.error]="isSubmitted && !form?.controls?.sequenceNumber?.valid"
            class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] pl-4 pr-[46px]"
            placeholder="500930030" />
          <span *ngIf="isSubmitted && !form?.controls?.sequenceNumber?.valid"
            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
            |translate}}</span>
        </div>
        <div class="w-full lg:w-[calc(50%-64px)] relative">
          <label for="insuranceCompanyName"
            class="font-Cairo-Regular text-[15px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">
            {{'E_TAG.INSURANCE_COMPANY_NAME' | translate}}
          </label>
          <input type="text" id="insuranceCompanyName" name="insuranceCompanyName"
            [(ngModel)]="formData.insuranceCompanyName" required
            [class.error]="isSubmitted && !form?.controls?.insuranceCompanyName?.valid"
            class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] pl-4 pr-[46px]"
            placeholder="QIC" />
          <span *ngIf="isSubmitted && !form?.controls?.insuranceCompanyName?.valid"
            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
            |translate}}</span>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row gap-x-32 gap-y-4">
        <div class="w-full lg:w-[calc(50%-64px)] relative">
          <label for="type"
            class="font-Cairo-Regular text-[15px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">
            {{'RETAIL.TYPE' | translate}}
          </label>
          <input type="text" id="type" name="type" [(ngModel)]="formData.type" required
            [class.error]="isSubmitted && !form?.controls?.type?.valid"
            class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] pl-4 pr-[46px]"
            placeholder="Sedan" />
          <span *ngIf="isSubmitted && !form?.controls?.type?.valid"
            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
            |translate}}</span>
        </div>
        <div class="w-full lg:w-[calc(50%-64px)] relative">
          <app-date-picker-second-style [isRequired]="true" class="w-full flex-1"
            [data]="{value: startDate, placeholder: '', label: 'E_TAG.START_DATE'}"
            [icon]="{src: 'assets/svgs/date-2.svg',fill:'', stroke: ''}" (dateChange)="startDate = $event"
            [isErrorEnabled]="isSubmitted && !startDate"></app-date-picker-second-style>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row gap-x-32 gap-y-4">
        <div class="w-full lg:w-[calc(50%-64px)] relative">
          <label for="registration"
            class="font-Cairo-Regular text-[15px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">
            {{'E_TAG.REGISTRATION' | translate}}
          </label>
          <input type="text" id="registration" name="registration" [(ngModel)]="formData.registration" required
            [class.error]="isSubmitted && !form?.controls?.registration?.valid"
            class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] pl-4 pr-[46px]"
            placeholder="Private" />
          <span *ngIf="isSubmitted && !form?.controls?.registration?.valid"
            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
            |translate}}</span>
        </div>
        <div class="w-full lg:w-[calc(50%-64px)] relative">
          <label for="status"
            class="font-Cairo-Regular text-[15px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">
            {{'E_TAG.STATUS' | translate}}
          </label>
          <input type="text" id="status" name="status" [(ngModel)]="formData.status" required
            [class.error]="isSubmitted && !form?.controls?.status?.valid"
            class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] pl-4 pr-[46px]"
            placeholder="Valid" />
          <span *ngIf="isSubmitted && !form?.controls?.status?.valid"
            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
            |translate}}</span>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row gap-x-32 gap-y-4">
        <div class="w-full lg:w-[calc(50%-64px)] relative">
          <label for="vehicleIDNumber"
            class="font-Cairo-Regular text-[15px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">
            {{'E_TAG.VEHICLE_ID_NUMBER' | translate}}
          </label>
          <input type="text" id="vehicleIDNumber" name="vehicleIDNumber" [(ngModel)]="formData.vehicleIDNumber" required
            [class.error]="isSubmitted && !form?.controls?.vehicleIDNumber?.valid"
            class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] pl-4 pr-[46px]"
            placeholder="2992992" />
          <span *ngIf="isSubmitted && !form?.controls?.vehicleIDNumber?.valid"
            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
            |translate}}</span>
        </div>
        <div class="w-full lg:w-[calc(50%-64px)] relative">
          <app-date-picker-second-style [isRequired]="true" class="w-full flex-1"
            [data]="{value: insuranceExpirationDate, placeholder: '', label: 'E_TAG.INSURANCE_EXPIRATION_DATE'}"
            [icon]="{src: 'assets/svgs/date-2.svg',fill:'', stroke: ''}" (dateChange)="insuranceExpirationDate = $event"
            [isErrorEnabled]="isSubmitted && !insuranceExpirationDate"></app-date-picker-second-style>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row gap-x-32 gap-y-4">
        <div class="w-full lg:w-[calc(50%-64px)] relative beneficiary">
          <app-ddl [data]="vehicleUseDDL" (onOptionChange)="vehicleUseChange($event)"
            [isErrorEnabled]="isSubmitted && !vehicleUseDDL.selected"></app-ddl>
        </div>
        <div class="w-full lg:w-[calc(50%-64px)] flex flex-col lg:flex-row gap-[46px] items-end">
          <button type="button" (click)="submitAddNewCarFullForm(form)"
            class="rounded-[5px] max-h-[40px] py-[2.5px] px-8 font-Cairo-Regular text-base leading-8 bg-[#00852C] text-white capitalize">
            {{'E_TAG.SAVE_VEHICLE' | translate}}
          </button>
        </div>
      </div>
    </div>
    <div class="px-[50px]">
      <div class="flex flex-col lg:flex-row flex-wrap gap-x-[18px] gap-y-7 pb-4 lg:gap-y-[22px]">
        <app-vehicle-details-item *ngFor="let vehicle of vehicles.data" [data]="vehicle" [lang]="lang"
          (changeCount)="vehicle.count = $event" (changeActive)="toggleVehicle(vehicle, $event)"
          class="w-full lg:w-[calc(20%-18px)]"></app-vehicle-details-item>
      </div>
      <div class="flex justify-end pb-7">
        <app-pagination *ngIf="!isLoadingEnabled && vehicles.data.length > 0" [data]="vehicles.pagination"
          (changePage)="changePage($event)"></app-pagination>
      </div>
      <div class="w-full">
        <div class="bg-[#F5F5F5] px-7 relative">
          <div class="w-full flex justify-between pt-[30px] pb-[14px]">
            <p class="font-Poppins-Light text-lg leading-[25px]">
              {{'E_TAG.COST_OF_TAG' | translate}}
            </p>
            <p class="font-Poppins-Bold text-xl leading-[25px]">{{'CURRENCIES.QR' | translate}}: 120</p>
          </div>
          <div class="w-full flex justify-between pb-[43px]">
            <p class="font-Poppins-Light text-lg leading-[25px]">
              {{'E_TAG.NUMBER_OF_TAGS' | translate}}
            </p>
            <p class="font-Poppins-Bold text-xl leading-[25px]">3</p>
          </div>
          <div class="w-[calc(100%-60px)] h-[1px] bg-[#CCCCCC] absolute bottom-[64px] left-0 right-0 px-[30px] mx-auto">
          </div>
          <div class="w-full flex justify-between">
            <p class="font-Poppins-Light text-[#009933] pb-[22px]"> {{'E_TAG.TOTAL_PRICE' | translate}}</p>
            <p class="font-Poppins-Bold text-xl leading-[25px] text-[#009933]">{{'CURRENCIES.QR' | translate}}: 270.00
            </p>
          </div>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row justify-between gap-2 pt-16">
        <button type="button" class="flex gap-[14px]" (click)="back()">
          <app-svg src="assets/svgs/arrow.svg" customClass="ltr:rotate-90 rtl:-rotate-90" label="title_goas_here"
            [stretch]="false" width="20" height="20" stroke="#000000"></app-svg>
          <span class="font-Cairo-Regular text-base leading-8 text-black">{{'RETAIL.BACK' | translate}}</span>
        </button>
        <div class="flex flex-col lg:flex-row gap-3">
          <button type="button" (click)="saveForLater(form)"
            class="border py-[2.5px] px-6 border-solid border-[#009933] rounded-[5px] font-Cairo-Regular text-base leading-8 text-[#008545] capitalize">
            {{'RETAIL.SAVE_AND_CONTINUE_LATER' | translate}}
          </button>
          <button type="submit"
            class="rounded-[5px] py-[2.5px] px-8 font-Cairo-Regular text-base leading-8 bg-[#00852C] text-white capitalize">
            {{'RETAIL.NEXT' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</form>



<app-modal [template]="modalTemplatePlaceholder2" [isModalEnabled]="isModalEnabled2"
  (closeModalByKeyboard)="isModalEnabled2 = false" modalClasses="top-0 bottom-0 w-[90%] max-w-[1024px]">
  <ng-template #modalTemplatePlaceholder2>
    <div class="bg-white pt-[24px] pb-[41px] rounded-[5px]">
      <div class="modal-header px-[22px] flex justify-end pb-[23px]">
        <button type="button">
          <app-svg (click)="isModalEnabled2 = false" src="assets/svgs/close.svg" customClass="" label="title_goes_here"
            [stretch]="false" width="16" height="16" fill="#000"></app-svg>
        </button>
      </div>
      <div class="modal-body px-[22px]">
        <app-add-new-beneficiary [isNewBeneficiaryEnabled]="isNewBeneficiaryEnabled"
          (toggleNewBeneficiaryEmiter)="toggleNewBeneficiary()"></app-add-new-beneficiary>
        <div class="bg-[#EDFFF6] px-[23px] pt-[35px] pb-[19px] mb-[21px]" [class.hidden]="!isNewBeneficiaryEnabled">
          <form #form2="ngForm" novalidate (ngSubmit)="onSubmitAddBeneficiary(form2)">
            <div class="flex flex-col gap-x-[67px] gap-y-[42px]">
              <div class="flex flex-col lg:flex-row gap-x-[67px] gap-y-4">
                <div class="w-full lg:w-[calc(50%)] relative">
                  <label for="name"
                    class="font-Cairo-Regular text-[12px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">
                    {{'E_TAG.NAME' | translate}}
                  </label>
                  <input type="text" id="name" name="name" [(ngModel)]="formData2.name" required
                    [class.error]="isNewBeneficiarySubmitted && !form2?.controls?.name?.valid"
                    class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] pl-4 pr-[46px]"
                    placeholder="Mohammed" />
                  <span *ngIf="isNewBeneficiarySubmitted && !form2?.controls?.name?.valid"
                    class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
                    |translate}}</span>
                </div>
                <div class="w-full lg:w-[calc(50%)] relative">
                  <label for="email"
                    class="font-Cairo-Regular text-[12px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">
                    {{'E_TAG.EMAIL' | translate}}
                  </label>
                  <input type="text" id="email" name="email" email [(ngModel)]="formData2.email" required
                    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                    [class.error]="isNewBeneficiarySubmitted && !form2?.controls?.email?.valid"
                    class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] pl-4 pr-[46px]"
                    placeholder="Sample@gmail.com" />
                  <span *ngIf="isNewBeneficiarySubmitted && !form2?.controls?.email?.valid"
                    class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
                    |translate}}</span>
                </div>
              </div>
              <div class="flex flex-col lg:flex-row gap-x-[67px] gap-y-4">
                <div class="w-full lg:w-[calc(50%)] relative">
                  <label for="phone"
                    class="font-Cairo-Regular text-[12px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">
                    {{'E_TAG.PHONE' | translate}}
                  </label>
                  <input type="text" id="phone" name="phone" [(ngModel)]="formData2.phone" required
                    [class.error]="isNewBeneficiarySubmitted && !form2?.controls?.phone?.valid"
                    class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] pl-4 pr-[46px]"
                    placeholder="29299922" />
                  <span *ngIf="isNewBeneficiarySubmitted && !form2?.controls?.phone?.valid"
                    class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
                    |translate}}</span>
                </div>
                <div class="w-full lg:w-[calc(50%)] relative">
                  <label for="familyRelation"
                    class="font-Cairo-Regular text-[12px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">
                    {{'E_TAG.FAMILY' | translate}}
                  </label>
                  <input type="text" id="familyRelation" name="familyRelation" [(ngModel)]="formData2.familyRelation"
                    required [class.error]="isNewBeneficiarySubmitted && !form2?.controls?.familyRelation?.valid"
                    class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] pl-4 pr-[46px]"
                    placeholder="Son" />
                  <span *ngIf="isNewBeneficiarySubmitted && !form2?.controls?.familyRelation?.valid"
                    class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
                    |translate}}</span>
                </div>
              </div>
              <div class="flex flex-col lg:flex-row gap-x-[67px] gap-y-4">
                <div class="w-full lg:w-[calc(46%)] relative">
                  <label for="walletLimit"
                    class="font-Cairo-Regular text-[12px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">
                    {{'E_TAG.WALLET_LIMIT' | translate}}
                  </label>
                  <input type="text" id="walletLimit" name="walletLimit" [(ngModel)]="formData2.walletLimit" required
                    [class.error]="isNewBeneficiarySubmitted && !form2?.controls?.walletLimit?.valid"
                    class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] pl-4 pr-[46px]"
                    placeholder="QAR 3992" />
                  <span *ngIf="isNewBeneficiarySubmitted && !form2?.controls?.walletLimit?.valid"
                    class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
                    |translate}}</span>
                </div>
                <div class="w-full lg:w-[calc(50%-64px)] relative">
                  <button type="submit"
                    class="rounded-[5px] py-[2.5px] h-[40px] px-8 font-Cairo-Regular text-base leading-8 bg-[#00852C] text-white capitalize">
                    {{'E_TAG.ADD_BENEFICIARY' | translate}}
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="flex flex-col lg:flex-row gap-5 flex-wrap pb-6">
          <div class="w-full lg:w-[calc(25%-15px)]" *ngFor="let person of persons.data">
            <button type="button" (click)="person.isSelected = !person.isSelected"
              class="bg-[#F5F5F5] rounded-[5px] w-full" [class.activePerson]="person.isSelected">
              <div class="flex justify-end px-[10px] pt-[10px]">
                <app-svg [src]="person.isSelected ? 'assets/svgs/correct-circle.svg' : 'assets/svgs/empty-circle.svg'"
                  customClass="mt-[-3px]" label="title_goas_here" [stretch]="false" width="24" height="24"
                  [fill]="person.isSelected ? '#00904A' : '#CCCCCC'"></app-svg>
              </div>
              <div class="flex flex-row gap-[11px] items-center pb-[12px] px-[23px]">
                <img [src]="person.img | imageSource" alt="" class="w-[29px] h-[29px] rounded-full" width="29"
                  height="29" />
                <p class="text-sm leading-[20px] font-Poppins-Light text-[#011C35]">
                  {{person.name}}
                </p>
              </div>
              <p class="text-xs leading-[20px] font-Poppins-Light text-[#7C7C7C] pb-1 px-[23px]">
                {{'E_TAG.EMAIL' | translate}}
                <span class="text-sm leading-[20px] font-Poppins-Medium text-[#011C35]">{{person.email}}</span>
              </p>
              <p class="text-xs leading-[20px] font-Poppins-Light text-[#7C7C7C] pb-[10px] px-[23px]">
                {{'E_TAG.PHONE_NUMBER' | translate}}
                <span class="text-sm leading-[20px] font-Poppins-Medium text-[#011C35]">{{person.phoneNumber}}</span>
              </p>
            </button>
          </div>
        </div>
        <div class="flex justify-between">
          <app-pagination *ngIf="!isPersonsLoadingEnabled && persons.data.length > 0" [data]="persons.pagination"
            (changePage)="changePage($event)"></app-pagination>
          <button type="button"
            class="rounded-[5px] py-[2.5px] px-8 font-Cairo-Regular text-base leading-8 bg-[#00852C] text-white capitalize">
            {{'E_TAG.CONFIRM' | translate}}
          </button>
        </div>
      </div>
    </div>
  </ng-template>
</app-modal>