<div class="bg-[#F5F5F5]">
    <section class="max-w-desktop mx-auto px-4 lg:px-10 pt-[45px]" *ngIf="data?.title">
        <h1 class="mb-[15px] text-center font-Poppins-Medium text-lg leading-[30px] capitalize text-[#221E20]"
            [innerHTML]="data?.title[lang]">
        </h1>
        <p class="pb-[52px] text-center font-Poppins-Light text-base leading-[30px] text-[#011C35]"
            [innerHTML]="data?.description[lang]"></p>
    </section>
    <section>
        <img class="w-full h-[526px]" [defaultImage]="'loadingImage'| imageSource"
            [errorImage]="'errorImage'| imageSource" [lazyLoad]="data?.img | imageSource" alt="Card Image" />
    </section>
    <div class="bg-[#F5F5F5]" *ngIf="data?.body">
        <app-detailed-body [data]="data?.body[lang]"></app-detailed-body>
    </div>
</div>