<div class="flex flex-col w-full px-14 py-16 gap-8">
    <div class="flex flex-col gap-2">
        <p class="text-primary font-medium text-lg">Notification setting</p>
        <p class="w-full text-lg font-thin">Lorem Ipsum is simply dummy text of
            the printing and
            typesetting
            industry.
        </p>
    </div>
    <div class="flex flex-col gap-8">
        <div class="flex items-center gap-4 w-full">
            <p class="text-primary font-normal text-lg">Push notification</p>
            <div class="w-6 h-6 rounded border border-solid border-primary cursor-pointer">
            </div>
            <!-- <app-svg src="assets/svgs/arrow.svg" class="mt-[-3px]"
                customClass="" label="title_goas_here" [stretch]="false"
                width="16" fill="#802d3d"></app-svg> -->
        </div>
        <div>
            <hr class="opacity-85 w-[721px] mx-auto" />
        </div>

    </div>

    <ul class="w-full flex flex-col gap-3">
        <li>
            <button type="button" class="bg-gray-100 w-full flex gap-4 items-center px-2 py-[14px]">
                <img src="assets/images/profile.webp" alt="" class="w-[40px] h-[40px] rounded-full" />
                <span class="flex items-center gap-1">
                    <strong class="font-medium">Hussein Alwesi</strong>
                    <span class="font-normal">sent you a message</span>
                    <strong class="text-primary font-normal">From 2h</strong>
                </span>
            </button>
        </li>
        <li>
            <button type="button" class="bg-gray-100 w-full flex gap-4 items-center px-2 py-[14px]">
                <img src="assets/images/profile.webp" alt="" class="w-[40px] h-[40px] rounded-full" />
                <span class="flex items-center gap-1">
                    <strong class="font-medium">Hussein Alwesi</strong>
                    <span class="font-normal">sent you a message</span>
                    <strong class="text-primary font-normal">From 2h</strong>
                </span>
            </button>
        </li>
        <li>
            <button type="button" class="bg-white w-full flex gap-4 items-center px-2 py-[14px]">
                <img src="assets/images/profile.webp" alt="" class="w-[40px] h-[40px] rounded-full" />
                <span class="flex items-center gap-1">
                    <strong class="font-medium">Hussein Alwesi</strong>
                    <span class="font-normal">sent you a message</span>
                    <strong class="text-primary font-normal">From 2h</strong>
                </span>
            </button>
        </li>
        <li>
            <button type="button" class="bg-gray-100 w-full flex gap-4 items-center px-2 py-[14px]">
                <img src="assets/images/profile.webp" alt="" class="w-[40px] h-[40px] rounded-full" />
                <span class="flex items-center gap-1">
                    <strong class="font-medium">Hussein Alwesi</strong>
                    <span class="font-normal">sent you a message</span>
                    <strong class="text-primary font-normal">From 2h</strong>
                </span>
            </button>
        </li>
        <li>
            <button type="button" class="bg-gray-100 w-full flex gap-4 items-center px-2 py-[14px]">
                <img src="assets/images/profile.webp" alt="" class="w-[40px] h-[40px] rounded-full" />
                <span class="flex items-center gap-1">
                    <strong class="font-medium">Hussein Alwesi</strong>
                    <span class="font-normal">sent you a message</span>
                    <strong class="text-primary font-normal">From 2h</strong>
                </span>
            </button>
        </li>
    </ul>

</div>