<div class="flex flex-col gap-4 w-full">
    <div class="flex flex-col lg:flex-row justify-between items-center">
        <div class="flex-1">
            <p class="font-normal">Simple steps to get started:</p>
            <ul class="mt-4">
                <li>
                    <p>1- Lorem Ipsum is simply dummy text of the
                        printing.</p>
                </li>
                <li>
                    <p>2- Lorem Ipsum is simply dummy text of the
                        printing and.</p>
                </li>
                <li>
                    <p>3- Lorem Ipsum is simply dummy text of the
                        printing and
                        typesetting.
                    </p>
                </li>
            </ul>
            <p class="mt-4">Lorem Ipsum <strong class="font-normal">is simply
                    dummy text of the
                    printing
                    and
                    typesetting.</strong>
            </p>
        </div>
        <div class="w-[263px]">
            <img class="w-full h-full" src="assets/images/no-post.webp" alt="FOM" />
        </div>
    </div>
    <div class="mt-16">
        <p class="text-center text-primary font-bold">No Showcase available</p>
    </div>
</div>