<app-breadcrumb-section-second-style [breadCrumb]="breadCrumb"
  [link]="'kenar-shop/rent-shop/' + id"></app-breadcrumb-section-second-style>
<section class="bg-[#F5F5F5]">
  <div class="max-w-desktop mx-auto px-4 lg:px-10 py-[52px] pt-[72px]">
    <app-form-steps [steps]="steps" [selectedStep]="selectedStep"></app-form-steps>

    <ng-container *ngIf="!isPaymentSuccessEnabled">

      <app-rent-shop-information class="hidden" [class.active]="selectedStep === 'shopInformation'"
        [stationName]="stationName" [stationData]="stationData" [lang]="lang"
        (nextStep)="nextStep($event)"></app-rent-shop-information>

      <app-personal-information class="hidden" [class.active]="selectedStep === 'personalInformation'"
        (nextStep)="nextStep($event)" (prevStep)="prevStep()"></app-personal-information>

      <app-business-information class="hidden" [class.active]="selectedStep === 'businessInformation'"
        (nextStep)="nextStep($event)" (prevStep)="prevStep()"></app-business-information>

      <app-rent-shop-attachment class="hidden" [class.active]="selectedStep === 'attachments'"
        (nextStep)="nextStep($event)" (prevStep)="prevStep()"></app-rent-shop-attachment>

      <app-terms-conditions-tab class="hidden" [class.active]="selectedStep === 'submission'" [lang]="lang"
        (nextStep)="nextStep($event)" (prevStep)="prevStep()" [terms]="PropertyId"></app-terms-conditions-tab>

    </ng-container>

    <!-- <ng-container *ngIf="!isPaymentSuccessEnabled">
      <ng-container *ngIf="selectedStep === 'shopInformation'">
        <app-rent-shop-information [stationName]="stationName" [stationData]="stationData" [lang]="lang"
          (nextStep)="nextStep($event)"></app-rent-shop-information>
      </ng-container>
      <ng-container *ngIf="selectedStep === 'personalInformation'">
        <app-personal-information (nextStep)="nextStep($event)" (prevStep)="prevStep()"></app-personal-information>
      </ng-container>
      <ng-container *ngIf="selectedStep === 'businessInformation'">
        <app-business-information (nextStep)="nextStep($event)" (prevStep)="prevStep()"></app-business-information>
      </ng-container>
      <ng-container *ngIf="selectedStep === 'attachments'">
        <app-rent-shop-attachment (nextStep)="nextStep($event)" (prevStep)="prevStep()"></app-rent-shop-attachment>
      </ng-container>
      <ng-container *ngIf="selectedStep === 'submission'">
        <app-terms-conditions-tab [lang]="lang" (nextStep)="nextStep($event)" (prevStep)="prevStep()"
          [terms]="PropertyId"></app-terms-conditions-tab>
      </ng-container>
    </ng-container> -->

    <app-success-payment-tab *ngIf="isPaymentSuccessEnabled" [lang]="lang"></app-success-payment-tab>
  </div>
</section>