<section class="" style="background-image: url('assets/svgs/wave-bg.svg')">
  <div *ngFor="let item of app"
    class="max-w-desktop mx-auto px-4 lg:px-11 flex flex-col lg:flex-row py-[45px] justify-between">
    <div class="flex flex-row gap-3 items-center ">
      <img class="w-[50px] h-[50px]" [src]="item?.icon | imageSource" width="50" height="50" alt="">
      <p class="text-[15px] leading-[20px] font-Cairo-Regular" [innerHTML]="item?.title[lang]"> </p>
    </div>
    <div class="flex flex-col lg:flex-row gap-3 mx-auto pt-4 lg:pt-0">
      <a [href]="item?.urlOne | routeLocalization" aria-label="more about this app image">
        <img class=" h-[55px] lg:w-[110px] max-w-[150px]" width="" height="55" [src]="item?.imgOne | imageSource"
          alt="">
      </a>
      <a [href]="item?.urlTwo | routeLocalization" aria-label="more about this app image">
        <img class=" h-[55px] lg:w-[110px] max-w-[150px]" width="" height="55" [src]="item?.imgTwo | imageSource"
          alt="">
      </a>
    </div>
  </div>
</section>