<div class="w-full mx-w-[460px] flex flex-col gap-6">
    <!-- {{selectedProduct | json}} -->
    <div class="w-full bg-white rounded-[10px] shadow-lg overflow-hidden">
        <img #card [defaultImage]="'loadingImage'| imageSource" [errorImage]="'errorImage'| imageSource"
            [lazyLoad]="selectedProduct?.selectedImage?.img | imageSource" alt="" class="w-full h-full bg-white"
            [ngStyle]="{height: heightMain + 'px'}" />
    </div>
    <div class="w-full flex flex-row gap-x-10 gap-y-4 overflow-auto">
        <img *ngFor="let image of images" #cardSub [defaultImage]="'loadingImage'| imageSource"
            [errorImage]="'errorImage'| imageSource" [lazyLoad]="image.img | imageSource" alt=""
            (click)="selectImage(image)"
            class="w-[80px] bg-white border-1 shadow-md rounded-[10px] hover:cursor-pointer border-[#00904A]"
            [class.border-4]="selectedProduct?.selectedImage?.id == image.id" [ngStyle]="{height: heightSub + 'px'}" />
    </div>
</div>