<section class="bg-[#f5f5f5]">
    <div class="max-w-desktop px-4 lg:px-10 mx-auto py-[72px]">
        <div class="bg-white pt-[31px] pb-[69px] px-4" style="box-shadow: 0px 3px 6px #00000029"
            [class.loading]="isLoadingEnabled">
            <div class="flex flex-col lg:flex-row gap-[85px] min-h-[600px] relative">

                <div class="w-full text-center flex flex-col justify-center">

                    <app-loader-two *ngIf="isLoadingEnabled"></app-loader-two>

                    <ng-container *ngIf="!isLoadingEnabled">
                        <div class="max-w-fit mx-auto pb-4">
                            <img class="w-[174px] h-[183px]"
                                [src]="isSuccess ? 'assets/images/success.gif' : 'assets/images/decline.gif'" alt="" />
                        </div>
                        <ng-container *ngIf="!isSuccess">
                            <div class="w-full flex flex-col gap-3">
                                <p class="text-[#d70000] font-Cairo-Bold">{{'PAYMENT.PAYMENT_FAILED' | translate}}</p>
                                <p class="text-[#7C7C7C] font-Cairo-Bold text-sm leading-[18px]" *ngIf="data?.reason">
                                    {{data.reason}}</p>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="isSuccess">
                            <div
                                class="w-full flex flex-col lg:flex-row flex-wrap gap-x-[74px] gap-y-5 lg:gap-y-[13px] pb-[14px] justify-center">
                                <div class="flex flex-col items-center gap-4">
                                    <div class="w-full lg:max-w-fit lg:min-w-[146px] flex flex-col">
                                        <p class="font-Cairo-Regular text-[#77767A] text-sm">{{'PAYMENT.ID' |
                                            translate}}
                                        </p>
                                        <p class="font-Poppins-Medium text-[#111111] text-base leading-[30px]">
                                            {{data.trID}}
                                        </p>
                                    </div>
                                    <div class="w-full lg:max-w-fit lg:min-w-[146px] flex flex-col">
                                        <p class="font-Cairo-Regular text-[#77767A] text-sm">{{'PAYMENT.METHODS' |
                                            translate}}
                                        </p>
                                        <p class="font-Poppins-Medium text-[#111111] text-base leading-[30px]">
                                            {{data.paymentMethod}}</p>
                                    </div>
                                </div>
                                <div class="flex flex-col items-center gap-4">

                                    <div class="w-full lg:max-w-fit lg:min-w-[146px] flex flex-col">
                                        <p class="font-Cairo-Regular text-[#77767A] text-sm">{{'PAYMENT.DATE' |
                                            translate}}
                                        </p>
                                        <p class="font-Poppins-Medium text-[#111111] text-base leading-[30px]">

                                            {{data.date | date:'dd'}}-{{ ('MONTHS.' + ((data.date | date:'MMM') ||
                                            '').toUpperCase()) |
                                            translate }}-{{data.date | date:'YYYY'}}

                                        </p>
                                    </div>


                                    <div class="w-full lg:max-w-fit lg:min-w-[146px] flex flex-col">
                                        <p class="font-Cairo-Regular text-[#77767A] text-sm">{{'PAYMENT.TOTAL' |
                                            translate}}
                                        </p>
                                        <p class="font-Poppins-Medium text-[#111111] text-base leading-[30px]">
                                            {{'CURRENCIES.QR'
                                            |
                                            translate}} {{data.amount | number:'1.2-2'}}
                                        </p>
                                    </div>
                                </div>

                            </div>
                            <div class="w-full flex flex-col gap-3">
                                <p class="text-[#003399] font-Cairo-Bold">{{'PAYMENT.CONGRATS' | translate}}</p>
                                <p class="text-[#7C7C7C] font-Cairo-Bold text-sm leading-[18px]">{{data.amount |
                                    number:'1.2-2'}}
                                    {{'CURRENCIES.QR' |
                                    translate}} {{'PAYMENT.INTO_WALLET' | translate}}</p>

                                <p *ngIf="userWalletAmmount?.Balance"
                                    class="text-[#111111] font-Poppins-Light text-sm leading-[18px]">
                                    {{'PAYMENT.YOU_HAVE'
                                    |
                                    translate}} <span
                                        class="text-[#003399] font-Poppins-Bold text-[24px]">{{'CURRENCIES.QR'
                                        |
                                        translate}} {{userWalletAmmount.Balance | number:'1.2-2'}} </span></p>
                                <p class="text-[#111111] font-Poppins-Light text-xs">{{'PAYMENT.AVAILABLE' | translate}}
                                </p>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
                <div *ngIf="!isLoadingEnabled" class="w-full lg:w-1/4 hidden lg:block absolute top-0 right-0">
                    <app-svg src="assets/svgs/Layer.svg" customClass="" label="title_goas_here" [stretch]="false"
                        width="295" height="359" fill="#00904A"></app-svg>
                </div>
            </div>

        </div>
    </div>
</section>