<div class="w-full  relative bg-[#F5F5F5] rounded-[5px] p-[18px] border border-solid border-transparent"
    [class.active]="isActive">
    <p
        class="extra-txt absolute ltr:-right-px rtl:-left-px -top-6 rounded-t-md ltr:rounded-bl-md rtl:rounded-br-md px-4 py-2 hidden text-center font-Poppins-Light text-xs leading-[18px] text-white bg-[#00428B]">
        {{'E_TAG.RE_INSPECTION' | translate}}</p>
    <div class="flex items-center justify-between gap-1 flex-col">
        <div class="w-full flex justify-between items-center gap-1 mb-6">
            <p>
                <span class="font-Poppins-Bold text-base leading-5 text-[#011C35]">10</span>
                <span class="font-Poppins-Light text-xs leading-5 text-[#011C35]"> {{'E_TAG.DAYS' | translate}}</span>
            </p>
            <app-svg *ngIf="isSelectable"
                [src]="isActive ? 'assets/svgs/correct-circle.svg' : 'assets/svgs/empty-circle.svg'" customClass=""
                label="title_goas_here" [stretch]="false" width="22" height="24"
                [fill]="isActive ? '#B30838' : '#CCCCCC'"></app-svg>
        </div>
        <app-svg src="assets/svgs/car.svg" customClass="" label="title_goas_here" [stretch]="false" width="92"
            height="34" fill="#B30838"></app-svg>
        <hr class="w-full mt-[18px] mb-3 border-[#CCCCCC]">
        <div>
            <ul class="flex flex-row flex-wrap gap-2.5">
                <li class="flex flex-col gap-0.5 w-[calc(50%-5px)]" *ngFor="let detailItem of details">
                    <p class="font-Poppins-Light text-xs leading-5 whitespace-nowrap"
                        [ngClass]="isActive ? 'text-black' : 'text-[#707070]'">
                        {{detailItem.title | translate}}
                    </p>
                    <p class="font-Poppins-Medium text-sm text-[#011C35] whitespace-nowrap">
                        {{detailItem.value | translate}}</p>
                </li>
            </ul>
        </div>
        <button *ngIf="isSelectable && isActive" type="button"
            class="border border-solid bg-white border-[#B30838] mt-[18px] py-[9px] w-full rounded-[5px] text-center font-Cairo-Regular text-base leading-[22px] capitalize text-[#B30838]">
            Remove
        </button>
        <button *ngIf="isSelectable && !isActive" type="button"
            class="bg-[#B30838] mt-[18px] py-[9px] w-full rounded-[5px] text-center font-Cairo-Regular text-base leading-[22px] capitalize text-[#F5F5F5]">
            Add
        </button>
        <div *ngIf="!isSelectable"
            class="bg-[#ECECEE] border border-solid border-[#CCCCCC] mt-[18px] py-[9px] w-full rounded-[5px] text-center font-Cairo-Regular text-sm leading-[22px] capitalize text-black">
            400 Days left
        </div>
    </div>

</div>