<div class="flex w-auto px-0 h-full items-center relative" [ngClass]="pageType">
    <div class="mx-auto w-full lg:w-[458px] z-10">
        <form #form="ngForm" novalidate (ngSubmit)="onSubmit(form)">
            <div class="pt-8 pb-[30px] px-[30px] w-full bg-white rounded-[5px] shadow-custom-1 flex-col"
                [class.hidden]="isSubmitted" [class.flex]="!isSubmitted">
                <div>
                    <label
                        class="ltr:text-left rtl:text-right font-Cairo-Regular text-sm leading-8 text-black capitalize mb-1"
                        for="">{{'INSPECTION_FILTER.SELECT_YOUR_PETROL_STATION_TYPE' | translate}}</label>

                    <app-ddl-third-style [data]="stationDDL"
                        (onOptionChange)="stationChange($event)"></app-ddl-third-style>
                </div>
                <!-- <div class="mt-4">
                    <label
                        class="ltr:text-left rtl:text-right font-Cairo-Regular text-sm leading-8 text-black capitalize mb-1"
                        for="">{{'INSPECTION_FILTER.SELECT_YOUR_PETROL_STATION_STATUS' | translate}}</label>
                    <app-ddl-third-style [data]="statusDDL"
                        (onOptionChange)="statusChange($event)"></app-ddl-third-style>
                </div> -->
                <div class="mt-4">
                    <label
                        class="ltr:text-left rtl:text-right font-Cairo-Regular text-sm leading-8 text-black capitalize mb-1"
                        for="">{{'INSPECTION_FILTER.SELECT_BY_SERVICE_AVAILABLE' | translate}}</label>

                    <!--  -->
                    <app-ddl-third-style-multiple [data]="servicesDDL" [isDisabled]="servicesDDL.list.length === 0"
                        (onOptionChange)="servicesChange($event)"></app-ddl-third-style-multiple>
                </div>
                <!-- <app-ddl-with-search [addresses]="addresses"
                    (locationChangeEmitter)="locationChange($event)"></app-ddl-with-search> -->


                <div class="mt-4">
                    <p class="ltr:text-left rtl:text-right font-Cairo-Regular text-sm capitalize mb-2.5">
                        {{'INSPECTION_FILTER.WORKING_HOURS' | translate}}
                    </p>
                    <ul class="flex gap-x-[30px] gap-y-3 flex-wrap">
                        <!-- {{workingHours | json}} -->
                        <li *ngFor="let item of workingHours">

                            <app-checkbox [data]="item" (onChange)="changeWorkingHours($event,item)"></app-checkbox>

                            <!-- <app-checkbox [data]="{title: item.title[lang],name: item.name,value: item.value}"
                                (onChange)="changeWorkingHours($event,item)"></app-checkbox> -->
                        </li>
                        <!-- <li>
                            <app-checkbox [data]="allDay" (onChange)="changeAllDay($event)"></app-checkbox>
                        </li>
                        <li>
                            <app-checkbox [data]="limitedHours" (onChange)="changeLimitedHours($event)"></app-checkbox>
                        </li> -->
                    </ul>
                </div>

                <div class="flex flex-col sm:flex-row justify-between gap-4 mt-9">
                    <button type="button" (click)="resetAll()"
                        class="text-center reset-btn underline font-Poppins-Medium text-sm leading-[21px] tracking-normal border border-solid px-12 py-1.5 rounded-[5px]">{{'PETROL_STATION.RESET_ALL'
                        | translate}}</button>
                    <button type="submit"
                        class="apply-btn rounded-[5px] text-center font-Futura-Bk-BT-Medium text-lg text-white capitalize px-12 py-1.5">{{'SHARED.APPLY_ALL'
                        | translate}}</button>
                </div>
            </div>
        </form>
        <div class="w-full rounded-[5px] shadow-custom-1 flex-col gap-0.5" [class.hidden]="!isSubmitted"
            [class.flex]="isSubmitted">

            <!-- [class.hide-filter]="!isFilterEnabled" -->
            <div class="px-6 h-[60px] flex justify-between items-center bg-white rounded-t-[5px] shadow-custom-8">
                <span class="text-black font-Poppins-Light text-base line-clamp-1">
                    <ng-container *ngFor="let item of filter; let i = index">
                        {{item | translate}} {{(i + 1) < filter.length ? ', ' : '' }} </ng-container>
                            <ng-container *ngIf="filter.length === 0">
                                <!-- There is no search filter applied -->
                            </ng-container>
                </span>

                <button type="button" (click)="cancel()">
                    <app-svg src="assets/svgs/close.svg" customClass="" label="title_goas_here" [stretch]="false"
                        width="16" height="16" fill="#00904A"></app-svg>
                </button>
            </div>
            <div class="w-full bg-white rounded-b-[5px] shadow-custom-8">
                <div class="pt-5 px-6">
                    <select name="" id="" class="font-Poppins-Light text-sm text-[#727272]">
                        <option value="">{{'INSPECTION_FILTER.SORT_BY' | translate}}</option>
                    </select>
                </div>
                <ul class="flex flex-col gap-5 pt-3 overflow-auto h-full max-h-[calc(50vh)] pb-[22px]">
                    <li *ngFor="let item of searchResult; let i = index"
                        class="relative px-6 after:absolute after:w-full after:h-px after:bg-[#ECECEE] after:-bottom-2.5 after:left-0 after:last:hidden">
                        <div class="flex gap-7 justify-between">
                            <div class="flex flex-col flex-1">
                                <p
                                    class="ltr:text-left rtl:text-right font-Poppins-Bold text-[15px] leading-[26px] text-[#2B2B2B]">
                                    {{item.title[lang]}}</p>
                                <p
                                    class="ltr:text-left rtl:text-right font-Poppins-Light text-sm leading-[29px] text-[#676767]">
                                    {{item.desc[lang]}}</p>
                                <ul class="flex gap-x-[38px] gap-y-0 flex-wrap">
                                    <li>
                                        <span class="flex gap-2 items-center">
                                            <app-svg src="assets/svgs/time.svg" class="-mt-1" customClass=""
                                                label="title_goas_here" [stretch]="false" width="12" height="12"
                                                fill="#003399"></app-svg>
                                            <span
                                                class="ltr:text-left rtl:text-right font-Poppins-Light text-sm leading-[29px] text-[#003399]">{{item.time
                                                | translate}}</span>
                                        </span>
                                    </li>
                                    <li>
                                        <a [href]="'tel:' + item.phone" class="flex gap-2 items-center">
                                            <app-svg src="assets/svgs/phone-ring.svg" class="-mt-1" customClass=""
                                                label="title_goas_here" [stretch]="false" width="12" height="12"
                                                fill="#003399"></app-svg>
                                            <span
                                                class="ltr:text-left rtl:text-right font-Poppins-Light text-sm leading-[29px] text-[#003399] whitespace-nowrap">{{item.phone}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="flex items-center">
                                <button type="button" (click)="selectStation(item?.title?.en || '')"
                                    class="flex gap-2 items-center">
                                    <span
                                        class="font-Cairo-Regular text-sm leading-[30px] capitalize text-[#00904A]">{{'INSPECTION_FILTER.DIRECTION'
                                        | translate}}</span>
                                    <app-svg src="assets/svgs/direction.svg" customClass="" label="title_goas_here"
                                        [stretch]="false" width="32" height="32" fill="#00904A"></app-svg>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>