<div class="flex flex-col gap-4 lg:flex-row lg:justify-between pb-[27px]">
  <p class="leading-[50px] font-Poppins-Medium">
    {{ "DASHBOARD.SELECT_CAR" | translate }}
  </p>
  <div class="flex gap-[18px] flex-col lg:flex-row items-center">
    <app-search-w-ddl [ddl]="ddl" inputTitle="E_TAG.SEARCH_BY_NUMBER_PLATE" (ddlChangeEmiter)="changeDDL($event)"
      [keyword]="keyword" (KeywordChange)="changeKeyword($event)"></app-search-w-ddl>
    <button type="button" [routerLink]="'/dashboard/add-new-vehicle' | routeLocalization"
      class="rounded-[5px] py-[2.5px] px-8 font-Cairo-Regular text-base leading-8 bg-[#00852C] text-white capitalize">
      {{ "DASHBOARD.NEW_VEHICLE" | translate }}
    </button>
  </div>
</div>

<div class="relative overflow-x-auto mb-[26px]">
  <app-no-data *ngIf="cards.data.length === 0"></app-no-data>
  <table *ngIf="cards.data.length > 0"
    class="w-full text-sm text-center flex flex-col lg:border lg:border-solid lg:border-[#ECECEE] rounded-lg">
    <thead
      class="text-sm leading-[18px] font-Poppins-Medium bg-[white] relative after:absolute after:bottom-2 after:left-0 after:right-0 after:mx-auto after:w-[99%] after:h-[2px] after:bg-[#ECECEE]">
      <tr class="w-[100%] flex flex-row items-center">
        <th scope="col">
          <button class="">
            Plate number
            <app-svg src="assets/svgs/arrow.svg" customClass="" label="title_goas_here" [stretch]="false" width="24"
              height="24" stroke="#000"></app-svg>
          </button>
        </th>
        <th scope="col">
          <button>
            Plate Type
            <app-svg src="assets/svgs/arrow.svg" customClass="" label="title_goas_here" [stretch]="false" width="24"
              height="24" stroke="#000"></app-svg>
          </button>
        </th>
        <th scope="col">
          <button>
            Vehicle Make
            <app-svg src="assets/svgs/arrow.svg" customClass="" label="title_goas_here" [stretch]="false" width="24"
              height="24" stroke="#000"></app-svg>
          </button>
        </th>
        <th scope="col">
          <button>
            Vehicle Model
            <app-svg src="assets/svgs/arrow.svg" customClass="" label="title_goas_here" [stretch]="false" width="24"
              height="24" stroke="#000"></app-svg>
          </button>
        </th>
        <th scope="col">
          <button>
            Manufacture
            <app-svg src="assets/svgs/arrow.svg" customClass="" label="title_goas_here" [stretch]="false" width="24"
              height="24" stroke="#000"></app-svg>
          </button>
        </th>
        <th scope="col">
          <button>
            Owner Name
            <app-svg src="assets/svgs/arrow.svg" customClass="" label="title_goas_here" [stretch]="false" width="24"
              height="24" stroke="#000"></app-svg>
          </button>
        </th>
        <th scope="col">
          <button>
            Fahas Status
            <app-svg src="assets/svgs/arrow.svg" customClass="" label="title_goas_here" [stretch]="false" width="24"
              height="24" stroke="#000"></app-svg>
          </button>
        </th>
      </tr>
    </thead>
    <tbody class="w-full lg:w-[calc(100%-20px)] mx-auto">
      <tr class="flex flex-row items-center h-[50px]" *ngFor="let item of cards.data">
        <td class="normal">{{item.plateNumber}}</td>
        <td class="normal">{{item.plateType[lang]}}</td>
        <td class="normal">{{item.vehicleMake}}</td>
        <td class="normal">{{item.vehicleModel}}</td>
        <td class="normal">{{item.Manufacture}}</td>
        <td class="normal">{{item.ownerName}}</td>
        <td class="normal">
          <button [class.succeed]="item.fahasStatus" [class.failed]="!item.fahasStatus"
            class="rounded-[9px] text-white text-center text-[10px] leading-[18px] px-[14px] py-[2px]">
            {{item.fahasStatus ? 'Succeed' : 'Failed'}}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-pagination-second-style *ngIf="!isLoadingEnabled && cards.data.length > 0" [data]="cards.pagination"
  (changePage)="changePage($event)"></app-pagination-second-style>