<section class="bg-[#003399]">
    <div class="max-w-desktop mx-auto flex flex-col lg:flex-row pt-[52px] pb-10 gap-6">
        <div class="w-full lg:w-1/5 self-center px-4 lg:px-10">
            <p class="pb-2 ltr:text-left rtl:text-right font-Cairo-Bold text-[26px] leading-[56px] text-white capitalize"
                [innerHTML]="mainData.title[lang]"></p>
            <!-- <p class="pb-5 ltr:text-left rtl:text-right font-Cairo-Regular text-sm leading-6 text-white"
                [innerHTML]="mainData.desc[lang]"></p> -->

            <div *ngIf="mainData?.desc?.[lang]" class="lg:max-w-[627px] px-4">
                <app-detailed-body [data]="mainData?.desc?.[lang]"></app-detailed-body>
            </div>


            <app-btn-one *ngIf="mainData.btn.text" [link]="mainData.btn.link" [text]="mainData.btn.text" seoDesc="Text about the button"
                svg="assets/svgs/search.svg"></app-btn-one>
        </div>
        <div class="w-full lg:w-[calc(80%-24px)]">
            <app-offers [promotions]="promotions"></app-offers>
        </div>
    </div>
</section>