<app-breadcrumb-section-second-style [breadCrumb]="breadCrumb" [metaData]="data" [link]="'fahes/media-center/event/' + id"></app-breadcrumb-section-second-style>
<!-- [link]="'media-center/news-details/' + id" -->
<div class="bg-[#F5F5F5]">
    <div class="max-w-desktop px-4 lg:px-11 mx-auto">
        <p class="font-Cairo-Bold text-[30px] leading-[56px] text-[#221E20] py-[22px]" [innerHTML]="data?.title[lang]">
        </p>
        <img class="w-full h-[400px] lg:h-[480px] pb-[30px]" [defaultImage]="'loadingImage'| imageSource"
            [errorImage]="'errorImage'| imageSource" [lazyLoad]="data?.img | imageSource" alt="" />
        <app-detailed-body [data]="data?.description[lang]"></app-detailed-body>
    </div>
</div>