<div id="app">
    <div class="swiper-container hero-swiper-container swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let item of sliders">
                <div class="swiper-carousel-animate-opacity" (click)="navigateTo('service-details')">
                    <img [src]="'assets/images/hero/' + item + '.webp'" alt="FOM" class="object-cover" width="520"
                        height="380" />
                    <div class="slide-content flex py-3">
                        <div
                            class="w-full lg:w-1/2 relative after:hidden lg:after:block after:content-[''] after:absolute after:top-0 after:bottom-0 after:my-auto after:right-0 after:w-[0.5px] after:h-[65px] after:bg-white px-[30px]">
                            <p class="text-white font-bold">Weeding planner</p>
                            <p class="text-white text-xs leading-[14px] mt-0.5 max-w-[200px]">Lorem Ipsum is simply
                                dummy text of the printing</p>
                        </div>
                        <div class="w-1/2 hidden lg:block">
                            <!-- <app-hero-inner-carousel></app-hero-inner-carousel> -->
                        </div>
                    </div>
                </div>
                <!-- <div class="slide-content-bottom bg-white w-full lg:hidden rounded-b-xl absolute bottom-0"></div>                 -->
                <div class="slide-content-bottom bg-white w-full lg:hidden rounded-b-xl absolute bottom-[-76px]">
                    <!-- <app-hero-inner-carousel></app-hero-inner-carousel> -->
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-button-prev swiper-hero-button-prev"></div>
    <div class="swiper-button-next swiper-hero-button-next"></div>
    <!-- <div class="swiper-pagination swiper-hero-pagination"></div> -->
</div>