<form  #form1="ngForm" novalidate (ngSubmit)="onSubmitForm1(form1)">
    <div class="bg-white pt-[24px] pb-[41px] pr-[22px] pl-[41.5px] rounded-[5px]">
        <div class="modal-header flex justify-end pb-[23px]">
            <button type="button">
                <app-svg (click)="closeModalFire()" src="assets/svgs/close.svg" customClass="" label="title_goes_here"
                    [stretch]="false" width="16" height="16" fill="#000"></app-svg>
            </button>
        </div>
        <div *ngIf="flag === false" class="modal-body">
            <p class="ltr:text-left rtl:text-right font-Poppins-Medium text-xl leading-[50px] pb-[42px]">
                {{'SUPPLIER.SUBSCRIBE_FOR_THE_TENDER_ALERTS' | translate}}
            </p>

            <div class="flex flex-col lg:flex-row gap-4 pb-[30px]">
                <div class="w-full lg:w-1/2">
                    <div class="relative mb-4">
                        <input
                            class="shadow appearance-none border rounded w-full p-[19px] text-[#221E20] text-sm font-Poppins-Light leading-[21px] focus:outline-none focus:border-blue-500"
                            id="fullname" name="fullname" [(ngModel)]="form1Data.fullname" required
                            [class.error]="isForm1Submitted && !form1.controls.fullname.valid" onlyText maxlength="68" type="text"
                            placeholder="{{'PLACEHOLDER.FULL_NAME' | translate}}" />
                        <label
                            class="absolute -top-1 ltr:left-3 rtl:right-3 -mt-2 text-[#717171] text-[15px] leading-[29px] font-Cairo-Regular duration-300 origin-0 bg-white px-1"
                            for="fullname">{{'SIGN_IN.FULL_NAME' | translate}} <span
                                class="text-red-500">*</span></label>
                        <span *ngIf="isForm1Submitted && !form1.controls.fullname.valid"
                            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
                            |translate}}</span>
                    </div>
                </div>
                <div class="w-full lg:w-1/2">
                    <div class="relative mb-4">
                        <input
                            class="shadow appearance-none border rounded w-full p-[19px] text-[#221E20] text-sm font-Poppins-Light leading-[21px] focus:outline-none focus:border-blue-500"
                            id="email" type="email" placeholder="{{'PLACEHOLDER.EMAIL' | translate}}" name="email"
                            [(ngModel)]="form1Data.email" email required
                            [class.error]="isForm1Submitted && !form1.controls.email.valid"
                            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" />
                        <label
                            class="absolute -top-1 ltr:left-3 rtl:right-3 -mt-2 text-[#717171] text-[15px] leading-[29px] font-Cairo-Regular duration-300 origin-0 bg-white px-1"
                            for="fullname">{{'SIGN_IN.EMAIL' | translate}} <span class="text-red-500">*</span></label>
                        <span *ngIf="isForm1Submitted && !form1.controls.email.valid"
                            class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.Email'
                            |translate}}</span>
                    </div>
                </div>
            </div>
            <app-recaptch [isSubmit]="isForm1Submitted" [isVerified]="isVerified"
                (onSuccess)="isVerified = true"></app-recaptch>
        </div>
        <section *ngIf="flag === true" class="">
            <div class="max-w-desktop mx-auto px-4 lg:px-10 py-28 flex flex-col gap-5">
              <h1 *ngIf="modalMessage?.title" class="text-[#009933] text-center font-Cairo-Bold text-[60px] leading-[70px] capitalize"
                [innerHTML]="modalMessage?.title['en']"></h1>
              <p *ngIf="modalMessage?.desc" class="text-center font-Cairo-Regular text-[32px] leading-[50px] capitalize text-[#011C35]"
                [innerHTML]="modalMessage?.desc['en']"></p>
            </div>
          </section>
        <div *ngIf="flag === false" class="modal-footer flex justify-end">
            <app-btn-one (click)="onSubmitForm1(form1)" textClass="font-Cairo-Regular" text="SHARED.SUBMIT"
                seoDesc="Text about the button" svg="assets/svgs/arrow.svg" svgClass="rotate-[270deg]"></app-btn-one>
        </div>
    </div>
</form>

