<div class="bg-white shadow-2xl rounded-xl py-7 px-6">
    <p class="flex items-center gap-2">
        <span class="font-light">Rami Duies</span>
        <span>
            <app-svg src="assets/svgs/star.svg" class="h-[13px] flex items-center" label="title_goas_here"
                [stretch]="false" height="13" width="14" fill="#802d3d"></app-svg>
        </span>
        <span class="text-[#c0c0c0]">recommends</span>
    </p>
    <p class="mt-[14px] leading-5">Lorem Ipsum is simply dummy text of the
        printing
        and
        typesetting
        industry.
        Lorem
        Ipsum has been the industry's standard dummy text ever since the
        1500s,
        when
        an
        unknown printer took a galley of type and scrambled it to make a
        type
        specimen
        book.
        It has survived not only five centuries, but also the leap into
        electronic
        typesetting, remaining essentially unchanged.</p>
    <div class="mt-3">
        <button class="text-primary text-xs outline-0" type="button">Read
            more</button>
    </div>
</div>