<div class="uploader-container bg-[#F8F8F8] border border-dashed border-[#CCCCCC] rounded-[5px] flex flex-col justify-center w-full"
    [class.error]="isErrorEnabled">
    <button type="button" class="py-[17px]" (click)="onButtonClick()">
        <app-svg src="assets/svgs/uploadfile.svg" customClass="mt-[-3px]" style="display: flex; justify-content: center"
            label="title_goes_here" [stretch]="false" width="36" height="27" fill="#000"></app-svg>
        <p class="font-Cairo-Semi-Bold text-sm leading-[27px] text-[#7C7C7C] text-center">
            {{'E_TAG.UPLOAD_FILE' | translate}}
        </p>
    </button>
    <p class="font-Cairo-Semi-Bold text-sm leading-[27px] text-[#7C7C7C] ltr:text-right rtl:text-left px-4">
        {{'E_TAG.Max' | translate }} {{maximumFileUpload}} {{'E_TAG.MB' | translate }}</p>
    <input #Uploader type="file" class="hidden" [accept]="getAcceptedFormats()" [multiple]="multiple ? 'multiple' : ''"
        (change)="selectFile($event)" />
</div>

<div class="flex flex-1 overflow-hidden flex-wrap" *ngIf="fileNames.length > 0">
    <div class="flex items-center gap-2 justify-between h-7 bg-[#ECECEE] rounded-[14px] p-2 whitespace-nowrap overflow-hidden"
        *ngFor="let fileName of fileNames; let i = index">
        <p
            class="font-Poppins-Light text-sm text-[#221E20] whitespace-nowrap overflow-hidden text-ellipsis max-w-[200px]">
            {{fileName}}</p>
        <button (click)="onCancel(i)">
            <app-svg class="cursor-pointer" src="assets/svgs/circle-close-2.svg" customClass="mt-[-3px]"
                label="title_goas_here" [stretch]="false" width="12" height="12" fill="#00904A"></app-svg>
        </button>
    </div>
</div>