.timeline-bult-2{
    @apply after:w-5 after:h-5 after:bg-[var(--primary-color)] ltr:after:left-[56px] rtl:after:right-[56px] 
    before:content-normal before:w-2 before:h-2 before:bg-white before:absolute ltr:before:left-[62px] rtl:before:right-[62px] before:z-20 before:-top-2.5 before:bottom-0 before:m-auto before:rounded-full;
    
}