<section class="pt-20 pb-24">
    <div class="max-w-desktop mx-auto w-full px-4 lg:px-10">
        <div class="flex justify-between items-center mb-7">
            <p
                class="ltr:text-left rtl:text-right font-Poppins-Medium text-[27px] leading-10 tracking-normal text-[#011D37]">
                {{ mainData?.title[lang] }}
            </p>
            <a class="ltr:text-right rtl:text-left font-Poppins-Light text-lg tracking-normal text-[#011C35]"
                [routerLink]="
          mainData?.viewAllURL || '/fahes/media-center' | routeLocalization
        ">
                {{ mainData?.viewAllText[lang] }}
            </a>
        </div>
        <div class="flex flex-row flex-wrap gap-7 w-full mx-auto justify-between">
            <div class="w-full lg:w-[calc(50%-14px)]" *ngFor="let newsListContainer of newsList; let newsIndex = index">
                <ul
                    class="relative flex flex-col gap-[50px] after:content-normal after:bg-[var(--primary-color)] after:w-px after:h-[calc(100%+2rem)] after:absolute ltr:after:left-[65px] rtl:after:right-[65px] after:-top-4">
                    <li *ngFor="let newsItem of newsListContainer; let i = index"
                        class="flex flex-row gap-14 lg:gap-10 relative after:content-normal after:bg-[var(--primary-color)] after:w-2 after:h-2 after:absolute ltr:after:left-[61.5px] rtl:after:right-[61.5px] after:z-10 after:-top-2.5 after:bottom-0 after:m-auto after:rounded-full"
                        [class.timeline-bult-2]="checkVisited(newsIndex + '-' + i)">
                        <div class="flex flex-col self-center w-12 text-center">
                            <span
                                class="text-center font-Poppins-Bold text-[35px] leading-[29px] tracking-normal text-[#1d398d]">{{
                                newsItem.date | date : "dd" }}</span>
                            <span
                                class="text-[#011C35] text-center font-Poppins-Light text-xs tracking-normal -mt-0.5">{{
                                "MONTHS." + (newsItem.date | date : "MMM")?.toUpperCase()
                                | translate
                                }}</span>
                        </div>
                        <div class="flex flex-col gap-2.5">
                            <a *ngIf="!isExternalMethod(newsItem?.link)" [routerLink]="newsItem.link | routeLocalization"
                                class="ltr:text-left rtl:text-right font-Poppins-Medium text-[21px] leading-[31px] tracking-normal text-[#011C35] line-clamp-2"
                                [innerHTML]="newsItem.title[lang]"
                                (click)="visitedLinkAdd(newsIndex + '-' + i + ',')"></a>
                            <a *ngIf="isExternalMethod(newsItem?.link)" [href]="newsItem.link | routeLocalization" target="_blank"
                                class="ltr:text-left rtl:text-right font-Poppins-Medium text-[21px] leading-[31px] tracking-normal text-[#011C35] line-clamp-2"
                                [innerHTML]="newsItem.title[lang]"
                                (click)="visitedLinkAdd(newsIndex + '-' + i + ',')"></a>

                            <p class="ltr:text-left rtl:text-right font-Poppins-Light text-[15px] leading-[23px] tracking-normal text-[#011C35] line-clamp-2"
                                [innerHTML]="newsItem.description[lang]"></p>

                            <a *ngIf="!isExternalMethod(newsItem?.link)" class="ltr:text-left rtl:text-right font-Poppins-Light text-[15px] leading-[23px] tracking-normal uppercase text-[#0ba260]"
                                [routerLink]="newsItem.link | routeLocalization"
                                (click)="visitedLinkAdd(newsIndex + '-' + i + ',')">
                                <span class="uppercase">{{
                                    "SHARED.READ_MORE" | translate
                                    }}</span>
                                <span class="absolute ltr:left-[-9999px] rtl:right-[-9999px] w-px h-px overflow-hidden"
                                    [innerHTML]="newsItem.title[lang]"></span>
                            </a>
                            <a *ngIf="isExternalMethod(newsItem?.link)" class="ltr:text-left rtl:text-right font-Poppins-Light text-[15px] leading-[23px] tracking-normal uppercase text-[#0ba260]"
                                [href]="newsItem.link | routeLocalization" target="_blank"
                                (click)="visitedLinkAdd(newsIndex + '-' + i + ',')">
                                <span class="uppercase">{{
                                    "SHARED.READ_MORE" | translate
                                    }}</span>
                                <span class="absolute ltr:left-[-9999px] rtl:right-[-9999px] w-px h-px overflow-hidden"
                                    [innerHTML]="newsItem.title[lang]"></span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>