<section class="bg-white">
    <div class="max-w-desktop mx-auto px-4 lg:px-10 pt-[60px] pb-[266px] flex flex-col">
        <p class="font-Cairo-Regular text-[30px] leading-10 lg:leading-6 text-[#011C35]"
            [innerHTML]="mainData?.title?.[lang]">
        </p>
        <div
            class="w-full border border-solid border-[#CCCCCC] bg-white rounded-[5px] mt-8 mb-[71px] py-[26px] px-5 flex flex-col lg:flex-row gap-2 justify-between">
            <div class="flex gap-[18px] flex-col lg:flex-row">
                <app-ddl-stander class="w-full lg:w-[180px]" [data]="locationsDDL" [lang]="lang"
                    (onOptionChange)="locationChange($event)"></app-ddl-stander>
                <app-ddl-stander class="w-full lg:w-[180px]" [data]="stationDDL" [lang]="lang"
                    (onOptionChange)="stationChange($event)"></app-ddl-stander>
                <div
                    class="sort-by bg-white border border-solid border-[#E0E0E0] rounded relative min-w-[180px] flex justify-between ltr:pr-4 rtl:pl-4 ltr:lg:pl-1.5 rtl:lg:pr-1.5 items-center gap-[5px] lg:gap-[14px] h-[60px] w-full lg:w-auto">
                    <app-ddl-stander id="order-by-ddl" class="w-[50%] lg:w-[180px]" [data]="orderbyDDL"
                        (onOptionChange)="orderChange($event)"></app-ddl-stander>
                    <input class="font-Poppins-Light text-sm leading-[26px] text-[#2B2B2B] outline-0 w-[50%] lg:w-auto"
                        type="text" name="title" [(ngModel)]="title"
                        [placeholder]="'KENAR.SEARCH_BY_TITLE' | translate" />
                    <button type="button" (click)="searchByTitle()">
                        <app-svg src="assets/svgs/search-short.svg" customClass="" label="title_goas_here"
                            [stretch]="false" width="24" height="24" fill="#00904A"></app-svg>
                    </button>
                </div>
            </div>
        </div>
        <p class="font-Cairo-Bold text-lg leading-6 text-[#011C35] pb-[30px] text-center"
            [innerHTML]="mainData?.desc?.[lang]">
            <!-- Please fill in all the
            relevant details
            which are
            essential to evaluate your company / brand profile.<br />
            Please Note if the attachment and data is not filled completely WOQOD will not be able to proceed with the
            application. -->
        </p>

        <app-component-loader *ngIf="isLoadingEnabled"></app-component-loader>
        <ng-container *ngIf="!isLoadingEnabled">
            <ul *ngIf="leasingProperties.data.length > 0" class="flex flex-wrap gap-x-4 gap-y-5 pb-[54px]">
                <li class="w-full" *ngFor="let dataItem of leasingProperties.data; let i = index"
                    class="w-full lg:w-[calc(25%-16px)]">
                    <app-petrol-station-item [data]="dataItem" [lang]="lang"
                        (toggleSelectionEmiter)="toggleStore(dataItem)"></app-petrol-station-item>
                </li>
            </ul>
            <app-no-data *ngIf="leasingProperties.data.length === 0"></app-no-data>
        </ng-container>
        <app-pagination *ngIf="!isLoadingEnabled && leasingProperties.data.length > 0"
            [data]="leasingProperties.pagination" (changePage)="changePage($event)"></app-pagination>


        <strong class="text-center font-Cairo-Bold text-base text-[#011C35] pt-[38px] mb-3"
            [innerHTML]="mainData?.content?.[lang]">
            <!-- In case, the shop is not
            available on the
            website currently, please express your interest by filling the
            details in the link given below.. -->
        </strong>
        <!-- <div class="text-center">
            <app-btn-one (click)="submitIntrest()" [isDisabled]="!isValidForm()"
                text="KENAR.SUBMIT_INTEREST_IN_LEASING_A_SHOP" seoDesc="Text about the button"
                svg="assets/svgs/arrow.svg" svgClass="rotate-[270deg]"
                textClass="font-Cairo-Regular text-base"></app-btn-one>
        </div> -->
    </div>
</section>