<div class="w-full bg-white shadow-custom-4 rounded-xl h-full relative pb-5 cursor-pointer"
    [routerLink]="data?.initiateContractLink | routeLocalization">
    <img class="w-full h-[180px] rounded-t-xl mb-5" [defaultImage]="'loadingImage'| imageSource"
        [errorImage]="'errorImage'| imageSource" [lazyLoad]="data.img | imageSource" alt="Card Image" />
    <div class="px-[38px]">
        <p class="ltr:text-left rtl:text-right font-Poppins-Medium text-lg leading-[30px] text-[#221E20] line-clamp-2"
            [innerHTML]="data.title[lang]"></p>
        <p class="ltr:text-left rtl:text-right font-Cairo-Regular text-xs h-auto leading-5 text-[#011C35]">
            <span [innerHTML]="data.desc[lang]"></span>
        </p>
        <!-- <ul class="flex flex-wrap gap-3 mb-6 mt-4">
            <li *ngFor="let point of data.points" class="w-full xl:w-[calc(50%-12px)]">
                <div class="flex gap-1 items-center">
                    <app-svg src="assets/svgs/circle-close.svg" customClass="" class="leading-[0]"
                        label="title_goas_here" [stretch]="false" width="10" height="10" fill="#B30838"></app-svg>
                    <span class="ltr:text-left rtl:text-right font-Cairo-Regular text-xs leading-5 text-[#011C35]"
                        [innerHTML]="point[lang]"></span>
                </div>
            </li>
        </ul> -->
        <!-- <div class="absolute bottom-5 mx-auto w-fit left-0 right-0">
            <app-btn-one [link]="data?.initiateContractLink" [text]="data.mainBtnText[lang]"
                seoDesc="Text about the button" svg="assets/svgs/arrow.svg" svgClass="rotate-[270deg]"
                [styleColor]="styleColor" textClass="font-Cairo-Regular text-base"></app-btn-one>
        </div> -->
    </div>
</div>