<section class="bg-white" *ngIf="pagesLayout == 'gallery' && data?.contentPages.length > 0">
    <div class="max-w-desktop mx-auto px-4 py-8 lg:px-10">
        <p class="font-Cairo-Bold text-xl leading-[30px] capitalize text-[#011C35] text-center"
            [innerHtml]="data?.area1ContentTitle[lang]">
        </p>
        <p class="text-center mb-4" [innerHtml]="data?.area1ContentDescription[lang]"></p>
        <div class="w-full flex flex-col md:flex-row flex-wrap">
            <div class="w-full p-4"
                [class]="data?.contentPages.length == 2 ? 'md:w-1/2' :  data?.contentPages.length > 4 ? 'md:w-[40%]' :''  ">
                <a *ngIf="!isExternalMethod(data?.contentPages[0]?.pageURL)"
                    [routerLink]="data?.contentPages[0]?.pageURL | routeLocalization">
                    <div class="relative h-[420px]">
                        <img [src]="data?.contentPages[0]?.imageID | imageSource"
                            class="absolute ltr:left-0 rtl:right-0 top-0 w-full h-full ng-lazyloaded rounded-[10px]"
                            width="100%" height="100%" alt="">
                        <img src="assets/images/overlay.webp"
                            class="absolute ltr:left-0 rtl:right-0 top-0 w-full h-full ng-lazyloaded rounded-[10px]"
                            alt="">
                        <p class="absolute bottom-0 p-8 ltr:text-left rtl:text-right font-Poppins-Bold text-[18px] leading-[18px] text-white"
                            [innerText]="lang == 'en' ? data?.contentPages[0]?.titleEN : data?.contentPages[0].titleAR">
                        </p>
                    </div>
                </a>
                <a *ngIf="isExternalMethod(data?.contentPages[0]?.pageURL)"
                    [href]="data?.contentPages[0]?.pageURL | routeLocalization" target="_blank">
                    <div class="relative h-[420px]">
                        <img [src]="data?.contentPages[0]?.imageID | imageSource"
                            class="absolute ltr:left-0 rtl:right-0 top-0 w-full h-full ng-lazyloaded rounded-[10px]"
                            width="100%" height="100%" alt="">
                        <img src="assets/images/overlay.webp"
                            class="absolute ltr:left-0 rtl:right-0 top-0 w-full h-full ng-lazyloaded rounded-[10px]"
                            alt="">
                        <p class="absolute bottom-0 p-8 ltr:text-left rtl:text-right font-Poppins-Bold text-[18px] leading-[18px] text-white"
                            [innerText]="lang == 'en' ? data?.contentPages[0]?.titleEN : data?.contentPages[0].titleAR">
                        </p>
                    </div>
                </a>
            </div>
            <div class="flex flex-col gap-2 w-full" *ngIf=" data?.contentPages.length > 1"
                [class]="data?.contentPages.length == 2 ? 'md:w-1/2' : data?.contentPages.length > 4 ? 'md:w-[40%]' :'' ">
                <div class="p-4 h-full" [class]="data?.contentPages.length > 2 ? 'md:h-[213px]' : ''">
                    <a *ngIf="isExternalMethod(data?.contentPages[1]?.pageURL)"
                        [href]="data?.contentPages[1]?.pageURL | routeLocalization" target="_blank">
                        <div class="relative h-[420px] md:h-full">
                            <img [src]="data?.contentPages[1]?.imageID | imageSource"
                                class="absolute ltr:left-0 rtl:right-0 top-0 w-full h-full ng-lazyloaded rounded-[10px]"
                                width="100%" height="100%" alt="">
                            <img src="assets/images/overlay.webp"
                                class="absolute ltr:left-0 rtl:right-0 top-0 w-full h-full ng-lazyloaded rounded-[10px]"
                                alt="">
                            <p class="absolute bottom-0 p-8 ltr:text-left rtl:text-right font-Poppins-Bold text-[18px] leading-[18px] text-white"
                                [innerText]="lang == 'en' ? data?.contentPages[1]?.titleEN : data?.contentPages[1].titleAR">
                            </p>
                        </div>
                    </a>
                    <a *ngIf="!isExternalMethod(data?.contentPages[1]?.pageURL)"
                        [routerLink]="data?.contentPages[1]?.pageURL | routeLocalization">
                        <div class="relative h-[420px] md:h-full">
                            <img [src]="data?.contentPages[1]?.imageID | imageSource"
                                class="absolute ltr:left-0 rtl:right-0 top-0 w-full h-full ng-lazyloaded rounded-[10px]"
                                width="100%" height="100%" alt="">
                            <img src="assets/images/overlay.webp"
                                class="absolute ltr:left-0 rtl:right-0 top-0 w-full h-full ng-lazyloaded rounded-[10px]"
                                alt="">
                            <p class="absolute bottom-0 p-8 ltr:text-left rtl:text-right font-Poppins-Bold text-[18px] leading-[18px] text-white"
                                [innerText]="lang == 'en' ? data?.contentPages[1]?.titleEN : data?.contentPages[1].titleAR">
                            </p>
                        </div>
                    </a>
                </div>
                <div class="p-4 md:py-0" [class]="data?.contentPages.length > 2 ? 'md:h-[213px]' : ''"
                    *ngIf="data?.contentPages.length > 2">
                    <div class="flex flex-col md:flex-row gap-8 md:gap-4 h-full">
                        <div class="w-full" [class]="data?.contentPages.length > 3 ? 'md:w-1/2' :'' ">
                            <a *ngIf="!isExternalMethod(data?.contentPages[2]?.pageURL)"
                                [routerLink]="data?.contentPages[2]?.pageURL | routeLocalization">
                                <div class="relative h-[420px] md:h-full">
                                    <img [src]="data?.contentPages[2]?.imageID | imageSource"
                                        class="absolute ltr:left-0 rtl:right-0 top-0 w-full h-full ng-lazyloaded rounded-[10px]"
                                        width="100%" height="100%" alt="">
                                    <img src="assets/images/overlay.webp"
                                        class="absolute ltr:left-0 rtl:right-0 top-0 w-full h-full ng-lazyloaded rounded-[10px]"
                                        alt="">
                                    <p class="absolute bottom-0 p-8 ltr:text-left rtl:text-right font-Poppins-Bold text-[18px] leading-[18px] text-white"
                                        [innerText]="lang == 'en' ? data?.contentPages[2]?.titleEN : data?.contentPages[2].titleAR">
                                    </p>
                                </div>
                            </a>
                            <a *ngIf="isExternalMethod(data?.contentPages[2]?.pageURL)"
                                [href]="data?.contentPages[2]?.pageURL | routeLocalization" target="_blank">
                                <div class="relative h-[420px] md:h-full">
                                    <img [src]="data?.contentPages[2]?.imageID | imageSource"
                                        class="absolute ltr:left-0 rtl:right-0 top-0 w-full h-full ng-lazyloaded rounded-[10px]"
                                        width="100%" height="100%" alt="">
                                    <img src="assets/images/overlay.webp"
                                        class="absolute ltr:left-0 rtl:right-0 top-0 w-full h-full ng-lazyloaded rounded-[10px]"
                                        alt="">
                                    <p class="absolute bottom-0 p-8 ltr:text-left rtl:text-right font-Poppins-Bold text-[18px] leading-[18px] text-white"
                                        [innerText]="lang == 'en' ? data?.contentPages[2]?.titleEN : data?.contentPages[2].titleAR">
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="w-full" *ngIf="data?.contentPages.length > 3"
                            [class]="data?.contentPages.length > 3 ? 'md:w-1/2' :'' ">
                            <a *ngIf="!isExternalMethod(data?.contentPages[3]?.pageURL)"
                                [routerLink]="data?.contentPages[3]?.pageURL | routeLocalization">
                                <div class="relative h-[420px] md:h-full">
                                    <img [src]="data?.contentPages[3]?.imageID | imageSource"
                                        class="absolute ltr:left-0 rtl:right-0 top-0 w-full h-full ng-lazyloaded rounded-[10px]"
                                        width="100%" height="100%" alt="">
                                    <img src="assets/images/overlay.webp"
                                        class="absolute ltr:left-0 rtl:right-0 top-0 w-full h-full ng-lazyloaded rounded-[10px]"
                                        alt="">
                                    <p class="absolute bottom-0 p-8 ltr:text-left rtl:text-right font-Poppins-Bold text-[18px] leading-[18px] text-white"
                                        [innerText]="lang == 'en' ? data?.contentPages[3]?.titleEN : data?.contentPages[3].titleAR">
                                    </p>
                                </div>
                            </a>
                            <a *ngIf="isExternalMethod(data?.contentPages[3]?.pageURL)"
                                [href]="data?.contentPages[3]?.pageURL | routeLocalization" target="_blank">
                                <div class="relative h-[420px] md:h-full">
                                    <img [src]="data?.contentPages[3]?.imageID | imageSource"
                                        class="absolute ltr:left-0 rtl:right-0 top-0 w-full h-full ng-lazyloaded rounded-[10px]"
                                        width="100%" height="100%" alt="">
                                    <img src="assets/images/overlay.webp"
                                        class="absolute ltr:left-0 rtl:right-0 top-0 w-full h-full ng-lazyloaded rounded-[10px]"
                                        alt="">
                                    <p class="absolute bottom-0 p-8 ltr:text-left rtl:text-right font-Poppins-Bold text-[18px] leading-[18px] text-white"
                                        [innerText]="lang == 'en' ? data?.contentPages[3]?.titleEN : data?.contentPages[3].titleAR">
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-4 w-full md:w-[20%]" *ngIf="data?.contentPages.length > 4">
                <a *ngIf="!isExternalMethod(data?.contentPages[4]?.pageURL)"
                    [routerLink]="data?.contentPages[4]?.pageURL | routeLocalization">
                    <div class="relative h-[420px]">
                        <img [src]="data?.contentPages[4]?.imageID | imageSource"
                            class="absolute ltr:left-0 rtl:right-0 top-0 w-full h-full ng-lazyloaded rounded-[10px]"
                            width="100%" height="100%" alt="">
                        <img src="assets/images/overlay.webp"
                            class="absolute ltr:left-0 rtl:right-0 top-0 w-full h-full ng-lazyloaded rounded-[10px]"
                            alt="">
                        <p class="absolute bottom-0 p-8 ltr:text-left rtl:text-right font-Poppins-Bold text-[18px] leading-[18px] text-white"
                            [innerText]="lang == 'en' ? data?.contentPages[4]?.titleEN : data?.contentPages[4].titleAR">
                        </p>
                    </div>
                </a>
                <a *ngIf="isExternalMethod(data?.contentPages[4]?.pageURL)"
                    [href]="data?.contentPages[4]?.pageURL | routeLocalization" target="_blank">
                    <div class="relative h-[420px]">
                        <img [src]="data?.contentPages[4]?.imageID | imageSource"
                            class="absolute ltr:left-0 rtl:right-0 top-0 w-full h-full ng-lazyloaded rounded-[10px]"
                            width="100%" height="100%" alt="">
                        <img src="assets/images/overlay.webp"
                            class="absolute ltr:left-0 rtl:right-0 top-0 w-full h-full ng-lazyloaded rounded-[10px]"
                            alt="">
                        <p class="absolute bottom-0 p-8 ltr:text-left rtl:text-right font-Poppins-Bold text-[18px] leading-[18px] text-white"
                            [innerText]="lang == 'en' ? data?.contentPages[4]?.titleEN : data?.contentPages[4].titleAR">
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="bg-white" *ngIf="pagesLayout == 'row'">
    <div class="max-w-desktop mx-auto px-4 pt-8 pb-4 lg:px-10">
        <p class="font-Cairo-Bold text-xl leading-[30px] capitalize text-[#011C35] text-center"
            [innerHtml]="data?.area2ContentTitle[lang]">
        </p>
        <p class="text-center mb-4" [innerHtml]="data?.area2ContentDescription[lang]"></p>
        <div class="w-full flex flex-col md:flex-row flex-wrap">
            <div class="w-full md:w-1/4 p-4 cursor-pointer" *ngFor="let page of data?.contentPagesTwo">
                <div class="h-[250px] bg-[#9AC2B9] relative p-8" [routerLink]="page?.pageURL | routeLocalization">
                    <div class="pb-10 pt-4">
                        <p class="text-[20px] font-Cairo-Bold mb-4 line-clamp-2"
                            [innerText]="lang == 'en' ? page?.titleEN : page.titleAR">
                        </p>
                        <img aria-label="content page" class="rtl:rotate-180" src="assets/images/arrow-right.webp" width="37" height="37">
                    </div>
                    <img src="assets/images/file.svg" class="absolute bottom-[41px] ltr:left-4 rtl:right-4" width="57"
                        height="57" alt="">
                </div>
            </div>
        </div>
    </div>
</section>