<ul class="max-w-desktop w-full px-4 lg:px-10 mx-auto pt-[25px] pb-[31px] flex flex-col lg:flex-row gap-[30px]">
    <li class="bg-[#FFFFFF] lg:w-1/2 px-[25px] pt-[19px] pb-[21px] flex justify-between rounded-[5px]"
        *ngFor="let job of jobs">
        <div class="gap-y-[2px] flex-1">
            <p class="font-Poppins-Light text-[#011C35] text-[20px] leading-[25px] line-clamp-1">{{job.title[lang]}}</p>
            <p class="font-Poppins-Medium text-sm text-[#011C35] mt-2 line-clamp-1">{{job.location[lang]}}</p>
            <p class="font-Poppins-Light text-[#011C35] text-sm lg:max-w-[226px] mt-2 line-clamp-3">{{job.desc[lang]}}
            </p>
        </div>
        <div>
            <p class="font-Poppins-Light text-[#00852C] text-[20px] text-right line-clamp-1">{{job.jobType[lang]}}</p>
            <p class="font-Poppins-Light text-[#011C35] text-right text-sm lg:mb-[46px] mt-2 line-clamp-1">{{job.date |
                date:'MM'}}/{{job.date |
                date:'dd'}}/{{job.date | date:'YYYY'}}</p>
            <app-btn-one [link]="'/careers/career/' + job.id" textClass="font-Cairo-Regular text-base"
                text="TINDER.View_DETAIL" seoDesc="Text about the button" svg="assets/svgs/arrow.svg"
                svgClass="rotate-[270deg]"></app-btn-one>
        </div>
        
    </li>
</ul>