<div class="hero-bottom-prices-section-container absolute bottom-0 w-full h-auto xl:h-[50px] z-10 flex">
    <div class="absolute bg-black opacity-50 w-full h-full"></div>
    <div class="mx-auto relative w-full max-w-large-desktop px-0 lg:px-10 pt-3 pb-0 lg:py-3">
        <div class="relative flex flex-col xl:flex-row justify-between w-full h-full text-white z-20 gap-2 xl:gap-4">
            <div class="flex justify-center items-center w-full lg:w-auto">
                <span
                    class="tracking-[-0.5px] text-white text-center lg:ltr:text-left lg:rtl:text-right font-Cairo-Regular text-sm lg:whitespace-nowrap"
                    [innerHTML]="content[lang]"></span>
            </div>
            <div class="flex flex-col lg:flex-row items-center justify-center gap-x-[60px] lg:gap-x-4 xl:gap-x-[60px]">
                <div class="flex items-center justify-center gap-x-[32px] h-full w-full lg:w-auto pb-3 lg:pb-0">
                    <div class="h-[calc(100%-12px)] w-px bg-white hidden xl:block"></div>
                    <div class="flex gap-3 items-center justify-center">
                        <span
                            class="ltr:text-left rtl:text-right tracking-[-0.32px] text-[#00D0FF] font-Poppins-Bold text-sm whitespace-nowrap">{{'HERO_HOME_PAGE_BOTTOM.FUEL_PRICES'
                            | translate}}</span>
                        <span
                            class="ltr:text-left rtl:text-right tracking-[0.06px] text-white font-Poppins-Light text-xs whitespace-nowrap">
                            {{ ('MONTHS.' + ((date | date:'MMMM')?.toUpperCase())) | translate }}
                            /
                            {{date | date:'YYYY'}}
                        </span>
                    </div>
                </div>
                <div
                    class="flex flex-col lg:flex-row items-center justify-center hero-bottom-prices-section w-full lg:w-auto">
                    <div *ngFor="let material of materials"
                        class="relative ltr:pl-6 ltr:pr-3 ltr:first:pl-6 ltr:last:pr-3 rtl:pr-6 rtl:pl-3 rtl:first:pr-6 rtl:last:pl-3 flex items-center justify-center shadow-custom-5 group w-full lg:w-auto py-2.5 lg:py-0"
                        [class.gap-x-3]="material?.desctiption" [class.gap-x-4]="!material?.desctiption"
                        [class]="material.backroundColor">
                        <div class="hidden lg:block absolute lg:ltr:-right-2 lg:rtl:-left-2 top-0 w-[35px] h-full z-[1] transform lg:ltr:skew-x-[30deg] lg:rtl:skew-x-[-30deg] group-last:hidden"
                            [class]="material.backroundColor">
                        </div>
                        <div class="flex items-center justify-center gap-x-1.5">
                            <span
                                class="tracking-normal text-white font-Poppins-Medium text-base">{{material.title[lang]}}</span>
                            <span *ngIf="material?.desctiption"
                                class="tracking-normal text-white font-Poppins-Medium text-[9px] whitespace-nowrap">{{material?.desctiption?.text}}
                                <span *ngIf="material?.desctiption?.amount">({{material.desctiption.amount}})</span>
                            </span>
                        </div>
                        <span class="tracking-[-0.06px] text-white font-Poppins-Medium text-xl z-10">
                            <span>{{material.price}}</span>
                            <sub class="align-middle tracking-[-0.03px] text-white font-Poppins-Light text-[9px]">{{currency
                                | translate}}</sub>
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>