<app-breadcrumb-section-second-style [breadCrumb]="breadCrumb" [link]="'auto-care-service'"
    [metaData]="data" [link]="'lubricants/product/' + id"></app-breadcrumb-section-second-style>
<section *ngIf="selectedProduct" class="bg-[#F5F5F5]">
    <div class="max-w-desktop mx-auto px-4 lg:px-10 pt-[38px] pb-[38px]">
        <div class="flex flex-col lg:flex-row gap-10">
            <div class="w-full lg:w-1/3" *ngIf="photoViewerImages.length > 0">
                <app-photo-viewer [images]="photoViewerImages" [selectedProduct]="selectedProduct"
                    (changeProduct)="changeImage($event)"></app-photo-viewer>
            </div>
            <div class="w-full lg:w-2/3 relative flex flex-col" [class.full-view]="photoViewerImages.length === 0">
                <div class="mb-[53px] bg-white shadow-lg rounded-[10px] p-8 flex-1">
                    <h2 class="text-[20px] text-[#00904A] font-Poppins-Medium"
                        [innerText]="selectedProduct?.relatedProduct?.title[lang]"></h2>
                    <div class="mt-6 font-Cairo-Regular text-sm"
                        [innerHTML]="selectedProduct?.relatedProduct?.desc[lang]"></div>

                </div>
                <div class="flex justify-end">
                    <div>
                        <div class="bg-[#EAFFF5] border border-solid border-[#00904A] px-[14px] py-[9px] rounded-lg flex gap-1.5 items-center"
                            style="box-shadow: 0px 0px 20px #00000005;">
                            <app-svg src="assets/svgs/info.svg" customClass="mt-[-3px]" label="title_goas_here"
                                [stretch]="false" width="18" height="18" stroke="#00904A"></app-svg>
                            <p class="text-[#00904A] text-sm">
                                <span class="font-Cairo-Semi-Bold">{{'PRODUCT_AND_SERVICE.FOR_MORE_INFORMATION' |
                                    translate}} </span>
                                <a class="underline font-Cairo-Bold"
                                    [routerLink]="'/contact-us' | routeLocalization">{{'BREADCRUMB.FAHES_CONTACT_US' |
                                    translate}}</a>
                            </p>
                        </div>
                        <!-- class="bg-white border border-solid  max-w-[335px] border-[#E0E0E0] rounded relative min-w-[180px] flex justify-between py-[6px] ltr:pl-4 ltr:pr-[6px] rtl:pr-4 rtl:pl-[6px] items-center gap-[14px] h-[50px]" -->
                        <!-- <input class="font-Poppins-Light text-sm leading-[26px] text-[#2B2B2B] flex-1 outline-0"
                            type="text" [placeholder]="'PRODUCT_AND_SERVICE.ENTER_YOUR_QUERIES' | translate" />
                        <button
                            class="bg-[#00904A] font-Cairo-Semi-Bold text-[14px] leading-[17px] text-[#fff] px-[38px] py-3 rounded-[5px]">
                            {{ 'PETROL_STATION.SEND' | translate }} </button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-products-carousel [items]="products" [lang]="lang" (onClick)="onClick($event)"
    [title]="'PRODUCT_AND_SERVICE.VIEW_OTHER_PRODUCTS'"></app-products-carousel>

<app-oto-lubricants-galleries *ngIf="lubricantsData" [lang]="lang"
    [data]="lubricantsData"></app-oto-lubricants-galleries>