<div class="flex flex-col lg:flex-row gap-4 px-4 py-[17px]  flex-wrap">
    {{services?.link}}
    <ng-container *ngFor="let item of services">
        <a *ngIf="isExternalMethod(item?.link)" [href]="item?.link | routeLocalization" target="_blank"
            class="w-full border border-solid border-[#ECECEE] rounded-[5px] lg:w-[calc(33.33333333%-11px)] pt-[38px] pb-[30px] px-6 relative bg-white  after:content-normal after:absolute ltr:after:left-0 rtl:after:right-0 after:top-0 ltr:after:bg-[linear-gradient(90deg,rgba(255,255,255,1)50%,rgba(255,255,255,0)100%)] rtl:after:bg-[linear-gradient(90deg,rgba(255,255,255,0)0%,rgba(255,255,255,1)50%)] after:z-2 after:w-full after:h-full after:rounded-[3px] before:content-normal before:absolute ltr:before:right-0 rtl:before:left-0 before:top-0 before:z-1 before:w-1/2 before:h-full ltr:before:rounded-r-md rtl:before:rounded-l-md before:bg-[url('assets/images/default-img.webp')] before:bg-no-repeat before:bg-cover"
            style="box-shadow: 0px 3px 6px #0000001a">
            <div class="max-w-[230px] relative z-10">
                <app-svg [src]="item.icon" class="mx-auto mt-[-7px]" customClass="" label="title_goas_here"
                    [stretch]="false" width="36" height="36" fill="#003399"></app-svg>
                <p
                    class="ltr:text-left rtl:text-right font-Poppins-Medium text-lg leading-[26px] text-black mt-6 pb-[24px]">
                    {{item.title | translate}} </p>
                <a [href]="item?.link | routeLocalization" target="_blank"
                    class="ltr:text-left rtl:text-right font-Cairo-Regular text-xs leading-5 text-[#00904A] my-4">
                    {{item.desc | translate}}
                </a>
            </div>
        </a>
        <a *ngIf="!isExternalMethod(item?.link)" [routerLink]="item?.link | routeLocalization"
            class="w-full border border-solid border-[#ECECEE] rounded-[5px] lg:w-[calc(33.33333333%-11px)] pt-[38px] pb-[30px] px-6 relative bg-white  after:content-normal after:absolute ltr:after:left-0 rtl:after:right-0 after:top-0 ltr:after:bg-[linear-gradient(90deg,rgba(255,255,255,1)50%,rgba(255,255,255,0)100%)] rtl:after:bg-[linear-gradient(90deg,rgba(255,255,255,0)0%,rgba(255,255,255,1)50%)] after:z-2 after:w-full after:h-full after:rounded-[3px] before:content-normal before:absolute ltr:before:right-0 rtl:before:left-0 before:top-0 before:z-1 before:w-1/2 before:h-full ltr:before:rounded-r-md rtl:before:rounded-l-md before:bg-[url('assets/images/default-img.webp')] before:bg-no-repeat before:bg-cover"
            style="box-shadow: 0px 3px 6px #0000001a">
            <div class="max-w-[230px] relative z-10">
                <app-svg [src]="item.icon" class="mx-auto mt-[-7px]" customClass="" label="title_goas_here"
                    [stretch]="false" width="36" height="36" fill="#003399"></app-svg>
                <p
                    class="ltr:text-left rtl:text-right font-Poppins-Medium text-lg leading-[26px] text-black mt-6 pb-[24px]">
                    {{item.title | translate}} </p>
                <a [routerLink]="item?.link | routeLocalization" target="_blank"
                    class="ltr:text-left rtl:text-right font-Cairo-Regular text-xs leading-5 text-[#00904A] my-4">
                    {{item.desc | translate}}
                </a>
            </div>
        </a>
    </ng-container>
</div>