<div *ngFor="let item of data; let i = index" class="flex flex-row lg:w-[385px] gap-[23px] pb-[22px]">
  <img class="w-[104px] h-[104px]" [defaultImage]="'loadingImage'| imageSource" [errorImage]="'errorImage'| imageSource"
    [lazyLoad]="item.img | imageSource" alt="" />
  <div class="flex flex-col justify-between flex-1">
    <div class="flex flex-row gap-2 pb-[11px]">
      <app-svg src="assets/svgs/timer.svg" customClass="mt-[-3px]" label="title_goas_here" [stretch]="false" width="12"
        height="12" fill="#000"></app-svg>
      <p class="ltr:text-left rtl:text-right font-Poppins-Medium text-xs leading-[23px] text-[#221E20] ">
        {{ ('MONTHS.' + ((item.date | date:'MMM') || '').toUpperCase()) | translate }}
        {{item.date | date:'dd'}},
        {{item.date | date:'YYYY'}}
      </p>
    </div>
    <p class="ltr:text-left rtl:text-right font-Cairo-Bold text-sm leading-[18px] text-[#221E20] pb-[11px]"
      [innerHTML]="item.title[lang]">
    </p>
    <a *ngIf="isExternalMethod(item.link)" [href]="item.link | routeLocalization" target="_blank">
      <p class="ltr:text-left rtl:text-right font-Cairo-Bold  text-xs leading-[23px] text-[#E7131A]">
        {{ 'FAHES_MEDIA_CENTER.READ_MORE' | translate }}
      </p>
    </a>
    <a *ngIf="!isExternalMethod(item.link)" [routerLink]="item.link | routeLocalization">
      <p class="ltr:text-left rtl:text-right font-Cairo-Bold  text-xs leading-[23px] text-[#E7131A]">
        {{ 'FAHES_MEDIA_CENTER.READ_MORE' | translate }}
      </p>
    </a>
  </div>
</div>
