app-products-carousel {
    $color_1: #000;

    .products-carousel {
        .owl-stage-outer {
            // height: 500px;
        }

        .owl-theme {
            .owl-nav {
                [class*="owl-"] {
                    color: $color_1;
                    background: none;
                    font-size: 68px;
                    font-weight: bold;
                    padding: 0;
                    margin: 0;
                }
            }

            .owl-dots {
                text-align: unset;

                .owl-dot {
                    span {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }

        .owl-carousel {
            .owl-nav {
                .owl-prev {
                    position: absolute;
                    top: 46%;
                    transform: translateY(-50%);
                    left: -3%;
                    right: unset;
                }

                .owl-next {
                    position: absolute;
                    top: 46%;
                    transform: translateY(-50%);
                    right: -3%;
                    left: unset;
                }
            }
        }

        .owl-carousel.owl-rtl {
            .owl-nav {
                .owl-prev {
                    right: -3%;
                    left: unset;
                }

                .owl-next {
                    left: -3%;
                    right: unset;
                }
            }
        }
    }

    & .owl-dots {
        height: 21px !important;
        @apply z-10 absolute w-full ltr:text-left rtl:text-right px-10 bottom-[-42px] flex max-w-desktop mx-auto left-0 right-0 gap-1.5;

        & .owl-dot {
            @apply after:content-normal after:w-4 after:h-4 after:bg-black after:rounded-full after:block after:opacity-50 after:transition-all after:duration-300;

            &.active {
                @apply after:opacity-100;
            }

            &:not(.active):hover {
                @apply after:opacity-25;
            }
        }
    }
    & .owl-stage {
        @apply flex;
        & .owl-item {
            & > div {
                @apply h-full;
            }
        }
    }
}
