<div *ngIf="YearsDDL.list.length > 0" class="flex flex-col lg:flex-row gap-y-4 lg:justify-between pb-[36px]">
  <p class="font-Poppins-Medium text-xl leading-[50px] pb-[19px]">
    {{ 'FUELMODAL.TITLE' | translate }} {{ YearsDDL?.selected?.key }}
  </p>
  <div class="w-full lg:w-[176px]">
    <app-ddl-stander [lang]="lang" [data]="YearsDDL" (onOptionChange)="yearChange($event)"
      [isErrorEnabled]="isSubmitted && !YearsDDL.selected"></app-ddl-stander>
  </div>
</div>
<ng-container *ngIf="data.length > 0">
  <div class="mb-[62px] h-[187px]">
    <app-chart-prices [lang]="lang"
      [data]="{data:data,fuelTypes:fuelTypes,fuelTypesAR:fuelTypesAR , months:(months?.[lang] || [])}"></app-chart-prices>
  </div>
  <div class="relative overflow-x-auto mb-[26px]">
    <table class=" min-w-full mb-[19px]">
      <thead class="bg-white">
        <tr>
          <th
            class="text-center text-lg px-[10px] font-Poppins-Light text-[#00904A] py-[10px] border-[1px]  border-[#ECECEE]">
            {{ 'FUELMODAL.MONTH' | translate }}</th>
          <!-- Dynamically create the table headers for fuel types -->
          <ng-container *ngFor="let fuelType of fuelTypes">
            <th class="text-center text-lg  font-Poppins-Light text-[#00904A] py-[10px] border-[1px]  border-[#ECECEE]">
              {{ getTranslationFromResponse(fuelType) }}</th>
          </ng-container>
        </tr>
      </thead>
      <tbody class="bg-white">
        <ng-container *ngFor="let month of months['en']; let i = index">
          <tr class="bg-white">
            <!-- Display the month name in the first column -->
            <td
              class="py-[15px] px-[10px] font-Poppins-Light text-sm text-[#2B2B2B] text-center border-[1px] border-[#ECECEE]">
              {{ ('MONTHS.' + (month || '').toUpperCase()) | translate }}
            </td>

            <!-- Loop through each fuel type to display prices -->
            <ng-container *ngFor="let fuelType of fuelTypes">
              <td
                class="py-[15px] px-[10px] font-Poppins-Light text-sm text-[#2B2B2B] text-center border-[1px] border-[#ECECEE]">
                {{ getPriceForMonthAndFuelType(i, fuelType) || '-' }}
              </td>
            </ng-container>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</ng-container>
<div *ngIf="data.length === 0" class="h-[200px] block">
  <app-no-data></app-no-data>
</div>