<section class="bg-[#F5F5F5]">
  <div class="max-w-desktop mx-auto px-4 lg:px-10 pb-[79px] pt-[52px]">
    <form #form="ngForm" novalidate (ngSubmit)="onSubmit(form)"
      class="bg-[#ECECEC] rounded-[5px] w-full pt-5 px-11 pb-8">
      <div class="flex flex-col lg:flex-row gap-5 lg:gap-[107px]">
        <div class="w-full lg:w-[50%-107px] flex flex-col gap-5">
          <div class="flex flex-col gap-1">
            <label for="fullName"
              class="flex flex-col lg:flex-row justify-between items-start lg:items-center flex-wrap gap-x-3 gap-y-1 font-Cairo-Regular text-sm leading-[30px] text-black">{{
              "FEEDBACK.FULL_NAME" | translate }}
              <!-- <span *ngIf="isSubmitted && !form?.controls?.fullname?.valid"
                class="text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular flex justify-between">{{
                "FEEDBACK.FEILD_CANT" | translate }}</span> -->
            </label>
            <input id="fullname" name="fullname" [(ngModel)]="formData.fullname" type="text"
              placeholder="{{'PLACEHOLDER.FULL_NAME' | translate }}" onlyText minlength="3" maxlength="68"
              class="h-10 bg-white border border-solid border-[#D0D0D0] rounded-[4px] font-Cairo-Regular text-[13px] px-4" />
          </div>
          <div class="flex flex-col gap-1">
            <label for="company"
              class="flex flex-col lg:flex-row justify-between items-start lg:items-center flex-wrap gap-x-3 gap-y-1 font-Cairo-Regular text-sm leading-[30px] text-black">{{
              "FEEDBACK.COMPANY" | translate }}
              <!-- <span *ngIf="isSubmitted && !form?.controls?.company?.valid"
                class="text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular flex justify-between">{{
                "FEEDBACK.FEILD_CANT" | translate }}</span> -->
            </label>
            <input id="company" name="company" [(ngModel)]="formData.company" type="text"
              placeholder="{{'PLACEHOLDER.COMPANY' | translate }}"
              class="h-10 bg-white border border-solid border-[#D0D0D0] rounded-[4px] font-Cairo-Regular text-[13px] px-4" />
          </div>
          <!-- <div class="flex flex-col gap-1">
            <label for="title" [class.error]="isSubmitted && !form?.controls?.title?.valid"
              class="flex flex-col lg:flex-row justify-between items-start lg:items-center flex-wrap gap-x-3 gap-y-1 font-Cairo-Regular text-sm leading-[30px] text-black">{{
              "FEEDBACK.TITLE" | translate }}
              <span *ngIf="isSubmitted && !form?.controls?.title?.valid"
                class="text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular flex justify-between">{{
                "FEEDBACK.FEILD_CANT" | translate }}</span></label>
            <input id="title" name="title" [(ngModel)]="formData.title" required onlyText="en" minlength="3"
              maxlength="256" [class.error]="isSubmitted && !form?.controls?.title?.valid" type="text"
              placeholder="{{'PLACEHOLDER.FEEDBACK_TITLE' | translate }}"
              class="h-10 bg-white border border-solid border-[#D0D0D0] rounded-[4px] font-Cairo-Regular text-[13px] px-4" />
          </div> -->
          <div class="flex flex-col gap-1">
            <label for="type" [class.error]="isSubmitted && !typeDDL.selected"
              class="flex flex-col lg:flex-row justify-between items-start lg:items-center flex-wrap gap-x-3 gap-y-1 font-Cairo-Regular text-sm leading-[30px] text-black">{{
              "FEEDBACK.type" | translate
              }}<span *ngIf="isSubmitted && !typeDDL.selected"
                class="text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular flex justify-between">{{
                "FEEDBACK.FEILD_CANT" | translate }}</span></label>
            <app-ddl-style-two [data]="typeDDL" (onOptionChange)="typeChange($event)"
              [isErrorEnabled]="isSubmitted && !typeDDL.selected" [isErrorTextEnabled]="false"></app-ddl-style-two>
          </div>
          <!-- <div class="flex flex-col gap-1">
            <label for="titleAR" [class.error]="isSubmitted && !form?.controls?.titleAR?.valid"
              class="flex flex-col lg:flex-row justify-between items-start lg:items-center flex-wrap gap-x-3 gap-y-1 font-Cairo-Regular text-sm leading-[30px] text-black">{{
              "FEEDBACK.TITLE" | translate }} (ع)
              <span *ngIf="isSubmitted && !form?.controls?.titleAR?.valid"
                class="text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular flex justify-between">{{
                "FEEDBACK.FEILD_CANT" | translate }}</span></label>
            <input id="titleAR" name="titleAR" [(ngModel)]="formData.titleAR" required onlyText="ar" minlength="3"
              maxlength="256" [class.error]="isSubmitted && !form?.controls?.titleAR?.valid" type="text"
              placeholder="{{'PLACEHOLDER.FEEDBACK_TITLE_AR' | translate }}"
              class="h-10 bg-white border border-solid border-[#D0D0D0] rounded-[4px] font-Cairo-Regular text-[13px] px-4" />
          </div> -->
          <div class="flex flex-col gap-1">
            <label for="attachement"
              class="flex flex-col lg:flex-row justify-between items-start lg:items-center flex-wrap gap-x-3 gap-y-1 font-Cairo-Regular text-sm leading-[30px] text-black">{{
              "FEEDBACK.ATTACHMENT" | translate }}
              <!-- <span *ngIf="isSubmitted && !media.file"
                class="text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular flex justify-between">{{
                "FEEDBACK.FEILD_CANT" | translate }}</span> -->
            </label>


            <app-attachment-second-style *ngIf="showFiles" [data]="media" [accept]="media.accept"
              [maximumFileUpload]="5" (selectFileEmiter)="media.file = $event">
            </app-attachment-second-style>

          </div>
          <app-recaptch *ngIf="showFiles" [isSubmit]="isSubmitted" [isVerified]="isVerified"
            (onSuccess)="isVerified = true"></app-recaptch>
        </div>

        <div class="w-full lg:w-[50%-107px] flex flex-col gap-5">
          <div class="flex flex-col gap-1">
            <label for="email" [class.error]="isSubmitted && !form?.controls?.email?.valid"
              class="flex flex-col lg:flex-row justify-between items-start lg:items-center flex-wrap gap-x-3 gap-y-1 font-Cairo-Regular text-sm leading-[30px] text-black">{{
              "FEEDBACK.EMAIL" | translate }}
              <span *ngIf="isSubmitted && !form?.controls?.email?.valid && formData.email !== '' "
                class="text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular flex justify-between">{{
                "ERRORS.Email" | translate }}</span>
              <span *ngIf="isSubmitted  && formData.email=== ''"
                class="text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular flex justify-between">{{
                "ERRORS.THIS_FIELD_IS_REQUIRED" | translate }}</span></label>
            <input id="email" name="email" [(ngModel)]="formData.email" email required
              pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
              [class.error]="isSubmitted && !form?.controls?.email?.valid" type="email"
              placeholder="{{'PLACEHOLDER.EMAIL' | translate }}"
              class="h-10 bg-white border border-solid border-[#D0D0D0] rounded-[4px] font-Cairo-Regular text-[13px] px-4" />
          </div>
          <div class="flex flex-col gap-1">
            <label for="mobileNumber"
              class="flex flex-col lg:flex-row justify-between items-start lg:items-center flex-wrap gap-x-3 gap-y-1 font-Cairo-Regular text-sm leading-[30px] text-black">{{
              "FEEDBACK.MOBILE_NUMBER" | translate }}
              <!-- <span *ngIf="isSubmitted && !form?.controls?.mobileNumber?.valid"
                class="text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular flex justify-between">{{
                "FEEDBACK.FEILD_CANT" | translate }}</span> -->
            </label>
            <input id="mobileNumber" name="mobileNumber" [(ngModel)]="formData.mobileNumber" type="text"
              placeholder="{{'PLACEHOLDER.MOBILE' | translate }}" onlyNumbers minlength="5" maxlength="16"
              class="h-10 bg-white border border-solid border-[#D0D0D0] rounded-[4px] font-Cairo-Regular text-[13px] px-4" />
          </div>
          <div class="flex flex-col gap-1">
            <label for="category" [class.error]="isSubmitted && !categoryDDL.selected"
              class="flex flex-col lg:flex-row justify-between items-start lg:items-center flex-wrap gap-x-3 gap-y-1 font-Cairo-Regular text-sm leading-[30px] text-black">{{
              "FEEDBACK.SERVIECS" | translate
              }}<span *ngIf="isSubmitted && !categoryDDL.selected"
                class="text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular flex justify-between">{{
                "FEEDBACK.FEILD_CANT" | translate }}</span></label>
            <app-ddl-style-two [data]="categoryDDL" (onOptionChange)="categoryChange($event)"
              [isErrorEnabled]="isSubmitted && !categoryDDL.selected" [isErrorTextEnabled]="false"></app-ddl-style-two>
          </div>

          <div class="flex flex-col gap-1">
            <label for="sector" [class.error]="isSubmitted && !sectorDDL.selected"
              class="flex flex-col lg:flex-row justify-between items-start lg:items-center flex-wrap gap-x-3 gap-y-1 font-Cairo-Regular text-sm leading-[30px] text-black">{{
              "FEEDBACK.SECTOR" | translate
              }}<span *ngIf="isSubmitted && !sectorDDL.selected"
                class="text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular flex justify-between">{{
                "FEEDBACK.FEILD_CANT" | translate }}</span></label>
            <app-ddl-style-two [data]="sectorDDL" (onOptionChange)="sectorChange($event)"
              [isErrorEnabled]="isSubmitted && !sectorDDL.selected" [isErrorTextEnabled]="false"></app-ddl-style-two>
          </div>
          <!-- <div class="flex flex-col gap-1">
            <label for="department" [class.error]="isSubmitted && !departmentDDL.selected"
              class="flex flex-col lg:flex-row justify-between items-start lg:items-center flex-wrap gap-x-3 gap-y-1 font-Cairo-Regular text-sm leading-[30px] text-black">{{
              "FEEDBACK.DEPARTMENT" | translate
              }}<span *ngIf="isSubmitted && !departmentDDL.selected"
                class="text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular flex justify-between">{{
                "FEEDBACK.FEILD_CANT" | translate }}</span></label>
            <app-ddl-style-two [data]="departmentDDL" (onOptionChange)="departmentChange($event)"
              [isErrorEnabled]="isSubmitted && !departmentDDL.selected"
              [isErrorTextEnabled]="false"></app-ddl-style-two>
          </div> -->
          <div class="flex flex-col gap-1">
            <label for="comment" [class.error]="isSubmitted && !form?.controls?.comment?.valid"
              class="flex flex-col lg:flex-row justify-between items-start lg:items-center flex-wrap gap-x-3 gap-y-1 font-Cairo-Regular text-sm leading-[30px] text-black">{{
              "FEEDBACK.COMMENT" | translate }}
              <span *ngIf="isSubmitted && !form?.controls?.comment?.valid"
                class="text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular flex justify-between">{{
                "FEEDBACK.FEILD_CANT" | translate }}</span></label>
            <textarea id="comment" name="comment" placeholder="{{'PLACEHOLDER.COMMENTS' | translate }}"
              [(ngModel)]="formData.comment" required [class.error]="isSubmitted && !form?.controls?.comment?.valid"
              maxlength="5000"
              class="h-[137px] bg-white border border-solid border-[#D0D0D0] rounded-[4px] font-Cairo-Regular text-[13px] px-4 py-2"></textarea>
          </div>
        </div>
      </div>
      <div class="mt-[30px]">
        <button type="submit"
          class="w-full lg:w-[calc(50%-76px)] lg:max-w-[170px] text-center font-Cairo-Regular text-[16px] leading-[38px] bg-[#00904A] text-[white] rounded-[5px]">
          {{ "SHARED.SUBMIT" | translate }}
        </button>
      </div>
    </form>
  </div>
</section>


<app-modal *ngIf="isModalEnabled" [template]="modalSuccess" [isModalEnabled]="isModalEnabled"
  (closeModalByKeyboard)="isModalEnabled = false" modalClasses="inset-0 w-[90%] max-w-[1024px] ">
  <ng-template #modalSuccess>
    <div class="bg-white rounded-[5px]">
      <div class="modal-header px-[21px] flex justify-end pb-[3px] pt-[16px]">
        <button type="button">
          <app-svg (click)="isModalEnabled = false" src="assets/svgs/close.svg" customClass="" label="title_goes_here"
            [stretch]="false" width="16" height="16" fill="#000"></app-svg>
        </button>
      </div>
      <div class="modal-body px-[45px]">
        <section class="">
          <div class="max-w-desktop mx-auto px-4 lg:px-10 py-28 flex flex-col gap-5">
            <h1 class="text-[#009933] text-center font-Cairo-Bold text-[60px] leading-[70px] capitalize"
              [innerHTML]="modalMessage?.title[lang]"></h1>
            <p class="text-center font-Cairo-Regular text-[32px] leading-[50px] capitalize text-[#011C35]"
              [innerHTML]="modalMessage?.desc[lang]"></p>
          </div>
        </section>
      </div>
    </div>
  </ng-template>
</app-modal>