<section class="bg-[#F5F5F5]">
    <div class="max-w-desktop w-full px-4 lg:px-10 mx-auto pt-24 pb-6">
        <ul class="hidden lg:flex flex-col  lg:flex-row flex-wrap gap-x-[30px] gap-y-[50px]">
            <li class="w-full lg:w-[calc((100%/3)-20px)] pt-4">
                <p class="ltr:text-left rtl:text-right font-Cairo-Bold text-[22px] leading-7 text-[#011C35] uppercase pb-4"
                    [innerHTML]="data?.areaSexTitle[lang]"></p>
                <p class="ltr:text-left rtl:text-right font-Cairo-Regular text-sm leading-[25px] text-[#011C35] flex gap-3"
                    [innerHTML]="data?.areaSexContent[lang]">
                </p>
            </li>
            <li class="w-full lg:w-[calc((100%/3)-20px)]" *ngFor="let item of secondBulletsList">
                <app-mission-box [lang]="lang" [secondBulletsList]="item"></app-mission-box>
            </li>
        </ul>

        <div class="w-full flex lg:hidden flex-col our-mission">
            <div class="w-full pb-4">
                <p class="ltr:text-left rtl:text-right font-Cairo-Bold text-[22px] leading-7 text-[#011C35] uppercase pb-4"
                    [innerHTML]="data?.areaSexTitle[lang]"></p>
                <p class="ltr:text-left rtl:text-right font-Cairo-Regular text-sm leading-[25px] text-[#011C35] flex gap-3"
                    [innerHTML]="data?.areaSexContent[lang]">
                </p>
            </div>
            <owl-carousel-o #owlCarousel [options]="customOptions" class="w-full">
                <ng-container *ngFor="let item of secondBulletsList;let i =index">
                    <ng-template carouselSlide [id]="i.toString()">
                        <div class="w-full">
                            <app-mission-box [lang]="lang" [secondBulletsList]="item"></app-mission-box>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
        <p class="ltr:text-left rtl:text-right font-Cairo-Regular text-sm leading-[25px] text-[#011C35] pt-10 pb-2"
            [innerHTML]="data?.area7Content[lang]"></p>
    </div>
</section>