<div #card class="relative w-full rounded-[5px] bg-white group shadow-custom-4">
    <div *ngIf="checkVisited()"
        class="absolute ltr:-left-4 rtl:-right-4 -top-4 w-[86px] h-[86px] ltr:rotate-0 rtl:rotate-90">

        <app-svg class="" src="assets/svgs/rabber.svg" customClass="" label="title_goas_here" [stretch]="false"
            width="86"></app-svg>

        <span class="rabber-txt">
            <span class="uppercase">{{'SHARED.NEW' | translate}}</span>
        </span>
    </div>
    <!-- h-[270px] -->
    <img class="rounded-t-[5px] w-full" [ngStyle]="{height: height + 'px'}" [defaultImage]="'loadingImage'| imageSource"
        [errorImage]="'errorImage'| imageSource" [lazyLoad]="data.img | imageSource" alt="" title="" />
    <div class="px-5 pt-5 pb-4">
        <a *ngIf="isExternalMethod(data.link)" (click)="visitedLinkAdd()" [href]="data.link | routeLocalization" target="_blank"
            class="font-Poppins-Medium text-lg ltr:text-left rtl:text-right tracking-normal text-[#01101E] line-clamp-1"
            [innerHTML]="data.title[lang]"></a>
        <a *ngIf="!isExternalMethod(data.link)" (click)="visitedLinkAdd()" [routerLink]="data.link | routeLocalization"
            class="font-Poppins-Medium text-lg ltr:text-left rtl:text-right tracking-normal text-[#01101E] line-clamp-1"
            [innerHTML]="data.title[lang]"></a>
        <hr class="mt-2.5 mb-[18px] border-l-0 border-t-0 border-r-0 border-b border-[#D9D9D9]">
        <p class="font-Poppins-Light text-[13px] leading-[18px] ltr:text-left rtl:text-right tracking-normal text-[#01101E] line-clamp-1"
            [innerHTML]="data.desc[lang]"></p>
    </div>
    <div
        class="transition-all absolute bottom-0 left-0 right-0 w-0 mx-auto opacity-0 group-hover:opacity-100 group-hover:w-full h-1.5 bg-[#3E64FF] rounded-b-[5px] shadow-custom-4">

    </div>
</div>