<!-- <app-breadcrumb-section-first-style [breadCrumb]="breadCrumb" [metaData]="data"></app-breadcrumb-section-first-style> -->
<app-breadcrumb-section-second-style [breadCrumb]="breadCrumb" [metaData]="data" [link]="'tenders-and-supplier/detailed/' + id"></app-breadcrumb-section-second-style>
<section class="bg-[#F5F5F5] pb-14 pt-5">
  <div class="max-w-desktop mx-auto px-4 lg:px-11 flex flex-col lg:flex-row gap-10 justify-between">
    <div class="w-full lg:max-w-[846px] pb-[57px]">
      <p class="text-[#011C35] font-Cairo-Bold text-[25px] leading-[47px] pb-3" [innerHTML]="data?.title[lang]"></p>
      <p></p>
      <p class="text-[#011C35] font-Cairo-Bold text-[25px] leading-[47px] pb-3 mt-4">{{'TINDER.DESCRIPTION' |
        translate}}
      </p>
      <div *ngIf="data?.description[lang]">
        <app-detailed-body [data]="data?.description[lang]"></app-detailed-body>
      </div>
      <p class="text-[#011C35] font-Cairo-Bold text-[25px] leading-[47px] pb-3 mt-8">{{'CAREER_LISTING.REQUIREMENTS' |
        translate}}
      </p>
      <div *ngIf="data?.details[lang]">
        <app-detailed-body [data]="data?.details[lang]"></app-detailed-body>
      </div>
      <p class="text-[#011C35] font-Cairo-Bold text-[25px] leading-[47px] pb-3 mt-8">{{ "TENDER_DETAILS.SCOPE" | translate }}
      </p>
      <div *ngIf="data?.scopeOfWork[lang]">
        <app-detailed-body [data]="data?.scopeOfWork[lang]"></app-detailed-body>
      </div>     
      <!-- <app-btn-one textClass="font-Cairo-Regular text-base" text="CAREER_LISTING.INTERSTED"
        seoDesc="Text about the button" svg="assets/svgs/arrow.svg" svgClass="rotate-[270deg]"></app-btn-one> -->
    </div>
    <div class="w-full lg:max-w-[408px] px-[24px] pt-[39px] pb-[45px] bg-[#ECECEC] rounded-[5px] h-fit">
      <app-tender-informaton-new [data]="data" [docs]="Document" [lang]="lang"></app-tender-informaton-new>
    </div>
  </div>
</section>