<details class="bg-[#ECECEC] rounded-md details-group" [id]="'index-'+ index" (click)="openSummary($event)">
  <summary class="list-none flex flex-row gap-[29px] py-[14px] px-[16px] items-center">

    <app-svg id="minus-icon" class="flex items-center justify-center w-auto px-2 h-full rounded-[5px]"
      src="assets/svgs/minus.svg" customClass="" label="title_goas_here" [stretch]="false" height="29" width="15"
      fill="#fff"></app-svg>

    <app-svg id="plus-icon" class="flex items-center justify-center w-auto px-2 h-full rounded-[5px]"
      src="assets/svgs/plus.svg" customClass="" label="title_goas_here" [stretch]="false" height="29" width="15"
      fill="#fff"></app-svg>

    <p class="text-base leading-[21px] font-Cairo-Regular flex items-center" [innerHTML]="data.title[lang]">
    </p>
  </summary>
  <!-- <p [ngClass]="bgColor" class="font-Cairo-Bold text-base leading-[35px] text-[#011C35] px-[17px] pt-7 pb-6"
    [innerHTML]="data.body[lang]">
  </p> -->
  <div [ngClass]="bgColor"  *ngIf="data.body" class="font-Cairo-Bold text-base leading-[35px] text-[#011C35] px-[17px] pt-7 pb-6 overflow-y-auto max-h-[300px]">
    <app-detailed-body [data]="data.body[lang]"></app-detailed-body>
</div>
</details>