<div class="w-full bg-white flex flex-col lg:flex-row gap-2 justify-between pb-6">
    <div>
        <p class="font-Poppins-Medium leading-[50px] text-xl">
            {{'E_TAG.SELECT_A_BENEFICIARY' | translate}}
        </p>
    </div>
    <div class="flex gap-[18px] flex-col lg:flex-row items-center">
        <button type="button" (click)="toggleNewBeneficiary()"
            class="font-Poppins-Medium py-[3px] underline text-base leading-[50px] text-[#00904A] bg-white rounded-[5px] w-full lg:w-auto">
            {{'E_TAG.ADD_NEW_BENEFICIARY' | translate}}
            <app-svg src="assets/svgs/arrow.svg" [customClass]="isNewBeneficiaryEnabled ? 'rotate-180' : ''"
                label="title_goas_here" [stretch]="false" width="24" height="24" stroke="#00904A"></app-svg>
        </button>
        <app-search-w-ddl inputTitle="MULTIMEDIA.SEARCH_BY_NAME"></app-search-w-ddl>
    </div>
</div>