<section class="bg-[#003399]" *ngIf="data">
    <div class="max-w-desktop mx-auto px-4 lg:px-10 w-full flex flex-col lg:flex-row gap-2 justify-between py-14">
        <p *ngIf="data?.title" class="font-Poppins-Medium  leading-10 text-white max-w-[685px]"
            [innerHTML]="data?.title[lang]"></p>
        <div class="self-center gap-4 flex items-center">
            <a *ngIf="data?.href && !isExternalMethod(data?.href)" [routerLink]="data?.href | routeLocalization"
                class="py-1.5 px-9 bg-[#B30838] rounded-[5px] font-Cairo-Regular text-base leading-7 capitalize text-white"
                [innerHTML]="data.btnText[lang]"></a>
            <a *ngIf="data?.href && isExternalMethod(data?.href)" [href]="data?.href | routeLocalization" target="_blank"
                class="py-1.5 px-9 bg-[#B30838] rounded-[5px] font-Cairo-Regular text-base leading-7 capitalize text-white"
                [innerHTML]="data.btnText[lang]"></a>
            <a *ngIf="data?.href2 && !isExternalMethod(data?.href2)" [routerLink]="data?.href2 | routeLocalization"
                class="py-1.5 px-9 bg-[#B30838] rounded-[5px] font-Cairo-Regular text-base leading-7 capitalize text-white"
                [innerHTML]="data.btnText2[lang]"></a>
            <a *ngIf="data?.href2 && isExternalMethod(data?.href2)" [href]="data?.href2 | routeLocalization" target="_blank"
                class="py-1.5 px-9 bg-[#B30838] rounded-[5px] font-Cairo-Regular text-base leading-7 capitalize text-white"
                [innerHTML]="data.btnText2[lang]"></a>
        </div>
    </div>
</section>