.radio-container {
    display: flex;
    @apply items-center;
    position: relative;
    // padding-left: 35px;
    cursor: pointer;
    user-select: none;
    min-width: 21px;
    min-height: 21px;
}

/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    @apply absolute top-0 ltr:left-0 rtl:right-0 h-[21px] w-[21px] bg-white border-solid border-[2px] border-[#e0e0e0] rounded-full;
    // position: absolute;
    // top: 0;
    // left: 0;
    // height: 21px;
    // width: 21px;
    // background-color: white;
    // border: 2px solid #e0e0e0;
    // // background-color: #eee;
    // border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
    background-color: #e0e0e0;
    // border-color: 2px solid #E0E0E0;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
    // background-color: #2196F3;
    background-color: #00904a;
    border-color: #00904a;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
    //   top: 3px;
    //   left: 3px;
    //   width: 11px;
    //   height: 11px;
    //   border-radius: 50%;
    //   background: #00904A;
    top: -2px;
    left: -2px;
    width: 21px;
    height: 21px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' x='0' y='0' viewBox='0 0 2.54 2.54' xml:space='preserve' fill-rule='evenodd' fill='%2300904A'%3E%3Cg%3E%3Ccircle cx='1.27' cy='1.27' r='1.27'%3E%3C/circle%3E%3Cpath fill='%23ffffff' d='M.873 1.89.41 1.391a.17.17 0 0 1 .008-.24.17.17 0 0 1 .24.009l.358.383.567-.53a.17.17 0 0 1 .016-.013l.266-.249a.17.17 0 0 1 .24.008.17.17 0 0 1-.008.24l-.815.76-.283.263-.125-.134z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-size: contain; /* Adjust as needed */
    background-repeat: no-repeat; /* Adjust as needed */
  
}

.title {
    @apply font-Poppins-Light text-sm text-[#2B2B2B];
    @apply inline-block;
}
