<div class="h-[100px]"></div>
<section class="section flex flex-col lg:flex-row gap-4 items-center py-16">
    <div class="w-full lg:w-1/2">
        <p class="text-black text-[22px]">Get in Touch</p>
        <p class="text-primary font-bold text-[33px] mt-7">asdasd as, dasdad asdasdasd asd</p>
        <p class="text-[22px] leading-8 mt-9">asdasd as, dasdad asdasdasd asd asdasd as, dasdad asdasdasd asd asdasd as, dasdad
            asdasdasd asd asdasd as,
            dasdad asdasdasd asd asdasd as, dasdad asdasdasd asd</p>
        <ul class="flex gap-12 mt-[42px]">
            <li class="flex items-center gap-3">
                <span>
                    <app-svg src="assets/svgs/phone.svg" class="" customClass="mt-[-3px]" label="title_goas_here"
                        [stretch]="false" width="15" fill="#802d3d"></app-svg>
                </span>
                <span class="text-primary">00962 79 157 3132</span>
            </li>
            <li class="flex items-center gap-3">
                <span>
                    <app-svg src="assets/svgs/email.svg" class="" customClass="mt-[-3px]" label="title_goas_here"
                        [stretch]="false" width="15" fill="#802d3d"></app-svg>
                </span>
                <span class="text-primary">{{'info@farhet-omry.com'}}</span>
            </li>
        </ul>
    </div>
    <div class="w-full lg:w-1/2">
        <div class="rounded-2xl py-[62px] px-[30px] shadow-md shadow-primary">
            <div class="flex gap-4">
                <div class="w-1/2">
                    <div class="flex flex-col gap-2">
                        <label for="" class="">First name</label>
                        <input type="text" name="" id="" class="rounded-xl bg-[#ebebeb] w-full h-[47px] mt-0.5" />
                    </div>
                </div>
                <div class="w-1/2">
                    <div class="flex flex-col gap-2">
                        <label for="">Last name</label>
                        <input type="text" name="" id="" class="rounded-xl bg-[#ebebeb] w-full h-[47px] mt-0.5" />
                    </div>
                </div>
            </div>
            <div class="flex gap-4 mt-5">
                <div class="w-full">
                    <div class="flex flex-col gap-2">
                        <label for="" class="">Email address</label>
                        <input type="text" name="" id="" class="rounded-xl bg-[#ebebeb] w-full h-[47px] mt-0.5" />
                    </div>
                </div>
            </div>
            <div class="flex gap-4 mt-5">
                <div class="w-full">
                    <div class="flex flex-col gap-2">
                        <label for="" class="">Message</label>
                        <textarea name="" id="" class="rounded-xl bg-[#ebebeb] w-full h-[200px] mt-0.5"></textarea>
                    </div>
                </div>
            </div>

            <div class="flex gap-4 mt-2">
                <div class="w-full">
                    <p>Check our <a class="text-primary font-medium" href="#">terms and conditions</a> & <a
                            class="text-primary font-medium" href="#">privacy policy</a></p>
                </div>
            </div>
            <div class="flex gap-4 mt-8">
                <div class="w-full text-center">
                    <button class="bg-primary rounded-xl text-white px-12 py-2.5 w-full max-w-[228px]"
                        type="button">Send</button>
                </div>
            </div>
        </div>
    </div>
</section>