<ul class="flex flex-wrap gap-x-2.5 gap-y-4">
    <li>
        <a href="#" class="bg-primary text-white rounded-2xl px-3 py-2 font-normal text-sm">
            #Wedding
        </a>
    </li>
    <li>
        <a href="#" class="bg-primary text-white rounded-2xl px-3 py-2 font-normal text-sm">
            #Wedding
        </a>
    </li>
    <li>
        <a href="#" class="bg-primary text-white rounded-2xl px-3 py-2 font-normal text-sm">
            #Wedding
        </a>
    </li>
    <li>
        <a href="#" class="bg-primary text-white rounded-2xl px-3 py-2 font-normal text-sm">
            #Wedding
        </a>
    </li>
    <li>
        <a href="#" class="bg-primary text-white rounded-2xl px-3 py-2 font-normal text-sm">
            #Wedding
        </a>
    </li>
</ul>