<div class="bg-[#ECECEC] rounded-[5px] px-8 py-4 flex flex-col lg:flex-row gap-[22px]">
    <div *ngIf="CategoryDDL && CategoryDDL.list && CategoryDDL.list.length > 0"
        class="w-full  flex flex-col justify-end">
        <p class="mb-3 font-Cairo-Bold text-[20px] leading-6 text-[#011C35]">{{'SEARCH.FILTER_BY_CATEGORY' | translate}}
        </p>
        <!-- <app-ddl-style-two [data]="CategoryDDL" (onOptionChange)="categoryChange($event)"></app-ddl-style-two> -->
        <app-ddl-style-two [data]="CategoryDDL" (onOptionChange)="categoryChange($event)"
              [isErrorEnabled]="isSubmitted && !CategoryDDL.selected" [isErrorTextEnabled]="false"></app-ddl-style-two>
    </div>
    <div *ngIf="tags[lang].length > 0" class="w-full lg:w-[calc(75%-22px)] flex-1">
        <div class="bg-white border border-solid border-[#EBEEF7] px-9 py-[23px]">
            <p class="font-Cairo-Bold text-[20px] leading-5 text-[#192A59] pb-[18px]">{{'SEARCH.FILTER_BY_TAG' |
                translate}}</p>
            <app-tags [tags]="tags" [lang]="lang" (onTagsSelectionChange)="tagsSelectionChange($event)"></app-tags>
        </div>
    </div>
</div>