<div class="flex flex-col lg:flex-row gap-[16px] mb-6">
    <div *ngFor="let _ of [].constructor(3); let i = index"
        class="w-full lg:w-1/3 rounded-xl bg-[#003399] px-[20px] pt-[10px] pb-[15px] relative">
        <div class="flex flex-row justify-end gap-[15px]">
            <button
                class="bg-white border border-solid border-[#009933] rounded-[5px] text-xs leading-[23px] font-Cairo-Regular capitalize text-[#009933] px-[10px]">Topup</button>
            <button class="relative" (click)="toggleDDL()">
                <app-svg src="assets/svgs/dots.svg" customClass="" label="title_goas_here" [stretch]="false" width="24"
                    height="24" fill="#fff"></app-svg>
                <div *ngIf="isDdlEnabled"
                    class="absolute animate-[fadeInUp_0.3s_ease_both] ltr:right-0 rtl:left-0 top-[29px] rounded-[5px] z-10 overflow-auto w-max max-h-[126px] bg-white shadow-[0px_1px_13px_#0000001A]"
                    [class.animate-close]="fireCloseAnimation">
                    <ul class="flex flex-col">
                        <li *ngFor="let _ of [].constructor(16); let i = index" [class.active]="i == 2"
                            class="px-[15px] py-3 relative after:absolute after:border-b after:bottom-0 after:left-0 after:right-0  after:w-[90%] after:mx-auto">
                            <p class="font-Poppins-Light text-xs leading-[31px]">Notification {{i+1}}</p>
                        </li>
                    </ul>
                </div>
            </button>
        </div>
        <div class="flex flex-col gap-[6px] pb-[27px]">
            <div class="bg-white rounded-[50%]  flex justify-center items-center w-[42px] h-[42px] lg:mt-[-15px]">
                <app-svg src="assets/svgs/e-wallet.svg" customClass="" label="title_goas_here" [stretch]="false"
                    width="16" height="13" fill="#003399"></app-svg>
            </div>
            <p class="text-xs leading-[20px] font-Poppins-Light text-white">My Wallet</p>
        </div>
        <div class="flex flex-row gap-[13px]">
            <p class="font-Poppins-Bold text-[24px] leading-[20px] text-white">2453.50</p>
            <p class="font-Poppins-Light  leading-[20px] text-white">QAR</p>
        </div>
        <div class="absolute ltr:right-4 rtl:left-4 bottom-0 ">
            <app-svg src="assets/svgs/car.svg" customClass="" label="title_goas_here" [stretch]="false" width="75"
                height="67" fill="#fff"></app-svg>
        </div>
    </div>
</div>
<div class="flex flex-col lg:flex-row gap-[22px] mb-[22px]">
    <!-- Chart -->
    <div
        class="w-full lg:w-1/2 bg-white py-[15px] rounded-[10px] border border-solid border-[#f5f5f5] shadow-[0px_1px_1px_#0000000D]">
    </div>
    <!-- Chart -->
    <div
        class="w-full lg:w-1/2 bg-white py-[15px] rounded-[10px] border border-solid border-[#000] shadow-[0px_1px_1px_#0000000D]">
        <div class="flex justify-between px-[22px] pb-[15px]">
            <p class="font-Cairo-Bold text-lg leading-[18px]">Activity Logs</p>
            <button class="font-Cairo-Regular text-sm leading-[18px] text-[#009933]">See all</button>
        </div>
        <!-- <app-table></app-table> -->
        <div class="relative overflow-x-auto">
            <table class="w-[calc(100%-22px)] mx-auto text-sm flex flex-col">
                <thead class="text-sm leading-[18px] font-Poppins-Medium bg-[white]">
                    <tr class="w-[100%] flex flex-row items-center">
                        <th scope="col">
                            Name
                        </th>
                        <th scope="col">
                            Date
                        </th>
                        <th scope="col">
                            Status
                        </th>
                        <th scope="col">
                            Service
                        </th>
                    </tr>
                </thead>
                <tbody class="">
                    <tr class="flex flex-row items-center h-[50px]" *ngFor="let _ of [].constructor(4); let i = index">
                        <td scope="row" class="normal text-xs leading-[18px] font-Poppins-Light">
                            Nabah Hussain
                        </td>
                        <td scope="row" class="text-[10px] leading-[18px] font-Poppins-Medium">
                            05 June 2023
                        </td>
                        <td class="normal">
                            <button class="flex flex-row gap-[5px] bg-[#009933] rounded-[20px] px-[10px] py-[6px]">
                                <app-svg src="assets/svgs/time.svg" customClass="mt-[-3px]" label="title_goas_here"
                                    [stretch]="false" width="12" height="12" fill="#fff"></app-svg>
                                <p class="text-[10px] leading-[18px] font-Poppins-Light text-[#fff]">Completed</p>
                            </button>
                        </td>
                        <td class="normal" class="text-[12px] leading-[18px] font-Poppins-Light">
                            Carwash
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="flex flex-col lg:flex-row gap-[22px] mb-[22px]">
    <div
        class="w-full lg:w-1/2 bg-white py-[15px] rounded-[10px] border border-solid border-[#000] shadow-[0px_1px_1px_#0000000D]">
        <div class="flex justify-between px-[22px] pb-[15px]">
            <p class="font-Cairo-Bold text-lg leading-[18px]">Appoinment History</p>
            <button class="font-Cairo-Regular text-sm leading-[18px] text-[#009933]">See all</button>
        </div>
        <!-- <app-table></app-table> -->
        <div class="relative overflow-x-auto">
            <table class="w-[calc(100%-22px)] mx-auto text-sm flex flex-col">
                <thead class="text-sm leading-[18px] font-Poppins-Medium bg-[white]">
                    <tr class="w-[100%] flex flex-row items-center">
                        <th scope="col">
                            Plate number
                        </th>
                        <th scope="col">
                            Date
                        </th>
                        <th scope="col">
                            Palce
                        </th>
                        <th scope="col">
                            Status
                        </th>
                        <th scope="col" class="ltr:text-right rtl:text-left">
                            Transaction
                        </th>
                    </tr>
                </thead>
                <tbody class="">
                    <tr class="flex flex-row items-center h-[50px]" *ngFor="let _ of [].constructor(4); let i = index">
                        <td scope="row" class="normal text-xs leading-[18px] font-Poppins-Light">
                            81992
                        </td>
                        <td scope="row" class="text-[10px] leading-[18px] font-Poppins-Medium">
                            03-06-2023
                        </td>
                        <td class="normal" class="text-[12px] leading-[18px] font-Poppins-Light">
                            Carwash
                        </td>
                        <td class="normal">
                            <button class="flex flex-row gap-[5px] bg-[#F3B43E] rounded-[20px] px-[10px] py-[6px]">
                                <app-svg src="assets/svgs/time.svg" customClass="mt-[-3px]" label="title_goas_here"
                                    [stretch]="false" width="12" height="12" fill="#fff"></app-svg>
                                <p class="text-[10px] leading-[18px] font-Poppins-Light text-[#fff]">Completed</p>
                            </button>
                        </td>

                        <td class="normal"
                            class="text-[12px] leading-[18px] font-Poppins-Bold ltr:text-right rtl:text-left">
                            QR 100
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- carsoul -->
    <div
        class="w-full lg:w-1/2 bg-[#F3D03E] py-[15px] px-[22px] rounded-[10px] border border-solid border-[#f5f5f5] shadow-[0px_1px_1px_#0000000D]">
        <div
            class="text-lg leading-[18px] font-Cairo-Bold pb-[10px] relative after:absolute after:bottom-0 after:left-0 after:right-0 after:mx-auto after:w-full after:h-[1px] after:bg-black after:opacity-[0.36] mb-[14px]">
            My Tasks </div>
        <div class="relative milestones">
            <div class="flex flex-col gap-3 absolute top-[40%] z-10 right-[15%]">
                <div class="flex flex-col lg:flex-row items-center justify-between">
                    <div
                        class="flex items-center gap-[18px] w-full justify-end lg:w-auto lg:justify-normal mt-4 lg:mt-0">
                        <div class="flex items-center gap-[17px] owl-custom-nav">
                            <button type="button" (click)="moveToSlide('next')"
                                class="w-[42px] h-[42px] bg-white rounded-full flex items-center justify-center">
                                <app-svg src="assets/svgs/arrow.svg" customClass="-rotate-90" label="title_goas_here"
                                    [stretch]="false" width="36" stroke="#2C3E50"></app-svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <owl-carousel-o #owlCarousel [options]="customOptions" (change)="onChange($event)">
                <ng-container *ngFor="let slide of slidesStore; let i = index">
                    <ng-template carouselSlide>
                        <div class="flex flex-col lg:flex-row gap-y-6 gap-x-[49px] items-center w-fit mr-0">
                            <div class="flex justify-center mx-auto w-full lg:w-[353px] lg:h-[235px]">
                                <img class=" w-[253px] rounded-[10px]" [lazyLoad]="slide.image | imageSource"
                                    [defaultImage]="'loadingImage'| imageSource"
                                    [errorImage]="'errorImage'| imageSource" alt="Card Image" />
                            </div>
                        </div>
                    </ng-template>
                </ng-container>

            </owl-carousel-o>
        </div>
    </div>
    <!-- carsoul -->
</div>