<div class="section !box-border fixed left-0 right-0 z-20 bottom-0 bg-white lg:bg-primary flex lg:rounded-t-2xl !px-0 mx-auto w-full py-2.5 lg:py-0"
    style="box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);">
    <div
        class="hidden lg:block w-full lg:w-1/4 relative after:content-['......'] after:text-white after:absolute after:bottom-0 after:my-auto after:w-[0.5px] after:rotate-90 after:text-[40px] after:-top-10 after:right-7">
        <button type="button" class="flex gap-4 items-center w-full rounded-tl-2xl justify-center py-5 h-full">
            <span class="text-white font-normal">Search by price</span>
            <app-svg src="assets/svgs/next-circle-bold.svg" class="" customClass="mt-[-3px] rotate-90"
                label="title_goas_here" [stretch]="false" width="19" fill="#ffffff"></app-svg>
        </button>
    </div>

    <div
        class="hidden lg:block w-full lg:w-1/4 relative after:content-['......'] after:text-white after:absolute after:bottom-0 after:my-auto after:w-[0.5px] after:rotate-90 after:text-[40px] after:-top-10 after:right-7">
        <button type="button" class="flex gap-4 items-center w-full justify-center py-5 h-full">
            <span class="text-white font-normal">Search by name</span>
            <app-svg src="assets/svgs/next-circle-bold.svg" class="" customClass="mt-[-3px] rotate-90"
                label="title_goas_here" [stretch]="false" width="19" fill="#ffffff"></app-svg>
        </button>
    </div>

    <div class="hidden lg:block w-full lg:w-1/4 relative">
        <button type="button" class="flex gap-2 items-center w-full justify-center py-5 h-full">
            <span class="text-white font-normal">Search by rate</span>
            <app-svg src="assets/svgs/next-circle-bold.svg" class="" customClass="mt-[-3px] rotate-90"
                label="title_goas_here" [stretch]="false" width="16" fill="#ffffff"></app-svg>
        </button>
    </div>

    <div class="hidden lg:block w-full lg:w-1/4 relative">
        <button type="button"
            class="flex items-center w-full rounded-tr-2xl justify-center py-5 text-primary bg-white font-medium text-lg h-full">
            Submit
        </button>
    </div>

    <div class="lg:hidden w-[calc(100%-32px)] mx-auto relative">
        <button type="button"
            class="flex items-center w-full rounded-2xl justify-center py-2 text-white bg-primary font-normal h-full">
            Filter
        </button>
    </div>

</div>