<div class="flex h-auto w-auto items-center justify-center rounded-[15px] border border-solid border-white language-switcher cursor-pointer bg-[#ECECEE]"
    (click)="fireToggleLanguage()">
    <button type="button" class="ml-[3px] mr-0">
        <span>{{isEn ? "En" : "Ar"}}</span>
    </button>
    <button type="button" class="active py-px px-0 ltr:order-2 w-5 rtl:order-2">
        <img class="w-5 h-5 rounded-full" [src]="'assets/images/flags/' + (isEn ? 'uk': 'qa') + '.webp'"
            alt="Card Image" />
    </button>
</div>