.swiper-button-next:after,
.swiper-button-prev:after {
    @apply text-[53px] text-white font-semibold;
}
.swiper-slide-next {
    @apply scale-90 translate-x-[-63%] relative after:content-[''] after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-black after:opacity-30 after:z-10 after:rounded-xl;
}
.swiper-slide-prev{
    @apply scale-90 translate-x-[68%] relative after:content-[''] after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-black after:opacity-30 after:z-10 after:rounded-xl;    
}
.swiper-slide-active {
    @apply z-10;
}
.swiper-service-button-prev {
    left: 20px;
}
.swiper-service-button-next {
    right: 45px;
}
.inner-items{
    @apply transition-all opacity-0;
}
.swiper-slide-active .inner-items{
    @apply transition-all opacity-100;
}