<div class="service-swiper-container relative swiper-container lg:overflow-hidden">
    <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let ethic of carousel;let i = index">
            <div class="bg-cover bg-center rounded-xl"
                style="background-image: url('https://img.tile.expert/img_lb/sant-agostino/flexible-architecture/per_sito/minimali/b_sant_agostino_fle_ible_architecture_csaftbbl00_fle_itech.bblack.webp?64');">

                <div class="z-[1] w-full h-[500px] rounded-b-xl flex flex-col p-4 justify-end"
                    style="    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));">
                    <p class="text-white font-bold">Wedding Planner</p>
                    <p class="text-white text-xs -mt-1.5">test test test test test<br />test test test test.</p>

                    <div class="-mt-1.5">
                        <button type="button" class="flex gap-2 items-center">
                            <span class="text-white font-normal">Explore</span>
                            <span>
                                <app-svg src="assets/svgs/next-circle.svg" class="mt-[-3px]" customClass=""
                                    label="title_goas_here" [stretch]="false" width="16" fill="#ffffff"></app-svg>

                            </span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Add Navigation -->
    <div class="swiper-button-next swiper-service-button-next"></div>
    <div class="swiper-button-prev swiper-service-button-prev"></div>

</div>