<app-hero-half [data]="carousel" [isLoadingEnabled]="isLoadingEnabled"></app-hero-half>
<app-breadcrumb-section-second-style [breadCrumb]="breadCrumb" [link]="'careers/view-all-jobs'"
  [metaData]="data"></app-breadcrumb-section-second-style>
<section class="bg-[#F5F5F5] pb-[76px]">
  <div class="max-w-desktop mx-auto px-4 lg:px-11 flex flex-col lg:flex-row lg:gap-[41px] pb-[45px]">
    <div class="w-full lg:max-w-[408px] pt-[15px] rounded-[5px]">
      <app-career-filter (filterSubmit)="filterSubmit($event)"></app-career-filter>
      <app-social-account-widget class="block h-[648px] w-full"></app-social-account-widget>
    </div>
    <div class="w-full lg:w-3/4">
      <app-component-loader *ngIf="isLoadingEnabled" class="block mt-32"></app-component-loader>
      <ng-container *ngIf="!isLoadingEnabled">
        <ul *ngIf="careers.data.length > 0"
          class="max-w-desktop w-full mx-auto pt-[15px] flex flex-col lg:flex-row flex-wrap gap-[30px]">
          <li *ngFor="let career of careers.data" class="w-full">
            <app-career-item [data]="career" [lang]="lang"></app-career-item>
          </li>
        </ul>
        <app-no-data *ngIf="careers.data.length === 0"></app-no-data>
      </ng-container>
    </div>
  </div>
  <app-pagination *ngIf="!isLoadingEnabled && careers.data.length > 0" [data]="careers.pagination"
    (changePage)="changePage($event)"></app-pagination>
</section>