<audio controls class="hidden" id="clickSound" preload="auto">
    <source src="assets/sounds/click.wav" type="audio/wav">
    Your browser does not support the audio element.
</audio>

<section class="lg:h-screen mx-auto relative">
    <div class="flex flex-col mx-auto lg:h-screen">
        <div class="flex h-[80.50vh]">
            <div class="w-1/3 relative">
                <div class="striped-background bg-secondary"></div>
            </div>
            <div class="w-1/3 bg-white flex items-center justify-center">
            </div>
            <div class="w-1/3 relative">
                <div class="striped-background bg-primary"></div>
            </div>
        </div>
        <div class="h-[19.50vh] relative">
            <div class="striped-background bg-dark"></div>
        </div>
        <app-hero-home-carousel class="block absolute inset-0 m-auto"></app-hero-home-carousel>
    </div>


</section>