.container {
    position: relative;
    margin: auto;
}

.wrapper {
    position: relative;
}

.item {
    width: 60px;
    height: 60px;
    opacity: 0.5;
    z-index: 1;
    cursor: pointer;
}

.item.active {
    opacity: 1;
}

#circle-svg {
    transform: translate(-50%, -50%);
}

::ng-deep .active-sub-category {
    & svg .path-test {
        fill: #7a333e;
        @apply transition-all;
    }
    & > p:nth-child(2) {
        margin-top: 16px;
        color: #7a333e;
        @apply transition-all;
    }
    & > p:nth-child(3) {
        color: #7a333e;
        @apply transition-all;
    }
}
