<audio controls class="hidden" id="clickSound" preload="auto">
    <source src="assets/sounds/click.wav" type="audio/wav">
    Your browser does not support the audio element.
</audio>

<section class="lg:h-screen mx-auto relative">
    <div class="flex flex-col mx-auto lg:h-screen">
        <div class="flex h-[61.61vh]">
            <div class="w-1/3 relative">
                <div class="striped-background bg-secondary"></div>
            </div>
            <div class="w-1/3 bg-white flex items-center justify-center">
            </div>
            <div class="w-1/3 relative">
                <div class="striped-background bg-primary"></div>
            </div>
        </div>
        <div class="h-[38.39vh] relative">
            <div class="striped-background bg-dark"></div>
            <app-hero-home-circle-carousel #heroHomeCircleCarouselEle
                class="block absolute left-0 right-0 mx-auto"></app-hero-home-circle-carousel>
        </div>

    </div>


</section>