.container {
    position: relative;
    margin: auto;
}

.wrapper {
    position: relative;
}

.item {
    width: 60px;
    height: 60px;
    opacity: 0.5;
    z-index: 1;
    cursor: pointer;
}

.item.active {
    opacity: 1;
}

#circle-svg {
    transform: translate(-50%, -50%);
}

::ng-deep .active-sub-category {
    & svg .path-test {
        fill: #802d3d;
        stroke: #802d3d;
        @apply transition-all;
    }
    & > p:nth-child(2) {
        // margin-top: 16px;
        @apply text-primary;
        @apply transition-all;
    }
    & > .icon-container app-svg {
        @apply -translate-y-1 scale-125 transition-all;
        // align-items: center;
    }
    & > p:nth-child(3) {
        @apply text-primary;
        @apply transition-all;
    }
}
