<div class="w-full shadow-2xl bg-white rounded-xl">
    <div class="w-full flex flex-col gap-4">
        <div class="py-8 px-4">
            <p class="bg-[#ebebeb] rounded-xl px-4 py-4 cursor-text text-[#a6a5a5]"
                (click)="writePostModalEnabled = true;">Start showing your unique
                services
                now!
            </p>
        </div>
        <div class="flex items-center bg-[#ebebeb] rounded-b-xl">
            <button type="button" (click)="writePostModalEnabled = true;isInnerPhotoClicked = true;"
                class="w-1/2 flex items-center justify-center gap-2 py-4 relative after:content-[''] after:absolute after:top-0 after:bottom-0 after:my-auto after:right-0 after:w-[0.5px] after:h-[68%] after:bg-black after:opacity-30 outline-0">
                <span>
                    <app-svg src="assets/svgs/img.svg" class="" customClass="" label="title_goas_here" [stretch]="false"
                        width="24"></app-svg>
                </span>
                <span>Photo/video</span>
            </button>
            <button type="button" (click)="writePostModalEnabled = true;"
                class="w-1/2 flex items-center justify-center gap-2 py-4 outline-0">
                <span>
                    <app-svg src="assets/svgs/map-marker.svg" class="" customClass="" label="title_goas_here"
                        [stretch]="false" width="24" fill="#802d3d"></app-svg>
                </span>
                <span>Check in</span>
            </button>
        </div>
    </div>
</div>



<app-add-post-modal [isModalEnabled]="writePostModalEnabled"></app-add-post-modal>
