<div class="h-[175px] flex flex-row shadow-md w-full rounded-[5px] bg-white">
    <div class="w-[212px] h-full rounded-[5px]">
        <img class="w-full h-full rounded-[5px]" [defaultImage]="'loadingImage'| imageSource"
            [errorImage]="'errorImage'| imageSource" [lazyLoad]="data.image | imageSource" alt="Card Image" />
    </div>
    <div class="pt-[26px] pb-[23px] px-7 flex flex-col justify-center text-center flex-1">
        <p class="text-[24px] font-Cairo-Bold mb-2" [innerHTML]="data.title[lang]">
        </p>
        <p class="text-[16px] font-Cairo-Regular" *ngIf="data.gas" [innerHTML]="'SHARED.WITH_GAS' | translate">
        </p>
        <!-- <p class="text-[31px] font-Cairo-Bold text-[#009933] uppercase mb-2">
            {{data.price}} <span class="text-[18px]">{{'CURRENCIES.QR' | translate}}</span>
        </p> -->
    </div>
</div>