<section class="bg-[#F5F5F5]" [style.backgroundImage]="'url(' + backgroundImage + ')'">
    <div class="max-w-desktop mx-auto px-4 lg:px-10 gap-8 lg:gap-[105px] pt-[96px] pb-[84px] flex flex-col lg:flex-row"
        [ngClass]="{'reverse-order': reverseOrder}">
        <div class="w-full lg:w-[50%-107px] self-center">
            <img class="w-full h-[346px] rounded-[10px]" [defaultImage]="'loadingImage'| imageSource"
                [errorImage]="'errorImage'| imageSource" [lazyLoad]="area.areaOneImage | imageSource"
                alt="Card Image" />
        </div>
        <div class="w-full lg:w-[50%-107px] self-center">
            <p class="mb-[5px] font-Poppins-Light text-lg leading-[30px] text-[#221E20] capitalize max-w-[529px]"
                [innerHTML]="area.areaOneTitle[lang]"></p>
            <p class="mb-2.5 font-Poppins-Bold text-[20px] leading-[30px] text-black capitalize max-w-[529px]"
                [innerHTML]="area.areaOneHeading[lang]"></p>
            <p class="mb-5 font-Cairo-Regular text-sm leading-6 text-black max-w-[529px]"
                [innerHTML]="area.areaOneDescription[lang]"></p>
            <a *ngIf="isExternalMethod(area.areaOneLink)" class="bg-[#B30838] py-2 px-[42px] rounded-[5px] font-Cairo-Regular text-base text-white capitalize"
                [href]="area.areaOneLink | routeLocalization" target="_blank" type="button">{{'SHARED.VIEW_MORE' | translate}}</a>
            <a *ngIf="!isExternalMethod(area.areaOneLink)" class="bg-[#B30838] py-2 px-[42px] rounded-[5px] font-Cairo-Regular text-base text-white capitalize"
                [routerLink]="area.areaOneLink | routeLocalization" type="button">{{'SHARED.VIEW_MORE' | translate}}</a>
        </div>
    </div>
</section>
