.swiper-button-next,
.swiper-button-prev {
    @apply w-4 h-4 border border-solid border-black lg:border-white rounded-full top-0 bottom-0 my-auto;
}
.swiper-button-next:after,
.swiper-button-prev:after {
    @apply text-[6px] text-black lg:text-white;
}
.swiper-slide-active {
    @apply relative after:content-[''] after:absolute after:top-0 after:bottom-0 after:my-auto after:right-0 after:w-[0.5px] after:h-[42px] after:bg-black lg:after:bg-white;
}

.swiper-button-next{
    @apply right-3;
}

.swiper-button-prev {
    @apply left-3;
}