<!-- min-h-screen -->
<section class="bg-white py-20" style="background-image: url('assets/svgs/wave-bg.svg');">
    <div class="max-w-desktop mx-auto w-full px-4 lg:px-10">
        <!-- <div class="flex flex-col lg:flex-row justify-between items-start lg:items-center mb-7">
            <p
                class="ltr:text-left rtl:text-right font-Poppins-light text-[27px] leading-10 tracking-normal text-[#011D37]">
                {{'PROMOTIONS.PROMOTIONS' | translate}}
            </p>
            <a class="ltr:text-right rtl:text-left font-Poppins-Light text-lg tracking-normal text-[#011C35] self-end"
                [routerLink]="'/promotions' | routeLocalization">{{'PROMOTIONS.VIEW_ALL_PROMOTIONS' | translate}}</a>
        </div> -->
        <div class="flex justify-between items-center mb-7">
            <p
                class="ltr:text-left rtl:text-right font-Poppins-Light text-[27px] leading-10 tracking-normal text-[#011D37]">
                {{'PROMOTIONS.PROMOTIONS' | translate}}
            </p>
            <a class="ltr:text-right rtl:text-left font-Poppins-Light text-lg tracking-normal text-[#011C35]"
                [routerLink]="'/promotions' | routeLocalization"> {{'PROMOTIONS.VIEW_ALL' |
                translate}}</a>
        </div>
        <app-promotion-list *ngIf="promotionList.data.length > 0" [promotionList]="promotionList.data.slice(0, 6)"
            [lang]="lang"></app-promotion-list>
    </div>
</section>