<div class="relative uploader-container bg-[#F8F8F8] border border-dashed border-[#CCCCCC] rounded-[5px] flex flex-col justify-start w-full"
    [class.error]="isErrorEnabled" [class.isFormEnabled]="isFormEnabled">
    <button type="button" class="px-[17px] py-[17px]" (click)="onButtonClick()">
        <p class="font-Cairo-Semi-Bold text-sm leading-[27px] text-[#7C7C7C] text-center">
            {{'E_TAG.UPLOAD_FILE' | translate}}
        </p>
        <p class="font-Cairo-Semi-Bold text-sm leading-[27px] text-[#7C7C7C] text-center">
            20KB
        </p>
    </button>
    <input #Uploader [disabled]="isFormEnabled" type="file" class="hidden" [accept]="getAcceptedFormats()"
        (change)="selectFile($event)" />
    <div *ngIf="imageUrl" class="w-full mt-3">
        <img [src]="imageUrl" alt="image" class="w-[50px] h-[53px] rounded absolute top-1/4 left-[17px]" width="100"
            height="100" />
    </div>
</div>