<div class="relative" [class.error]="isErrorEnabled" [class.isFormEnabled]="isFormEnabled">
    <label
        class="absolute -top-1 ltr:left-3 rtl:right-3 -mt-2 text-[#717171] text-[14px] leading-[29px] font-Cairo-Regular duration-300 origin-0 bg-white px-1"
        [for]="'datePicker-' + data.label">{{data.label | translate}} <span *ngIf="data.isRequired">
            *</span></label>
    <input [(ngModel)]="data.value" [disabled]="isFormEnabled" [id]="'datePicker-' + data.label"
        class="p-[19px] text-[#221E20] text-sm font-Poppins-Light leading-[21px] w-full border border-[#E0E0E0] rounded px-[10px] py-[15px] focus:outline-none h-[60px]"
        [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" [min]="min" [max]="max"
        [placeholder]="(data.placeholder || 'PLACEHOLDER.S_DATE') | translate" (ngModelChange)="onChange($event)">
    <owl-date-time #dt1 [pickerType]="'calendar'" [scrollStrategy]="scrollStrategy" [firstDayOfWeek]="1"
        [pickerMode]="pickerMode" (afterPickerOpen)="afterPickerOpen($event)"></owl-date-time>
    <div class="absolute inset-y-0 rtl:left-0 ltr:right-0 flex items-center rtl:pl-3 ltr:pr-3 pointer-events-none">
        <app-svg src="assets/svgs/dateinput.svg" customClass="" label="title_goas_here" [stretch]="false" width="20"
            height="20" stroke="#fff"></app-svg>
    </div>
</div>
<span *ngIf="isErrorEnabled"
    class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
    |translate}}</span>