<button type="button" (click)="itemClick()"
    class="bg-[#f5f5f5] rounded-[5px] flex flex-col justify-center items-center gap-2 p-[30px] w-full">
    <!-- <img [src]="data.icon | imageSource" label="title_goas_here" height="38" /> -->
    <app-svg [src]="data.icon" label="title_goas_here" [stretch]="false" height="38"
        fill="var(--primary-color)"></app-svg>
    <div>
        <p class="text-center font-Poppins-Medium text-base leading-[22px] text-[#011C35]"
            [innerHTML]="data.title[lang]">
        </p>
        <p class="text-center font-Poppins-Medium text-xs leading-[22px] text-[#011C35]" [innerHTML]="data.desc[lang]">
        </p>
    </div>
</button>