<div class="w-full relative z-10">
    <div #imgContainer class="news-item relative w-full rounded-[5px]">
        <img class="w-full rounded-[5px]" [style.height.px]="heightNews" src="assets/images/bride.webp" alt="FOM">
    </div>
    <p class="slide-content font-medium mt-[10px] text-[#2e2b28]">Nude - Print Mockup Kit
    </p>
    <p class="slide-content mt-[-3px] text-[#2e2b28]">related to organizing</p>
    <a class="slide-content text-sm font-normal text-primary mt-[9px] block" href="https://www.google.com/">Read
        More</a>
</div>