<form #form="ngForm" novalidate (ngSubmit)="onSubmit(form)">
    <div class="bg-white h-auto lg:h-[49px] rounded-[5px] flex flex-col lg:flex-row items-center">
        <div
            class="faqs w-full lg:w-auto flex gap-[10px] items-center h-full py-3 lg:py-0 px-[47px] bg-[#E3E3E3] rounded-tl-[4px] rounded-tr-[4px] ltr:lg:rounded-tr-none ltr:lg:rounded-bl-[4px] rtl:lg:rounded-tr-[4px] rtl:lg:rounded-tl-none rtl:lg:rounded-br-[4px] justify-center border-l lg:ltr:border-r-0 border-r border-t lg:border-y border-solid border-[#707070]">
            <app-svg src="assets/svgs/setting.svg" customClass="" label="title_goas_here" [stretch]="false" width="24"
                stroke="#919191"></app-svg>
            <span class="text-sm font-Cairo-Regular leading-6 ltr:tracking-[-0.39px] text-[#011C35]">{{'SEARCH.ALL_FAQS'| translate}}</span>
        </div>
        <div
            class="faqs-search flex-1 w-full lg:w-auto h-full border-x lg:border-x-0 lg:border-y border-solid border-[#707070] relative">
            <input type="text" name="search" [(ngModel)]="search" autocomplete="off"
                class="outline-0 w-full h-[50px] lg:h-full px-4 font-Cairo-Bold text-xs text-[#011C35]"
                [placeholder]="'SEARCH.WRITE_HERE' | translate" required (keyup)="onTyping($event)"
                [class.error]="isSubmitted && !form.controls.search.valid" />
            <div *ngIf="searchResult[0].data.length > 0"
                class="w-[313px] h-auto max-h-[281px] absolute ltr:-left-px ltr:lg:left-0 rtl:-right-px rtl:lg:right-0 top-[50px] lg:top-[48px] bg-white z-[11] rounded-b-[5px] border-b border-x border-solid border-[#707070] overflow-auto pb-[15px]">
                <ng-container *ngFor="let resultItem of searchResult">
                    <ng-container
                        *ngTemplateOutlet="listContent; context: { title: resultItem.key, data: resultItem.data }"></ng-container>
                </ng-container>
            </div>
        </div>
        <button type="button" (click)="onSubmit(form)"
            class="w-full lg:w-auto justify-center flex gap-2 items-center px-6 py-3 lg:py-0 h-full bg-[#947029] rounded-br-[5px] rtl:lg:rounded-br-none rounded-bl-[5px] lg:rounded-bl-none ltr:lg:rounded-r-[5px] rtl:lg:rounded-l-[5px] shadow-[0px_10px_20px_#00000033]">
            <app-svg src="assets/svgs/search-short.svg" customClass="mt-[-3px]" label="title_goas_here"
                [stretch]="false" width="24" fill="#ffffff"></app-svg>
            <span class="font-Cairo-Regular text-base leading-[30px] text-white">{{'SEARCH.SEARCH' | translate}}</span>
        </button>
    </div>
</form>

<ng-template #listContent let-data="data" let-title="title">
    <p class="font-Cairo-Bold text-base leading-6 ltr:tracking-[-0.44px] text-[#011C35] px-[25px] pt-[15px] mb-1">
        {{title | translate}}</p>
    <ul *ngIf="data" class="flex flex-col gap-1">
        <li *ngFor="let item of data">
            <a *ngIf="isMainSearch" [routerLink]="'/search-results' | routeLocalization"
                [queryParams]="{ q: item.text, category: 'xxxx' }" (click)="closeSearch()"
                class="font-Cairo-Regular text-xs leading-6 text-[#707070] px-[37px] w-full ltr:text-left rtl:text-right"
                [innerHTML]="item.html">
            </a>
            <button *ngIf="!isMainSearch" (click)="searchFire(item.text)"
                class="font-Cairo-Regular text-xs leading-6 text-[#707070] px-[37px] w-full ltr:text-left rtl:text-right"
                [innerHTML]="item.html">
            </button>
        </li>
    </ul>
</ng-template>