<app-breadcrumb-section-second-style [breadCrumb]="breadCrumb" [metaData]="data" [link]="'media-center/events/detailed/' + id"></app-breadcrumb-section-second-style>
<section class="bg-[#F5F5F5]">
  <div class="max-w-desktop font-Cairo-Regular mx-auto px-4 lg:px-10 pt-8 pb-[26px] lg:pb-6 lg:pt-[72px]">
    <!-- <app-socail-media-icons-news [link]="'media-center/news-details/' + id"
      [metaData]="data"></app-socail-media-icons-news> -->
    <p class="ltr:text-left rtl:text-right text-[#011C35] lg:mb-0 text-[26px] leading-[30px] capitalize font-Cairo-Bold font-bold lg:h-[52px]"
      [innerHTML]="data?.title[lang]"></p>

    <div *ngIf="!isZoomed" class="pb-6 lg:pb-12 pt-[33px] lg:min-h-[339px]">
      <img *ngIf="data?.img" #card [ngStyle]="{height: heightMain + 'px'}" (click)="viewImage()"
        class="cursor-pointer ltr:lg:float-right rtl:lg:float-left ltr:lg:ml-[47px] rtl:lg:mr-[47px] mb-8 lg:mb-[87px] w-full lg:w-[422px] lg:max-h-[239px] rounded-[5px]"
        [lazyLoad]="data?.img | imageSource" [defaultImage]="'loadingImage'| imageSource"
        [errorImage]="'errorImage'| imageSource" alt="" />
      <app-detailed-body [data]="data?.body[lang]"></app-detailed-body>

      <div class="">
        <p class="text-[#011C35] font-Cairo-Bold text-[22px] leading-[25px] pb-[26px]">
          {{'EVENT.EVENT_INFORMATION' | translate}}
        </p>
        <div class="flex flex-col gap-4">
          <a *ngIf="data?.location" [href]="data.location" target="_blank"
            class="font-Cairo-Regular text-[#011C35] flex gap-3">
            <app-svg src="assets/svgs/location.svg" customClass="" label="title_goas_here" [stretch]="false" width="19"
              height="19" fill="#006120"></app-svg>
            <p class="text-left font-Cairo-Regular text-lg leading-[30px] text-[#006120] line-clamp-1">
              {{'PROMOTION_FILTER.LOCATION' | translate}}</p>
          </a>
          <p *ngIf="data?.startDate" class="font-Cairo-Regular text-[#011C35]">{{'SHOP.START_DATE' | translate}}:
            {{data?.startDate | date:'dd-MM-YYYY'}}
            <!-- {{
            ('MONTHS.' + ((data?.startDate
            | date:'MMM') || '').toUpperCase()) |
            translate }} {{data?.startDate | date:'dd'}} {{data?.startDate | date:'YYYY'}} -->
          </p>

          <p *ngIf="data?.endDate" class="font-Cairo-Regular text-[#011C35]">{{'SHOP.END_DATE' | translate}}:
            {{data?.endDate | date:'dd-MM-YYYY'}}
            <!-- {{
            ('MONTHS.'
            + ((data?.endDate
            | date:'MMM') || '').toUpperCase()) |
            translate }} {{data?.endDate | date:'dd'}} {{data?.endDate | date:'YYYY'}} -->
          </p>
          <!-- <p class="font-Cairo-Regular text-[#011C35]">
            {{'SHARED.EMAIL' | translate}} :
            <a href="mailto:customerservice@woqod.com.qa" class="text-[#009933]">customerservice@woqod.com.qa</a>
          </p> -->
        </div>
      </div>

    </div>

    <div *ngIf="isZoomed" class="mb-12 mt-[33px]" [class.image-exist]="data?.img">
      <img *ngIf="data?.img" #card [ngStyle]="{height: heightMain + 'px'}" (click)="viewImage()"
        class="ltr:lg:float-left rtl:lg:float-right ltr:lg:mr-[26px] rtl:lg:ml-[26px] mb-8 lg:mb-[19px] w-full lg:max-w-[720px] lg:max-h-[407px] rounded-[5px] cursor-pointer"
        [lazyLoad]="data?.img | imageSource" [defaultImage]="'loadingImage'| imageSource"
        [errorImage]="'errorImage'| imageSource" alt="" />
      <div class="">
        <div class="flex flex-col gap-4">
          <a *ngIf="data?.location" [href]="data.location" target="_blank"
            class="font-Cairo-Regular text-[#011C35] flex gap-3">
            <app-svg src="assets/svgs/location.svg" customClass="" label="title_goas_here" [stretch]="false" width="19"
              height="19" fill="#006120"></app-svg>
            <p class="text-left font-Cairo-Regular text-lg leading-[30px] text-[#006120] line-clamp-1">
              {{'PROMOTION_FILTER.LOCATION' | translate}}</p>
          </a>
          <p *ngIf="data?.startDate" class="font-Cairo-Regular text-[#011C35]">{{'SHOP.START_DATE' | translate}}: {{
            ('MONTHS.' + ((data?.startDate
            | date:'MMM') || '').toUpperCase()) |
            translate }} {{data?.startDate | date:'dd'}} {{data?.startDate | date:'YYYY'}}</p>

          <p *ngIf="data?.endDate" class="font-Cairo-Regular text-[#011C35]">{{'SHOP.END_DATE' | translate}}: {{
            ('MONTHS.'
            + ((data?.endDate
            | date:'MMM') || '').toUpperCase()) |
            translate }} {{data?.endDate | date:'dd'}} {{data?.endDate | date:'YYYY'}}</p>
          <!-- <p class="font-Cairo-Regular text-[#011C35]">
              {{'SHARED.EMAIL' | translate}} :
              <a href="mailto:customerservice@woqod.com.qa" class="text-[#009933]">customerservice@woqod.com.qa</a>
            </p> -->
        </div>
      </div>
      <app-detailed-body [data]="data?.body[lang]"></app-detailed-body>
    </div>


    <div *ngIf="isZoomed" class="">
      <p class="text-[#011C35] font-Cairo-Bold text-[22px] leading-[25px] pb-[26px]">
        {{'EVENT.EVENT_INFORMATION' | translate}}
      </p>
      <div class="flex flex-col gap-4">
        <a *ngIf="data?.location && isExternalMethod(data?.location)" [href]="data.location" target="_blank"
          class="font-Cairo-Regular text-[#011C35] flex gap-3">
          <app-svg src="assets/svgs/location.svg" customClass="" label="title_goas_here" [stretch]="false" width="19"
            height="19" fill="#006120"></app-svg>
          <p class="text-left font-Cairo-Regular text-lg leading-[30px] text-[#006120] line-clamp-1">
            {{'PROMOTION_FILTER.LOCATION' | translate}}</p>
        </a>
        <a *ngIf="data?.location && !isExternalMethod(data?.location)" [routerLink]="data.location"
          class="font-Cairo-Regular text-[#011C35] flex gap-3">
          <app-svg src="assets/svgs/location.svg" customClass="" label="title_goas_here" [stretch]="false" width="19"
            height="19" fill="#006120"></app-svg>
          <p class="text-left font-Cairo-Regular text-lg leading-[30px] text-[#006120] line-clamp-1">
            {{'PROMOTION_FILTER.LOCATION' | translate}}</p>
        </a>
        <p *ngIf="data?.startDate" class="font-Cairo-Regular text-[#011C35]">{{'SHOP.START_DATE' | translate}}: {{
          ('MONTHS.' + ((data?.startDate
          | date:'MMM') || '').toUpperCase()) |
          translate }} {{data?.startDate | date:'dd'}} {{data?.startDate | date:'YYYY'}}</p>

        <p *ngIf="data?.endDate" class="font-Cairo-Regular text-[#011C35]">{{'SHOP.END_DATE' | translate}}: {{
          ('MONTHS.'
          + ((data?.endDate
          | date:'MMM') || '').toUpperCase()) |
          translate }} {{data?.endDate | date:'dd'}} {{data?.endDate | date:'YYYY'}}</p>
        <!-- <p class="font-Cairo-Regular text-[#011C35]">
          {{'SHARED.EMAIL' | translate}} :
          <a href="mailto:customerservice@woqod.com.qa" class="text-[#009933]">customerservice@woqod.com.qa</a>
        </p> -->
      </div>
    </div>
  </div>
</section>
<section class="bg-[#F5F5F5]">
  <app-related-news *ngIf="relatedNews.data?.length > 0" [title]="relatedTitle" [cards]="relatedNews"
    [lang]="lang"></app-related-news>
</section>