<app-hero-half [data]="carousel" [isLoadingEnabled]="isSliderLoadingEnabled"></app-hero-half>
<app-breadcrumb-section-second-style [breadCrumb]="breadCrumb" [metaData]="data" [link]="'tenders-and-supplier'"></app-breadcrumb-section-second-style>
<app-our-story *ngIf="data?.area1" [text]="data.area1[lang]"></app-our-story>
<!-- <app-detailed-body *ngIf="data?.area1" [data]="data.area1[lang]"></app-detailed-body> -->
<div class="bg-[#F5F5F5]">
  <ul class="max-w-desktop w-full px-4 lg:px-10 mx-auto py-[32px] flex flex-col lg:flex-row gap-8 flex-wrap">
    <li *ngFor="let item of tenderContentPages"
      class="bg-[#CBCBCB5E] rounded-[5px] w-full lg:w-[calc(25%-24px)] text-center pt-[33px] pb-[20px] px-[30px]">
      <app-our-values-btn [data]="item" [lang]="lang"></app-our-values-btn>
    </li>
  </ul>
</div>
<app-our-story *ngIf="data?.area2" [text]="data.area2[lang]"></app-our-story>
<!-- <app-detailed-body *ngIf="data?.area2" [data]="data.area2[lang]"></app-detailed-body> -->
<section class="bg-[#f5f5f5] pb-7">
  <div class="max-w-desktop mx-auto px-4 lg:px-11">

    <app-tender-supplier-table *ngIf="showTenderSupplierTable" [dateFrom]="dateFrom" [dateTo]="dateTo" [table]="table"
      [lang]="lang" [showTenderSupplierTable]="showTenderSupplierTable"
      (showTenderSupplierTableChange)="onShowTableChange($event)" (dateToChangeEmitter)="UpdateDateTo($event)"
      (dateFromChangeEmitter)="UpdateDateFrom($event)"></app-tender-supplier-table>

    <app-tinder-table-section *ngIf="!showTenderSupplierTable" [search]="search" (searchChange)="searchChange($event)"
      (showTenderSupplierTableChange)="onShowTableChange2($event)" [dateFrom]="dateFrom2" [dateTo]="dateTo2"
      (dateToChangeEmitter)="UpdateDateToAll($event)" (dateFromChangeEmitter)="UpdateDateFromAll($event)"
      [table]="LatestData" [activeButton]="activeButton" [lang]="lang" [locationDDL]="locationDDL"
      (activeTabChange)="activeTabChange($event)"></app-tinder-table-section>


    <app-pagination *ngIf="
        !showTenderSupplierTable &&
        !isLoadingEnabled &&
        LatestData.tbody.length > 0
      " [data]="LatestData.pagination" (changePage)="changePage($event)"></app-pagination>

  </div>
</section>
<app-become-supplier *ngIf="becomeSupplier.length > 0" [lang]="lang" [data]="becomeSupplier"></app-become-supplier>
<div class="bg-[#FFFFFF]">
  <div class="max-w-desktop px-4 lg:px-10 mx-auto">
    <p class="pt-[37px] pb-[27px] font-Cairo-Bold text-[22px] leading-[26px] text-[#263238]">
      {{ "FAQ.FAQS" | translate }}
    </p>
    <div class="py-[32px]">
      <div class="flex flex-col lg:flex-row gap-y-6 gap-x-11">
        <!-- List for Odd Elements -->
        <div class="w-full lg:w-[calc(50%-24px)]">
          <ul class="flex flex-col lg:flex-row gap-6 flex-wrap">
            <ng-container *ngFor="let faq of faqs; let i = index">
              <li *ngIf="i % 2 === 0" class="w-full">
                <app-faq [data]="faq" [lang]="lang" [index]="i"></app-faq>
              </li>
            </ng-container>
          </ul>
        </div>

        <!-- List for Even Elements -->
        <div class="w-full lg:w-[calc(50%-24px)]">
          <ul class="flex flex-col lg:flex-row gap-6 flex-wrap">
            <ng-container *ngFor="let faq of faqs; let i = index">
              <li *ngIf="i % 2 !== 0" class="w-full">
                <app-faq [data]="faq" [lang]="lang" [index]="i"></app-faq>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
      <div class="pb-10 pt-8">
        <app-btn-one link="/faqs" text="FAQ.VIEW_ALL_FAQS" textClass="font-Cairo-Regular"
          seoDesc="Text about the button" svg="assets/svgs/arrow.svg" svgClass="rotate-[270deg]"></app-btn-one>
      </div>
    </div>
  </div>
</div>