<button type="button" class="flex gap-5"
    (click)="data?.description[lang]?.length > 0 ? isModalEnabled = true : isModalEnabled = false">
    <div class="w-[129px] h-[129px]">
        <img *ngIf="data?.img" class="rounded-[5px] min-w-[129px] min-h-[129px]"
            [defaultImage]="'loadingImage'| imageSource" [errorImage]="'errorImage'| imageSource"
            [lazyLoad]="data?.img | imageSource" width="129" height="129" alt="managment team member" />
    </div>
    <div class="flex flex-col">
        <p *ngIf="data?.title"
            class="ltr:text-left rtl:text-right font-Cairo-Bold text-base leading-[22px] text-[#011C35]">
            {{data?.title[lang]}}</p>
        <p *ngIf="data?.desc"
            class="ltr:text-left rtl:text-right font-Cairo-Regular text-sm leading-[30px] text-[#00802B]">
            {{data?.desc[lang]}}</p>
    </div>
</button>



<app-modal [template]="modalTemplatePlaceholder" [isModalEnabled]="isModalEnabled"
    (closeModalByKeyboard)="isModalEnabled = false" modalClasses="inset-0 w-[90%] max-w-[883px]">
    <ng-template #modalTemplatePlaceholder>
        <div class="bg-white">
            <div class="modal-header px-[21px] flex justify-end pb-[3px] pt-[16px]">
                <button type="button">
                    <app-svg (click)="isModalEnabled = false" src="assets/svgs/close.svg" customClass=""
                        label="title_goes_here" [stretch]="false" width="16" height="16" fill="#919191"></app-svg>
                </button>
            </div>
            <div class="modal-body px-[40px] py-[35px]">
                <div class="flex flex-col lg:flex-row gap-9">
                    <div *ngIf="data?.desc" class="w-full lg:min-w-[325px] lg:max-w-[325px]">
                        <img class="w-[325px] h-auto max-h-[483px]" [defaultImage]="'loadingImage'| imageSource"
                            [errorImage]="'errorImage'| imageSource" [lazyLoad]="data?.img | imageSource" alt="">
                    </div>
                    <div class="flex flex-col">
                        <p *ngIf="data?.title" class="font-Cairo-Bold text-[22px] leading-[30px] text-[#011C35]">
                            {{data?.title[lang]}}</p>
                        <p *ngIf="data?.desc" class="font-Cairo-Bold text-lg leading-[30px] text-[#009933] pb-1">
                            {{data?.desc[lang]}}</p>
                        <p *ngIf="data?.description" class="font-Cairo-Regular  leading-[25px] text-[#011C35] "
                            [innerHTML]="data?.description[lang]"></p>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</app-modal>