<section>
    <div class="section bg-white relative h-1/2 flex flex-col lg:flex-row gap-4 items-center py-12">
        <div appIntersectionObserver class="fade-in flex flex-col lg:flex-row gap-[30px] w-full lg:w-[58%]">
            <div *ngFor="let item of news" class="w-full lg:w-1/3">
                <img class="news-item w-full rounded-[5px]" [style.height.px]="heightNews" src="assets/images/bride.jpg"
                    alt="">
                <p class="font-gotham font-medium mt-[10px] text-[14px] text-[#2e2b28]">Nude - Print Mockup Kit</p>
                <p class="font-gotham font-light mt-[-3px] text-[14px] text-[#2e2b28]">related to organizing</p>
                <a class="font-gotham font-medium text-[#7a333e] mt-[9px] block text-[11px]"
                    href="https://www.google.com/">Read More</a>
            </div>
        </div>
        <div class="flex-1 flex justify-center items-center">
            <div appIntersectionObserver class="fade-in lg:max-w-[352px]">
                <p class="font-gotham font-medium text-[#7a333e] text-[20px]">Farhet Omry Blog !</p>
                <p class="font-gotham font-light text-[18px] text-[#2e2b28] mt-[18px]">We are here to assist you with
                    everything
                    related to
                    organizing and
                    planning the steps of your
                    wedding
                    effortlessly.</p>
                <button type="button" class="font-gotham font-medium text-[#7a333e] text-[12px] mt-[42px] block"
                    (click)="navigate()">View
                    All</button>
            </div>
        </div>
    </div>
</section>