<section>
    <div class="section bg-white relative h-1/2 flex flex-col lg:flex-row gap-4 items-center py-12">
        <div class="flex flex-col lg:flex-row gap-[30px] w-full lg:w-[58%]">
            <div *ngFor="let item of news" appIntersectionObserver class="fade-in w-full lg:w-1/3 relative z-10">
                <img class="news-item w-full rounded-[5px]" [style.height.px]="heightNews" src="assets/images/bride.jpg"
                    alt="">
                <p class=" font-medium mt-[10px] text-[#2e2b28]">Nude - Print Mockup Kit</p>
                <p class=" mt-[-3px] text-[#2e2b28]">related to organizing</p>
                <a class="text-sm font-normal text-primary mt-[9px] block" href="https://www.google.com/">Read More</a>
            </div>
        </div>
        <div class="flex-1 flex justify-center items-center">
            <div appIntersectionObserver class="fade-in lg:max-w-[352px] relative z-10">
                <p class=" font-medium text-primary text-xl">Farhet Omry Blog !</p>
                <p class="text-[#2e2b28] mt-[18px]">We are here to assist you with
                    everything
                    related to
                    organizing and
                    planning the steps of your
                    wedding
                    effortlessly.</p>
                <button type="button" class="text-sm font-normal text-primary mt-[42px] block" (click)="navigate()">View
                    All</button>
            </div>
        </div>
    </div>
</section>