.swiper-blogs-button-next,
.swiper-blogs-button-prev {
    @apply text-white top-[22px] h-[84%];
    &::after {
        @apply text-[30px];
    }
}

.swiper-blogs-button-next {
    @apply right-[5px];
}
.swiper-blogs-button-prev {
    @apply left-[5px];
}

.swiper-slide-prev .news-item {
    @apply after:content-[''] after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-black after:opacity-70 after:transition-all after:z-10 after:rounded-[5px];
}

.swiper-slide-next .news-item {
    @apply after:content-[''] after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-black after:opacity-70 after:transition-all after:z-10 after:rounded-[5px];
}

.swiper-slide {
    // @apply scale-90;
    transform: scale(0.91) !important;
    & .slide-content {
        @apply opacity-0 transition-all;
    }
}
.swiper-slide-active {
    transform: scale(1) !important;
    & .slide-content {
        @apply opacity-100 transition-all;
    }
}
