<app-hero-half [data]="carousel" [isLoadingEnabled]="isSliderLoadingEnabled"></app-hero-half>
<app-breadcrumb-section-second-style [breadCrumb]="breadCrumb" [metaData]="data"
  [link]="'woqode-tag'"></app-breadcrumb-section-second-style>

<p>{{ corporateMainData.details[lang] }}</p>
<app-tag-servies [lang]="lang" [data]="areaOneIndividual" *ngIf="selectedTab === 'individual'"></app-tag-servies>
<app-tag-servies [lang]="lang" [data]="areaOneCorporate" *ngIf="selectedTab === 'corporate'"></app-tag-servies>
<app-tabs-woaod-tag [selectedTab]="selectedTab" (onTabChange)="changeSelectedTab($event)"></app-tabs-woaod-tag>
<app-time-line [lang]="lang" [selectedTab]="selectedTab"></app-time-line>
<!-- <app-price-woqod-tag *ngIf="selectedTab === 'individual'" [modalData]="modalData" [modalData1]="modalData1"
  [data]="individualTablePrice" [lang]="lang" [mainData]="individualMainData"></app-price-woqod-tag>
<app-price-woqod-tag-corporate *ngIf="selectedTab === 'corporate'" [modalData]="modalData" [modalData1]="modalData1"
  [lang]="lang" [data]="corporateTablePrice1" [mainData]="corporateMainData1"></app-price-woqod-tag-corporate> -->
<section *ngIf="selectedTab === 'individual'" class="bg-[#FFFFFF]">
  <div class="max-w-desktop mx-auto px-4 lg:px-11 py-[100px] flex flex-col lg:flex-row gap-[93px]">
    <div class="w-full lg:w-1/2 relative h-auto lg:h-[384px]">
      <div id="video-container" *ngIf="data?.video[lang]" [innerHTML]="data.video[lang]"></div>
    </div>
    <div class="w-full lg:w-1/2">
      <p
        class="ltr:text-left rtl:text-right font-Cairo-Regular font-bold text-[28px] leading-[56px] text-[#221E20] pb-6">
        {{ "WOQODE_TAG.HOW_TO_TOP_UP" | translate }}
      </p>
      <app-steps-woqod-tag [lang]="lang" [data]="steps"></app-steps-woqod-tag>
    </div>
  </div>
</section>
<section class="bg-[#F5F5F5]" *ngIf="selectedTab === 'corporate'">
  <div class="max-w-desktop mx-auto px-4 lg:px-10 pt-[82px] pb-[106px]">
    <div class="flex flex-col lg:flex-row gap-[38px] flex-wrap">
      <!-- [ngClass]="'lg:w-[calc(100%/' + ethics.length + ')]'" -->
      <app-ethic-item-second-style *ngFor="let ethic of ethics; let i = index" class="lg:w-[calc(20%-38px)] h-auto"
        [data]="ethic" [lang]="lang"></app-ethic-item-second-style>
    </div>
  </div>
</section>
<app-fahes-story *ngIf="fahesStroy && selectedTab === 'corporate'" [data]="fahesStroy" [lang]="lang"></app-fahes-story>
<app-accordion-woqod-tag [data]="faqs" [lang]="lang"></app-accordion-woqod-tag>