.radio-container {
    display: flex;
    @apply items-center;
    position: relative;
    // padding-left: 35px;
    cursor: pointer;
    user-select: none;
    min-width: 21px;
    min-height: 21px;
  }
  
  /* Hide the browser's default radio button */
  .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    @apply absolute top-0 ltr:left-0 rtl:right-0 h-[21px] w-[21px] bg-white border-solid border-[2px] border-[#e0e0e0] rounded-full;
    // position: absolute;
    // top: 0;
    // left: 0;
    // height: 21px;
    // width: 21px;
    // background-color: white;
    // border: 2px solid #E0E0E0;
    // // background-color: #eee;
    // border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .radio-container:hover input ~ .checkmark {
    background-color: #E0E0E0;
    // border-color: 2px solid #E0E0E0;
  }
  
  /* When the radio button is checked, add a blue background */
  .radio-container input:checked ~ .checkmark {
    // background-color: #2196F3;
    border-color: #F20C19;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radio-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .radio-container .checkmark:after {
      top: 4px;
      left: 4px;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background: #F20C19;
  }

  .title{
    @apply font-Poppins-Light text-sm text-[#2B2B2B];
    @apply inline-block ;
  }