<app-modal [template]="reviewModalTemplate" [isModalEnabled]="isModalEnabled"
    (closeModalByKeyboard)="isModalEnabled = false;" modalClasses="inset-0 w-[90%] max-w-[616px]">
    <ng-template #reviewModalTemplate>
        <div class="bg-white rounded-xl">
            <div class="modal-header px-[21px] flex justify-end py-4 bg-[#ebebeb] rounded-t-xl relative">
                <p class="w-full text-center font-normal">review / recommendation</p>
                <button type="button" (click)="isModalEnabled = false;"
                    class="absolute right-5 top-0 bottom-0 my-auto outline-0">
                    <app-svg src="assets/svgs/close-circle.svg" class="" customClass="" label="title_goas_here"
                        [stretch]="false" width="30" stroke="#802d3d"></app-svg>
                </button>
            </div>
            <div class="modal-body pt-[22px] px-3 pb-3">
                <section class="">
                    <div>

                        <app-stars class="flex justify-center" containerClasses="gap-2.5" [fill]="starFill" size="22"
                            colorFill="#802d3d" colorEmpty="#d3a19e" [isClickable]="true"
                            (onUpdate)="starFill = $event"></app-stars>
                    </div>
                    <p class="pt-5 pb-4 text-primary text-center text-xs font-light">Lorem Ipsum is simply dummy?</p>
                    <hr class="border-primary border-[0.5px] w-[406px] opacity-30 mx-auto" />
                    <div class="mt-4">
                        <textarea class="w-full h-[156px] p-4 bg-[#ebebeb] rounded-xl"
                            placeholder="Create your review!"></textarea>
                    </div>
                    <button
                        class="text-white bg-primary hover:text-primary hover:bg-white transition-all focus:ring-4 focus:outline-none focus:ring-blue-300  font-normal rounded-xl px-4 py-2 text-center w-full mt-2.5 outline-0"
                        type="button">Publish Now</button>
                </section>
            </div>
        </div>
    </ng-template>
</app-modal>