<div>
    <p class="ltr:text-left rtl:text-right font-Cairo-Bold text-[26px] leading-[56px] text-[#221E20] capitalize"
        [innerHTML]="data.title[lang]">
    </p>
    <div class="mt-5 pb-10 bg-white rounded-[5px] shadow-custom-4">
        <img [defaultImage]="'loadingImage'| imageSource" [errorImage]="'errorImage'| imageSource"
            [lazyLoad]="data.img | imageSource" alt="" title="" width="650" height="306" class="w-full h-[306px]" />
        <div class="px-[30px]">
            <p class="pt-7 pb-[30px] ltr:text-left rtl:text-right font-Poppins-Light text-sm leading-6 text-[#011C35]"
                [innerHTML]="data.desc[lang]">
            </p>
            <app-btn-one [link]="data.btn.link" [isExternal]="data.btn.isExternal" [text]="data.btn.text[lang]"
                seoDesc="Text about the button" svg="assets/svgs/search.svg"></app-btn-one>
        </div>
    </div>
</div>