<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="main.js" verb="*" modules="iisnode"
        scriptProcessor="C:\Program Files\iisnode\iisnode.dll" resourceType="Unspecified"
        requireAccess="Script" preCondition="bitness64" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <match url="/*" />
          <action type="Rewrite" url="main.js" />
        </rule>
        <rule name="StaticContent" stopProcessing="true">
          <match url="([\S]+[.](jpg|jpeg|gif|css|png|js|ts|cscc|less|ico|html|map|svg))" />
          <action type="None" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <remove fileExtension=".*" />
      <mimeMap fileExtension=".*" mimeType="application/octet-stream" />
    </staticContent>
    <iisnode nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" loggingEnabled="false"
    />

  </system.webServer>

</configuration>