<input [(ngModel)]="data.value"
    class="w-full font-Cairo-Regular text-[14px] text-[#011C35] outline-0 border border-solid border-[#B9B9B9] h-[35px] bg-white rounded-[7px] px-[15px] py-[3px]"
    [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" [min]="min" [max]="max" [placeholder]="data.placeholder | translate"
    (ngModelChange)="onChange($event)">
<owl-date-time #dt1 [pickerType]="pickerType" [scrollStrategy]="scrollStrategy" [firstDayOfWeek]="1"
    [pickerMode]="pickerMode" (afterPickerOpen)="afterPickerOpen($event)"></owl-date-time>
<div class="absolute inset-y-0 rtl:left-0 ltr:right-0 flex items-center rtl:pl-3 ltr:pr-3 pointer-events-none">
    <app-svg src="assets/svgs/date.svg" customClass="" label="title_goas_here" [stretch]="false" width="20" height="20"
        stroke="#B9B9B9"></app-svg>
</div>