<div class="relative min-h-[230px] lg:min-h-[157px] flex items-end pb-5">
    <div class="striped-background bg-primary"></div>
    <div class="relative z-10 flex flex-col lg:flex-row gap-4 lg:gap-14 w-full items-center">
        <div class="w-full lg:w-1/2 text-center lg:text-right">
            <p class="text-white font-medium text-[20px] lg:text-[28px] px-4 lg:px-0 text-center lg:text-right">
                {{title}}
            </p>
        </div>
        <div class="w-full lg:w-1/2">
            <p class="text-white lg:max-w-[319px] px-4 lg:px-0 text-center lg:text-left">and we strive to turn your
                wedding dream into a stunning
                reality.
                <strong class="font-medium">Let us be
                    your</strong>
            </p>
        </div>
    </div>
</div>