<div class="cursor-pointer relative w-full h-[482px] pt-[24px] pb-[27px] px-[26px] after:absolute after:left-0 after:top-0 after:w-full after:h-full after:bg-gradient-to-b after:from-transparent after:to-black bg-no-repeat bg-cover bg-center"
    [style.background-image]="'url(' + (data.img | imageSource) + ')'">
    <div class="relative z-[1] h-full flex flex-col justify-between">
        <div class="flex items-center justify-between">
            <div class="flex flex-row gap-2">
                <app-svg src="assets/svgs/timer.svg" customClass="mt-[-3px]" label="title_goas_here" [stretch]="false"
                    width="18" fill="#ffffff"></app-svg>
                <p class="ltr:text-left rtl:text-right font-Poppins-Medium text-xs leading-[23px] text-white">
                    {{ ('MONTHS.' + ((data.date | date:'MMM') || '').toUpperCase()) | translate }}
                    {{data.date | date:'dd'}},
                    {{data.date | date:'YYYY'}}
                </p>
            </div>
            <div class="bg-[#00428B] flex flex-row gap-[10px] px-[26px] py-[9px] rounded-[30px] ">
                <app-svg src="assets/svgs/tag.svg" customClass="mt-[-3px]" label="title_goas_here" [stretch]="false"
                    width="12" height="12" fill="#ffffff"></app-svg>
                <p class="ltr:text-left rtl:text-right font-Poppins-Medium text-sm leading-[23px] text-white"
                    [innerHTML]="data.category[lang]"></p>
            </div>
        </div>
        <div class="flex flex-col gap-2">
            <p class="px-[26px] ltr:text-left rtl:text-right font-Poppins-Bold text-xl leading-[30px] text-[#fff]"
                [innerHTML]="data.title[lang]"></p>
            <p class="px-[26px] ltr:text-left rtl:text-right font-Poppins-Light text-sm leading-[21px] text-[#fff]" style="word-break: break-all;"
                [innerHTML]="data.description[lang]"></p>
            <a *ngIf="isExternalMethod(data?.link)" [href]="data.link | routeLocalization" target="_blank" class="flex flex-row gap-2 px-[26px]">
                <p
                    class="ltr:text-left rtl:text-right font-Cairo-Regular font-bold text-sm leading-[24px] text-[#E7131A]">
                    {{ 'FAHES_MEDIA_CENTER.READ_MORE' | translate }}
                </p>
                <app-svg src="assets/svgs/long-arrow.svg" customClass="mt-[-3px] ltr:rotate-[0deg] rtl:rotate-[180deg]"
                    label="title_goas_here" [stretch]="false" width="16" fill="#E7131A"></app-svg>
            </a>
            <a *ngIf="!isExternalMethod(data?.link)" [routerLink]="data.link | routeLocalization" class="flex flex-row gap-2 px-[26px]">
                <p
                    class="ltr:text-left rtl:text-right font-Cairo-Regular font-bold text-sm leading-[24px] text-[#E7131A]">
                    {{ 'FAHES_MEDIA_CENTER.READ_MORE' | translate }}
                </p>
                <app-svg src="assets/svgs/long-arrow.svg" customClass="mt-[-3px] ltr:rotate-[0deg] rtl:rotate-[180deg]"
                    label="title_goas_here" [stretch]="false" width="16" fill="#E7131A"></app-svg>
            </a>
        </div>
    </div>
</div>