<section>
    <div class="relative h-1/2">
        <div class="striped-background bg-dark"></div>
        <div class="section relative z-10 flex flex-col lg:flex-row h-full px-8 lg:py-[158px]">
            <div class="w-full lg:w-1/3 flex items-center justify-center order-2 lg:order-1 mt-[65px] lg:mt-0">
                <div>
                    <img appIntersectionObserver src="assets/images/mobile-section/logo.webp"
                        class="fade-in w-[210px] lg:w-[274px] h-[59px] lg:h-[78px] relative z-10" alt="FOM" />
                </div>
            </div>
            <div class="w-full lg:w-1/3 flex justify-center lg:pt-6 order-1 lg:order-2 h-[205px]">
                <div appIntersectionObserver
                    class="fade-in absolute top-0 lg:top-6 h-[205px] w-px bg-[#e4b2af] after:absolute after:block after:content-[''] after:left-[-6.5px] lg:after:left-[-2.5px] after:w-[14px] lg:after:w-[6px] after:bottom-0 after:h-[14px] lg:after:h-[6px] after:bg-[#e4b2af] after:rounded-full">
                </div>
            </div>
            <div class="w-full lg:w-1/3 flex items-center justify-center order-3 lg:order-3">
                <p appIntersectionObserver
                    class="lg:max-w-[434px] fade-in text-xl leading-[20px] lg:leading-[1] relative z-10 mt-[59px] lg:mt-0 mb-[65px] lg:mb-0">
                    <span class="font-medium text-[15px] lg:text-[16px] text-[#e4b2af]">We believe that
                        every small detail
                        matters,</span><br>
                    <span class="text-[#e4b2af] text-[15px] lg:text-[16px]">and we strive to turn your wedding dream
                        into a
                        stunning
                        reality.</span>
                    <span class="text-white font-medium text-[15px] lg:text-[16px]"> Let us be your partner </span>
                    <span class="text-[#e4b2af] text-[15px] lg:text-[16px]">in the most important moments of your
                        life</span>
                </p>
            </div>
        </div>
    </div>
    <div class="relative h-1/2">
        <div class="striped-background bg-secondary"></div>
        <div class="section relative z-10 flex flex-col lg:flex-row h-full">
            <div class="w-full lg:w-1/3 flex items-center">
                <div appIntersectionObserver class="fade-in relative z-10">
                    <p
                        class="font-bold text-[#2e2b28] mb-[32px] lg:mb-[27px] text-xl mt-4 lg:mt-0 text-[15px] lg:text-[16px]">
                        Download Farhet Omry App!</p>
                    <p class="text-[#2e2b28] lg:max-w-[380px] text-[15px] lg:text-[16px]">Enjoy a smooth and
                        easy
                        experience for
                        planning your wedding from
                        your phone. With our app. <button type="button" class="lg:hidden text-[15px] font-bold">Download
                            Now!</button></p>
                </div>
            </div>
            <div class="w-full lg:w-1/3 relative flex justify-center items-end mt-[76px] lg:mt-0">
                <div class="relative z-10 w-full flex justify-center">
                    <img src="assets/images/mobile-section/mobile.webp" appIntersectionObserver
                        class="fade-in w-full h-full max-w-[134px] lg:max-w-[238px] max-h-[207px] lg:max-h-[367px]"
                        alt="FOM" />

                    <img src="assets/images/mobile-section/flowers.webp" appIntersectionObserver
                        class="fade-in absolute left-0 right-0 mx-auto z-[-1] top-[-22px] lg:top-[-66%] w-[176px] h-[223px] lg:w-[214px] lg:h-[269px] max-w-[unset] max-h-[unset]"
                        alt="FOM" />


                </div>
            </div>
            <div class="w-full lg:w-1/3 justify-center items-center py-[100px] hidden lg:flex">
                <div class="flex flex-col items-center relative z-10">
                    <div class="mt-[27px]">
                        <div appIntersectionObserver
                            class="fade-in w-[179px] h-[179px] rounded-full bg-[#ad6a6e] relative">
                            <img src="assets/images/mobile-section/qr1.webp"
                                class="w-[87%] h-[87%] absolute inset-0 m-auto" alt="FOM" />
                        </div>
                    </div>
                    <p appIntersectionObserver class="mt-[6px] text-[#2e2b28] fade-in text-xl">Scan QR Code</p>
                </div>
            </div>
        </div>
    </div>
</section>