<section class="">
    <div class="bg-[#2f2b28] relative h-1/2">
        <div class="bg-auto bg-center opacity-[0.01] absolute top-0 left-0 w-full h-full"
            style="background-image: url('assets/images/storke.png')"></div>
        <div class="section relative z-10 flex flex-col lg:flex-row h-full py-[158px]">
            <div class="w-full lg:w-1/3 flex items-center justify-center">
                <div>
                    <img src="assets/images/mobile-section/logo.png" class="w-[274px] h-[78px]" />
                </div>
            </div>
            <div class="w-full lg:w-1/3 flex justify-center pt-6">
                <div
                    class="absolute top-6 h-[205px] w-px bg-[#e4b2af] after:absolute after:block after:content-[''] after:left-[-2.5px] after:w-[6px] after:bottom-0 after:h-[6px] after:bg-[#e4b2af] after:rounded-full">
                </div>
            </div>
            <div class="w-full lg:w-1/3 flex items-center justify-center">
                <p class="text-[20px] lg:max-w-[434px] leading-[1.3]">
                    <span class="font-gotham font-semibold text-[#e4b2af]">We believe that every small detail
                        matters,</span><br>
                    <span class="font-gotham font-light text-[#e4b2af]">and we strive to turn your wedding dream into a
                        stunning
                        reality.</span>
                    <span class="text-white font-gotham font-semibold"> Let us be your partner </span>
                    <span class="font-gotham font-light text-[#e4b2af]">in the most important moments of your
                        life</span>
                </p>
            </div>
        </div>
    </div>
    <div class="bg-[#e4b2af] relative h-1/2">
        <div class="bg-auto bg-center opacity-[0.03] absolute top-0 left-0 w-full h-full"
            style="background-image: url('assets/images/storke.png')"></div>
        <div class="section relative z-10 flex flex-col lg:flex-row h-full">
            <div class="w-full lg:w-1/3 flex items-center">
                <div>
                    <p class="font-gotham font-semibold text-[14px] text-[#2e2b28] mb-[27px]">Download Farhet Omry App
                        Now !</p>
                    <p class="font-gotham font-light text-[14px] text-[#2e2b28] lg:max-w-[380px]">Enjoy a smooth and
                        easy
                        experience for
                        planning your wedding from
                        your phone. With our app, you can
                        access the best venues, offers, and services anytime, anywhere. Download the app now and get
                        ready
                        to
                        plan your big day with confidence !</p>
                </div>
            </div>
            <div class="w-full lg:w-1/3 relative flex justify-center items-end">
                <div class="max-w-[238px] max-h-[367px] relative">
                    <img src="assets/images/mobile-section/mobile.png" class="w-full h-full" />

                    <img src="assets/images/mobile-section/flowers.png"
                        class="lg:absolute left-0 right-0 mx-auto z-[-1] top-[-66%] w-[214px] h-[269px]" />


                </div>
            </div>
            <div id="qr-section" class="w-full lg:w-1/3 flex justify-center items-center py-[100px]">
                <div class="flex flex-col items-center">
                    <div class="mt-[27px]">
                        <div class="w-[179px] h-[179px] rounded-full bg-[#ad6a6e] relative">
                            <img id="qr-circle" src="assets/images/mobile-section/qr1.png"
                                class="w-[87%] h-[87%] absolute inset-0 m-auto" />
                        </div>
                    </div>
                    <p class="font-gotham font-light mt-[6px] text-[25px] text-[#2e2b28]">Scan QR Code</p>
                </div>
            </div>
        </div>
    </div>
</section>