<div class="w-full rounded-[5px] mx-auto bg-white">
    <owl-carousel-o #owlCarousel [options]="customOptions">
        <ng-container *ngFor="let slide of slidesStore; let i = index">
            <ng-template carouselSlide [id]="'e-services-' + (i + 1)">
                <div class="flex flex-col">
                    <ng-container *ngIf="slide.length === 2">
                        <div class="h-[228px] w-full flex justify-center items-center relative service">
                            <ng-container
                                *ngTemplateOutlet="cardContent; context: { content: slide[0] }"></ng-container>
                        </div>
                        <div class="h-[228px] w-full flex justify-center items-center">
                            <ng-container
                                *ngTemplateOutlet="cardContent; context: { content: slide[1] }"></ng-container>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="slide.length === 1">
                        <div class="h-[456px] w-full flex justify-center items-center">
                            <ng-container
                                *ngTemplateOutlet="cardContent; context: { content: slide[0] }"></ng-container>
                        </div>
                    </ng-container>
                </div>
            </ng-template>
        </ng-container>

    </owl-carousel-o>
</div>

<ng-template #cardContent let-content="content">

    <a *ngIf="isExternalMethod(content?.link)" [href]="content?.link | routeLocalization" target="_blank"
        class="service-item flex flex-col gap-4 w-full h-full justify-center group hover:bg-[#f2cf3e78] transition-all">
        <img [defaultImage]="'loadingImage'| imageSource" [errorImage]="'errorImage'| imageSource"
            [lazyLoad]="content?.image | imageSource" alt="" title="" class="w-[80px] h-[80px]" />
        <p
            class="text-center h-auto lg:h-fit overflow-hidden px-4 text-ellipsis font-Cairo-Regular text-base leading-6 text-[#3C4A58] capitalize group-hover:text-[#00914a]  transition-all line-clamp-1">
            {{content?.title[lang]}}</p>
    </a>

    <a *ngIf="!isExternalMethod(content?.link)" [routerLink]="content?.link | routeLocalization"
        class="service-item flex flex-col gap-4 w-full h-full justify-center group hover:bg-[#f2cf3e78] transition-all">
        <img [defaultImage]="'loadingImage'| imageSource" [errorImage]="'errorImage'| imageSource"
            [lazyLoad]="content?.image | imageSource" alt="" title="" class="w-[80px] h-[80px]" />
        <p
            class="text-center h-auto lg:h-fit overflow-hidden px-4 text-ellipsis font-Cairo-Regular text-base leading-6 text-[#3C4A58] capitalize group-hover:text-[#00914a]  transition-all line-clamp-1">
            {{content?.title[lang]}}</p>
    </a>
</ng-template>