<app-hero-half [data]="carousel" [isLoadingEnabled]="isSliderLoadingEnabled"></app-hero-half>
<!-- <app-hero-half [fullView]="true" [data]="carousel" [isLoadingEnabled]="isSliderLoadingEnabled"></app-hero-half> -->
<section class="bg-[#ECECEE] relative h-full ">
    <div class="max-w-desktop mx-auto px-4 lg:px-10 pb-6">
        <div class="bg-white rounded-t-[5px] shadow-[0px_3px_6px_#0000001A]">
            <app-tabs-product-and-service [selectedTab]="selectedTab" (onTabChange)="changeSelectedTab($event)"
                class="absolute -top-[76px] left-0 right-0 mx-auto w-full max-w-desktop px-4 lg:px-10 z-[1]"></app-tabs-product-and-service>
            <app-product-tab *ngIf="selectedTab === 'products'" [lang]="lang" [products]="products"></app-product-tab>
            <app-service-tab *ngIf="selectedTab === 'services'" [services]="services"></app-service-tab>
        </div>
    </div>
</section>

<app-detail-product-and-service [lang]="lang" [data]="details1"></app-detail-product-and-service>
<app-retail-prices *ngIf="prices && prices.length > 0" [mainData]="priceSectionMainData" [lang]="lang"
    [data]="prices"></app-retail-prices>
<app-statistics-product-and-service [lang]="lang" [statistics]="statistics"></app-statistics-product-and-service>
<app-detail-product-and-service [lang]="lang" [data]="details2" [reverseOrder]='true'></app-detail-product-and-service>
<app-inspection-center *ngIf="isBrowser"></app-inspection-center>
<app-latest-promotion [lang]="lang" [promotions]="promotions"></app-latest-promotion>
<app-woqood-app [lang]="lang" [app]="woqoodApp"></app-woqood-app>