<div class="relative w-[150px]">
    <div class="w-[50px] h-[50px] mx-auto -mt-4">
        <img width="50" height="50"
            class="absolute left-0 right-0 mx-auto top-4 w-[50px] h-[50px] rounded-full border border-solid border-[#009933]"
            src="assets/images/default-img.webp" alt="Card Image" />
    </div>
    <div
        class="w-full bg-white border border-solid border-[#CCCCCC] rounded-[5px] flex items-center justify-center pt-[18px] pb-2 px-3 flex-col">
        <p class="text-center font-Cairo-Semi-Bold text-sm leading-[18px] text-black">Mohammed Al Faraj</p>
        <p class="text-center font-Poppins-Light text-xs leading-[18px] text-[#7C7C7C]">Admin User</p>
    </div>
</div>