<section class="bg-[#092A49] pt-[73px] pb-[97px]">
    <div class="max-w-desktop mx-auto px-4 lg:px-10">
        <div class="flex flex-col lg:flex-row justify-between pb-[27px] lg:items-center">
            <p class="text-[25px] leading-[47px] font-Cairo-Bold text-white order-1">
                {{'PROMOTIONS.OFFERS_AND_PROMOTIONS' | translate}}</p>
            <a [routerLink]="'/promotions' | routeLocalization"
                class="px-[23px] py-1 bg-transparent text-center font-Cairo-Regular text-base leading-[33px] text-[#F5F5F5] outline outline-white rounded-md h-fit self-start lg:self-end mb-4 lg:mb-0 lg:order-1">{{'PROMOTIONS.VIEW_ALL_PROMOTIONS'
                | translate}}</a>
        </div>
        <div class="flex flex-col lg:flex-row gap-4">
            <div class="w-full lg:w-1/4" *ngFor="let promotion of promotions">
                <div class="bg-white rounded-[5px] h-full">
                    <img width="320" height="200" class="w-full h-[200px] rounded-t-[5px] mb-5"
                        [lazyLoad]="promotion.img | imageSource" [defaultImage]="'loadingImage'| imageSource"
                        [errorImage]="'errorImage'| imageSource" alt="Card Image" />
                    <div class="px-6 pb-9">
                        <a [routerLink]="('/promotions/detailed/' + promotion.id) | routeLocalization"
                            class="font-Cairo-Regular text-base leading-7 text-black mb-4">{{promotion.title[lang]}}</a>
                        <p class="font-Cairo-Regular text-xs leading-[26px] text-black">
                            {{'PROMOTIONS.PROMOTIONS_EXPIRED_ON' | translate}} |
                            {{promotion.date | date:'dd'}}
                            {{ ('MONTHS.' + ((promotion.date | date:'MMM') || '').toUpperCase()) | translate }}
                            {{promotion.date | date:'YYYY'}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>