<div class="relative" [class.error]="isErrorEnabled" appClickOutSide
    (appOutsideClick)="isDdlEnabled ? toggleDDL() : ''">
    <button type="button" (click)="toggleDDL()"
        class="bg-white w-full border border-solid border-[#E0E0E0] flex justify-between gap-1 rounded-[5px] ltr:pl-4 ltr:pr-3 rtl:pl-3 rtl:pr-4 py-3 items-center h-[49px]">
        <span class="font-Poppins-Light text-xs text-[#757575]">{{data?.selected?.key ? data?.selected?.title[lang] :
            (data?.placeholder | translate )}}</span>
        <app-svg src="assets/svgs/arrow.svg"
            [customClass]="isDdlEnabled && !fireCloseAnimation ? 'transition-all rotate-[180deg]' : 'transition-all'"
            label="title_goas_here" [stretch]="false" width="25" height="25" stroke="#BCBCBC"></app-svg>
    </button>
    <div *ngIf="isDdlEnabled"
        class="absolute animate-[fadeIn_0.3s_ease_both] left-0 top-[48px] rounded-[5px] z-20 overflow-auto w-full max-h-[200px] bg-white shadow-[0px_1px_13px_#0000001A]"
        [class.animate-close]="fireCloseAnimation">
        <ul class="flex flex-col">
            <li *ngFor="let option of data?.list" [class.active]="option.key === data?.selected?.key">
                <button type="button" (click)="selectOption(option)"
                    class="w-full ltr:text-left rtl:text-right break-words font-Poppins-Light text-sm leading-[26px] text-[#2B2B2B] py-3 px-5 transition-all hover:bg-slate-100">{{option.title[lang]}}</button>
            </li>
        </ul>
    </div>
</div>
<span *ngIf="isErrorEnabled && isErrorTextEnabled"
    class="block text-[#e83d3d] mt-0.5 ltr:text-right rtl:text-left ltr:text-sm rtl:text-xs font-Noto-Sans-Regular">{{'ERRORS.THIS_FIELD_IS_REQUIRED'
    |translate}}</span>