.active button{
    @apply bg-[#00904A] text-white;
}
.animate-close{
    @apply animate-[fadeOut_0.3s_ease_both];
}
.error button{
    @apply border-[#e83d3d];
    & span,
    & p{
        @apply text-[#e83d3d];
    }
}