<section class="bg-[#F5F5F5] cursor-pointer" style="background-image: url('assets/svgs/wave-bg.svg');" [routerLink]="'/en/second-page' | routeLocalization">
    <div class="max-w-desktop w-full mx-auto px-4 lg:px-10 pt-6 pb-11">
        <p class="font-Cairo-Bold text-[27px] leading-10 text-[#011C35]" [innerHTML]="data?.title[lang]"></p>
        <p class="bg-white mt-3 mb-[36px] rounded-[5px] font-Cairo-Regular text-base text-[#011C35] p-6"
            [innerHTML]="data?.description[lang]">
        </p>
        <ul class="flex flex-col lg:flex-row" *ngIf="cards.length > 0">
            <li class="w-full lg:w-[260px]">
                <div class=" mx-auto text-center">
                    <div class="w-[90px] h-[90px] mx-auto rounded-[5px] bg-[#00539B] flex items-center justify-center">
                        <app-svg src="assets/svgs/pen.svg" customClass="" label="title_goas_here" [stretch]="false"
                            width="36" height="36" fill="#ffffff"></app-svg>
                    </div>
                    <p class="mt-11 mb-3 font-Cairo-Bold text-xl leading-[42px] text-black">{{cards[0].title[lang]}}</p>
                    <p class="text-[#333333] font-Cairo-Regular text-sm leading-[26px]">{{cards[0].description[lang]}}
                    </p>
                </div>
            </li>
            <li class="flex-1 py-4">
                <div
                    class="mt-0 lg:mt-[45px] h-24 lg:h-auto relative before:content-normal before:absolute before:w-[11px] before:h-[11px] top-0 lg:before:-top-1 before:left-0 before:right-0 lg:before:right-[unset] before:mx-auto before:bg-[#00539B] before:rounded-full
                after:content-normal after:absolute after:w-[11px] after:h-[11px] after:top-[unset] after:bottom-0 lg:after:bottom-[unset] lg:after:-top-1 after:right-0 after:left-0 lg:after:left-[unset] after:mx-auto after:bg-[#B30838] after:rounded-full">
                    <hr
                        class="h-24 lg:h-auto w-px lg:w-full mx-auto opacity-20 border-dashed border-l-[3px] border-l-[#707070] border-t-0 lg:border-t-[3px] lg:border-t-[#707070] lg:border-l-0">
                </div>
            </li>
            <li class="w-full lg:w-[260px]">
                <div class=" text-center">
                    <div class="w-[90px] h-[90px] mx-auto rounded-[5px] bg-[#B30838] flex items-center justify-center">
                        <app-svg src="assets/svgs/rocket.svg" customClass="" label="title_goas_here" [stretch]="false"
                            width="36" height="36" fill="#ffffff"></app-svg>
                    </div>
                    <p class="mt-11 mb-3 font-Cairo-Bold text-xl leading-[42px] text-black">{{cards[1].title[lang]}}</p>
                    <p class="text-[#333333] font-Cairo-Regular text-sm leading-[26px]">{{cards[1].description[lang]}}
                    </p>

                </div>
            </li>
            <li class="flex-1 py-4">
                <div
                    class="mt-0 lg:mt-[45px] h-24 lg:h-auto relative before:content-normal before:absolute before:w-[11px] before:h-[11px] top-0 lg:before:-top-1 before:left-0 before:right-0 lg:before:right-[unset] before:mx-auto before:bg-[#B30838] before:rounded-full
                after:content-normal after:absolute after:w-[11px] after:h-[11px] after:top-[unset] after:bottom-0 lg:after:bottom-[unset] lg:after:-top-1 after:right-0 after:left-0 lg:after:left-[unset] after:mx-auto after:bg-[#009D57] after:rounded-full">
                    <hr
                        class="h-24 lg:h-auto w-px lg:w-full mx-auto opacity-20 border-dashed border-l-[3px] border-l-[#707070] border-t-0 lg:border-t-[3px] lg:border-t-[#707070] lg:border-l-0">
                </div>
            </li>
            <li class="w-full lg:w-[260px]">
                <div class=" text-center">
                    <div class="w-[90px] h-[90px] mx-auto rounded-[5px] bg-[#009D57] flex items-center justify-center">
                        <app-svg src="assets/svgs/chart.svg" customClass="" label="title_goas_here" [stretch]="false"
                            width="36" height="36" fill="#ffffff"></app-svg>
                    </div>
                    <p class="mt-11 mb-3 font-Cairo-Bold text-xl leading-[42px] text-black">{{cards[2].title[lang]}}</p>
                    <p class="text-[#333333] font-Cairo-Regular text-sm leading-[26px]">{{cards[2].description[lang]}}
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>