<div class="flex flex-col lg:flex-row mt-10 mb-[46.5px] gap-y-6 gap-x-[62px]">
    <div class="w-full lg:w-[calc(50%-62px)]">
        <p class="font-Poppins-Medium text-[17px] leading-[50px] text-black mb-4">Current Password</p>
        <div
            class="pt-[38px] pb-8 px-5 bg-white border border-solid border-[#ECECEE] rounded-[10px] flex flex-col gap-9">
            <div class="w-full relative">
                <label for="location"
                    class="font-Cairo-Regular text-[15px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">Current
                    Password
                    <sup class="font-Cairo-Regular text-[15px] text-[#E73C3E] ltr:-left-px rtl:-right-px top-0">*</sup>
                </label>

                <input type="text" id="location"
                    class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] pl-4 pr-[46px]"
                    placeholder="ABC@123" />
                <div class="absolute ltr:right-5 rtl:left-5 top-0 bottom-0 flex items-center">
                    <app-svg src="assets/svgs/search-short.svg" customClass="mt-[-3px]" label="title_goas_here"
                        [stretch]="false" width="24" height="24" fill="#7C7C7C"></app-svg>
                </div>
            </div>
            <div class="w-full relative">
                <label for="location"
                    class="font-Cairo-Regular text-[15px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">New
                    Password
                    <sup class="font-Cairo-Regular text-[15px] text-[#E73C3E] ltr:-left-px rtl:-right-px top-0">*</sup>
                </label>

                <input type="text" id="location"
                    class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] pl-4 pr-[46px]"
                    placeholder="**********" />
                <div class="absolute ltr:right-5 rtl:left-5 top-0 bottom-0 flex items-center">
                    <app-svg src="assets/svgs/search-short.svg" customClass="mt-[-3px]" label="title_goas_here"
                        [stretch]="false" width="24" height="24" fill="#7C7C7C"></app-svg>
                </div>
            </div>
            <div class="w-full relative">
                <label for="location"
                    class="font-Cairo-Regular text-[15px] text-[#717171] absolute ltr:left-4 rtl:right-4 -top-2 bg-white px-1">Confirm
                    Password
                    <sup class="font-Cairo-Regular text-[15px] text-[#E73C3E] ltr:-left-px rtl:-right-px top-0">*</sup>
                </label>

                <input type="text" id="location"
                    class="bg-white h-[61px] border border-solid border-[#E0E0E0] w-full rounded-[5px] font-Poppins-Light text-sm text-[#221E20] pl-4 pr-[46px]"
                    placeholder="**********" />
                <div class="absolute ltr:right-5 rtl:left-5 top-0 bottom-0 flex items-center">
                    <app-svg src="assets/svgs/search-short.svg" customClass="mt-[-3px]" label="title_goas_here"
                        [stretch]="false" width="24" height="24" fill="#7C7C7C"></app-svg>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full lg:w-[calc(50%-62px)]">
        <p class="font-Poppins-Medium text-[17px] leading-[50px] text-black mb-4">Notification Settings</p>
        <div class="bg-white border border-solid border-[#ECECEE] rounded-[10px] flex flex-col">
            <div *ngFor="let _ of [].constructor(4); let i = index"
                class="flex items-center gap-1 py-[18px] border-b border-solid border-[#ECECEE] px-5">
                <div class="flex flex-col gap-1 flex-1">
                    <p class="font-Poppins-Light text-sm text-black">Booking Confirmation</p>
                    <p class="font-Poppins-Light text-xs leading-5 text-[#7C7C7C]">You will be notified when customer
                        book any service/Product</p>
                </div>
                <div>
                    <app-switch-button [data]="{value: temp, inputName: 'insideDohaQatar'}"></app-switch-button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-bottom-actions></app-bottom-actions>

<!-- <app-bottom-actions *ngIf="isImageInEditMode || isPersonalInEditMode || isAddressInEditMode"
    (onCancelClick)="isImageInEditMode=false;isPersonalInEditMode=false;isAddressInEditMode=false;"
    (onSaveClick)="isImageInEditMode=false;isPersonalInEditMode=false;isAddressInEditMode=false;"></app-bottom-actions> -->