<app-hero-half [data]="carousel" [isLoadingEnabled]="isSliderLoadingEnabled"></app-hero-half>
<div id="bread-crumb">
  <app-breadcrumb-section-second-style [breadCrumb]="breadCrumb" [link]="'contact-us'" [metaData]="data"></app-breadcrumb-section-second-style>


</div>
<section class="bg-[#F5F5F5]">
  <div class="max-w-desktop mx-auto px-5 lg:px-11 pt-[20px] pb-[50px] flex flex-col lg:flex-row gap-8">
    <div class="flex flex-col w-full lg:w-1/2 lg:max-w-[600px] gap-6">
      <div *ngFor="let item of dataDetails; let i = index">
        <div class="details-summary-container" [class.active]="item.open">
          <div (click)="toggleOffice(item,i)" class="list-none flex flex-row gap-[19px] details-summary">
            <app-svg src="assets/svgs/long-arrow.svg" customClass="ltr:rotate-0 rtl:rotate-[-180deg]"
              label="title_goas_here" [stretch]="false" height="29" width="16" fill="#009933"></app-svg>
            <p class="text-[22px] leading-[25px] font-Cairo-Bold h-[40px] text-[#011C35]"
              [innerHTML]="item?.title[lang]"></p>
          </div>
          <div class="details-summary-content hidden">
            <p class="font-Cairo-Regular text-base leading-[25px] text-[#011C35] pl-[50px] pt-7 pb-[27px]">{{
              "SHARED.ADDRESS" | translate }} : {{ item?.address[lang] }}</p>
            <p class="font-Cairo-Regular text-base leading-[25px] text-[#011C35] pl-[50px] pb-[27px]">{{
              "SHARED.PHONE"
              | translate }}: <bdi>{{ item?.phone }}</bdi> </p>
            <p class="font-Cairo-Regular text-base leading-[25px] text-[#011C35] pl-[50px] pb-[27px]">{{
              "SHARED.FAX"
              |
              translate }}: <bdi>{{ item?.fax }}</bdi></p>
            <p class="font-Cairo-Regular text-base leading-[25px] text-[#011C35] pl-[50px] pb-[27px]">{{
              "SHARED.EMAIL"
              | translate }}:
              <a class="text-base text-[#009933] underline" href="mailto:{{ item?.email }}">{{ item?.email }}</a>

          </div>
        </div>
      </div>

      <div class="flex px-2 lg:px-0 flex-col justify-center lg:flex-row gap-2 lg:gap-9 flex-wrap">
        <app-btn-one link="/contact-us/feedback" text="SHARED.Feedback" seoDesc="Text about the button"
          svg="assets/svgs/arrow.svg" svgClass="rotate-[270deg]"
          textClass="min-w-[90px] w-auto h-auto font-Cairo-Regular"></app-btn-one>
        <app-btn-one
          link="/map"
          target="_blank" text="SHARED.Locations" seoDesc="Text about the button" svg="assets/svgs/arrow.svg"
          svgClass="rotate-[270deg]" styleColor="feedback"
          textClass="min-w-[90px] h-auto  font-Cairo-Regular"></app-btn-one>
        <!-- <app-btn-one
          [link]="'http://maps.google.com/maps?z=12&t=m&q=loc:' + dataDetails?.[selectedOfficeIndex]?.longItudeLatitude"
          target="_blank" text="SHARED.Locations" seoDesc="Text about the button" svg="assets/svgs/arrow.svg"
          svgClass="rotate-[270deg]" styleColor="feedback"
          textClass="min-w-[90px] h-auto  font-Cairo-Regular"></app-btn-one> -->
        <app-btn-one link="/faqs" text="SHARED.Faq" seoDesc="Text about the button" svg="assets/svgs/arrow.svg"
          svgClass="ltr:rotate-[270deg]" styleColor="faq"
          textClass="min-w-[90px] h-auto font-Cairo-Regular"></app-btn-one>
      </div>
    </div>

    <a [href]="'http://maps.google.com/maps?z=12&t=m&q=loc:' + dataDetails?.[selectedOfficeIndex]?.longItudeLatitude" target="_blank"
      class="w-full lg:w-1/2 h-[300px] lg:h-auto lg:max-h-[453px] rounded-[10px] border-b-4 border-solid border-[#ECECEC]">
      <app-static-map *ngIf="selectedOfficeIndex !== -1"
        [data]="dataDetails?.[selectedOfficeIndex]?.longItudeLatitude"></app-static-map>
  </a>
  </div>
</section>
<app-our-story size="lg" [title]="data?.areaOneTitle[lang]" [text]="data?.areaOneDescription[lang]"></app-our-story>
<section class="bg-[#F5F5F5] pt-[37px]">
  <div>
    <app-our-values [lang]="lang" [detailes]="bullets" [title]="data?.areaTwoTitle[lang]"></app-our-values>
  </div>
</section>