<div class="flex flex-col w-full px-14 py-16 gap-[69px]">
    <div class="flex flex-col gap-2">
        <p class="font-medium text-lg">Change Password</p>
        <p class="w-full text-lg font-thin">Lorem Ipsum is simply dummy text of
            the printing and
            typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s.
        </p>
    </div>
    <div class="flex flex-col gap-[69px]">
        <button type="button" class="flex justify-between items-center gap-4 w-full">
            <p class="text-primary font-normal">Password</p>
            <!-- <app-svg src="assets/svgs/arrow.svg" class="mt-[-3px]"
                customClass="" label="title_goas_here" [stretch]="false"
                width="16" fill="#802d3d"></app-svg> -->
        </button>
        <div class="flex flex-col gap-4">
            <div class="flex flex-col gap-2 w-full">
                <label for="" class="font-normal">Current Password</label>
                <input type="text" class="w-full h-[47px] rounded-xl bg-gray-100" />
            </div>
            <div class="flex flex-col gap-2 w-full">
                <label for="" class="font-normal">New Password</label>
                <input type="text" class="w-full h-[47px] rounded-xl bg-gray-100" />
            </div>
            <div class="flex flex-col gap-2 w-full">
                <label for="" class="font-normal">Confirm New Password</label>
                <input type="text" class="w-full h-[47px] rounded-xl bg-gray-100" />
            </div>
            <div class="flex flex-col gap-2 w-full">
                <p class="font-normal">Forgettien your password?</p>
            </div>
        </div>
    </div>


    <div class="flex justify-center items-center gap-8">
        <button type="button" class="text-primary px-2 py-1.5 font-medium">Cancel</button>
        <button type="button" class="bg-primary text-white px-14 py-1.5 rounded-xl font-normal">Change
            Password</button>
    </div>
</div>