<footer>
    <div class="section flex flex-col lg:flex-row py-11">
        <div class="w-fulll lg:w-1/4">
            <div class="w-full">
                <a href="https://www.google.com/">
                    <img src="assets/svgs/logo.svg" class="button-wraper-inner w-[118px]" alt="Flowbite Logo" />
                </a>
                <p class="font-gotham font-light text-[#2e2b28] mt-[29px] text-[14px]">We believe that every small
                    detail matters,
                    and we
                    strive
                    to turn your
                    wedding dream into a stunning
                    reality. Let us be your partner in the most important moments of your life</p>
            </div>
        </div>
        <div class="w-fulll lg:w-1/4 flex justify-center">
            <div>
                <p class="font-gotham font-medium text-[14px] text-[#2e2b28]">Farhet Omry</p>
                <ul class="flex flex-col gap-0.5 mt-[12px]">
                    <li>
                        <a href="https://www.google.com/" class="text-[14px] font-gotham font-light text-[#2e2b28]">
                            Contact us
                        </a>
                    </li>
                    <li>
                        <a href="https://www.google.com/" class="text-[14px] font-gotham font-light text-[#2e2b28]">
                            About us
                        </a>
                    </li>
                    <li>
                        <a href="https://www.google.com/" class="text-[14px] font-gotham font-light text-[#2e2b28]">
                            Site map
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="w-fulll lg:w-1/4 flex justify-center">
            <div>
                <p class="font-gotham font-medium text-[14px] text-[#2e2b28]">Help and Support</p>
                <ul class="flex flex-col gap-0.5 mt-[12px]">
                    <li>
                        <a href="https://www.google.com/" class="text-[14px] font-gotham font-light text-[#2e2b28]">
                            Terms and conditions
                        </a>
                    </li>
                    <li>
                        <a href="https://www.google.com/" class="text-[14px] font-gotham font-light text-[#2e2b28]">
                            Privacy Center
                        </a>
                    </li>
                    <li>
                        <a href="https://www.google.com/" class="text-[14px] font-gotham font-light text-[#2e2b28]">
                            Cookie Setting
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="w-fulll lg:w-1/4 flex justify-center">
            <div class="flex flex-col items-center">
                <p class="font-gotham font-light text-[14px] text-[#2e2b28]">Download App</p>
                <img src="https://seeklogo.com/images/Q/qr-code-logo-27ADB92152-seeklogo.com.png"
                    class="button-wraper-inner h-[92px] mt-[12px]" alt="Flowbite Logo" />
            </div>
        </div>
    </div>
    <div class="bg-[#842d3d] py-[19px] relative">
        <div class="bg-auto bg-center opacity-[0.03] absolute top-0 left-0 w-full h-full"
            style="background-image: url('assets/images/storke.png')"></div>
        <div class="section flex flex-col lg:flex-row justify-between z-10 relative">
            <div class="flex flex-col lg:flex-row gap-[14px]">
                <div>
                    <p class="text-white font-gotham font-light text-[14px]">Follow us on social media</p>
                </div>
                <div>
                    <ul class="flex flex-row gap-1">
                        <li>
                            <a href="https://www.google.com/" class="bg-white rounded-full w-[22px] h-[22px] flex items-center justify-center">
                                <app-svg src="assets/svgs/x-temp.svg" class="mt-[-3px]" customClass=""
                                    label="title_goas_here" [stretch]="false" width="12" fill="#842d3d"></app-svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.google.com/" class="bg-white rounded-full w-[22px] h-[22px] flex items-center justify-center">
                                <app-svg src="assets/svgs/x-temp.svg" class="mt-[-3px]" customClass=""
                                    label="title_goas_here" [stretch]="false" width="12" fill="#842d3d"></app-svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.google.com/" class="bg-white rounded-full w-[22px] h-[22px] flex items-center justify-center">
                                <app-svg src="assets/svgs/x-temp.svg" class="mt-[-3px]" customClass=""
                                    label="title_goas_here" [stretch]="false" width="12" fill="#842d3d"></app-svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.google.com/" class="bg-white rounded-full w-[22px] h-[22px] flex items-center justify-center">
                                <app-svg src="assets/svgs/x-temp.svg" class="mt-[-3px]" customClass=""
                                    label="title_goas_here" [stretch]="false" width="12" fill="#842d3d"></app-svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.google.com/" class="bg-white rounded-full w-[22px] h-[22px] flex items-center justify-center">
                                <app-svg src="assets/svgs/x-temp.svg" class="mt-[-3px]" customClass=""
                                    label="title_goas_here" [stretch]="false" width="12" fill="#842d3d"></app-svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <p class="text-white font-gotham font-light text-right text-[14px]">© 2024 Farhet Omry. All Rights
                    Reserved.</p>
            </div>
        </div>
    </div>
</footer>